<!DOCTYPE html>
<html lang="en">
	<head>
        <title>SARS-CoV-2 Genome Assembly &amp; Annotation Service User Guide | BV-BRC</title>
		<% include ../../header %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<% include ../../bv-brc-header %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">
                            <h1 id="about-us">SARS-CoV-2 Genome Assembly and Annotation Service User Guide</h1>

                            <h2>Overview</h2>
                            <p>The SARS-CoV-2 Genome Assembly and Annotation Service provides a streamlined <strong>“meta-service”</strong> that accepts raw reads and performs genome assembly, annotation, and variation analysis for SARS-CoV-2 genome reads. The figure below provides an overview of the workflows of the service.</p>
                            <img src="../../patric/images/bv-brc/docs/user-guides/sars-cov-2/pic1.png" alt="Picture 1">

                            <h2>Using the SARS-CoV-2 Genome Assembly and Annotation Service</h2>
                            <i>Note: You must be logged in to use this service.</i>
                            <br><br>

                            <h2>Options</h2>
                            <img src="../../patric/images/bv-brc/docs/user-guides/sars-cov-2/pic2.png" alt="Picture 2">

                            <h2>Start with</h2>
                            <p>The service can accept either read files or assembled contigs. If the “Read Files” option is selected, the Assembly Service will be invoked automatically to assemble the reads into contigs before invoking the Annotation Service. If the “Assembled Contigs” option is chosen, the Annotation Service will automatically be invoked, bypassing the Assembly Service.</p>
                            <br>

                            <h2>Read Input File</h2>
                            <p>Depending on the option chosen above (Read File or Assembled Contigs), the Input File section will request read files or assembled contigs, respectively.</p>
                            <br>

                            <h2>Pair Read Library</h2>
                            <p>Read File 1 & 2: Many paired read libraries are given as file pairs, with each file containing half of each read pair. Paired read files are expected to be sorted such that each read in a pair occurs in the same Nth position as its mate in their respective files. These files are specified as READ FILE 1 and READ FILE 2. For a given file pair, the selection of which file is READ 1 and which is READ 2 does not matter.</p>
                            <br>

                            <h2>Single Read Library</h2>
                            <p>Read File: The fastq file containing the reads.</p>
                            <br>

                            <h2>SRA Run Accession</h2>
                            <p>Allows direct upload of read files from the <a href="https://www.ncbi.nlm.nih.gov/sra">NCBI Sequence Read Archive</a> to the PATRIC Assembly Service. Entering the SRR accession number and clicking the arrow will add the file to the selected libraries box for use in the assembly.</p>
                            <br>

                            <h2>Selected Libraries</h2>
                            <p>Read files placed here will contribute to a single assembly.</p>
                            <br>

                            <h2>Parameters</h2>
                            <br>

                            <h2>Strategy</h2>
                            <p>auto: Uses CDC-Illumina or CDC-Nanopore protocol based on the type of reads provided (see below).</p><br>
                            <p><strong>CDC-Illumina:</strong> Implements CDC-prescribed assembly <a href="https://github.com/CDCgov/SARS-CoV-2_Sequencing/blob/master/protocols/CDC-Comprehensive/CDC_SARS-CoV-2_Sequencing_200325-2.pdf">protocol for SARS-CoV-2 genome sequences</a> for Illumina-generated sequences.</p><br>
                            <p><strong>CDC-Nanopore:</strong> Implements CDC-prescribed assembly <a href="https://github.com/CDCgov/SARS-CoV-2_Sequencing/blob/master/protocols/CDC-Comprehensive/CDC_SARS-CoV-2_Sequencing_200325-2.pdf">protocol for SARS-CoV-2 genome sequences</a> for Nanopore-generated sequences.</p><br>
                            <p><strong>ARTIC-Nanopore:</strong> Implements the ARTICnetwork-prescribed <a href="https://artic.network/ncov-2019/ncov2019-bioinformatics-sop.html">protocol for nCoV-19 genome sequences</a> for Nanopore-generated sequences.</p><br>

                            <h2>Taxonomy Name</h2>
                            <p>Pre-populated with the appropriate taxonomy name for SARS-CoV-2.</p><br>

                            <h2>Taxonomy ID</h2>
                            <p>Pre-populated with the appropriate taxonomy ID for SARS-CoV-2.</p><br>

                            <h2>My Label</h2>
                            <p>User-provided name to uniquely identify the results.</p>

                            <h2>Output Folder</h2>
                            <p>User-selected workspace folder where results will be placed.</p><br>

                            <h2>Output Name</h2>
                            <p>Auto-generated name for the results (Taxonomy Name + My Label)</p><br>

                            <h2>Output Results</h2>
                            <img src="../../patric/images/bv-brc/docs/user-guides/sars-cov-2/pic3.png" alt="Picture 3">
                            <br>
                            <p>The SARS-CoV-2 Genome Assembly and Annotation Service generates several files that are deposited in the Private Workspace in the designated Output Folder. These include</p><br>

                            <ul style="list-style-type: circle;">
                                <li><strong>FullGenomeReport.html</strong> - A web-browser-viewable report that summarizes the results of the service including
                                    <ul style="list-style-type: circle;">
                                        <li>Assembly statistics</li>
                                        <li>Assembly coverage depth graph</li>
                                        <li>Variation data, including contig, SNP position, reference genome nucleotide, submitted genome nucleotide</li>
                                        <li>Annotation summary with table of called features including ID, start position, strand, length, and function for each</li>
                                    </ul>
                                </li>

                                <li><strong>(output name).fasta</strong> - Annotated genome in FASTA format</li>

                                <li><strong>annotated.genome</strong> - A JSON-format file encapsulating all the data from the annotated genome</li>

                                <li><strong>annotation</strong> - Job output from the annotion portion of the service. Provides a collection of output files:
                                    <ul style="list-style-type: circle;">
                                        <li>annotation.feature_dna.fasta - DNA sequence for each feature called by the annotation pipeline</li>
                                        <li>annotation.feature_protein.fasta - amino sequence for each gene called by the annotation pipeline</li>
                                        <li>annotation.features - list of the features, location on contig, type, function, any known alias, and (for protein-coding genes) the protein MD5 checksum</li>
                                        <li>annotation.gb - annotation in GenBank format</li>
                                        <li>annotation.gff - features of the genome in a General Feature Format</li>
                                        <li>merged.gb - all of the contigs merged into a single locus instead of being separate locus objects; can be used in Artemis</li>
                                        <li>annotation.tar.gz - tar ball file containing all files</li>
                                        <li>annotation.txt - all information on the called features, including the nucleotide and amino acid sequences, in text file format</li>
                                        <li>annotation.xls - all information on the called features, including the nucleotide and amino acid sequences, in Excel format</li>
                                        <li>vigor4.stderr.txt - standard errors that result from the VIGOR4 annotation pipeline</li>
                                        <li>vigor4.stdout.txt - output of the VIGOR4 annotation pipeline at each step in the process</li>
                                        <li>vigor_out-20200729-135437.ini - VIGOR4 settings that were used to compute that annotation</li>
                                        <li>vigor.out.aln file - alignment of predicted protein to reference, and from the reference protein to genome</li>
                                        <li>vigor_out.cds - FASTA-format file of predicted CDSs</li>
                                        <li>vigor_out.gff3 - predicted features in GFF3 format</li>
                                        <li>vigor_out.rpt - summary results from the annotation program</li>
                                        <li>vigor_out.pep - EMBL-format file of the predicted proteins</li>
                                        <li>vigor_out.tbl - predicted features in GenBank table format</li>
                                        <li>vigor_out.warnings - any warnings produced by the VIGOR4 pipeline during annotation</li>
                                    </ul>
                                </li>

                                <li><strong>assembly</strong> - Job output from the assembly portion of the service. Provides a collection of output files:
                                    <ul style="list-style-type: circle;">
                                        <li>assembly-details.json - information about the assembly in JSON-format</li>
                                        <li>assembly.bam - a Binary Alignment Map (BAM) containing comprehensive raw data of genome sequencing</li>
                                        <li>assembly.bam.bai - BAM index file</li>
                                        <li>assembly.depth - depth of support based on the reads at each position in the assembly</li>
                                        <li>assembly.fasta - nucleotide sequence of the contig</li>
                                        <li>assembly.png - graph that shows the coverage depth for the assembly at the specific positions in the genome, also shown in the Full Genome Report</li>
                                        <li>vc.gz and vcfgz.tbi - Variant Call Format (VCF) specification VCF, a (compressed) text file containing meta-information lines, a header line, and then data lines each containing information about a position in the genome; can contain genotype information on samples for each position</li>
                                    </ul>
                                </li>

                            </ul>

                            <h2>References:</h2>
                            <ul style="list-style-type: circle;">
                                <li>Etherington, G.J., R.H. Ramirez-Gonzalez, and D. MacLean, bio-samtools 2: a package for analysis and visualization of sequence and alignment data with SAMtools in Ruby. Bioinformatics, 2015. 31(15): p. 2565-2567.</li>
                                <li>Langmead, B. and S. Salzberg, Langmead. 2013. Bowtie2. Nature Methods, 2013. 9: p. 357-359.</li>
                                <li>Li, H., Minimap2: pairwise alignment for nucleotide sequences. Bioinformatics, 2018. 34(18): p. 3094-3100.</li>
                                <li>Martin, M., Cutadapt removes adapter sequences from high-throughput sequencing reads. EMBnet. journal, 2011. 17(1): p. 10-12.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <% include ../../bv-brc-footer %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<% include ../../javascript %>
	</body>
</html>
