<div class="domain-visualization-panel">
  <div class="domain-visualization-header" data-dojo-attach-point="headerNode">
    <span class="domain-visualization-title" data-dojo-attach-point="titleNode">${title}</span>
    <span class="domain-visualization-count" data-dojo-attach-point="countNode"></span>
    <button class="domain-visualization-toggle" data-dojo-attach-point="toggleButton" title="Toggle domain map">
      <i class="fa fa-chevron-up"></i>
    </button>
  </div>
  <div class="domain-visualization-viewer" data-dojo-attach-point="viewerContainer"></div>
</div>
