@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?lqzw3j');
    src:    url('fonts/icomoon.eot?lqzw3j#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?lqzw3j') format('truetype'),
        url('fonts/icomoon.woff?lqzw3j') format('woff'),
        url('fonts/icomoon.svg?lqzw3j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-apply-perspective-filter:before {
    content: "\e976";
}
.icon-alignment:before {
    content: "\e900";
}
.icon-anchor:before {
    content: "\e901";
}
.icon-arrow-circle-o-down:before {
    content: "\e902";
}
.icon-arrow-circle-o-left:before {
    content: "\e903";
}
.icon-arrow-circle-o-right:before {
    content: "\e904";
}
.icon-arrow-circle-o-up:before {
    content: "\e905";
}
.icon-arrow-down:before {
    content: "\e906";
}
.icon-arrow-left:before {
    content: "\e907";
}
.icon-arrow-right:before {
    content: "\e908";
}
.icon-arrow-up:before {
    content: "\e909";
}
.icon-bar-chart:before {
    content: "\e90a";
}
.icon-bars:before {
    content: "\e90b";
}
.icon-camera:before {
    content: "\e90c";
}
.icon-cancel-circle:before {
    content: "\e90d";
}
.icon-caret-down:before {
    content: "\e90e";
}
.icon-caret-left:before {
    content: "\e90f";
}
.icon-caret-right:before {
    content: "\e910";
}
.icon-caret-up:before {
    content: "\e911";
}
.icon-check-square-o:before {
    content: "\e912";
}
.icon-check:before {
    content: "\e913";
}
.icon-chevron-circle-down:before {
    content: "\e914";
}
.icon-chevron-circle-left:before {
    content: "\e915";
}
.icon-chevron-circle-right:before {
    content: "\e916";
}
.icon-chevron-circle-up:before {
    content: "\e917";
}
.icon-circle:before {
    content: "\e918";
}
.icon-cog:before {
    content: "\e919";
}
.icon-contigs:before {
    content: "\e91a";
}
.icon-delicious:before {
    content: "\e91b";
}
.icon-download:before {
    content: "\e91c";
}
.icon-exchange:before {
    content: "\e91d";
}
.icon-experiments:before {
    content: "\e91e";
}
.icon-eye-slash:before {
    content: "\e91f";
}
.icon-eye:before {
    content: "\e920";
}
.icon-fasta:before {
    content: "\e921";
}
.icon-filter:before {
    content: "\e922";
}
.icon-flag-checkered:before {
    content: "\e923";
}
.icon-folder-open:before {
    content: "\e924";
}
.icon-folder-plus:before {
    content: "\e925";
}
.icon-genome-browser:before {
    content: "\e926";
}
.icon-genome-features-cds:before {
    content: "\e927";
}
.icon-genome-features:before {
    content: "\e928";
}
.icon-genome-group .path1:before {
    content: "\e929";
    color: rgb(1, 1, 1);
}
.icon-genome-group .path2:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path3:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path4:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path5:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path6:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path7:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path8:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path9:before {
    content: "\e931";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path10:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path11:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path12:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(1, 1, 1);
}
.icon-genome-group .path13:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path14:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path15:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path16:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path17:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path18:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path19:before {
    content: "\e93b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path20:before {
    content: "\e93c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path21:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path22:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path23:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(1, 1, 1);
}
.icon-genome-group .path24:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path25:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path26:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path27:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path28:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path29:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path30:before {
    content: "\e946";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path31:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path32:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome-group .path33:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-genome:before {
    content: "\e94a";
}
.icon-git-pull-request:before {
    content: "\e94b";
}
.icon-group:before {
    content: "\e94c";
}
.icon-info-circle:before {
    content: "\e94d";
}
.icon-info:before {
    content: "\e94e";
}
.icon-level-down:before {
    content: "\e94f";
}
.icon-level-up:before {
    content: "\e950";
}
.icon-lightbulb-o:before {
    content: "\e951";
}
.icon-list-unordered:before {
    content: "\e952";
}
.icon-lock:before {
    content: "\e953";
}
.icon-long-arrow-left:before {
    content: "\e954";
}
.icon-long-arrow-right:before {
    content: "\e955";
}
.icon-map-o:before {
    content: "\e956";
}
.icon-map:before {
    content: "\e957";
}
.icon-object-group:before {
    content: "\e958";
}
.icon-object-ungroup:before {
    content: "\e959";
}
.icon-paint-brush:before {
    content: "\e95a";
}
.icon-pencil-square:before {
    content: "\e95b";
}
.icon-perspective-Feature:before {
    content: "\e95c";
}
.icon-perspective-FeatureList:before {
    content: "\e95d";
}
.icon-perspective-Genome:before {
    content: "\e95e";
}
.icon-perspective-GenomeList:before {
    content: "\e95f";
}
.icon-perspective-TaxonList:before {
    content: "\e960";
}
.icon-perspective-Taxonomy:before {
    content: "\e961";
}
.icon-pie-chart:before {
    content: "\e962";
}
.icon-plus-circle:before {
    content: "\e963";
}
.icon-print:before {
    content: "\e964";
}
.icon-random:before {
    content: "\e965";
}
.icon-repeat:before {
    content: "\e966";
}
.icon-rotate-left:before {
    content: "\e967";
}
.icon-search-minus:before {
    content: "\e968";
}
.icon-search-plus:before {
    content: "\e969";
}
.icon-split:before {
    content: "\e96a";
}
.icon-square-o:before {
    content: "\e96b";
}
.icon-square:before {
    content: "\e96c";
}
.icon-table:before {
    content: "\e96d";
}
.icon-tasks:before {
    content: "\e96e";
}
.icon-taxonomy:before {
    content: "\e96f";
}
.icon-th-list:before {
    content: "\e970";
}
.icon-trash:before {
    content: "\e971";
}
.icon-unlock-alt:before {
    content: "\e972";
}
.icon-unlock:before {
    content: "\e973";
}
.icon-upload:before {
    content: "\e974";
}
.icon-x:before {
    content: "\e975";
}
.icon-chevron-right:before {
    content: "\e977";
}
.icon-chevron-left:before {
    content: "\e978";
}
.icon-chevron-down:before {
    content: "\e979";
}
.icon-chevron-up:before {
    content: "\e97a";
}
.icon-folder:before {
    content: "\e97b";
}

