@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rbz8pf');
  src:  url('fonts/icomoon.eot?rbz8pf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rbz8pf') format('truetype'),
    url('fonts/icomoon.woff?rbz8pf') format('woff'),
    url('fonts/icomoon.svg?rbz8pf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alignment:before {
  content: "\e900";
}
.icon-anchor:before {
  content: "\e901";
}
.icon-apply-perspective-filter-orig:before {
  content: "\e902";
}
.icon-apply-perspective-filter .path1:before {
  content: "\e903";
  color: rgb(35, 31, 32);
}
.icon-apply-perspective-filter .path2:before {
  content: "\e904";
  margin-left: -1.0439453125em;
  color: rgb(35, 31, 32);
}
.icon-apply-perspective-filter .path3:before {
  content: "\e905";
  margin-left: -1.0439453125em;
  color: rgb(35, 31, 32);
}
.icon-apply-perspective-filter .path4:before {
  content: "\e906";
  margin-left: -1.0439453125em;
  color: rgb(35, 31, 32);
}
.icon-apply-perspective-filter .path5:before {
  content: "\e907";
  margin-left: -1.0439453125em;
  color: rgb(1, 1, 1);
}
.icon-arrow-circle-o-down:before {
  content: "\e908";
}
.icon-arrow-circle-o-left:before {
  content: "\e909";
}
.icon-arrow-circle-o-right:before {
  content: "\e90a";
}
.icon-arrow-circle-o-up:before {
  content: "\e90b";
}
.icon-arrow-down:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90d";
}
.icon-arrow-right:before {
  content: "\e90e";
}
.icon-arrow-up:before {
  content: "\e90f";
}
.icon-bar-chart:before {
  content: "\e910";
}
.icon-bars:before {
  content: "\e911";
}
.icon-camera:before {
  content: "\e912";
}
.icon-cancel-circle:before {
  content: "\e913";
}
.icon-caret-down:before {
  content: "\e914";
}
.icon-caret-left:before {
  content: "\e915";
}
.icon-caret-right:before {
  content: "\e916";
}
.icon-caret-up:before {
  content: "\e917";
}
.icon-check-square-o:before {
  content: "\e918";
}
.icon-check:before {
  content: "\e919";
}
.icon-chevron-circle-down:before {
  content: "\e91a";
}
.icon-chevron-circle-left:before {
  content: "\e91b";
}
.icon-chevron-circle-right:before {
  content: "\e91c";
}
.icon-chevron-circle-up:before {
  content: "\e91d";
}
.icon-chevron-down:before {
  content: "\e91e";
}
.icon-chevron-left:before {
  content: "\e91f";
}
.icon-chevron-right:before {
  content: "\e920";
}
.icon-chevron-up:before {
  content: "\e921";
}
.icon-circle:before {
  content: "\e922";
}
.icon-cluster:before {
  content: "\e923";
}
.icon-cog:before {
  content: "\e924";
}
.icon-contigs:before {
  content: "\e925";
}
.icon-copy:before {
  content: "\e926";
}
.icon-delicious:before {
  content: "\e927";
}
.icon-download:before {
  content: "\e928";
}
.icon-exchange:before {
  content: "\e929";
}
.icon-experiments:before {
  content: "\e92a";
}
.icon-eye-slash:before {
  content: "\e92b";
}
.icon-eye:before {
  content: "\e92c";
}
.icon-fasta:before {
  content: "\e92d";
}
.icon-file-archive-o:before {
  content: "\e92e";
}
.icon-file-audio-o:before {
  content: "\e92f";
}
.icon-file-code-o:before {
  content: "\e930";
}
.icon-file-excel-o:before {
  content: "\e931";
}
.icon-file-image-o:before {
  content: "\e932";
}
.icon-file-movie-o:before {
  content: "\e933";
}
.icon-file-o:before {
  content: "\e934";
}
.icon-file-pdf-o:before {
  content: "\e935";
}
.icon-file-powerpoint-o:before {
  content: "\e936";
}
.icon-file-text-o:before {
  content: "\e937";
}
.icon-file-text:before {
  content: "\e938";
}
.icon-file-word-o:before {
  content: "\e939";
}
.icon-filter:before {
  content: "\e93a";
}
.icon-flag-checkered:before {
  content: "\e93b";
}
.icon-folder-o:before {
  content: "\e93c";
}
.icon-folder-open:before {
  content: "\e93d";
}
.icon-folder-plus:before {
  content: "\e93e";
}
.icon-folder:before {
  content: "\e93f";
}
.icon-genome-browser:before {
  content: "\e940";
}
.icon-genome-features-cds:before {
  content: "\e941";
}
.icon-genome-features:before {
  content: "\e942";
}
.icon-genome-group .path1:before {
  content: "\e943";
  color: rgb(1, 1, 1);
}
.icon-genome-group .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path3:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path4:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path5:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path6:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path7:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path8:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path9:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path10:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path11:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path12:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-genome-group .path13:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path14:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path15:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path16:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path17:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path18:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path19:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path20:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path21:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path22:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path23:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-genome-group .path24:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path25:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path26:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path27:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path28:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path29:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path30:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path31:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path32:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome-group .path33:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-genome:before {
  content: "\e964";
}
.icon-git-pull-request:before {
  content: "\e965";
}
.icon-group:before {
  content: "\e966";
}
.icon-group2:before {
  content: "\e967";
}
.icon-info-circle:before {
  content: "\e968";
}
.icon-info:before {
  content: "\e969";
}
.icon-level-down:before {
  content: "\e96a";
}
.icon-level-up:before {
  content: "\e96b";
}
.icon-lightbulb-o:before {
  content: "\e96c";
}
.icon-list-unordered:before {
  content: "\e96d";
}
.icon-lock:before {
  content: "\e96e";
}
.icon-long-arrow-left:before {
  content: "\e96f";
}
.icon-long-arrow-right:before {
  content: "\e970";
}
.icon-map-o:before {
  content: "\e971";
}
.icon-map:before {
  content: "\e972";
}
.icon-object-group:before {
  content: "\e973";
}
.icon-object-ungroup:before {
  content: "\e974";
}
.icon-paint-brush:before {
  content: "\e975";
}
.icon-pencil-square:before {
  content: "\e976";
}
.icon-perspective-Feature:before {
  content: "\e977";
}
.icon-perspective-FeatureList:before {
  content: "\e978";
}
.icon-perspective-Genome:before {
  content: "\e979";
}
.icon-perspective-GenomeGroup:before {
  content: "\e97a";
}
.icon-perspective-GenomeList:before {
  content: "\e97b";
}
.icon-perspective-TaxonList:before {
  content: "\e97c";
}
.icon-perspective-Taxonomy:before {
  content: "\e97d";
}
.icon-pie-chart:before {
  content: "\e97e";
}
.icon-plus-circle:before {
  content: "\e97f";
}
.icon-print:before {
  content: "\e980";
}
.icon-question-circle-o:before {
  content: "\e981";
}
.icon-random:before {
  content: "\e982";
}
.icon-repeat:before {
  content: "\e983";
}
.icon-rotate-left:before {
  content: "\e984";
}
.icon-search-minus:before {
  content: "\e985";
}
.icon-search-plus:before {
  content: "\e986";
}
.icon-selection-Experiment:before {
  content: "\e987";
}
.icon-selection-ExperimentList:before {
  content: "\e988";
}
.icon-selection-Feature:before {
  content: "\e989";
}
.icon-selection-FeatureGroup:before {
  content: "\e98a";
}
.icon-selection-FeatureList:before {
  content: "\e98b";
}
.icon-selection-Filter:before {
  content: "\e98c";
}
.icon-selection-Genome-Alt-2:before {
  content: "\e98d";
}
.icon-selection-Genome-Alt .path1:before {
  content: "\e98e";
  color: rgb(35, 31, 32);
}
.icon-selection-Genome-Alt .path2:before {
  content: "\e98f";
  margin-left: -1.0439453125em;
  color: rgb(35, 31, 32);
}
.icon-selection-Genome-Alt .path3:before {
  content: "\e990";
  margin-left: -1.0439453125em;
  color: rgb(35, 31, 32);
}
.icon-selection-Genome-Alt .path4:before {
  content: "\e991";
  margin-left: -1.0439453125em;
  color: rgb(35, 31, 32);
}
.icon-selection-Genome-Alt .path5:before {
  content: "\e992";
  margin-left: -1.0439453125em;
  color: rgb(1, 1, 1);
}
.icon-selection-Genome-Alt .path6:before {
  content: "\e993";
  margin-left: -1.0439453125em;
  color: rgb(1, 1, 1);
}
.icon-selection-Genome-Alt .path7:before {
  content: "\e994";
  margin-left: -1.0439453125em;
  color: rgb(1, 1, 1);
}
.icon-selection-Genome-Alt .path8:before {
  content: "\e995";
  margin-left: -1.0439453125em;
  color: rgb(1, 1, 1);
}
.icon-selection-Genome-Alt .path9:before {
  content: "\e996";
  margin-left: -1.0439453125em;
  color: rgb(1, 1, 1);
}
.icon-selection-Genome-Alt .path10:before {
  content: "\e997";
  margin-left: -1.0439453125em;
  color: rgb(1, 1, 1);
}
.icon-selection-Genome-Alt .path11:before {
  content: "\e998";
  margin-left: -1.0439453125em;
  color: rgb(1, 1, 1);
}
.icon-selection-Genome-Alt .path12:before {
  content: "\e999";
  margin-left: -1.0439453125em;
  color: rgb(1, 1, 1);
}
.icon-selection-Genome-Alt .path13:before {
  content: "\e99a";
  margin-left: -1.0439453125em;
  color: rgb(1, 1, 1);
}
.icon-selection-Genome-Alt .path14:before {
  content: "\e99b";
  margin-left: -1.0439453125em;
  color: rgb(1, 1, 1);
}
.icon-selection-Genome:before {
  content: "\e99c";
}
.icon-selection-GenomeGroup:before {
  content: "\e99d";
}
.icon-selection-GenomeList:before {
  content: "\e99e";
}
.icon-selection-TaxonList:before {
  content: "\e99f";
}
.icon-selection-Taxonomy:before {
  content: "\e9a0";
}
.icon-split:before {
  content: "\e9a1";
}
.icon-square-o:before {
  content: "\e9a2";
}
.icon-square:before {
  content: "\e9a3";
}
.icon-table:before {
  content: "\e9a4";
}
.icon-target-ApplyFilter .path1:before {
  content: "\e9a5";
  color: rgb(35, 31, 32);
}
.icon-target-ApplyFilter .path2:before {
  content: "\e9a6";
  margin-left: -0.986328125em;
  color: rgb(35, 31, 32);
}
.icon-target-ApplyFilter .path3:before {
  content: "\e9a7";
  margin-left: -0.986328125em;
  color: rgb(35, 31, 32);
}
.icon-target-ApplyFilter .path4:before {
  content: "\e9a8";
  margin-left: -0.986328125em;
  color: rgb(35, 31, 32);
}
.icon-target-ApplyFilter .path5:before {
  content: "\e9a9";
  margin-left: -0.986328125em;
  color: rgb(35, 31, 32);
}
.icon-target-ApplyFilter .path6:before {
  content: "\e9aa";
  margin-left: -0.986328125em;
  color: rgb(1, 1, 1);
}
.icon-target-Feature:before {
  content: "\e9ab";
}
.icon-target-FeatureGroup:before {
  content: "\e9ac";
}
.icon-target-FeatureList:before {
  content: "\e9ad";
}
.icon-target-Genome:before {
  content: "\e9ae";
}
.icon-target-GenomeGroup:before {
  content: "\e9af";
}
.icon-target-GenomeList:before {
  content: "\e9b0";
}
.icon-target-TaxonList:before {
  content: "\e9b1";
}
.icon-target-Taxonomy:before {
  content: "\e9b2";
}
.icon-tasks:before {
  content: "\e9b3";
}
.icon-taxonomy:before {
  content: "\e9b4";
}
.icon-th-list:before {
  content: "\e9b5";
}
.icon-trash:before {
  content: "\e9b6";
}
.icon-unlock-alt:before {
  content: "\e9b7";
}
.icon-unlock:before {
  content: "\e9b8";
}
.icon-upload:before {
  content: "\e9b9";
}
.icon-user-plus:before {
  content: "\e9ba";
}
.icon-user:before {
  content: "\e9bb";
}
.icon-venn_circles:before {
  content: "\e9bc";
}
.icon-x:before {
  content: "\e9bd";
}

