<div>
    <!--<div>
        <table>
            {% if item.collection_state_province || item.collection_country %}
            <tr>
                <td>Location:
                    {% if item.collection_state_province %}
                    {{ item.collection_state_province }},
                    {% endif %}
                    {% if item.collection_country %}
                    {{ item.collection_country }}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% if item.pathogen_test_result %}
            <tr>
                <td>Test Result: {{ item.pathogen_test_result }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Lat: {{ latitude }} Long: {{ longitude }}</td>
                <td>
                    <span class="dijitButton" id="sd-zoom-{{ index }}">
                        <span class="dijitButtonNode" role="presentation">
                            <span class="dijitButtonText">Zoom Here</span>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <br/>-->
    <p>
        Click
        <a href='/view/Taxonomy/11320#view_tab=genomes&filter=and(or(eq(genome_status,"Complete"),eq(genome_status,"Partial")),eq(subtype,"H5N1"),eq(collection_year,"2024"){{ locationFilter }})'
           target="_blank">here</a>
        to view details about the records at {{ metadata.location }}.
    </p>
    <br/>
    <p>The following were found at this location:</p>
    <table>
        <thead>
        <th style="width: 80%">
            Host Common Name
        </th>
        <th style="width: 20%">
            Count
        </th>
        </thead>
        <tbody>
        {% for name, count in metadata.hostCommonNames %}
        <tr>
            <td>
                <a href='/view/Taxonomy/11320#view_tab=genomes&filter=and(or(eq(genome_status,"Complete"),eq(genome_status,"Partial")),eq(subtype,"H5N1"),eq(collection_year,"2024"){{ locationFilter }},eq(host_common_name,"{{ name }}"))'
                   target="_blank">{{ name }}</a></td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
