<div style="width: 700px;">
  <div>
    Selected <span data-dojo-attach-point="typeLabelNode">Items</span>: <span data-dojo-attach-point="selectionNode">
    </span>
  </div>
  <div style="margin-top:4px; padding:4px; border:1px solid #ccc;border-radius:4px;">
    <p>Choose the data types you would like to download with the checkboxes below.  After selecting your desired data types, click on the download button to download an archive containing the selected data.</p>
  </div>
  <div style="margin-top:4px;padding:4px;">

    <label>Annotation Type</label>
    <select style="width:120px;margin:4px;margin-left:8px;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="annotationType">
      <option value="PATRIC" selected=true>PATRIC</option>
      <option value="RefSeq" selected=true>RefSeq</option>
      <option value="all" selected=true>All</option>
    </select>

    <label>Archive Type</label>
    <select style="width:120px;margin:4px; margin-left:8px;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="archiveType">
      <option value="zip" selected=true>Zip</option>
      <option value="tar" selected=true>TGZ</option>
    </select>
  </div>

  <div data-dojo-attach-point="fileTypesContainer">
    <table data-dojo-attach-point="fileTypesTable">
    </table>
  </div>
  <div style="text-align:right;">
    <span data-dojo-type="dijit/form/Button" data-dojo-attach-point="downloadButton" data-dojo-attach-event="onClick:download" label="Download"></span>
  </div>
</div>