<div>
    <div class="column-sub">
        <div class="section">
            <div data-dojo-attach-point="antibioticSummaryNode">
                Loading Antibiotic Summary...
            </div>
        </div>

        <div class="section">
            <h3 class="section-title">
                <span class="wrap">2D Structure</span>
            </h3>
            <div class="SummaryWidget" data-dojo-attach-point="structureNode">
                Loading...
            </div>
        </div>
    </div>
    <div class="column-prime">
        <div class="section">
            <h3 class="section-title">
                <span class="wrap">Description</span>
            </h3>
            <div class="SummaryWidget" data-dojo-attach-point="descNode">
                Loading...
            </div>
        </div>

        <div class="section">
            <h3 class="section-title">
                <span class="wrap">Mechanism of Action</span>
            </h3>
            <div class="SummaryWidget" data-dojo-attach-point="moaNode">
                Loading...
            </div>
        </div>

        <div class="section">
            <h3 class="section-title">
                <span class="wrap">Pharmacology</span>
            </h3>
            <div class="SummaryWidget" data-dojo-attach-point="pharmacologyNode">
                Loading...
            </div>
        </div>
    </div>
</div>