<div>
    <div class="column-sub">
        <div class="section">
            <div data-dojo-attach-point="antibioticSummaryNode">
                Loading Antibiotic Summary...
            </div>
        </div>

        <div class="section">
            <h3 class="section-title">
                <span class="wrap">2D Structure</span>
            </h3>
            <div class="SummaryWidget center-text" data-dojo-attach-point="structureNode">
                Loading...
            </div>
        </div>

<!--
        <div class="section">
            <h3 class="section-title">
                <span class="wrap">3D Structure</span>
            </h3>
            <div class="SummaryWidget" data-dojo-attach-point="viewerNode">
                Loading...
            </div>
        </div>
-->
    </div>
    <div class="column-prime">
        <!-- TODO: add genus level summary of genomes later -->

        <div class="section hidden">
            <h3 class="section-title close">
                <span class="wrap">Description</span>
            </h3>
            <div class="SummaryWidget" data-dojo-attach-point="descNode">
                Loading...
            </div>
        </div>

        <div class="section hidden">
            <h3 class="section-title close">
                <span class="wrap">Mechanism of Action</span>
            </h3>
            <div class="SummaryWidget" data-dojo-attach-point="moaNode">
                Loading...
            </div>
        </div>

        <div class="section hidden">
            <h3 class="section-title close">
                <span class="wrap">Pharmacology</span>
            </h3>
            <div class="SummaryWidget" data-dojo-attach-point="pharmacologyNode">
                Loading...
            </div>
        </div>

        <div class="section hidden">
            <h3 class="section-title close">
                <span class="wrap">Synonyms</span>
            </h3>
            <div class="SummaryWidget" data-dojo-attach-point="synonymsNode">
                Loading...
            </div>
        </div>
    </div>
    <div class="column-opt">
        <div class="section">
            <h3 class="section-title close2x" title="Recent PubMed articles relevant to the current context">
                <span class="wrap">Recent PubMed Articles</span></h3>
            <div data-dojo-attach-point="pubmedSummaryNode">
                Loading...
            </div>
        </div>
    </div>
</div>