<form dojoAttachPoint="containerNode"
    dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
	<div class="PanelForm" style="">
		<input data-dojo-type="dijit/form/ValidationTextBox" name="name" data-dojo-attach-point="workspaceName" style="width:300px" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name Must be provided for new Workspace',trim:true,placeHolder:'MyWorkspace'" />
		<div style="margin:4px;margin-top:8px;text-align:right;">
			<div data-dojo-attach-point="cancelButton" data-dojo-type="dijit/form/Button">Cancel</div>
			<div data-dojo-attach-point="saveButton" type="submit" data-dojo-type="dijit/form/Button">Create Workspace</div>
		</div>	
	</div>
</form>

