<div class="chart-wrapper">
    <nav>
        <span class="label">Scale</span>
        <ul class="scale">
            <li class="real active">Counts</li>
            <li class="normalize">Percent</li>
        </ul>
        <span class="label">Order by</span>
        <ul class="sort">
            <li class="label active">Name</li>
            <li class="value">Count</li>
        </ul>
    </nav>
    <!-- This is the div where the chart is actually drawn. -->
    <div class="chart"></div>
    <!-- The bar chart looks for this legend. There"s some SVG in here for the circles. -->
    <p class="legend">
        <label></label>
        <svg height="16" width="16"></svg>
        <span></span>
        <svg height="16" width="16"></svg>
        <span></span>
        <svg height="16" width="16"></svg>
        <span></span>
        <svg height="16" width="16"></svg>
        <span></span>
        <svg height="16" width="16"></svg>
        <span></span>
    </p>
</div>