<div class="DeveloperPanel">
  <div>
    <input data-dojo-type="dijit/form/CheckBox"
      name="noJobSubmissions"
      value="noJobSubmmisions"
      checked="false"
      data-dojo-attach-event="onChange:onChangeNoJobSubmission"
      />
    <label for="noJobSubmissions">Don't Submit Jobs (print to params to console)</td>
  </div>
  <br/>
  <div>
    <label for="containerBuildID"><b>Use Container Build ID:</b></td>
    <input data-dojo-type="dijit/form/TextBox"
      name="containerBuildID"
      checked="false"
      data-dojo-props="placeholder:'latest version'"
      data-dojo-attach-event="onChange:onChangeContainerBuildID"
    />
  </div>
</div>
