<div class="DeveloperPanel">
  <table style="width: 100%">
    <tr>
      <td style="text-align:center;"><input data-dojo-type="dijit/form/CheckBox" value="showHiddenFiles" checked="false" data-dojo-attach-event="onChange:onChangeShowHidden" /></td>
      <td style="text-align: left;">Show Hidden Files</td>
    </tr>
    <tr>
      <td style="text-align:center;"><input data-dojo-type="dijit/form/CheckBox" value="noJobSubmmisions" checked="false" data-dojo-attach-event="onChange:onChangeNoJobSubmission" /></td>
      <td style="text-align: left;">Don't Submit Jobs (print to params to console)</td>
    </tr>

  </table>
</div>
