<div class="flippableDialog dijitDialog" role="dialog" aria-labelledby="${id}_title">
  <div class="flipper">
    <div data-dojo-attach-point="titleBar" style="backface-visibility:hidden; -webkit-backface-visibility:hidden;" class="dijitDialogTitleBar">
      <span data-dojo-attach-point="titleNode" style="backface-visibility:hidden; -webkit-backface-visibility:hidden;" class="dijitDialogTitle" id="${id}_title"
      role="heading" level="1"></span>
      <span data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon" data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabindex="-1">
      <span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
      </span>
    </div>
    <div data-dojo-attach-point="backpaneTitleBar" style="backface-visibility:hidden; -webkit-backface-visibility:hidden;" class="backpaneTitleBar dijitDialogTitleBar">
      <span data-dojo-attach-point="backpaneTitle" style="backface-visibility:hidden; -webkit-backface-visibility:hidden;" class="backpaneTitle dijitDialogTitle" id="${id}_backpaneTitle"
      role="heading" level="1"></span>
      <span data-dojo-attach-point="backcloseButtonNode" class="dijitDialogCloseIcon" data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabindex="-1">
      <span data-dojo-attach-point="backCloseText" class="closeText" title="${buttonCancel}">x</span>
      </span>
    </div>

    <div data-dojo-attach-point="containerNode" style="backface-visibility:hidden; -webkit-backface-visibility:hidden;" class="dijitDialogPaneContent"></div>
    <div data-dojo-attach-point="backPane" style="backface-visibility:hidden; -webkit-backface-visibility:hidden;" class="backpane dijitDialogPaneContent"></div>
      ${!actionBarTemplate}
  </div>
</div>
