<div style="overflow: auto;">

    <div class="section left half">
        <h3 class="section-title normal-case close2x"><span class="wrap">Genome Summary</span></h3>
        <div style="padding:7px" data-dojo-attach-point="genomeSummaryNode">
            Loading Genome Summary...
        </div>
    </div>

    <div class="section right half">
        <h3 class="section-title normal-case close2x"><span class="wrap">Genomic Feature Summary</span></h3>

        <div data-dojo-attach-point="gfDataNode">
            Loading Genomic Feature Summary....
        </div>
    </div>

    <div class="section right half">
        <h3 class="section-title normal-case close2x"><span class="wrap">Protein Feature Summary</span></h3>

        <div data-dojo-attach-point="pfDataNode">
            Loading Protein Feature Summary...
        </div>
    </div>

    <div class="section right half">
        <h3 class="section-title normal-case close2x"><span class="wrap">Specialty Gene Summary</span></h3>

        <div style="padding:7px" data-dojo-attach-point="specialtyGeneSummaryNode">
            Loading Specialty Gene Summary...
        </div>
    </div>
</div>
