<div class="SelectionToGroup" style="width:400px;">
	<div data-dojo-type="dijit/form/Select" style="width: 95%;margin:10px;">
		<option value="create">New Group</option>
		<option value="create">Existing Group</option>
	</div>

	<div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" style="width:95%;margin:10px;">
	</div>

	<div class="buttonContainer" style="text-align: right;">
		<div data-dojo-type="dijit/form/Button" label="Cancel"></div>
		<div data-dojo-type="dijit/form/Button" label="Split"></div>
		<div data-dojo-type="dijit/form/Button" label="Copy"></div>
	</div>
</div>
