<div>
  <div style="max-width:350px; margin:auto" class="suLoginDiv">
    <h4 style="text-align:center; font-weight:bold; margin-top:15px;">Impersonate User</h4>
    <div style="background-color:#e6e6e6; max-width:6in; margin:auto">
      <p style="font-size:10pt"><i><strong>WARNING</strong>&nbsp;&nbsp; With great power comes great responsibility...</i><br>
        You can take control of another user's account to troubleshoot or assist them. Please be careful and respectful of the user's account that you are controlling.
      </p>
    </div>
    <p>&nbsp;</p>
    <form dojoAttachPoint="containerNode" class="${baseClass} PanelForm" dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
      <table style="border-spacing:0">
        <tbody>
          <tr><th style="padding:0; border:0"><strong>User to Impersonate</strong></th></tr>
          <tr><td style="padding-top:0">
            <input type="text" name="targetUser" style="width:80%" data-dojo-attach-point="uidField" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="placeholder:'User id for other account', intermediateChanges: true" data-dojo-attach-event="onChange: fieldChanged" required="true">
          </td></tr>
          <tr><td><p>&nbsp;</p></td></tr>
          <tr><th style="padding:0; border:0"><strong>Your Password</strong></th></tr>
          <tr><td style="padding-top:0">
            <input type="password" name="password" style="width:80%" data-dojo-attach-point="pwField" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="placeholder:'Your admin password', intermediateChanges: true" data-dojo-attach-event="onChange: fieldChanged" required="true">
          </td></tr>
        </tbody>
      </table>
      <p>&nbsp;</p>
      <div style="margin:auto">
      <div data-dojo-attach-point="submitButton" type="submit" value="Submit" data-dojo-type="dijit/form/Button">Take Control</div>
      <p class="loginError" style="color:red; text-align:center"></p>
    </div>
    </form>
  </div>
  <div class="switchBack" style="margin:auto; display:none">
    <p style="font-weight:bold;text-align:center; margin:bottom:10px">Switch back to your own user account</p>
    <p>&nbsp;</p>
    <div style="margin:auto; max-width:1in">
    <!-- <button>Switch Back</button> -->
      <div data-dojo-attach-point="switchButton" type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: switchBack">Switch Back</div>
  </div>
  </div>
</div>
