<div style="text-align: center;">
  <!-- <div data-dojo-type="dijit/form/Textbox" style="width:98%;margin:auto;margin-top:2px;"></div> -->
  <div style="font-size:1em; font-weight: bold; text-align:center;margin-bottom: 5px;background: #efefef">Available tracks</div>
  <table>
    <tbody data-dojo-attach-point="trackTable">

    </tbody>
  </table>
  <div data-dojo-attach-point="customTrackInfo" style="font-size:1em; font-weight: bold; text-align:center;margin-bottom: 5px; margin-top:15px;background: #efefef">
  <table><tr><td>
  Add custom tracks&nbsp;<i class='fa-1x icon-question-circle-o DialogButton' rel='help:/misc/AddCustomTrack' />
  </td></tr></table>
  </div>
  <div style="text-align:left; margin-top:2px;padding:2px;" data-dojo-attach-point="customTrackSection">
 	<table><tr><td>
    <select required name="type" style="width:20%; margin-left:3px;" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:validateCustomSelection" data-dojo-attach-point="track_type_select" data-dojo-props="intermediateChanges:true,promptMessage:'select type',missingMessage:'select type'">
      <option value="" default selected hidden>Type</option>
      <option value="CDS">CDS</option>
      <option value="RNA">RNA</option>
      <option value="Miscellaneous">Misc</option>
    </select>
    <select required name="strand" style="width:25%; margin-left:2px;" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:validateCustomSelection" data-dojo-attach-point="track_strand_select" data-dojo-props="intermediateChanges:true,promptMessage:'select strand',missingMessage:'select strand'">
      <option value="" default selected hidden>Strand</option>
      <option value="both">both</option>
      <option value="+">forward</option>
      <option value="-">reverse</option>
    </select>
    <input required type="text" style="width:47%; margin-left:2px;" data-dojo-attach-event="onChange:validateCustomSelection" data-dojo-props="intermediateChanges:true,promptMessage:'Enter keywords. For examples, secretion, membrane, transposon',missingMessage:'Keyword must be provided. For examples, secretion, membrane, transposon OR transposase OR insertion OR mobile',trim:true,placeHolder:'Keyword'" data-dojo-type="dijit/form/ValidationTextBox" name="keyword" data-dojo-attach-point="keyword_box"/>
    </td></tr>
    <tr><td>
    <input type="text" style="width:85%; margin-left:2px;" data-dojo-attach-event="onChange:validateCustomSelection" data-dojo-props="intermediateChanges:true,promptMessage:'Enter track name to display. For examples, secretion, transposon. If not specified, the text from the Keyword field will be used as the track name to display',trim:true,placeHolder:'Enter custom track name'" data-dojo-type="dijit/form/ValidationTextBox" name="custom_trackname" data-dojo-attach-point="custom_trackname_box"/>
    <button style="margin-left:2px" data-dojo-type="dijit/form/Button"  data-dojo-attach-event="onClick:onAddCustomTrack" data-dojo-attach-point="customTrackButton" data-dojo-props="disabled:true">+</button>
	</td></tr></table>
  </div>

  <div data-dojo-attach-point="userTrackInfo" style="font-size:1em; font-weight: bold; text-align:center;margin-bottom: 5px;margin-top:20px; background: #efefef">
  <table><tr><td>
  Upload your own data&nbsp;<i class='fa-1x icon-question-circle-o DialogButton' rel='help:/misc/AddUserTrack' />
  </td></tr></table>
  </div>
  <div style="text-align:left;margin-top:2px;padding:3px;" data-dojo-attach-point="userTrackSection">
 	<table><tr><td>
    <select required name="plot_type" style="width:30%; margin-left:2px;" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:validateUserFileType" data-dojo-attach-point="plot_type_select" >
      <option value="tiles" default selected hidden>Tiles</option>
      <option value="line">Line Plot</option>
      <option value="histogram">Histogram</option>
      <option value="heatmap">Heatmap</option>
    </select>
    <input type="file" style="width:65%; margin-left:2px;" name="data_file" accept="text/plain" data-dojo-attach-event="onChange:validateUserFileSelection" data-dojo-attach-point="data_file_select"/>
    </td></tr>
    <tr><td>
    <input type="text" style="width:85%; margin-left:2px;" data-dojo-attach-event="onChange:validateCustomSelection" data-dojo-props="intermediateChanges:true,promptMessage:'Enter track name to display. For example, toxin genes. If not specified, [User track] will be used as the track name to display',trim:true,placeHolder:'Enter user track name'" data-dojo-type="dijit/form/ValidationTextBox" name="user_trackname" data-dojo-attach-point="user_trackname_box"/>
    <button style="margin-left:2px" data-dojo-type="dijit/form/Button"  data-dojo-attach-event="onClick:onAddUserFileTrack" data-dojo-attach-point="userFileButton" data-dojo-props="disabled:true">+</button>
    </td></tr></table>
  </div>

  <button style="margin-top:25px;" data-dojo-attach-event="click:saveSVG">Export SVG Image</button>
  <div data-dojo-attach-point="exportContainer"></div>

</div>