<div>
    <div class="column-sub" style="width:1%">
        &nbsp;
    </div>

    <div class="column-prime" style="width:75%">
        <br/>
        <div class="section far2x">

            <b>Welcome to the BV-BRC SARS-CoV-2 Real-time Tracking and Early Warning System for Variants and Lineages of Concern (VoCs/LoCs)</b>
            <p>
                VoCs/LoCs are sequence variants or lineages that may significantly affect vaccine efficacy, transmissibility, disease outcomes,
                or other factors critical to gaining control of COVID-19 disease <br/>
                The <b>SARS-CoV-2 Variants and Lineages of Concern</b> resource
                <ul>
                    <li>Identifies and tracks emerging variants and lineages through daily processing of publicly available SARS-CoV-2 sequences</li>
                    <li>Performs risk assessment on the variants to identify candidate VoCs/LoCs by leveraging a growing knowledgebase of
                        sequence features, including protein domains, functional regions, and immune epitopes</li>
                    <li>Provides detailed information about each VoC/LoC</li>
                    <li>Provides their sequence prevalence in various countries and regions over time using interactive dashboards and charts</li>
                    <li>Provides integrated view of the VoCs/LoCs and important sequence features using genome browsers, protein structure viewers, and phylogenetic trees</li>
                </ul>
                <br/>
                For more information, please see <a href="/patric/pdf/sars-cov-2-loc-tutorial.pdf" target=_blank>The BV-BRC Real-time Tracking and Early Warning System for SARS-CoV-2 Variants and Lineages of Concern (VoCs/LoCs) Tutorial</a>.
            </p>
        </div>
        <div class="section far2x">
            <h3 class="close2x section-title"><span class="wrap">Lineages of Concern</span></h3>
            <table class="p3basic striped">
                <thead>
                    <tr>
                        <th>LoC name</th>
                        <th>PANGO lineage</th>
                        <th>NextStrain lineage</th>
                        <th>Other synonyms</th>
                        <th>Emergence date</th>
                        <th>Emergence location</th>
                        <th>Key AA substitutions in spike protein</th>
                        <th>Impact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>B.1.1.7</td>
                        <td><a href="https://cov-lineages.org/global_report_B.1.1.7.html" target=_blank">B.1.1.7</a></td>
                        <td>20I/501Y.V1</td>
                        <td>VOC 202012/01, UK variant</td>
                        <td>September 2020</td>
                        <td>Southeast England</td>
                        <td>H69-, V70-, N501Y, D614G, P681H</td>
                        <td>Increased transmissibility; S gene target failure (SGTF)</td>
                    </tr>
                    <tr>
                        <td>B.1.351</td>
                        <td><a href="https://cov-lineages.org/global_report_B.1.351.html" target=_blank>B.1.351</a></td>
                        <td>20H/501Y.V2</td>
                        <td>South African variant</td>
                        <td>October 2020</td>
                        <td>Nelson Mandela Bay, South African</td>
                        <td>L241-, L242-, A243-, K417N, E484K, N501Y, D614G</td>
                        <td>loss of serum antibody neutralization</td>
                    </tr>
                    <tr>
                        <td>P.1</td>
                        <td><a href="https://cov-lineages.org/lineages/lineage_B.1.1.28.html" target=_blank>B.1.1.28</a></td>
                        <td>20J/501Y.V3</td>
                        <td>Brazilian variant</td>
                        <td>July 2020</td>
                        <td>Brazil</td>
                        <td>K417T, E484K, N501Y, D614G</td>
                        <td>Increased transmissibility; loss of serum antibody neutralization</td>
                    </tr>
                    <tr>
                        <td>CAL.20C</td>
                        <td><a href="https://cov-lineages.org/lineages/lineage_B.1.429.html" target=_blank>B.1.429</a></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>July 2020</td>
                        <td>Southern California, USA</td>
                        <td>W152C, L452R, D614G</td>
                        <td>loss of monoclonal antibody binding</td>
                    </tr>
                    <tr>
                        <td>B.1.375</td>
                        <td><a href="https://cov-lineages.org/lineages/lineage_B.1.375.html" target=_blank>B.1.375</a></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>September 2020</td>
                        <td>Massachusetts, USA</td>
                        <td>H69-, V70-, D614G</td>
                        <td>S gene target failure (SGTF)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <div class="section">
            <h3 class="close2x section-title"><span class="wrap">Variants of Concern</span></h3>
            Will be implemented soon.
        </div>
    </div>

    <div class="column-opt">
        <br/>
        <div class="section far2x">
            <h3 class="close2x section-title"><span class="wrap">Acknowledgements</span></h3>
            <p>
                We gratefully acknowledge the authors, originating and submitting laboratories that have shared their SARS-CoV-2 genomic data
                via <a href="https://www.gisaid.org/" target=_blank>GISAID</a> and
                <a href="https://www.ncbi.nlm.nih.gov/sars-cov-2/" target=_blank>NCBI GenBank and SRA</a>, which is used to build this system.
            </p>
        </div>
        <div class="section">
            <h3 class="close2x section-title"><span class="wrap">Recent PubMed Articles</span></h3>
            <div data-dojo-attach-point="pubmedSummaryNode">
                Loading...
            </div>
        </div>
    </div>
</div>
