<!DOCTYPE html>
<html lang="en">
	<head>
        <title>SARS-CoV-2 | BV-BRC</title>
		<% include ../../header %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<% include ../../bv-brc-header %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">
                            <!-- -->
                            <h1 id="sars-cov-2">SARS-CoV-2 Variants of Concern</h1>
                            <!-- voc list -->
                            <div class="sars-top">
                                <div class="sars-top-content">
                                    <p><strong>Last Updated: Jan 29, 2021</strong></p>
                                    <table class="p3basic striped">
                                        <thead>
                                            <tr>
                                                <th>VoC name</th>
                                                <th>PANGO lineage</th>
                                                <th>NextStrain lineage</th>
                                                <th>Other synonyms</th>
                                                <th>Emergence date</th>
                                                <th>Emergence location</th>
                                                <th>Amino acid substitutions vs Wuhan-Hu-1: Spike</th>
                                                <th>Impact</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="/sars-cov-2/voc_B_1_1_7">B.1.1.7</a></td>
                                                <td><a href="https://cov-lineages.org/global_report_B.1.1.7.html" target=_blank">B.1.1.7</a></td>
                                                <td>20I/501Y.V1</td>
                                                <td>VOC 202012/01, UK variant</td>
                                                <td>September 2020</td>
                                                <td>Southeast England</td>
                                                <td>H69-, V70-, N501Y, A570D, D614G, P681H, T716I, S982A, D1118H</td>
                                                <td>Increased transmissibility; S gene target failure (SGTF)</td>
                                            </tr>
                                            <tr>
                                                <td><a href="/sars-cov-2/voc_B_1_351">B.1.351</a></td>
                                                <td><a href="https://cov-lineages.org/global_report_B.1.351.html" target=_blank>B.1.351</a></td>
                                                <td>20H/501Y.V2</td>
                                                <td>South African variant</td>
                                                <td>October 2020</td>
                                                <td>Nelson Mandela Bay, South African</td>
                                                <td>D80A, D215G, L241-, L242-, A243-, K417N, E484K, N501Y, D614G, A701V</td>
                                                <td>E484K loss of serum antibody neutralization</td>
                                            </tr>
                                            <tr>
                                                <td><a href="/sars-cov-2/voc_P_1">P.1</a></td>
                                                <td><a href="https://cov-lineages.org/lineages/lineage_B.1.1.248.html" target=_blank>B.1.1.248</a></td>
                                                <td>20J/501Y.V3</td>
                                                <td>Brazilian variant</td>
                                                <td>July 2020</td>
                                                <td>Brazil</td>
                                                <td>L18F, T20N, P26S, D138Y, R190S, K417T, E484K, N501Y, D614G, H655Y, T1027I, V1176F</td>
                                                <td>Increased transmissibility</td>
                                            </tr>
                                            <tr>
                                                <td><a href="/sars-cov-2/voc_CAL_20C">CAL.20C</a></td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>July 2020</td>
                                                <td>Southern California, USA</td>
                                                <td>S13I, W152C, L452R, D614G</td>
                                                <td>unknown</td>
                                            </tr>
                                            <tr>
                                                <td><a href="/sars-cov-2/voc_B_1_375">B.1.375</a></td>
                                                <td><a href="https://cov-lineages.org/lineages/lineage_B.1.375.html" target=_blank>B.1.375</a></td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>September 2020</td>
                                                <td>Massachusetts, USA</td>
                                                <td>H69-, V70-, D614G</td>
                                                <td>S gene target failure (SGTF)</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <!-- -->
                        </div>
                    </div>
                </div>
                <% include ../../bv-brc-footer %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<% include ../../javascript %>
	</body>
</html>
