<!DOCTYPE html>
<html lang="en">
	<head>
        <title>SARS-CoV-2 | BV-BRC</title>
		<% include ../../header %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
    <div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<% include ../../bv-brc-header %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">
                            <h1 id="sars-cov-2">SARS-CoV-2 Variants of Concern</h1>
                            <div class="sars-top">
                                <div class="sars-top-content">

                                    <h2>CAL.20C</h2>
                                    <table class="p3basic striped">
                                        <tr><th width="25%">VoC name</th><td>CAL.20C</td></tr>
                                        <tr><th>PANGO lineage</th><td>&nbsp;</td></tr>
                                        <tr><th>NextStrain lineage</th><td>&nbsp;</td></tr>
                                        <tr><th>Other synonyms	VOC</th><td>&nbsp;</td></tr>
                                        <tr><th>Emergence location</th><td>Southern California, USA</td></tr>
                                        <tr><th>Emergence date</th><td>July 2020</td></tr>
                                        <tr><th>Amino acid substitutions vs Wuhan-Hu-1:</th><td>S13I, W152C, L452R, D614G</td></tr>
                                        <tr><th>Amino acid substitutions vs Wuhan-Hu-1:</th><td>N: T205I; NS3: Q57H; NSP2: T85I; NSP12: P323L; NSP13: D260Y</td></tr>
                                        <tr><th>Nucleotide substitutions vs Wuhan-Hu-1</th><td>C29362T, C28887T, A28272T, G27890T, C26681T, G25563T, T24349C, A23403G, T22917G, G22018T, G21600T, G17014T, C14408T, A12878G, C12100T, C8947T, C3037T, T2597C, C2395T, C1059T, C241T</td></tr>
                                        <tr><th>Impact</th><td>unknown</td></tr>
                                        <tr><th>SF overlap</th><td>TBD</td></tr>
                                        <tr><th>ViPR representative strain link</th>
                                            <td><a href="https://www.viprbrc.org/brc/viprStrainDetails.spg?ncbiAccession=MW485882&decorator=corona&context=1611876924806" target=_blank>SARS-CoV-2/human/USA/CA-LACPHL-AF00141/2021</a></td>
                                        </tr>
                                        <tr><th>GISAID representative strain</th><td>&nbsp;</td></tr>
                                        <tr><th>Consensus genome sequence</th><td>CAL.20C_genome_consensus.fasta</td></tr>
                                        <tr><th>Consensus Spike protein sequence</th><td>CAL.20C_S protein_consensus.fasta</td></tr>
                                        <tr><th>Consensus all protein sequences</th><td>CAL.20C_all proteins_consensus.fasta</td></tr>
                                        <tr><th>Relevant publications</th>
                                            <td>
                                                <ol>
                                                    <li><a href="https://en.wikipedia.org/wiki/Variants_of_SARS-CoV-2" target=_blank>https://en.wikipedia.org/wiki/Variants_of_SARS-CoV-2</a>;</li>
                                                    <li><a href="https://www.medrxiv.org/content/10.1101/2021.01.18.21249786v1" target=_blank>https://www.medrxiv.org/content/10.1101/2021.01.18.21249786v1</a></li>
                                                </ol>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include ../../bv-brc-footer %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<% include ../../javascript %>
	</body>
</html>