<!DOCTYPE html>
<html lang="en">
	<head>
        <title>SARS-CoV-2 | BV-BRC</title>
		<% include ../../header %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
    <div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<% include ../../bv-brc-header %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">
                            <h1 id="sars-cov-2">SARS-CoV-2 Variants of Concern</h1>
                            <div class="sars-top">
                                <div class="sars-top-content">
                                    <h2>B.1.351</h2>
                                    <table class="p3basic striped">
                                        <tr><th width="25%">VoC name</th><td>B.1.351</td></tr>
                                        <tr><th>PANGO lineage</th><td><a href="https://cov-lineages.org/global_report_B.1.351.html" target=_blank>B.1.351</a></td></tr>
                                        <tr><th>NextStrain lineage</th><td>20H/501Y.V2</td></tr>
                                        <tr><th>Other synonyms	VOC</th><td>South African variant</td></tr>
                                        <tr><th>Emergence location</th><td>Nelson Mandela Bay, South African</td></tr>
                                        <tr><th>Emergence date</th><td>October 2020</td></tr>
                                        <tr><th>Amino acid substitutions vs Wuhan-Hu-1:</th><td>D80A, D215G, L241-, L242-, A243-, K417N, E484K, N501Y, D614G, A701V</td></tr>
                                        <tr><th>Amino acid substitutions vs Wuhan-Hu-1:</th><td>TBD</td></tr>
                                        <tr><th>Nucleotide substitutions vs Wuhan-Hu-1</th><td>G174T, C241T, C1059T, T3037C, G5230T, A10323G, T11288-, C11289-, T11290-, G11291-, G11292-, T11293-, T11294-, T11295-, T11296-, C14408T, A21801C, A22206G, C22281-, T22282-, T22283-, T22284-, A22285-, C22286-, T22287-, T22288-, G22289-, G22813T, G23012A, A23063T, A23403G, C23664T, G25563T, C25904T, C26456T, C28253T, C28887T</td></tr>
                                        <tr><th>Impact</th><td>E484K loss of serum antibody neutralization</td></tr>
                                        <tr><th>SF overlap</th><td>TBD</td></tr>
                                        <tr><th>ViPR representative strain link</th><td>NA</td></tr>
                                        <tr><th>GISAID representative strain</th><td>hCoV-19/South Africa/KRISP-K004312/2020|EPI_ISL_660190|2020-10-23</td></tr>
                                        <tr><th>Consensus genome sequence</th><td>B.1.351_genome_consensus.fasta</td></tr>
                                        <tr><th>Consensus Spike protein sequence</th><td>B.1.351_S protein_consensus.fasta</td></tr>
                                        <tr><th>Consensus all protein sequences</th><td>B.1.351_all proteins_consensus.fasta</td></tr>
                                        <tr><th>Relevant publications</th>
                                            <td>
                                                <ol>
                                                    <li>Greaney AJ, Loes AN, Crawford KHD, et al. Comprehensive mapping of mutations to the SARS-CoV-2 receptor-binding domain that affect recognition by polyclonal human serum antibodies. bioRxiv. [Preprint posted online January 4, 2021];</li>
                                                    <li>Weisblum Y, Schmidt F, Zhang F, et al. Escape from neutralizing antibodies by SARS-CoV-2 spike protein variants. eLife 2020;9:e61312.;</li>
                                                    <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/more/science-and-research/scientific-brief-emerging-variants.html" target=_blank>https://www.cdc.gov/coronavirus/2019-ncov/more/science-and-research/scientific-brief-emerging-variants.html</a></li>
                                                </ol>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include ../../bv-brc-footer %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<% include ../../javascript %>
	</body>
</html>