[submodule "public/js/xstyle"]
	path = public/js/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "public/js/put-selector"]
	path = public/js/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "public/js/dbind"]
	path = public/js/dbind
	url = https://github.com/kriszyp/dbind.git
[submodule "public/js/dgrid"]
	path = public/js/dgrid
	url = https://github.com/SitePen/dgrid.git
	branch = dev-0.3
[submodule "public/js/rql"]
	path = public/js/rql
	url = https://github.com/persvr/rql.git
[submodule "public/js/dojo"]
	path = public/js/dojo
	url = https://github.com/dojo/dojo.git
[submodule "public/js/dijit"]
	path = public/js/dijit
	url = https://github.com/dojo/dijit.git
[submodule "public/js/dojox"]
	path = public/js/dojox
	url = https://github.com/dojo/dojox.git
[submodule "public/js/util"]
	path = public/js/util
	url = https://github.com/dojo/util.git
[submodule "public/js/msa"]
	path = public/js/msa
	url = https://github.com/aswarren/msa.git
[submodule "public/js/FileSaver"]
	path = public/js/FileSaver
	url = https://github.com/dkasenberg/FileSaver.js.git
[submodule "public/js/jDataView"]
	path = public/js/jDataView
	url = https://github.com/rbuels/jDataView.git
[submodule "public/js/json-schema"]
	path = public/js/json-schema
	url = https://github.com/kriszyp/json-schema.git
[submodule "public/js/jszlib"]
	path = public/js/jszlib
	url = https://github.com/rbuels/jszlib.git
[submodule "public/js/lazyload"]
	path = public/js/lazyload
	url = https://github.com/rbuels/lazyload.git
[submodule "public/js/raphael"]
	path = public/js/raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
[submodule "public/js/circulus"]
	path = public/js/circulus
	url = https://github.com/dmachi/circulus.git
[submodule "public/js/d3"]
	path = public/js/d3
	url = https://github.com/mbostock/d3.git
[submodule "public/js/phyloview"]
	path = public/js/phyloview
	url = https://github.com/aswarren/phyloview
[submodule "public/js/autotrack"]
	path = public/js/autotrack
	url = https://github.com/googleanalytics/autotrack.git
[submodule "public/js/mauve_viewer"]
	path = public/js/mauve_viewer
	url = https://github.com/nconrad/mauve_viewer
[submodule "public/js/heatmap"]
	path = public/js/heatmap
	url = https://github.com/nconrad/heatmap
[submodule "public/js/archaeopteryx/archaeopteryx-js"]
	path = public/js/archaeopteryx/archaeopteryx-js
	url = https://github.com/cmzmasek/archaeopteryx-js.git
	branch = master
