p3-web.conf
node_modules/
*.swp
.DS_Store
dump.rdb
npm-debug.log
package-lock.json
public/js/release/build-report.txt
public/js/release/
.idea/
.vscode/
public/video/
yarn.lock
.htmlhintrc
coverage
.stylelintrc.json
.editorconfig
.eslintignore
gulpified
gulpfile.js
src/
test/
intern.js
jest.config.json
gulpfile.js
.eslintrc.json
/public/js/p3/widget/UserDetails.js
