.footer {
	height: 32px;
	width: 100%;
	bottom: 0px;
	border: 0px;
	border-top: 1px solid #333;
	color: white;
	box-shadow: 0px 0px 16px #111;
	overflow: hidden;
	z-index:100;
	background: inherit;
}
.PatricFooter {
	width: 100%;
	margin-top: 0px;
	text-align: center;
}
.FooterBar {
	width: 100%;
	height: 32px;
	background: #24567b;
	opacity: 1;
}
.FooterBar > * {
	margin:auto;
}
.FooterMenu{
	margin: auto;
	height: 300px;
	background: #333;
	opacity: .85;
	display: none;
}
.footer.toggled {
	height: 332px;
}
.footer.toggled .FooterMenu{
	display:block;
}
