.MultiButton {
	display:inline-block;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.MultiButton.disabled {
	opacity: .4;
}
.MultiButton > A {
	text-decoration: none;
}
.infoIcon {
	background-image: url("/js/cid/resources/icons/white/info_16x32.png");
	height: 24px;
	width: 12px;
	background-size: 12px 24px;
}
.infoIcon:hover {
	background-image: url("/js/cid/resources/icons/green/info_16x32.png");
}
.infoIcon.disabled {
	background-image: url("/js/cid/resources/icons/gray_light/info_16x32.png");
}
.infoIcon.depressed{
	background-image: url("/js/cid/resources/icons/black/info_16x32.png");
}
.homeIcon {
	background-image: url("/js/cid/resources/icons/white/home_32x32.png");
	height: 24px;
	width: 24px;
	background-size: 24px 24px;
}
.homeIcon:hover {
	background-image: url("/js/cid/resources/icons/green/home_32x32.png");
}
.homeIcon.disabled {
	background-image: url("/js/cid/resources/icons/gray_light/home_32x32.png");
}
.homeIcon.depressed{
	background-image: url("/js/cid/resources/icons/black/home_32x32.png");
}
.downloadIcon {
	background-image: url("/js/cid/resources/icons/white/download_24x32.png");
	height: 24px;
	width: 14px;
	background-size: 14px 24px;
}
.downloadIcon:hover {
	background-image: url("/js/cid/resources/icons/green/download_24x32.png");
}
.downloadIcon.disabled {
	background-image: url("/js/cid/resources/icons/gray_light/download_24x32.png");
}
.downloadIcon.depressed{
	background-image: url("/js/cid/resources/icons/black/download_24x32.png");
}
.wrenchIcon {
	background-image: url("/js/cid/resources/icons/white/wrench_32x32.png");
	height: 24px;
	width: 24px;
	background-size: 24px 24px;
}
.wrenchIcon:hover {
	background-image: url("/js/cid/resources/icons/green/wrench_32x32.png");
}
.wrenchIcon.disabled {
	background-image: url("/js/cid/resources/icons/gray_light/wrench_32x32.png");
}
.wrenchIcon.depressed{
	background-image: url("/js/cid/resources/icons/black/wrench_32x32.png");
}
.bacteriaIcon {
	background-image: url("/js/cid/resources/icons/white/bacteria_35x18.png");
	height: 18px;
	width: 35px;
	background-size: 35px 18px;
}
.bacteriaIcon:hover {
	background-image: url("/js/cid/resources/icons/green/bacteria_35x18.png");
}
.bacteriaIcon.disabled {
	background-image: url("/js/cid/resources/icons/gray_light/bacteria_35x18.png");
}
.bacteriaIcon.depressed{
	background-image: url("/js/cid/resources/icons/black/bacteria_35x18.png");
}
.leftIcon{
	background-image: url("/js/cid/resources/icons/white/play_24x32.png");
	height: 24px;
	width: 19px;
	background-size: 24px 19px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
.leftIcon:hover {
	background-image: url("/js/cid/resources/icons/green/play_24x32.png");
}
.leftIcon.disabled {
	background-image: url("/js/cid/resources/icons/gray_light/play_24x32.png");
}
.leftIcon.depressed{
	background-image: url("/js/cid/resources/icons/black/play_24x32.png");
}
.rightIcon{
	background-image: url("/js/cid/resources/icons/white/play_24x32.png");
	height: 24px;
	width: 19px;
	background-size: 24px 19px;
}
.rightIcon:hover {
	background-image: url("/js/cid/resources/icons/green/play_24x32.png");
}
.rightIcon.disabled {
	background-image: url("/js/cid/resources/icons/gray_light/play_24x32.png");
	cursor: default;
}
.rightIcon.depressed{
	background-image: url("/js/cid/resources/icons/black/play_24x32.png");
}
.shareIcon{
	background-image: url("/js/cid/resources/icons/white/share_24x24.png");
	height: 24px;
	width: 24px;
	background-size: 24px 24px;
}
.shareIcon:hover {
	background-image: url("/js/cid/resources/icons/green/share_24x24.png");
}
.shareIcon.disabled {
	background-image: url("/js/cid/resources/icons/gray_light/share_24x24.png");
	cursor: default;
}
.shareIcon.depressed{
	background-image: url("/js/cid/resources/icons/black/share_24x24.png");
}
.uploadIcon{
	background-image: url("/js/cid/resources/icons/white/upload_18x24.png");
	height: 24px;
	width: 18px;
	background-size: 18px 24px;
}
.uploadIcon:hover {
	background-image: url("/js/cid/resources/icons/green/upload_18x24.png");
}
.uploadIcon.disabled {
	background-image: url("/js/cid/resources/icons/gray_light/upload_18x24.png");
	cursor: default;
}
.uploadIcon.depressed{
	background-image: url("/js/cid/resources/icons/black/upload_18x24.png");
}
.WorkspaceHeader .MultiButton {
	margin-left: 4px;
	margin:4px;
	vertical-align: middle;
}
