.SlideShow {
	padding:0px;
	padding-top: 4px;
	margin-top:4px;
	background: inherit;
	margin-left: 0px;
	margin-right: 0px;
}
.SlideShow .currentScreen {
	width: 1024px;
	height: 350px;
	background: #fff;
	margin:auto;
	margin-top: 4px;
	margin-bottom: 4px;
	border: 1px solid #ddd;
	text-align: center;
	padding: 4px;
	color: blue;
	font-size: 2em;
}
.slideSelectorWrapper {
	background: #47741a;
	box-shadow: 0px 0px 16px #000;
	margin-bottom:15px;
	margin-left: 0px;
	margin-right: 0px;
}
.slideSelectorWrapper > .slideSelector {
	width: 1024px;
	margin: auto;
}
.slideSelector TABLE {
	width: 100%;
}
.slideSelector TD {
	height: 64px;
	width: 25%;
	border-right: 1px solid #333;
	text-align: center;
	cursor: pointer;
}
.slideSelector TD:last-child {
	border-right: 0px;
}
.slideSelector.selected TD,
.slideSelector TD:hover {
	background: #6da627;
}
