.TaxonOverview {
	width: 1024px;
	margin-top: 0px;
	margin: auto;
}
.patric .GenomeSummary.PatricTool,
.GenomeSummary{
	width: 100%;
	height: 100%;
	margin:4px;
	overflow: auto;
}
.TaxonOverview .leftSideColumn {
	display: inline-block;
	width: 250px;
	min-height: 400px;
	vertical-align: top;
}
.TaxonOverview .rightColumn {
	display: inline-block;
	width: 750px;
	min-height: 400px;
	float: right;
	vertical-align: top;
}
.TaxonOverview .section {
	min-height: 150px;
	border: #efefef;
	border-radius: 4px;
	margin-bottom:4px;
	padding: 4px;
}
.section label {
	background: #ddd;
	margin:0px;
	padding: 4px;
	margin-bottom: 4px;
	font-weight: 900;
	font-size: 1.1em;
	color: #333;
	display: block;
	background: -moz-linear-gradient(left,  rgba(24,68,104,0) 0%, rgba(24,68,104,0.65) 95%, rgba(24,68,104,0.65) 100%); 
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(24,68,104,0)), color-stop(95%,rgba(24,68,104,0.65)), color-stop(100%,rgba(24,68,104,0.65))); 
background: -webkit-linear-gradient(left,  rgba(24,68,104,0) 0%,rgba(24,68,104,0.65) 95%,rgba(24,68,104,0.65) 100%); 
background: -o-linear-gradient(left,  rgba(24,68,104,0) 0%,rgba(24,68,104,0.65) 95%,rgba(24,68,104,0.65) 100%); 
background: -ms-linear-gradient(left,  rgba(24,68,104,0) 0%,rgba(24,68,104,0.65) 95%,rgba(24,68,104,0.65) 100%); 
background: linear-gradient(to right,  rgba(24,68,104,0) 0%,rgba(24,68,104,0.65) 95%,rgba(24,68,104,0.65) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00184468', endColorstr='#a6184468',GradientType=1 ); 
}
.section table {
	width: 100%;
}
.sourceColumn {
	width: 100px;
}
.propertyColumn {
	width: 200px;
}
.lineageColumn {
	text-align: left;
}
