@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xnngp9');
  src:  url('fonts/icomoon.eot?xnngp9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xnngp9') format('truetype'),
    url('fonts/icomoon.woff?xnngp9') format('woff'),
    url('fonts/icomoon.svg?xnngp9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square-github:before {
  content: "\f900";
}
.icon-square-reddit:before {
  content: "\f901";
}
.icon-square-facebook:before {
  content: "\f902";
}
.icon-square-twitter:before {
  content: "\f903";
}
.icon-square-youtube:before {
  content: "\f904";
}
.icon-selection-ProteinGroup:before {
  content: "\f905";
}
.icon-selection-Protein:before {
  content: "\f906";
}
.icon-selection-ProteinList:before {
  content: "\f907";
}
