<!DOCTYPE html>
<html lang="en">
	<head></head>
	<body>
	<script>
		var message=<%- JSON.stringify({type: "AuthenticationSuccess", userProfile:request.session.userProfile,authorizationToken: request.session.authorizationToken,accessToken:request.session.authorizationToken}) %>
		if (window.opener || window.parent){
			console.log("Post Parent Message: ", message);
			(window.opener || window.parent).postMessage(message,"*");
		}else{
			window.location="/";
		}
	</script>
	</body>
</html>
