<div><div class="WarningBanner" style="border:1px solid #333;border-radius: 4px;margin:auto;margin-top:10px;margin-bottom:10px;font-weight:bold;text-align:center;">You are viewing the PATRIC BETA Website.  Please report any issues or suggestions via the HELP menu at the top of the screen.</div></div> 
