<div class="layer" style="text-align: center;">
<h1>PATRIC BETA HOME</h2>
	<div style="text-align: left">
		<ul>
			<li><a href="/view/GenomeList/?keyword(*)">All Genomes</a></li>
		</ul>
	</div>
</div>
