<div class="layer" style="text-align: center;">
<h1>PATRIC BETA HOME</h2>
	<div style="text-align: left">
		<ul>
			<li><a href="/view/GenomeList/?keyword(*)">All Genomes</a></li>
			<li><a href="/view/Taxonomy/83332">Taxonomy overview page example (Mycobacterium tuberculosis H37Rv)</a></li>
			<li><a href="/view/Genome/83332.12">Genome overview page example (Mycobacterium tuberculosis H37Rv)</a></li>
			<li><a href="/view/Feature/PATRIC.83331.22.NC_002755.CDS.1679098.1679328.fwd#view_tab=overview">Feature overview example</a></li>
		</ul>
	</div>
</div>
