<div class="layer" style="text-align: center;">
<h1>PATRIC BETA HOME</h2>
	<div style="text-align:left;">
		<p>This is the temporary landing page for PATRIC BETA.  Prior to going into production, this page will be replaced with an appropriate landing page.  Until then, this page will contain some useful links to content for demonstrating functionality.  Testing should not be limited to these pages.  The links go to pages where the data is appropriate for a demonstration or test.</p>
	</div>
	<div style="text-align: left">
		<table>
			<tr>
				<td>
					<ul>
						<li><a href="/view/GenomeList/?keyword(*)">All Genomes</a></li>
						<li><a href="/view/Taxonomy/83332">Taxonomy overview page example (Mycobacterium tuberculosis H37Rv)</a></li>
						<li><a href="/view/Genome/83332.12">Genome overview page example (Mycobacterium tuberculosis H37Rv)</a></li>
						<li><a href="/view/Feature/PATRIC.83331.22.NC_002755.CDS.1679098.1679328.fwd#view_tab=overview">Feature overview example</a></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<div style="text-align:left;">
		<h3>Reporting Issues</h3>
		<p>If you are a core PATRIC develop or if you would like to follow the activity on a ticket, please go <a href="https://github.com/PATRIC3/patric3_website/issues/new" target="_blank">HERE</a> to report problems.  Otherwise, you can use the form below to relay a comment or issue to the development team.
		<br>
		<div>Subject</div>
		<input type="text" style="width: 100%"></input>

		<br>
		<div>Problem/Comment</div>
		<textarea id="problemReport" style="width:100%;height:250px"></textarea>
		<button type="submit">Submit Issue</button>
	</div>
</div>
