<footer id="bv-brc-footer">
  <div id="bv-brc-footer-container">
    <div class="col col-1">
      <h3>BRC Program</h3>
      <a href="https://www.niaid.nih.gov/research/bioinformatics-resource-centers"><img src="/patric/images/bv-brc/brc-logo.png" alt="BRC Logo" style="margin-left: -50px;"></a>
      <!-- <ul>
          <li><a class="navigationLinkOut" href="https://www.niaid.nih.gov/research/bioinformatics-resource-centers">NIAID</a></li>
          <li><a href="https://www.patricbrc.org">PATRIC</a></li>
          <li><a class="navigationLinkOut" href="https://www.viprbrc.org/brc/home.spg?decorator=vipr">ViPR</a></li>
          <li><a class="navigationLinkOut" href="https://www.fludb.org/brc/home.spg?decorator=influenza">IRD</a></li>
          <li><a class="navigationLinkOut" href="https://eupathdb.org/eupathdb/">EuPathDB</a></li>
          <li><a class="navigationLinkOut" href="https://www.vectorbase.org/">VectorBase</a></li>
      </ul> -->
    </div>

    <div class="col col-2">
      <h3>Funding Statement</h3>
      <p>This project has been funded in whole or in part with Federal funds from the National Institute of Allergy and Infectious Diseases, National Institutes of Health, Department of Health and Human Services, under Contract No. 75N93019C00076, awarded to the University of Chicago.</p>
    </div>

    <div class="col col-3">
      <h3>Follow Us</h3>
      <a href="https://twitter.com/BVBRC_DB" target="=_blank"><span class="icon-twitter-square fa-3x"></span></a>
      <a href="https://www.facebook.com/BVBRC19" target="=_blank"><span class="icon-facebook-square fa-3x"></span></a>
      <a href="https://www.youtube.com/c/BVBRC" target="=_blank"><span class="icon-youtube-square fa-3x"></span></a>
      <a href="https://reddit.com/r/BRC_users" target="=_blank"><span class="icon-reddit-square fa-3x"></span></a>
      <a href="https://github.com/BV-BRC" target="=_blank"><span class="icon-github-square fa-3x"></span></a>
    </div>
  </div>
</footer>