<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">
    <div id="bv-brc-header" class="P3Header" role="heading" aria-level="1">

        <div id="bv-brc-header-container">
            <div class="nav-logo">
                <a class="nav-logo-link" href="/">
                    <!-- <img class="bv-brc-logo" src="/patric/images/bv-brc/patric-logo.png" alt="BV-BRC Logo" style="height: 32px;"/> -->
                    <span>BV-BRC</span>
                </a>
            </div>
            <div class="nav-links">
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <a href="/team">Team</a>
                <a href="/announcements">Announcements</a>
                <a href="/publications">Publications</a>
                <a href="/citation">Citation</a>
                <a href="/related-resources">Related Resources</a>
            </div>

            <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                <span>WORKSPACES</span>

                <div data-dojo-type="p3/widget/TooltipDialog">
                    <div>
                        <div style="vertical-align: top;width:175px;display:inline-block">
                            <div class="HideWithAuth">
                                Please <a class="loginLink">login</a> to view your workspaces.
                            </div>
                            <div class="ShowWithAuth">
                                <div><i class="fa icon-caret-down fa-1x noHoverIcon"
                                        style="color:#333;cursor:normal;"></i>&nbsp;<a
                                            class="navigationLink" id="YourWorkspaceLink">Workspaces</a></div>
                                <div id="YourWorkspaces"></div>
                                <div><a class="navigationLink" href="/workspace/public">Public Workspaces</a></div>
                            </div>
                        </div>
                        <div style="vertical-align:top;display:inline-block" class="ShowWithAuth">
                            <div>
                                <a class="navigationLink" href="/job/">My Jobs</a>
                            </div>
                            <div>
                                <a class="navigationLink" href="/view/GenomeList/?eq(public,false)">My Genomes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="showOnLoad ShowWithAuth dijitHidden">
                <div class="showOnLoad ShowWithAuth dijitHidden topMenuButtonIcon"
                     data-dojo-type="dijit/form/DropDownButton" data-dojo-props="iconClass:'icon-user fa-2x login-btn'">
                    <span></span>
                    <div data-dojo-type="p3/widget/TooltipDialog">
                        <div>Signed in as <span id="signedInAs" style="font-weight:bold;"></span></div>
                        <hr>
                        <div><a class="userProfile">Account Settings</a></div>
                        <div><a class="sulogin">SU Login</a></div>
                        <div><a class="suSwitchBack" onclick="window.App.suSwitchBack()" style="display:none">SU Switch Back</a></div>
                        <div><a class="logoutLink" onclick="window.App.logout()">Logout</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
