<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">
    <div id="bv-brc-header" class="P3Header" role="heading" aria-level="1">

        <div id="bv-brc-header-container">
            <div class="nav-logo">
                <a class="nav-logo-link" href="/">
                    <!-- <img class="bv-brc-logo" src="/patric/images/bv-brc/patric-logo.png" alt="BV-BRC Logo" style="height: 32px;"/> -->
                    <span>BV-BRC</span>
                </a>
            </div>
            <div class="nav-links">
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <a href="/team">Team</a>
                <a href="/announcements">Announcements</a>
                <a href="/publications">Publications</a>
                <a href="/citation">Citation</a>
                <a href="/related-resources">Related Resources</a>
            </div>
        </div>

    </div>
</div>
