<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">
  <div id="bv-brc-header" class="P3Header" role="heading" aria-level="1">

<div id="bv-brc-header-container">

        <div style="width: 220px;">
            <a href="/">
                <img class="p3LogoImage" src="/patric/images/patric_logo_bg.png" alt="BV-BRC Logo"/>
                <span class="logo">BV-BRC</span>
            </a>
        </div>

        <div>
            <div class="topMenuButtonIcon showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton"
                 data-dojo-props="iconClass:'icon-bars fa-2x'">
                <span><p style="font-size: 16px;">Menu</p></span>
                <div data-dojo-type="p3/widget/TooltipDialog">
                    <div><a class="TopMenuLink navigationLink" href="/about">About Us</a></div>
                    <div><a class="TopMenuLink navigationLink" href="/contact">Contact Us</a></div>
                    <div><a class="TopMenuLink navigationLink" href="/team">BV-BRC Team</a></div>
                    <div><a class="TopMenuLink navigationLink" href="/announcements">News and Announcements</a></div>
                    <div><a class="TopMenuLink navigationLink" href="/publications">Publications</a></div>
                    <div><a class="TopMenuLink navigationLink" href="/citation">Cite Us</a></div>
                    <div><a class="TopMenuLink navigationLink" href="/related-resources">Related Resources</a></div>
                </div>
            </div>
        </div>

</div>

  </div>
</div>
