<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" style="background:#000;margin-top:6px;">
	<div class="layer">
		<div id="CarouselContent" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" class="carousel">
			<table style="width:100%;color:white;"><tbody><tr>
				<td >
					<h2>Your Data, Your Analysis, shared with Your Collaborators</h2>
					<p>PATRIC's powerful tools allow you Annotate and assemble your Custom Genome, analyze and compare it against existing data, and share your data and results with your collaborators or the entire world.</p>
				</td>
				<td style="width:30%;padding:10px;text-align:center;">
						<input style="width:100%;margin-bottom:6px;" />
						<input style="width:100%" />
						<div style="margin-top:10px;" data-dojo-type="dijit/form/Button">Sign-Up for PATRIC</div>
				</td>
			</tr></tbody></table>
		</div>
	</div>
</div>