<div id="bv-brc-home">
    <div class="verification_message home-banner">
        <p>
            <strong>Your email has not been verified. Click here to visit your profile and update your email address and/or resend the verification message.</strong>
        </p>
    </div>
    <!--<div class="top-banner-flex">
        <div class="top-banner">
            <!-- <p>
                We are pleased to welcome our PATRIC users to the release of the new Bacterial and Viral Bioinformatics Resource Center (BV-BRC). BV-BRC combines the data, tools, and technologies from the bacterial BRC (<a href="https://legacy.patricbrc.org" class="navigationLinkOut">Legacy PATRIC</a>) and the viral BRCs (<a href="https://www.fludb.org/brc/home.spg?decorator=influenza" class="navigationLinkOut">IRD</a> and <a href="https://www.viprbrc.org/brc/home.spg?decorator=vipr" class="navigationLinkOut">ViPR</a>) and will be replacing them entirely in the near future. You can learn more about the transition <a href="https://www.bv-brc.org/docs/news/2022/20220816-bv-brc-patric-redirect.html" class="navigationLinkOut">here</a>.
            </p>
            <!-- <p>
                Dear <a href="https://legacy.fludb.org" class="navigationLinkOut" style="font-weight: bold;">IRD</a> and <a href="https://legacy.viprbrc.org" class="navigationLinkOut" style="font-weight: bold;">ViPR</a> users, welcome to <a href="https://www.bv-brc.org/docs/overview.html" class="navigationLinkOut" style="font-weight: bold;">BV-BRC</a>. The migration of the data, tools, and services from the legacy IRD and ViPR applications to BV-BRC is now <strong>complete</strong>. All web traffic from the <strong>IRD</strong> and <strong>ViPR</strong> resources is also being forwarded to the BV-BRC home page. Please refer to this <a href="https://www.bv-brc.org/docs/quick_start/index.html" class="navigationLinkOut" style="font-weight: bold;">Quick Start Guide</a> to learn how to start using <strong>BV-BRC</strong>.
                <br>
                <br>
                If you have questions or need assistance, please contact us at <a href="mailto:help@bv-brc.org" style="font-weight: bold;">help@bv-brc.org</a>.
            </p>
        </div>
    </div> -->
    <div id="bv-brc-home-container">
        <div class="grid-container">
            <div class="bv-brc-info">
                <h1>BACTERIAL AND VIRAL BIOINFORMATICS RESOURCE CENTER</h1>
                <p>
                    Welcome to the Bacterial and Viral Bioinformatics Resource Center (BV-BRC), an information system designed to support research on bacterial and viral infectious diseases.
                    The BV-BRC combines the data and tools from the Legacy BRC resources: PATRIC, the bacterial BRC, and IRD and ViPR, the viral BRCs.
                    If you are transitioning from PATRIC or IRD/ViPR, please refer to the
                    <a href="https://www.bv-brc.org/docs/quick_start/index.html" class="navigationLinkOut" style="font-weight: bold;">Quick Start Guide</a>
                    to learn how to get started with BV-BRC. Please <a href="mailto:help@bv-brc.org" style="font-weight: bold;">contact us</a>
                    if you have any questions or issues.
                </p>
                <div class="search" style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>SEARCH</h3>
                    <div class="global-search" style="flex-grow: 5;">
                        <div style="padding: 6px 0px 2px 2px; flex-grow: 1">
                            <input style="width:100%;font-size:1em;" class="showOnLoad dijitHidden" data-dojo-type="p3/widget/GlobalSearch" />
                        </div>
                    </div>
                </div>
                <div class="browse" style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>BROWSE</h3>
                    <a href="/view/Bacteria/2" class="btn btn-blue" style="width: 125px;">BACTERIA</a>
                    <a href="/view/Taxonomy/2157" class="btn btn-blue" style="width: 125px;">ARCHAEA</a>
                    <a href="/view/Virus/10239" class="btn btn-blue" style="width: 125px;">VIRUSES</a>
                    <a href="/view/Host/?eq(taxon_lineage_ids,2759)#view_tab=genomes" class="btn btn-blue" style="width: 150px;">EUKARYOTIC HOSTS</a>

                </div>
            </div>

            <div class="bv-brc-mid"><!-- style="grid-row: 3/6"-->
                <div class="bv-brc-mid-content">
                    <h2>ANALYZE DATA IN BV-BRC</h2>
                    <p style="padding-bottom: 20px;">Upload and analyze your data in the private workspace. <span class="HideWithAuth"><a href="/register" style="font-weight: bold;">Register</a> or <a href="/login" style="font-weight: bold;">Login</a> to get started.</p></span>

                    <div class="bv-brc-mid-content-links">
                        <div class="mid-links">
                            <h3>SEARCH</h3>
                            <a href="/searches/TaxaSearch" class="navigationLink">Taxa</a>
                            <a href="/searches/GenomeSearch" class="navigationLink">Genomes</a>
                            <a href="/searches/ProteinSearch" class="navigationLink">Proteins</a>
                            <a href="/searches/SpecialtyGeneSearch" class="navigationLink">Specialty Genes</a>
                            <a href="/searches" style="text-decoration: underline;">All Searches...</a>
                        </div>
                        <div class="mid-links">
                            <h3>ANALYZE</h3>
                            <a href="/app/Assembly2" class="navigationLink">Assembly</a>
                            <a href="/app/Annotation" class="navigationLink">Annotation</a>
                            <a href="/app/Homology" class="navigationLink">BLAST</a>
                            <a href="/app/MSA" class="navigationLink">MSA</a>
                            <a href="/tools" style="text-decoration: underline;">All Tools &amp; Services...</a>
                        </div>
                        <div class="mid-links">
                            <h3>MANAGE DATA</h3>
                            <a href="https://bv-brc.org/docs/quick_references/workspaces/workspace.html" class="navigationLinkOut">Access Private Workspace</a>
                            <a href="https://bv-brc.org/docs/quick_references/workspaces/groups.html" class="navigationLinkOut">Save Search Results</a>
                            <a href="https://bv-brc.org/docs/quick_references/workspaces/data_upload.html" class="navigationLinkOut">Upload Data</a>
                            <a href="https://bv-brc.org/docs/quick_references/workspaces/jobs.html" class="navigationLinkOut">Access Analysis Jobs</a>
                            <a href="https://bv-brc.org/docs/quick_references/workspaces/workspace.html#creating-and-sharing-workspaces" class="navigationLinkOut">Share and Publish</a>
                        </div>
                        <div class="mid-links">
                            <h3>BATCH ACCESS</h3>
                            <a href="https://bv-brc.org/docs/cli_tutorial/index.html" class="navigationLinkOut">Command-Line Interface</a>
                            <a href="https://bv-brc.org/api/doc/" class="navigationLinkOut">Data API</a>
                            <a href="https://bv-brc.org/docs/quick_references/ftp.html" class="navigationLinkOut">FTP</a>
                        </div>
                    </div>
                </div>
                <div class="mid-content-bottom">
                    <div class="mid-content-buttons">
                        <a href="https://bv-brc.org/docs/quick_start/index.html" class="btn btn-blue navigationLinkOut" style="width: 125px">QUICK START</a>
                        <a href="https://bv-brc.org/docs/quick_references/index.html" class="btn btn-blue navigationLinkOut" style="width: 150px;">REFERENCE GUIDES</a>
                        <a href="https://bv-brc.org/docs/tutorial/index.html" class="btn btn-blue navigationLinkOut" style="width: 125px;">TUTORIALS</a>
                    </div>
                </div>
            </div>

            <div class="bv-brc-bottom-left" style="max-height: 250px;">
                <div class="bottom-left-content">
                    <h2>Information for PATRIC Users</h2>
                    <img src="/patric/images/bv-brc/patric-logo.png" alt="PATRIC Logo">
                    <p>
                        The new BV-BRC system is built on the PATRIC system. Viral data and analysis tools and services from IRD/ViPR have now been integrated into the resource.
                    </p>
                    <br>
                    <div class="bottom-left-content-links">
                        <a href="https://www.bv-brc.org/docs/quick_start/data_functionality_overview.html" class="navigationLinkOut">BV-BRC Data and Functionality Overview</a>
                    </div>
                </div>
            </div>

            <div class="bv-brc-bottom-right" style="max-height: 250px;">
                <div class="bottom-right-content">
                    <h2>Information for IRD/ViPR Users</h2>
                    <img class="ird-vipr-logo" src="/patric/images/bv-brc/ird-vipr-logo.png" alt="IRD and ViPR Logo">
                    <p>
                        The new BV-BRC system is built on the PATRIC Bacterial BRC system and incorporates data and tools from IRD and ViPR. The following materials are designed to aid IRD and ViPR users in using BV-BRC.
                    </p>
                    <br>
                    <div class="bottom-right-content-links">
                        <a href="https://www.bv-brc.org/docs/quick_start/ird-vipr_bv-brc_mapping.html" class="navigationLinkOut">IRD/ViPR to BV-BRC Mapping </a>
                        <!-- <a href="https://www.bv-brc.org/docs/quick_start/common_tasks.html" class="navigationLinkOut">Common Tasks in BV-BRC</a> -->
                    </div>
                </div>
            </div>

            <div class="outbreaks bv-brc-mid-content-links">
                <h2>OUTBREAKS</h2>
                <div class="mid-links">
                    <a href="/outbreaks/Mpox/#view_tab=overview" style="line-height: 1.1em"><b>Mpox 2024</b></a>
                    <a href="/outbreaks/H5N1/#view_tab=overview" style="line-height: 1.1em"><b>Influenza H5N1 2024</b></a>
                    <a href="/outbreaks/SARSCoV2/#view_tab=overview" style="line-height: 1.1em"><b>SARS-CoV-2</b></a>
                </div>
            </div>

            <div class="announcements">
                <h2>NEWS &amp; ANNOUNCEMENTS</h2>
                <ul class="slides" id="announcements-slides"></ul>
                <div class="dot-navigation" id="announcements-dot-navigation" style="margin-top: 285px;"></div>
            </div>

            <div class="linkedin-feed" id="linkedin-feed">
                <h2 style="margin-bottom: 0;">COMMUNITY NEWS</h2>
                <ul class="slides" id="linkedin-slides" style="height: 84%;"></ul>
                <div class="dot-navigation" id="linkedin-dot-navigation" style="margin-top: 15px;"></div>
            </div>
        </div>
    </div>
</div>

<%- include('bv-brc-footer') %>

<style>
    body.patric {
        min-width: 830px;
    }
    #p3header-search {
        display: none;
    }
</style>
