<div id="patric-homepage">

    <div id="patric-homepage-container">
        <div class="grid-container">
            <div class="bv-brc-info">
                <h2>BACTERIAL AND VIRAL BIOINFORMATICS RESOURCE CENTER</h2>
            </div>

            <div class="announcements">
                <h2>NEWS AND ANNOUNCEMENTS</h2>
                <!-- <ul id="slides"></ul>
                <div id="dot-navigation"></div> -->
            </div>

            <div class="patric-info">
                <h2>PATRIC</h2>
            </div>

            <div class="ird-vipr-info">
                <h2>IRD AND ViPR</h2>
            </div>

            <div class="twitter-feed">
                <h2>TWITTER</h2>
                <!-- <a class="twitter-timeline" data-lang="en" data-height="385" data-dnt="true" data-theme="light" href="https://twitter.com/PATRICBRC?ref_src=twsrc%5Etfw">Tweets by PATRICBRC</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
            </div>

            <div class="tutorials-help">
                <h2>TUTORIALS AND HELP</h2>
            </div>
        </div>
    </div>
</div>

<footer id="bv-brc-footer">

</footer>

<!-- Hide Global Search in p3header when on new homepage -->
<style>
    body.patric {
        min-width: 830px;
    }

    #p3header-search {
        display: none;
    }
</style>