<div id="patric-homepage">
    <div id="patric-homepage-container">
        <div class="grid-container">
            <div class="browse-search">
                <h2>BACTERIAL BIOINFORMATICS RESOURCE CENTER</h2>
                <p>
                    PATRIC is an information system designed to support the biomedical research community’s work on bacterial infectious diseases.
                </p>
                <div class="browse">
                    <h3>BROWSE</h3>
                    <a href="./view/Taxonomy/2" class="btn btn-green">BACTERIA</a>
                    <a href="./view/Taxonomy/2157" class="btn btn-green">ARCHAEA</a>
                    <a href="./view/Host/?eq(taxon_lineage_ids,2759)#view_tab=genomes" class="btn btn-green">EUKARYOTIC HOSTS</a>
                </div>
                <div class="search">
                    <h3>SEARCH</h3>
                    <div class="global-search">
                        <div style="padding: 6px 0px 2px 2px; flex-grow: 1">
                            <input style="width:100%;font-size:1em;" class="showOnLoad dijitHidden" data-dojo-type="p3/widget/GlobalSearch" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="analyze-data">
                <h2>ANALYZE DATA IN PATRIC</h2>
                <p>
                    At PATRIC, you can upload your private data in a workspace, analyze it using high-throughput services, and compare it with
                    other public databases using visual analytics tools. Please
                    <a class="registrationLink">Register</a> or
                    <a class="loginLink">Login</a> to get started.
                </p>
                <div class="analyze-data-links">
                    <div class="upload-links">
                        <h3>UPLOAD</h3>
                        <ul>
                            <li>
                                <a href="http://docs.patricbrc.org/tutorial/sharing_data_in_the_workplace/sharing_data_in_the_workplace.html">Upload Data</a>
                            </li>
                            <li>
                                <a href="http://docs.patricbrc.org/tutorial/sharing_data_in_the_workplace/sharing_data_in_the_workplace.html">Manage Workspace</a>
                            </li>
                            <li>
                                <a href="http://docs.patricbrc.org/tutorial/sharing_data_in_the_workplace/sharing_data_in_the_workplace.html">Share or Publish</a>
                            </li>
                        </ul>
                    </div>

                    <div class="analyze-links">
                        <h3>ANALYZE</h3>
                        <ul>
                            <li>
                                <a href="./app/Assembly">Genome Assembly</a>
                            </li>
                            <li>
                                <a href="./app/Annotation">Genome Annotation</a>
                            </li>
                            <li>
                                <a href="./app/Rnaseq">RNA-Seq Analysis</a>
                            </li>
                            <li>
                                <a href="./app/MetagenomeBinning">Metagenome Binning</a>
                            </li>
                            <li>
                                <a href=" http://docs.patricbrc.org/user_guides/services_tab.html">see more...</a>
                            </li>
                        </ul>
                    </div>

                    <div class="compare-links">
                        <h3>COMPARE</h3>
                        <ul>
                            <li>
                                <a href="./app/BLAST">BLAST</a>
                            </li>
                            <li>
                                <a href="./app/ProteinFamily">Protein Families</a>
                            </li>
                            <li>
                                <a href="./app/SeqComparison">Proteome Comparison</a>
                            </li>
                            <li>
                                <a href="./app/ComparativePathway">Metabolic Pathways</a>
                            </li>
                            <li>
                                <a href=" http://docs.patricbrc.org/user_guides/services_tab.html">see more...</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="analyze-data-buttons">
                    <a href="https://docs.patricbrc.org/tutorial/" class="btn btn-blue">TUTORIALS</a>
                    <a href="https://docs.patricbrc.org/user_guides/index.html" class="btn btn-blue">USER GUIDES</a>
                    <a href="https://docs.patricbrc.org/webinar/" class="btn btn-blue">WEBINARS</a>
                    <a href="https://docs.patricbrc.org/cli_tutorial/" class="btn btn-blue">COMMAND LINE INTERFACE</a>
                </div>
            </div>

            <div class="omics-data">
                <h2>OMICS DATA</h2>
                <p>PATRIC provides data and analysis tools for multiple omics data types</p>
                <div class="omics-links">
                    <ul>
                        <li>
                            <a href="./view/DataType/AntibioticResistance">Antibiotic Resistance</a>
                        </li>
                        <li>
                            <a href="./view/DataType/Genomes">Genomes</a>
                        </li>
                        <li>
                            <a href="./view/DataType/GenomicFeatures">Genomic Features</a>
                        </li>
                        <li>
                            <a href="./view/DataType/Pathways">Pathways</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="./view/DataType/ProteinFamilies">Protein Families</a>
                        </li>
                        <li>
                            <a href="./view/DataType/SpecialtyGenes">Specialty Genes</a>
                        </li>
                        <li>
                            <a href="./view/DataType/Transcriptomics">Transcriptomes</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="my-data">
                <h2>MY DATA</h2>
                <div class="ShowWithAuth">
                    <div class="sub-block">
                        <div><a class="navigationLink" id="YourWorkspaceLink2">My Workspaces</a></div>
                        <div><a class="navigationLink" href="/workspace/public">Public Workspaces</a></div>
                    </div>
                    <div class="sub-block">
                        <div><a class="navigationLink" id="MyDataGenomeGroup">00 Genome Groups</a></div>
                        <div><a class="navigationLink" id="MyDataFeatureGroup">00 Feature Groups</a></div>
                        <div><a class="navigationLink" id="MyDataExperimentGroup">00 Experiment Groups</a></div>
                        <br>
                        <div><a class="navigationLink" href="/job/" id="MyDataJobs">00 Completed Jobs</a></div>
                        <div><a class="navigationLink" href="/view/GenomeList/?eq(public,false)" id="MyDataGenomes">00 Private Genomes</a></div>
                    </div>
                </div>
                <div class="HideWithAuth showOnLoad">
                    <p>Upload your own data and analyze it privately and securely using PATRIC analysys tools</p>
                    <hr>
                    <div class="home-login-button">
                        <div class="LoginButton loginLink" data-dojo-type="dijit/form/Button">LOGIN</div>
                    </div>
                </div>
            </div>

            <div class="announcements">
                <h2>ANNOUNCEMENTS</h2>
                <ul id="slides"></ul>
                <div id="dot-navigation"></div>
            </div>

            <div class="twitter-feed">
                <a class="twitter-timeline" data-lang="en" data-height="385" data-dnt="true" data-theme="light" href="https://twitter.com/PATRICBRC?ref_src=twsrc%5Etfw">Tweets by PATRICBRC</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>

<footer class="ondark linkstyle-highlight-c smallest main-footer sans-alternate footer">
    <div class="layer">
        <div class="container">
            <div class="column" style="border: 0px;">
                <div class="wrapper">
                    <h3 class="close2x">PATRIC</h3>
                    <p class="close">University of Chicago</p>
                    <p class="close">5801 South Ellis Avenue</p>
                    <p>Chicago, IL 60637-5418</p>
                </div>
            </div>
            <div class="column">
                <div class="wrapper">
                    <h3 class="close2x">How to Cite PATRIC</h3>
                    <p class="far">If you use PATRIC web resources to assist in research publications or proposals please cite as:
                    </p>
                    <a href="/webpage/website/cite_patric.html">How to cite PATRIC</a>
                </div>
            </div>
            <div class="column">
                <div class="wrapper">
                    <h3 class="close2x">Funding Statement</h3>
                    <p>This project has been funded in whole or in part with Federal funds from the National Institute of Allergy
                        and Infectious Diseases, National Institutes of Health, Department of Health and Human Services,
                        under Contract No. HHSN272201400027C, awarded to RL Stevens</p>
                </div>
            </div>
            <div class="column">
                <div class="wrapper no-underline-links">
                    <h3 class="close2x">Follow Us</h3>
                    <ul class="left no-decoration">
                        <li>
                            <a href="//twitter.com/PATRICBRC">Twitter</a>
                        </li>
                        <li>
                            <a href="//www.facebook.com/pages/Pathosystems-Resource-Integration-Center-PATRIC/117100971687823">Facebook</a>
                        </li>
                    </ul>
                    <ul class="left no-decoration">
                        <li>
                            <a href="//docs.patricbrc.org/news.rss">RSS</a>
                        </li>
                        <li>
                            <a href="//www.youtube.com/user/PATRICBRC">YouTube</a>
                        </li>
                        <li>
                            <a href="//www.addthis.com/bookmark.php?v=250&amp;username=xa-4c40660c515875dc">Share This</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Hide Global Search in p3header when on new homepage -->
<style>
    body.patric {
        min-width: 830px;
    }

    #p3header-search {
        display: none;
    }
</style>