    <div class="home">
        <h1>Old Header Cleared!</h1>
    </div>


    <footer class="ondark linkstyle-highlight-c smallest main-footer sans-alternate">
        <div class="layer">
            <div class="container">
                <div class="column" style="border: 0px;">
                    <div class="wrapper">
                        <h3 class="close2x">PATRIC</h3>
                        <p class="close">University of Chicago</p>
                        <p class="close">5801 South Ellis Avenue</p>
                        <p>Chicago, IL 60637-5418</p>
                    </div>
                </div>
                <div class="column">
                    <div class="wrapper">
                        <h3 class="close2x">How to Cite PATRIC</h3>
                        <p class="far">If you use PATRIC web resources to assist in research publications or proposals please cite as:
                        </p>
                        <a href="/webpage/website/cite_patric.html">How to cite PATRIC</a>
                    </div>
                </div>
                <div class="column">
                    <div class="wrapper">
                        <h3 class="close2x">Funding Statement</h3>
                        <p>This project has been funded in whole or in part with Federal funds from the National Institute of
                            Allergy and Infectious Diseases, National Institutes of Health, Department of Health and Human
                            Services, under Contract No. HHSN272201400027C, awarded to RL Stevens</p>
                    </div>
                </div>
                <div class="column">
                    <div class="wrapper no-underline-links">
                        <h3 class="close2x">Follow Us</h3>
                        <ul class="left no-decoration">
                            <li>
                                <a href="//twitter.com/PATRICBRC">Twitter</a>
                            </li>
                            <li>
                                <a href="//www.facebook.com/pages/Pathosystems-Resource-Integration-Center-PATRIC/117100971687823">Facebook</a>
                            </li>
                        </ul>
                        <ul class="left no-decoration">
                            <li>
                                <a href="//docs.patricbrc.org/news.rss">RSS</a>
                            </li>
                            <li>
                                <a href="//www.youtube.com/user/PATRICBRC">YouTube</a>
                            </li>
                            <li>
                                <a href="//www.addthis.com/bookmark.php?v=250&amp;username=xa-4c40660c515875dc">Share This</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    </div>