<div id="bv-brc-home">
    <div id="bv-brc-home-container">
        <div class="grid-container">
            <div class="bv-brc-info">
                <h1>BACTERIAL AND VIRAL BIOINFORMATICS RESOURCE CENTER</h1>
                <p>The Bacterial and Viral Bioinformatics Resource Center (BV-BRC) is an information system designed to support research on bacterial and viral infectious diseases via integration of vital pathogen information with rich data and analysis tools. BV-BRC combines two long-running centers: PATRIC, the bacterial system, and IRD/ViPR, the viral systems.</p>
            </div>

            <div class="announcements">
                <h2>NEWS &amp; ANNOUNCEMENTS</h2>
                <ul id="slides"></ul>
                <div id="dot-navigation"></div>
            </div>

            <div class="patric-info">
                <div class="patric-info-content">
                    <h2>PATRIC</h2>
                    <img src="/patric/images/bv-brc/patric-logo.png" alt="PATRIC Logo">
                    <p>The Pathosystems Resource Integration Center (PATRIC) provides an extensive collection of integrated bacterial data, tools, and visualizations for genomic analysis to aid researchers in discovery and characterization of mechanisms of pathogenicity, supporting development of diagnostics, therapeutics, and vaccines.</p>
                    <div class="patric-info-links">
                        <ul>
                            <li><a class="navigationLinkOut" href="https://www.youtube.com/watch?v=K3eL4i9vQBo&feature=emb_title">Quickstart Video</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/user_guides/">User Guides</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/tutorial/">Tutorials</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/common_tasks/">Common Tasks</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/cli_tutorial/">CLI Tutorial</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/videos/">Instructional Videos</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/contact.html">Contact Us / Provide Feedback</a></li>
                        </ul>
                    </div>
                    <a href="https://patricbrc.org" target="_blank" class="hp-link"><img class="hp-img" src="/patric/images/bv-brc/patric-homepage.png" alt="PATRIC Homepage"></a>
                </div>
                <div class="patric-info-btn-links">
                    <a class="navigationLinkOut btn btn-blue" href="https://patricbrc.org/">PATRIC</a>
                </div>
            </div>

            <div class="ird-vipr-info">
                <div class="ird-vipr-info-content">
                    <h2>IRD AND ViPR</h2>
                    <img class="ird-vipr-logo" src="/patric/images/bv-brc/ird-vipr-logo.png" alt="IRD and ViPR Logo">
                    <p>The Influenza Research Database (IRD) and Virus Pathogen Resource (ViPR) provide a wide range of data, analysis and visualization tools, and personal workbenches for the virus research communities that facilitate understanding of viral pathogens and how they interact with their host, leading to new diagnostics, treatments and preventions. </p>
                    <div class="ird-vipr-info-links">
                        <ul>
                            <li><a class="navigationLinkOut" href="https://www.fludb.org/brcDocs/IRDHelp/IRDhelpfile.htm">IRD Help Manual</a></li>
                            <li><a class="navigationLinkOut" href="https://www.fludb.org/brc/influenzaTutorials.spg?decorator=influenza">IRD Tutorials &amp; Training Methods</a></li>
                            <li><a class="navigationLinkOut" href="https://www.fludb.org/brc/problemReport.spg?decorator=influenza&category=science">Contact IRD</a></li>
                        </ul>
                        <ul>
                            <li><a class="navigationLinkOut" href="https://www.viprbrc.org/brcDocs/ViPRHelp/ViPRhelpfile.htm">ViPR Help Manual</a></li>
                            <li><a class="navigationLinkOut" href="https://www.viprbrc.org/brc/viprTutorials.spg?decorator=vipr">ViPR Tutorials &amp; Training Materials</a></li>
                            <li><a class="navigationLinkOut" href="https://www.viprbrc.org/brc/problemReport.spg?decorator=vipr&category=science">Contact ViPR</a></li>
                        </ul>
                    </div>
                    <a href="https://www.fludb.org/brc/home.spg?decorator=influenza" target="_blank" class="hp-link"><img class="hp-img hp-img1" src="/patric/images/bv-brc/ird-homepage.png" alt="IRD Homepage"></a>
                    <a href="https://www.viprbrc.org/brc/home.spg?decorator=vipr" target="_blank" class="hp-link"><img class="hp-img hp-img2" src="/patric/images/bv-brc/vipr-homepage.png" alt="ViPR Homepage"></a>
                </div>
                <div class="ird-vipr-info-btn-links">
                    <a class="navigationLinkOut btn btn-blue btn1" href="https://www.fludb.org/brc/home.spg?decorator=influenza">IRD</a>
                    <a class="navigationLinkOut btn btn-blue btn2" href="https://www.viprbrc.org/brc/home.spg?decorator=vipr">ViPR</a>
                </div>
            </div>

            <div class="twitter-feed">
                <a class="twitter-timeline" data-lang="en" data-height="310" data-dnt="true" data-theme="light" href="https://twitter.com/BVBRC_DB?ref_src=twsrc%5Etfw">Tweets by PATRICBRC</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>

<footer class="ondark linkstyle-highlight-c smallest main-footer sans-alternate footer">
    <div class="layer">
        <div class="container">
            <div class="column" style="border: 0px;">
                <div class="wrapper">
                    <h3 class="close2x">BRC Program</h3>
                    <ul>
                        <li><a class="navigationLinkOut" href="https://www.niaid.nih.gov/research/bioinformatics-resource-centers">NIAID</a></li>
                        <li><a href="https://www.patricbrc.org">PATRIC</a></li>
                        <li><a class="navigationLinkOut" href="https://www.viprbrc.org/brc/home.spg?decorator=vipr">ViPR</a></li>
                        <li><a class="navigationLinkOut" href="https://www.fludb.org/brc/home.spg?decorator=influenza">IRD</a></li>
                        <li><a class="navigationLinkOut" href="https://eupathdb.org/eupathdb/">EuPathDB</a></li>
                        <li><a class="navigationLinkOut" href="https://www.vectorbase.org/">VectorBase</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="wrapper">
                    <h3 class="close2x">How to Cite PATRIC</h3>
                    <a class="navigationLinkOut" href="<%=request.applicationOptions.docsServiceURL %>cite_patric.html" style="text-decoration: underline;">Click Here</a> to learn how to cite PATRIC if you use our web resources to assist in research publications or proposals.
                    <br>
                    <br>
                    <h3 class="close2x">Privacy Policy</h3>
                    <a class="navigationLinkOut" href="<%=request.applicationOptions.docsServiceURL %>privacy_policy.html" style="text-decoration: underline;">Click Here</a> to read our privacy policy and what it means for you as a user.
                </div>
            </div>
            <div class="column">
                <div class="wrapper">
                    <h3 class="close2x">Funding Statement</h3>
                    <p>This project has been funded in whole or in part with Federal funds from the National Institute of Allergy
                        and Infectious Diseases, National Institutes of Health, Department of Health and Human Services,
                        under Contract No. 75N93019C00076, awarded to the University of Chicago</p>
                </div>
            </div>
            <div class="column">
                <div class="wrapper no-underline-links">
                    <h3 class="close2x">Follow Us</h3>
                    <ul class="left no-decoration">
                        <li>
                            <a class="navigationLinkOut" href="//twitter.com/PATRICBRC">Twitter</a>
                        </li>
                        <li>
                            <a class="navigationLinkOut" href="//www.facebook.com/pages/Pathosystems-Resource-Integration-Center-PATRIC/117100971687823">Facebook</a>
                        </li>
                        <li>
                            <a class="navigationLinkOut" href="//www.youtube.com/user/PATRICBRC">YouTube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    body.patric {
        min-width: 830px;
    }
</style>