<div id="bv-brc-home">
    <div id="bv-brc-home-container">
        <div class="grid-container">

            <div class="home-banner">
                <p>
                    <strong>NEW: </strong>Check out our <a href="/sars-cov-2" style="font-weight: bold;">SARS-CoV-2 Page</a> and its <a class="navigationLink" href="app/ComprehensiveSARS2Analysis" style="font-weight: bold;">Genome Assembly and Annotation Service</a>.
                </p>
            </div>

            <div class="bv-brc-info">
                <h1>BACTERIAL AND VIRAL BIOINFORMATICS RESOURCE CENTER</h1>
                <p>The Bacterial and Viral Bioinformatics Resource Center (BV-BRC) is an information system designed to support research on bacterial and viral infectious diseases via integration of vital pathogen information with rich data and analysis tools. BV-BRC combines two long-running centers: PATRIC, the bacterial system, and IRD/ViPR, the viral systems.</p>
            </div>

            <div class="announcements">
                <h2>NEWS &amp; ANNOUNCEMENTS</h2>
                <ul id="slides"></ul>
                <div id="dot-navigation"></div>
            </div>

            <div class="patric-info">
                <div class="patric-info-content">
                    <h2>PATRIC</h2>
                    <img src="/patric/images/bv-brc/patric-logo.png" alt="PATRIC Logo">
                    <p>The Pathosystems Resource Integration Center (PATRIC) provides an extensive collection of integrated bacterial data, tools, and visualizations for genomic analysis to aid researchers in discovery and characterization of mechanisms of pathogenicity, supporting development of diagnostics, therapeutics, and vaccines.</p>
                    <div class="patric-info-links">
                        <ul>
                            <li><a class="navigationLinkOut" href="https://www.youtube.com/watch?v=K3eL4i9vQBo&feature=emb_title">Quickstart Video</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/user_guides/">User Guides</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/tutorial/">Tutorials</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/common_tasks/">Common Tasks</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/cli_tutorial/">CLI Tutorial</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/videos/">Instructional Videos</a></li>
                            <li><a class="navigationLinkOut" href="https://docs.patricbrc.org/contact.html">Contact Us / Provide Feedback</a></li>
                        </ul>
                    </div>
                    <a href="https://patricbrc.org" target="_blank" class="hp-link"><img class="hp-img" src="/patric/images/bv-brc/patric-homepage.jpg" alt="PATRIC Homepage"></a>
                </div>
                <div class="patric-info-btn-links">
                    <a class="navigationLinkOut btn btn-blue" href="https://patricbrc.org/">PATRIC</a>
                </div>
            </div>

            <div class="ird-vipr-info">
                <div class="ird-vipr-info-content">
                    <h2>IRD AND ViPR</h2>
                    <img class="ird-vipr-logo" src="/patric/images/bv-brc/ird-vipr-logo.png" alt="IRD and ViPR Logo">
                    <p>The Influenza Research Database (IRD) and Virus Pathogen Resource (ViPR) provide a wide range of data, analysis and visualization tools, and personal workbenches for the virus research communities that facilitate understanding of viral pathogens and how they interact with their host, leading to new diagnostics, treatments and preventions. </p>
                    <div class="ird-vipr-info-links">
                        <ul>
                            <li><a class="navigationLinkOut" href="https://www.fludb.org/brcDocs/IRDHelp/IRDhelpfile.htm">IRD Help Manual</a></li>
                            <li><a class="navigationLinkOut" href="https://www.fludb.org/brc/influenzaTutorials.spg?decorator=influenza">IRD Tutorials &amp; Training Methods</a></li>
                            <li><a class="navigationLinkOut" href="https://www.fludb.org/brc/problemReport.spg?decorator=influenza&category=science">Contact IRD</a></li>
                        </ul>
                        <ul>
                            <li><a class="navigationLinkOut" href="https://www.viprbrc.org/brcDocs/ViPRHelp/ViPRhelpfile.htm">ViPR Help Manual</a></li>
                            <li><a class="navigationLinkOut" href="https://www.viprbrc.org/brc/viprTutorials.spg?decorator=vipr">ViPR Tutorials &amp; Training Materials</a></li>
                            <li><a class="navigationLinkOut" href="https://www.viprbrc.org/brc/problemReport.spg?decorator=vipr&category=science">Contact ViPR</a></li>
                        </ul>
                    </div>
                    <a href="https://www.fludb.org/brc/home.spg?decorator=influenza" target="_blank" class="hp-link"><img class="hp-img hp-img1" src="/patric/images/bv-brc/ird-homepage.jpg" alt="IRD Homepage"></a>
                    <a href="https://www.viprbrc.org/brc/home.spg?decorator=vipr" target="_blank" class="hp-link"><img class="hp-img hp-img2" src="/patric/images/bv-brc/vipr-homepage.jpg" alt="ViPR Homepage"></a>
                </div>
                <div class="ird-vipr-info-btn-links">
                    <a class="navigationLinkOut btn btn-blue btn1" href="https://www.fludb.org/brc/home.spg?decorator=influenza">IRD</a>
                    <a class="navigationLinkOut btn btn-blue btn2" href="https://www.viprbrc.org/brc/home.spg?decorator=vipr">ViPR</a>
                </div>
            </div>

            <div class="twitter-feed">
                <a class="twitter-timeline" data-lang="en" data-height="310" data-dnt="true" data-theme="light" href="https://twitter.com/BVBRC_DB?ref_src=twsrc%5Etfw">Tweets by BVBRC_DB</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>

<% include bv-brc-footer %>

<style>
    body.patric {
        min-width: 830px;
    }
</style>