<!DOCTYPE html>
<html lang="en">
	<head>
		<% include header %>
		<script>
			/*
				request.user: <%= request.user?JSON.stringify(request.user):"NONE" %>

				request.isAuthenticated: <%= request.isAuthenticated && request.isAuthenticated() %>
			*/
		</script>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<% include p3header %>

			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
				<% include home-new%>
			</div>

			<% if (request.isAuthenticated && request.isAuthenticated()) { %>
				<div data-dojo-type="p3/widget/WorkspaceController" data-dojo-props="region:'bottom'"></div>
			<% } %>
		</div>
    <% include javascript %>
    <!-- P3 Home Announcements Feed -->
    <script>
      $.getJSON("https://docs.patricbrc.org/_static/carousel.json", function (feed) {
          for (var i = 0; i < feed.length; i++) {

              var link = feed[i].link;
              var title = feed[i].title;
              var desc = feed[i].desc;
              var word_limit = (feed[i].img == "") ? 60 : 20
              var descSnippit = desc.split(" ", word_limit).join(" ");
              var img = feed[i].img;

              $("#slides").append(
                  `<li class="slide">
                      <a href="${link}" class="feed-link">
                          <h4 class="feed-title">${title}</h4>
                      </a>
                      <p class="feed-description">${descSnippit} ... <a href="${link}">read more</a></p>
                      <img src="${img}" class="feed-img">
                  </li>`
              );
              $("#slides .slide").first().addClass("showing");
              $("#dot-navigation .dot").first().addClass("selected");

              $("#dot-navigation").append(
                  `<div class="dot"></div>`
              );

          }

          var slides = $('#slides .slide');
          var dots = $("#dot-navigation .dot");
          var currentSlide = 0;
          var currentDot = 0;

          function nextSlide() {
              slides[currentSlide].className = "slide";
              currentSlide = (currentSlide + 1) % slides.length;
              slides[currentSlide].className = "slide showing";

              dots[currentDot].className = "dot";
              currentDot = (currentDot + 1) % dots.length;
              dots[currentDot].className = "dot selected";
          }

          function previousSlide() {

          }

          function dotClick() {
              for (var i = 0; i < feed.length; i++) {
                  dots[i].click(function(){

                  });
              }
          }

          $('#dot-navigation .dot').click(function () {
              nextSlide();
          });
      });
    </script>
	</body>
</html>
