<!DOCTYPE html>
<html>
	<head>
		<% include header %>
		<script>
			/*
				request.user: <%= request.user?JSON.stringify(request.user):"NONE" %>

				request.isAuthenticated: <%= request.isAuthenticated && request.isAuthenticated() %>
			*/
		</script>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<% include p3header %>

			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
				<% include home%>
			</div>

			<% if (request.isAuthenticated && request.isAuthenticated()) { %>
				<div data-dojo-type="p3/widget/WorkspaceController" data-dojo-props="region:'bottom'"></div>
			<% } %>
		</div>
		<% include javascript %>
	</body>
</html>
