<!-- <div style="font-size:1.2em;">
	<p style="font-weight: 600;text-align:center;">Welcome to PATRIC, the all bacteria Bioinformatics Resource Center. PATRIC supports biomedical research on bacterial infectious diseases via integration of pathogen information and powerful data and analysis tools.  For more information about PATRIC, click <a href="/content/about">here</a>.</p>
</div> -->