<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">
	<div class="TopMenuBar">
		<span style="float:left;margin-left:4px;">PATHOSYSTEMS RESOURCE INTEGRATION CENTER</span>
		<a class="TopMenuLink" href="/content/news">NEWS</a>  <a class="TopMenuLink" href="/content/workshops"> WORKSHOPS </a>  <a class="TopMenuLink" href="/content/about"> ABOUT </a>   <a class="ShowWithAuth TopMenuLink" href="/logout">LOGOUT</a> <a class="HideWithAuth loginLink TopMenuLink" href="/login"> LOGIN </a>
	</div>
<!--	<div style="height:30px;background: #fff;color:#aaa;text-align:center;padding:20px;">
		Place Holder for PATRIC Header
	</div> -->
	<div class="P3Header">
		<table style="width:100%;margin:0px;padding:0px;border-collapse:collapse;border-spacing:0px;"><tbody><tr>
			<td style="text-align:left;">
				<a href="/"><span class="logo">PATRIC</span></a>
				<div class="topMenuButton" data-dojo-type="dijit/form/DropDownButton">
					<span>Explore</span>
					<div data-dojo-type="dijit/TooltipDialog">
						<div style="width:350px">
							<table><tbody>
								<tr>
									<td style='vertical-align: top'>
										<div>by Data Type</div>
										<div>
											<a class="navigationLink" href="/view/GenomeList/?keyword(*)">All Genomes</a>
										</div>
										</div>User Content</div>
										<div>
											<a class="navigationLink" href="/workspace/">Workspaces</a>
										</div>
									</td>
									<td></td>
									<td style='vertical-align: top'>
										</div>by Organism</div>
										<table>
											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/1386">Bacillus</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/262">Francisella</a></td>
											</tr>
											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/773">Bartonella</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/209">Helicobacter</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/138">Borrelia</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/1637">Listeria</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/234">Brucella</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/1763">Mycobacterium</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/32008">Burkholderia</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/780">Rickettsia</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/194">Camplyobacter</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/590">Salmonella</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/83553">Chlamydophila</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/620">Shigella</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/1485">Clostridium</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/1279">Staphylococcus</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/776">Coxiella</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/1301">Streptococcus</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/943">Ehrlichia</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/662">Vibrio</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/561">Escherichia</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/629">Yersinia</a></td>
											</tr>

										</table>
									</td>	
								</tr>
							</tbody></table>
						</div>
					</div>
				</div>
				<div class="topMenuButton" data-dojo-type="dijit/form/DropDownButton">
					<span>Tools</span>
	
					<div data-dojo-type="dijit/TooltipDialog">
					<div><a class="navigationLink" href="/app/Assembly">Genome Assembly</a></div>
					<div><a class="navigationLink" href="/app/Annotation">Genome Annotation</a></div>
					<div><a class="navigationLink" href="/app/Expression">Expression Import</a></div>
					<div><a class="navigationLink" href="/app/Rnaseq">RNA-Seq Analysi</a></div>
					<div><a class="navigationLink" href="/app/SeqComparison">Proteome Comparison</a></div>
					<div><a class="navigationLink" href="/app/Reconstruct">Model Reconsturction</a></div>

				</div>
			</div>
			</td>
			<td style="vertical-align:middle;padding:2px;padding-right:10px;margin:0px;">
				<input data-dojo-type="p3/widget/GlobalSearch" style="font-size:1.3em;" />
			</td>
		</tr></tbody></table>
	</div>
</div>
