<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">
	<div class="TopMenuBar">
		<a class="TopMenuLink" href="/content/news">NEWS</a>  <a class="TopMenuLink" href="/content/workshops"> WORKSHOPS </a>  <a class="TopMenuLink" href="/content/about"> ABOUT </a>   <a class="ShowWithAuth TopMenuLink" href="/logout">LOGOUT</a> <a class="HideWithAuth loginLink TopMenuLink" href="/login"> LOGIN </a>
	</div>
	<div class="P3Header">
	
		<table style="width:100%;margin:0px;padding:0px;border-collapse:collapse;border-spacing:0px;"><tbody><tr>
			<td style="width:25%;text-align:center;">
		<a href="/"><span class="logo">PATRIC</span></a>
		<div class="topMenuButton" data-dojo-type="dijit/form/DropDownButton">
			<span>Explore</span>
			<div data-dojo-type="dijit/TooltipDialog">
				<a class="navigationLink" href="/view/GenomeList">Genomes</a>
			</div>
		</div>
		<div class="topMenuButton" data-dojo-type="dijit/form/DropDownButton">
			<span>Tools</span>
	
			<div data-dojo-type="dijit/TooltipDialog">

				<div><a class="navigationLink" href="/app/Date">Date</a></div>
				<div><a class="navigationLink" href="/app/Annotation">Annotation</a></div>

			</div>
		</div>
		<span class="topMenuButton">Help</span>
		</td>
			<td style="vertical-align:middle;padding:2px;padding-right:10px;margin:0px;">
		<input style="padding:0px; margin:0px;width:100%; border:0px; border-radius: 4px;font-size:1.1em;" />
			</td>
		</tr></tbody></table>
	</div>
</div>
