<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">
<div class="main-header no-underline-links">
			<div class="masthead">
				<div class="wrapper">
					<a class="logo" href="/portal/portal/patric/Home">PATRIC Home</a>
					<ul class="main-nav no-decoration">
						<li class="first active">
							<a class="home active" href="/portal/portal/patric/Home">Home</a>

							<div class="submenu">
								<ul>
									<li><a href="/portal/portal/patric/Home">PATRIC Home</a></li>
									<li><a href="/portal/portal/patric/TB">TB @ PATRIC</a></li>
								</ul>
							</div>
						</li>
						<li class="has-sub">
							<a href="#">Organisms</a>
							<div class="submenu two-col">
								<header>
									<p class="bold light">Genera Containing NIAID Category A-C / Emerging / Re-emerging Bacteria Pathogens</p>
								</header>
								<ul class="left first">
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=1386">Bacillus</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=773">Bartonella</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=138">Borrelia</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=234">Brucella</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=32008">Burkholderia</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=194">Campylobacter</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=83553">Chlamydophila</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=1485">Clostridium</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=776">Coxiella</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=943">Ehrlichia</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=561">Escherichia</a></li>
								</ul>
									<ul class="left">
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=262">Francisella</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=209">Helicobacter</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=1637">Listeria</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=1763">Mycobacterium</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=780">Rickettsia</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=590">Salmonella</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=620">Shigella</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=1279">Staphylococcus</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=1301">Streptococcus</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=662">Vibrio</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=629">Yersinia</a></li>
								</ul>
								<header class="clear"><p class="bold light">Complete Lists of Bacteria:</p></header>
								<ul>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=2">All Bacteria</a></li>
									<li><a href="/portal/portal/patric/Taxon?cType=taxon&amp;cId=2157">All Archaea</a></li>
								</ul>
							</div>
						</li>
						<li class="has-sub">
							<a href="#">Data</a>
							<div class="submenu">
								<ul>
									<li><a href="AntibioticResistance">Antibiotic Resistance</a></li>
									<li><a href="Genomes">Genomes</a></li>
									<li><a href="GenomicFeatures">Genomic Features</a></li>
									<li><a href="Pathways">Pathways</a></li>
									<li><a href="ProteinFamilies">Protein Families</a></li>
									<li><a href="SpecialtyGenes">Specialty Genes</a></li>
									<li><a href="Transcriptomics">Transcriptomics</a></li>
								</ul>
								<header><p class="bold light">Special Collections</p></header>
								<ul>
									<li><a href="//enews.patricbrc.org/patric-collaborations/">PATRIC Collaborations</a></li>
									<li><a href="//enews.patricbrc.org/patric-dbps/">PATRIC DBPs</a></li>
									<li><a href="//enews.patricbrc.org/niaid-clinical-proteomics/">NIAID Clinical Proteomics</a></li>
									<li><a href="//enews.patricbrc.org/niaid-genome-sequencing/">NIAID Genome Sequencing</a></li>
									<li><a href="//enews.patricbrc.org/niaid-structural-genomics/">NIAID Structual Genomics</a></li>
									<li><a href="//enews.patricbrc.org/niaid-systems-biology/">NIAID Systems Biology</a></li>
								</ul>
								<header><p class="bold light">Download Data</p></header>
								<ul>
									<li><a href="ftp://ftp.patricbrc.org/patric2" target="_blank">FTP Server</a></li>
									<li><a href="Downloads?cType=taxon&amp;cId=">Download Tool</a></li>
								</ul>
							</div>
						</li>
						<li class="has-sub">
							<a href="#">Services</a>
							<div class="submenu">
								<ul>
									<li><a class="navigationLink" href="/app/Assembly"">Genome Assembly</a></li>
									<li><a class="navigationLink" href="/app/Annotation"">Genome Annotation</a></li>
									<li><a class="navigationLink" disabled="true" href="/app/DifferentialExpression">Differential Expression</a></li>
								</ul>
							</div>
						</li>
	
						<li class="has-sub">
							<a href="#">Tools</a>
							<div class="submenu">
								<ul>
									<li><a href="/portal/portal/patric/Tools">Complete List of All Tools</a></li>
								</ul>
								<header><p class="bold light">Specialized Searches:</p></header>
								<ul>
									<li><a href="/portal/portal/patric/AntibioticResistanceGeneSearch?cType=taxon&amp;cId=131567&amp;dm=">Antibiotic Resistance Search</a></li>
									<li><a href="/portal/portal/patric/Blast?dm=result&amp;pk=">BLAST</a></li>
									
									<li><a href="/portal/portal/patric/GenomicFeature?cType=taxon&amp;cId=131567&amp;dm=" title="Feature Finder allows you to locate specific features(s) based on taxonomy, feature type, keyword, sequence status, and/or annotation type.">Feature Finder</a></li>
									<li><a href="/portal/portal/patric/GenomeFinder?cType=taxon&amp;cId=131567&amp;dm=" title="Genome Finder allows you to locate specific genome(s) based on taxonomy, keyword, replicon size, sequence status, and/or sequence type.">Genome Finder</a></li>
									
									<li><a href="/portal/portal/patric/IDMapping?cType=taxon&amp;cId=131567&amp;dm=" title="">ID Mapping</a></li>
									<li><a href="/portal/portal/patric/SpecialtyGeneSearch?cType=taxon&amp;cId=131567&amp;dm=">Specialty Genes Search</a></li>
								</ul>
								<header><p class="bold light">Comparative Analyses:</p></header>
								<ul>
									<li><a href="/portal/portal/patric/PathwayFinder?cType=taxon&amp;cId=131567&amp;dm=" title="Comparative Pathway Tool allows you to identify a set of pathways based on taxonomy, EC number, pathway name, and/or annotation type.">Comparative Pathway Tool</a></li>
									<li><a href="GenomeList?cType=taxon&amp;cId=131567&amp;dataSource=&amp;displayMode=&amp;pk=" title="">Genome Metadata</a></li>
									<li><a href="/portal/portal/patric/FIGfam?cType=taxon&amp;cId=131567&amp;dm=&amp;bm=tool" title="Protein Family Sorter allows you to identify and filter sets of protein families associated with specified Phylum, Classes, Orders, Families, Genus, Species or Genomes.">Protein Family Sorter</a></li>
									<li><a href="/portal/portal/patric/HPITool?cType=taxon&amp;cId=131567&amp;dm=" title="">Protein Protein Interactions</a></li>
								</ul>
								<header><p class="bold light">Annotation Pipelines:</p></header>
								<ul>
									<li><a href="/portal/portal/patric/MGRAST">MG-RAST</a></li>
									<li><a href="/portal/portal/patric/RAST">RAST</a></li>
								</ul>
								<header><p class="bold light">Visual Browsers:</p></header>
								<ul>
									<li><a href="Phylogeny?cType=taxon&amp;cId=131567">Phylogeny Viewer</a></li>
								</ul>
							</div>
						</li>
						<li class="has-sub">
							<a href="#">about</a>
							<div class="submenu">
								<header><p class="bold light">help</p></header>
								<ul>
									<li><a href="tutorials">videos and workflows</a></li>
									<li><a href="//enews.patricbrc.org/faqs/">faqs</a></li>
									<li><a href="//enews.patricbrc.org/contact-us/">contact us</a></li>
								</ul>
								<header><p class="bold light">enews</p></header>
								<ul>
									<li><a href="//enews.patricbrc.org/patric-publications/">publications</a></li>
									<li><a href="//enews.patricbrc.org/category/patric-in-the-news/">news &amp; events</a></li>
									<li><a href="//enews.patricbrc.org/category/data-release/">data releases &amp; updates</a></li>
									<li><a href="//enews.patricbrc.org/category/webupdate/">website updates</a></li>
									<li><a href="//enews.patricbrc.org/category/presentations/">presentations</a></li>
								</ul>
								<header><p class="bold light">about us</p></header>
								<ul>
									<li><a href="//enews.patricbrc.org/what-is-patric/">what is patric?</a></li>
									<li><a href="//enews.patricbrc.org/citing-patric/">citing patric</a></li>
									<li><a href="//enews.patricbrc.org/scientific-working-group/">scientific working group</a></li>
									<li><a href="//enews.patricbrc.org/personnel/">personnel</a></li>
									<li><a href="//enews.patricbrc.org/collaborators/">collaborators</a></li>
									<li><a href="//enews.patricbrc.org/related-sites/">related sites</a></li>
									<li><a href="https://github.com/cidvbi/patric">system architecture</a></li>
								</ul>
							</div>
						</li>

						<% if (request.applicationOptions && request.applicationOptions.enableDevTools){ %>
	
						<li class="has-sub">
							<a href="#">Dev</a>
							<div class="submenu">
								<header><p class="bold light">apps</p></header>
								<ul>
									<li><a class="navigationLink" href="/app/Assembly"">assembly</a></li>
									<li><a class="navigationLink" href="/app/Annotation"">annotation</a></li>
									<li><a class="navigationLink" href="/app/Sleep">sleep</a></li>
									<li><a class="navigationLink" href="/app/Date">date</a></li>
								</ul>
								<header><p class="bold light">viewers</p></header>
								<ul>
									<li><a class="navigationLink" href="/view/GenomeList"">genome list</a></li>
									<li><a class="navigationLink" href="/view/FeatureList"">feature list</a></li>
								</ul>
							</div>
						</li>
						<% } %>

					</ul>
					<div class="login ShowWithoutAuth">
						<div id='dashboardnav'>
							<span class='logged-in smallest'>
								<a class="button loginLink" href="/login">Login</a> <!-- <a onclick='window.App.loginWindow = window.open("/login", "_blank", "width=640,height=400,toolbar=0,scrollbars=0,status=0,resizable=0,location=0,menuBar=0");'>Login</a> -->
								Not Registered? <a class="arrow-slate-e" href="/portal/portal/patric/MyAccount/PATRICUserPortletWindow?_jsfBridgeViewId=%2Fjsf%2Findex.xhtml&amp;action=1">Sign Up</a>
								<br/><a href="http://enews.patricbrc.org/workspace-faqs/registration-faqs/" target="_blank">Learn About Registering</a>
							</span>
						</div>
					</div>

					<% if (request && request.session && request.session.userProfile && request.session.userProfile.id) { %>
					<div class="login ShowWithAuth">

						<div id="dashboardnav">
							<p class="highlight large close">Welcome <%- (request&&request.session)?(request.session.userProfile.id.split("@")[0]):"" %></p>
							<p class="smallest close2x">Not <%- (request&&request.session)?(request.session.userProfile.id.split("@")[0]):"" %>? <a class="double-arrow-link" href="/logout">Logout</a></p>

							<p class="smallest close2x">
								<!-- <a class="double-arrow-link" href="/portal/portal/patric/MyAccount/PATRICUserPortletWindow?_jsfBridgeViewId=%2Fjsf%2Findex.xhtml&amp;action=1">My Account</a> -->
							</p>
						</div>
					</div>
					<% } %>
	
				</div>
			</div>
			<div class="toolbar ondark linkstyle-highlight-c">
				<div class="container">
					<form class="search" action="post" onsubmit="return false;">
						
						<input placeholder="Search" title="Search" type="text" id="global_search_keyword" name="global_search_keyword"/>
						<input type="submit" onclick="search_all_header()" />
					</form>

					<% if (request && request.session && request.session.userProfile && request.session.userProfile.id) { %>
					<div class="workspace smallest ShowWithAuth">
						<span class="upper">workspace: <a class="navigationLink" href="/workspace/<%- (request&&request.session)?(request.session.userProfile.id):"" %>/home">home</a></span>
						<a class="arrow-white-e" href="#"><span id="cart"></span></a>
					</div>
					<% } %>
				</div>
			</div>
			
		</div>
</div>
