<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">
	<div class="TopMenuBar">
		<a class="TopMenuLink" href="/content/news">NEWS</a>  <a class="TopMenuLink" href="/content/workshops"> WORKSHOPS </a>  <a class="TopMenuLink" href="/content/about"> ABOUT </a>   <a class="ShowWithAuth TopMenuLink" href="/logout">LOGOUT</a> <a class="HideWithAuth loginLink TopMenuLink" href="/login"> LOGIN </a>
	</div>
<!--	<div style="height:30px;background: #fff;color:#aaa;text-align:center;padding:20px;">
		Place Holder for PATRIC Header
	</div> -->
	<div class="P3Header">
		<table style="width:100%;margin:0px;padding:0px;border-collapse:collapse;border-spacing:0px;"><tbody><tr>
			<td style="text-align:left;">
				<a href="/"><span class="logo">PATRIC</span></a>
				<div class="topMenuButton" data-dojo-type="dijit/form/DropDownButton">
					<span>Explore</span>
					<div data-dojo-type="dijit/TooltipDialog">
						<a class="navigationLink" href="/view/GenomeList/?keyword(*)">Genomes</a>
						<div data-dojo-type="dijit/MenuSeparator"></div>
						<a class="navigationLink" href="/workspace/">Workspaces</a>
					</div>
				</div>
				<div class="topMenuButton" data-dojo-type="dijit/form/DropDownButton">
					<span>Tools</span>
	
					<div data-dojo-type="dijit/TooltipDialog">
					<div><a class="navigationLink" href="/app/Assembly">Genome Assembly</a></div>
					<div><a class="navigationLink" href="/app/Annotation">Genome Annotation</a></div>
					<div><a class="navigationLink" href="/app/Expression">Expression Import</a></div>
					<div><a class="navigationLink" href="/app/Rnaseq">RNA-Seq Analysi</a></div>
					<div><a class="navigationLink" href="/app/SeqComparison">Proteome Comparison</a></div>
					<div><a class="navigationLink" href="/app/Reconstruct">Model Reconsturction</a></div>

				</div>
			</div>
			</td>
			<td style="vertical-align:middle;padding:2px;padding-right:10px;margin:0px;">
				<input data-dojo-type="p3/widget/GlobalSearch" style="font-size:1.3em;" />
			</td>
		</tr></tbody></table>
	</div>
</div>
