<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">
<!--
	<div class="TopMenuBar">
		<span style="float:left;margin-left:4px;font-weight:200;"><span style="font-weight:900;color:#76A72D;">PAT</span>HOSYSTEMS <span style="font-weight:900;color:#76A72D;">R</span>ESOURCE <span style="font-weight:900;color:#76A72D;">I</span>NTEGRATION <span style="font-weight:900;color:#76A72D;">C</span>ENTER</span>

		<a class="TopMenuLink" href="https://github.com/PATRIC3" title="PATRIC3 GitHub"><span class="fa icon-github-square" ></span></a>
		<a class="TopMenuLink" href="http://www.addthis.com/bookmark.php?v=250&username=xa-4c40660c515875dc%3C" title="Share Patric"><span class="fa icon-share-alt-square" ></span></a>	
		<a class="TopMenuLink" href="http://www.youtube.com/user/PATRICBRC" title="PATRIC YouTube Channel"><span class="fa icon-youtube-square" ></span></a>	
		<a class="TopMenuLink" href="http://www.facebook.com/pages/Pathosystems-Resource-Integration-Center-PATRIC/117100971687823" title="PATRIC Facebook Page"><span class="fa icon-facebook-square" ></span></a>	
		<a class="TopMenuLink" href="http://twitter.com/PATRICBRC" title="PATRIC Twitter Feed"><span class="fa icon-twitter-square"></span></a>	
		<a class="TopMenuLink" href="http://enews.patricbrc.org/feed/" title="PATRIC RSS Feed"><span class="fa icon-rss-square"></span></a>	
		<a class="TopMenuLink" href="/content/CitePATRIC" title="Cite PATRIC">CITE</a>	
		<a class="TopMenuLink" href="/content/news" title="News">NEWS</a>  
		<a class="TopMenuLink" href="/content/workshops" title="Upcoming Workshops"> WORKSHOPS </a>  
		<a class="TopMenuLink" href="/content/about" title="About PATRIC"> ABOUT </a>
		<a class="TopMenuLink" href="/content/ContactUs" title="Contact Us"> CONTACT </a>
		<a class="ShowWithAuth TopMenuLink" href="<%- request.applicationOptions.accountURL %>">ACCOUNT</a> 
		<a class="ShowWithAuth TopMenuLink" href="/logout">LOGOUT</a> 
		<a class="HideWithAuth loginLink TopMenuLink" href="/register">REGISTER</a> 
		<a class="HideWithAuth loginLink TopMenuLink" href="/login"> LOGIN </a>
	</div>

-->

	<div class="P3Header">
		<table style="width:100%;margin:0px;padding:0px;border-collapse:collapse;border-spacing:0px;"><tbody><tr>
			<td style="text-align:left;width:220px;">
				<a href="/">
					<img class="p3LogoImage" src="/js/p3/resources/images/patric_logo_bg.png" />
					<span class="logo">PATRIC</span>
					<span class="appLabel"><%- request.package.version %><%- request.applicationOptions.appLabel||"" %>
				</a>
			</td>
			<td style="text-align:left;">
				<div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
					<span>Browse</span>
					<div data-dojo-type="p3/widget/TooltipDialog">
						<div >
							<table><tbody>
								<tr>
									<td style='vertical-align: top;width:175px'>
										<div class="menuHeader">by Data Type</div>
											<div><i class="fa icon-caret-down fa-1x"></i>&nbsp;Genomes</div>
											<!--<div style="padding-left:12px"><a class="navigationLink" href="/view/GenomeList/?keyword(*)">All Genomes</a></div>-->
											<div style="padding-left:12px"><a class="navigationLink" href="/view/GenomeList/?eq(reference_genome,%22Reference%22)">Reference Genomes</a></div>
											<div style="padding-left:12px"><a class="navigationLink" href="/view/GenomeList/?eq(reference_genome,%22Representative%22)">Representative Genomes</a></div>
											<div style="padding-left:12px"><a class="navigationLink" href="/view/GenomeList/?or(eq(antimicrobial_resistance,%22Intermediate%22),eq(antimicrobial_resistance,%22Resistant%22),eq(antimicrobial_resistance,%22Susceptible%22))">Antibiotic Resistance</a></div>
											<div><a class="navigationLink" href="/view/FeatureList/?keyword(*)">Genomic Features</a></div>
											<div><a class="navigationLink" href="/view/SpecialtyGeneList/?keyword(*)">Specialty Genes</a></div>
											<!--<div><a class="navigationLink" href="/view/PathwayList/?keyword(*)">Pathways</a></div>-->
											<div><a class="navigationLink" href="/view/TranscriptomicsExperimentList/?keyword(*)">Transcriptomics Experiments</a></div>
									</td>
									<td style='width:5px;'></td>
									<td style='vertical-align: top;width:225px;'>
										<div class="menuHeader">by NIAID Bacterial Pathogen</div>
										<table>
											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/1386">Bacillus</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/262">Francisella</a></td>
											</tr>
											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/773">Bartonella</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/209">Helicobacter</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/138">Borrelia</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/1637">Listeria</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/234">Brucella</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/1763">Mycobacterium</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/32008">Burkholderia</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/780">Rickettsia</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/194">Camplyobacter</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/590">Salmonella</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/810">Chlamydia</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/620">Shigella</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/1485">Clostridium</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/1279">Staphylococcus</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/776">Coxiella</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/1301">Streptococcus</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/943">Ehrlichia</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/662">Vibrio</a></td>
											</tr>

											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/561">Escherichia</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/629">Yersinia</a></td>
											</tr>
											<tr><td>&nbsp;</td></tr>
											<tr>
												<td><a class="navigationLink" href="/view/Taxonomy/2">All Bacteria</a></td>
												<td><a class="navigationLink" href="/view/Taxonomy/2157">All Archaea</a></td>
											</tr>
										</table>
									</td>	
								</tr>
							</tbody></table>
						</div>
					</div>
				</div>
				<div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
					<span>Workspaces</span>
	
					<div data-dojo-type="p3/widget/TooltipDialog">
						<div >
							<table><tbody>
								<tr>
									<td style='vertical-align: top;width:175px'>
										<div class="ShowWithAuth">
										<div><i class="fa icon-caret-down fa-1x"></i>&nbsp;<a class="navigationLink" id="YourWorkspaceLink">Your Workspaces</a></div>
										<div id="YourWorkspaces">

										</div>
										<!--<div><a class="navigationLink" href="/workspace/">Shared with You</a></div>
										<div id="SharedWithYouWorkspaces">
										</div>
										</div>
										<div><a class="navigationLink" href="/workspace/public">Public</a></div>
										<div id="PublicWorkspaces">
										</div>
										<div><a class="navigationLink" href="/workspace/published">Published</a></div>
										<div id="PublishedWorkspaces">
										</div>-->

									</td>
									<td style="width:5px;"></td>
									<td style='vertical-align:top;width:200px;'>
										<div class="menuHeader">Specialty Workspaces</div>
										<div><a class="" href="//enews.patricbrc.org/patric-collaborations/">PATRIC Collaborations</a></div>
										<div><a class="" href="//enews.patricbrc.org/patric-dbps/">PATRIC DBPs</a></div>
										<div><a class="" href="//enews.patricbrc.org/niaid-clinical-proteomics/">NIAID Clinical Proteomics</a></div>
										<div><a class="" href="//enews.patricbrc.org/niaid-genome-sequencing/">NIAID Genome Sequencing</a></div>
										<div><a class="" href="//enews.patricbrc.org/niaid-structural-genomics/">NIAID Structural Genomics</a></div>
										<div><a class="" href="//enews.patricbrc.org/niaid-systems-biology/">NIAID Systems Biology</a></div>
										<div><a class="" href="//enews.patricbrc.org/niaid-functional-genomics/">NIAID Functional Genomics</a></div>
									</td>
	
								</tr>
							</tbody></table>
						</div>
					</div>
				</div>
	
				<div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
					<span>Tools</span>
	
					<div data-dojo-type="p3/widget/TooltipDialog">
						<div >
							<table><tbody>
								<tr>
									<td style='vertical-align: top;width: 180px;'>
										<div class="menuHeader">Genomics</div>
										<div><a class="navigationLink" href="/app/Assembly">Assembly</a></div>
										<div><a class="navigationLink" href="/app/Annotation">Annotation</a></div>
										<div><a class="navigationLink" href="/app/BLAST">BLAST</a></div>
										<div><a class="navigationLink" href="/app/Variation">Variation Analysis</a></div>
										<div class="menuHeader">Transcriptomics</div>
										<div><a class="navigationLink" href="/app/Expression">Expression Import</a></div>
										<div><a class="navigationLink" href="/app/Rnaseq">RNA-Seq Analysis</a></div>
										
									</td>
									<td style="width:5px;"></td>
									<td style="vertical-align:top;width:180px;">
										<div class="menuHeader">Protein Tools</div>
											<div><a class="navigationLink" href="/app/ProteinFamily">Protein Family</a></div>
											<div><a class="navigationLink" href="/app/SeqComparison">Proteome Comparison</a>
										</div>
										<div class="menuHeader">Metabolomics</div>
											<div><a class="navigationLink" href="/app/ComparativePathway">Comparative Pathway</a></div>
											<div><a class="navigationLink" href="/app/Reconstruct">Model Reconstruction</a></div>
										<!-- <div class="menuHeader">Utilities</div>
										<div><a class="navigationLink" href="/app/IDMapper">ID Mapper</a></div>-->
									</td>
								</tr>
								<tr>
									<td colspan=3 style="text-align: right">
										<a href="/content/tools">All Tools <i class="icon-chevron-circle-right fa-1x fa" style="margin:0px;padding:0px"></i></a>
									</td>
								</tr>
							</tbody></table>
						</div>
					</div>
				</div>
				<div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
					<span>Help</span>

					<div data-dojo-type="p3/widget/TooltipDialog">
						<div><a class="DialogButton" rel="quickstart:">PATRIC Quickstart</a></div>
						<div><a class="" href="/content/Tutorials">Tutorials</a></div>
 						<div><a class="" href="/content/UserGuide">User Guides</a></div>
						<div><a class="" href="/content/ReportProblem">Report a Problem</a></div>
						<div><a class="" href="/content/ContactUs">Contact Us</a></div>
					</div>
				</div>

			</div>
			</td>
			<td style="vertical-align:middle;padding:2px;padding-right:10px;margin:0px;">
				<input class="showOnLoad dijitHidden" data-dojo-type="p3/widget/GlobalSearch" style="font-size:1em;" />
			</td>

			<td  class="HideWithAuth authLinks showOnLoad dijitHidden" style="padding:2px;width:125px;">
  			    <div class="RegistrationButton registrationLink" data-dojo-type="dijit/form/Button">Register</div>
				<div class="LoginButton loginLink" data-dojo-type="dijit/form/Button">Login</div>
			</td>

			<td style="width:1%;">
				<div class="topMenuButtonIcon showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton" data-dojo-props="iconClass:'icon-bars fa-2x'" style="">
					<span></span>
					<div data-dojo-type="p3/widget/TooltipDialog">
						<div><a class="TopMenuLink" href="/content/news" title="News">PATRIC News</a>  </div>
						<div><a class="TopMenuLink" href="/content/workshops" title="Upcoming Workshops"> Upcoming Workshops </a> </div> 
						<hr>
						<div><a class="TopMenuLink" href="/content/about" title="About PATRIC">About PATRIC </a></div>
						<div><a class="TopMenuLink" href="/content/CitePATRIC" title="Cite PATRIC">Cite PATRIC</a>	</div>
						<div><a class="TopMenuLink" href="/content/ContactUs" title="Contact Us">Contact Us</a></div>
						<hr>
						<div><a class="HideWithAuth loginLink TopMenuLink" href="/register">Register</a> </div>
						<div><a class="HideWithAuth loginLink TopMenuLink" href="/login"> Login </a></div>
					</div>
				</div>
			</td>
			<td style="width:1%;" class="showOnLoad ShowWithAuth dijitHidden">
				<div class="showOnLoad ShowWithAuth dijitHidden topMenuButtonIcon" data-dojo-type="dijit/form/DropDownButton" data-dojo-props="iconClass:'icon-user fa-2x'" style="">
					<span></span>
					<div data-dojo-type="p3/widget/TooltipDialog">
						<div><a class="ShowWithAuth TopMenuLink" href="<%- request.applicationOptions.accountURL %>">Account Settings</a> </div>
						<div><a class="ShowWithAuth TopMenuLink" href="/logout">Logout</a> </div>
					</div>
				</div>
			</td>
		</tr></tbody></table>
	</div>
</div>
