<div>
  <div class="column-left">
    <div class="section">
      <h3 class="section-title close" title="Bacteria Data Summary"><span class="wrap">Bacteria Data Summary</span></h3>
      <div class="data-summary" data-dojo-attach-point="taxonomySummaryNode" style="padding-top: 10px;">
        Loading Bacteria Data Summary...
      </div>
      <style>
        .data-summary .DataItemProperty {
          width: 60%;
        }
      </style>
    </div>
  </div>

  <div class="column-mid">
    <div class="section">
      <h3 class="section-title close" title="Bacteria families."><span class="wrap">Bacteria Genera</span></h3>
      <div class="bacteria-section" style="padding-top: 10px;">
        <div class="bacteria-families">
          <div class="bacteria">
            <a href="/view/Taxonomy/469#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/acinetobacter.jpg" />
              <span>Acinetobacter</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/1386#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/bacillus.jpg" />
              <span>Bacillus</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/773#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/bartonella.jpg" />
              <span>Bartonella</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/64895#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/borreliella.jpg" />
              <span>Borreliella</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/234#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/brucella.jpg" />
              <span>Brucella</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/32008#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/burkholderia.jpg" />
              <span>Burkholderia</span>
            </a>
          </div>
        </div>

        <div class="bacteria-families">
          <div class="bacteria">
            <a href="/view/Taxonomy/194#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/campylobacter.jpg" />
              <span>Campylobacter</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/810#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/chlamydia.jpg" />
              <span>Chlamydia</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/1485#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/clostridium.jpg" />
              <span>Clostridium</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/776#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/coxiella.jpg" />
              <span>Coxiella</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/943#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/ehrlichia.jpg" />
              <span>Ehrlichia</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/561#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/escherichia.jpg" />
              <span>Escherichia</span>
            </a>
          </div>
        </div>

        <div class="bacteria-families">
          <div class="bacteria">
            <a href="/view/Taxonomy/262#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/francisella.jpg" />
              <span>Francisella</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/209#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/helicobacter.jpg" />
              <span>Helicobacter</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/1637#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/listeria.jpg" />
              <span>Listeria</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/1763#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/mycobacterium.jpg" />
              <span>Mycobacterium</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/286#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/pseudomonas.jpg" />
              <span>Pseudomonas</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/780#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/rickettsia.jpg" />
              <span>Rickettsia</span>
            </a>
          </div>
        </div>

        <div class="bacteria-families">
          <div class="bacteria">
            <a href="/view/Taxonomy/590#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/salmonella.jpg" />
              <span>Salmonella</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/620#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/shigella.jpg" />
              <span>Shigella</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/1279#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/staphylococcus.jpg" />
              <span>Staphylococcus</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/1301#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/streptococcus.jpg" />
              <span>Streptococcus</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/662#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/vibrio.jpg" />
              <span>Vibrio</span>
            </a>
          </div>
          <div class="bacteria">
            <a href="/view/Taxonomy/629#view_tab=overview">
              <img src="/patric/images/bv-brc/bacteria/yersinia.jpg" />
              <span>Yersinia</span>
            </a>
          </div>

        </div>
      </div>

      <style>
        .bacteria-section {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .bacteria-families {
          display: flex;
          flex-direction: column;
        }
        .bacteria-families .bacteria {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-grow: 1;
          padding: 5px 0px;
        }
        .bacteria-families .bacteria img {
          width: 50px;
          height: 50px;
        }
        .bacteria-families .bacteria a {
          display: flex;
          align-items: center;
        }
        .bacteria-families .bacteria span {
          font-size: 1em;
          font-weight: bold;
          font-style: italic;
          padding-left: 10px;
        }
      </style>

    </div>
    <div class="section">
      <h3 class="section-title close" title="Summary of bacteria by key metadata attributes."><span class="wrap">Bacteria by Metadata</span></h3>
      <div class="gmSummaryWidget" data-dojo-attach-point="bmSummaryWidget"
        data-dojo-type="p3/widget/BacteriaMetaSummary">
      </div>
    </div>
  </div>

  <div class="column-right">
    <div class="section">
      <h3 class="close section-title"><span class="wrap">News &amp; Announcements</span></h3>
      <div id="bacteria-news" style="padding-top: 10px;">
        <a href="https://docs.patricbrc.org/news/2021/20210513-brc-impact-survey.html"><h4>Bioinformatics Resource Centers (BRCs) Impact Survey</h4></a>
        <p>This survey will help the National Institute of Allergy and Infectious Diseases (NIAID) understand the usage and utility of the ... read more</p>
        <img class="news-img" src="https://docs.patricbrc.org/_static/announcements/brc-survey.png" alt="">
        <div class="news-nav">
          <div class="news-dot-selected"></div>
          <div class="news-dot"></div>
          <div class="news-dot"></div>
          <div class="news-dot"></div>
          <div class="news-dot"></div>
          <div class="news-dot"></div>
          <div class="news-dot"></div>
        </div>
      </div>
      <style>
        #bacteria-news {
          background-color: #fff;
          padding: 15px 10px;
          border-bottom: 4px solid #009190;
        }
        #bacteria-news h4 {
          font-family: "Roboto", Arial, Helvetica, sans-serif;
          font-size: 11pt;
          font-weight: 400;
          color: #5375b9;
          padding-bottom: 10px;
          text-decoration: underline;
          margin: 0px;
        }
        #bacteria-news p {
          font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
          font-size: 10pt !important;
          padding: 5px 0px;
        }
        #bacteria-news .news-img {
          width: 100%;
          max-height: 170px!important;
        }
        #bacteria-news .news-nav {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        #bacteria-news .news-nav .news-dot-selected {
          height: 20px;
          width: 20px;
          border-radius: 20px;
          background: #015994;
          border: 2px solid #009190;
          margin: 0 2px;
          cursor: pointer;
        }
        #bacteria-news .news-nav .news-dot {
          height: 20px;
          width: 20px;
          border-radius: 20px;
          background: #f2f2f2;
          border: 2px solid #a0a0a0;
          margin: 0 2px;
          cursor: pointer;
        }
      </style>
    </div>

    <div class="section">
      <h3 class="close section-title"><span class="wrap">Twitter</span></h3>
      <a class="twitter-timeline" data-lang="en" data-height="400" data-dnt="true" data-theme="light" href="https://twitter.com/BVBRC_DB/lists/bvbrc?ref_src=twsrc%5Etfw">A Twitter list by BVBRC_DB</a>
    </div>
  </div>
</div>
