<div>
    <div class="column-sub">
        <div class="section">
            <div data-dojo-attach-point="featureSummaryNode">
                Loading Feature Summary...
            </div>
        </div>
    </div>

    <div class="column-prime">
        <div class="section hidden" data-dojo-attach-point="isRefSeqOnly">
            <span><b>Note:</b> There is no corresponding PATRIC feature.</span>
        </div>
        <div class="section">
            <div class="sgViewerWidget" data-dojo-attach-point="sgViewerNode">
                <span>Loading ...</span>
            </div>
        </div>

        <div class="section">
            <h3 class="close2x section-title"><span class="wrap">Functional Properties</span></h3>
            <div class="SummaryWidget" data-dojo-attach-point="functionalPropertiesNode">
                Loading Functional Properties...
            </div>

            <br/>
            <div class="SummaryWidget" data-dojo-attach-point="structureNode">
                Loading Structure Information...
            </div>
            <div data-dojo-attach-point="structureRequestNode"></div>
        </div>

        <div class="section hidden">
            <h3 class="close section-title"><span class="wrap">Special Properties</span></h3>
            <div class="SummaryWidget spgSummaryWidget" data-dojo-attach-point="specialPropertiesNode"></div>
        </div>

        <div class="section hidden">
            <h3 class="close section-title"><span class="wrap">External Database Identifiers</span></h3>
            <div class="SummaryWidget idmSummeryWidget" data-dojo-attach-point="idMappingNode"></div>
        </div>

        <div class="section hidden">
            <h3 class="close section-title"><span class="wrap">Comments</span></h3>
            <div class="SummaryWidget fcSummaryWidget" data-dojo-attach-point="featureCommentsNode"></div>
        </div>
    </div>

    <div class="column-opt">
        <div class="section">
            <div class="BrowserHeader right">
                <div class="ActionButtonWrapper" data-dojo-attach-event="onclick:onFeatureServiceSelection" style="margin-top: 2px" data-dojo-attach-point="featureServiceSelectionButton">
                    <div class="ActionButton fa icon-cog fa-2x"></div>
                    <div class="ActionButtonText">Services</div>
                </div>
                <div class="ActionButtonWrapper" data-dojo-attach-event="onclick:onAddFeature" style="margin-top: 2px">
                    <div class="ActionButton fa icon-object-group fa-2x"></div>
                    <div class="ActionButtonText">Add To Group</div>
                </div>
                <div class="ActionButtonWrapper" data-dojo-attach-event="onclick:onClickUserGuide" style="margin-top: 2px">
                    <div class="ActionButton fa icon-info-circle fa-2x"></div>
                    <div class="ActionButtonText">GUIDE</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section">
            <h3 class="close section-title"><span class="wrap">External Tools</span></h3>
            <div class="SummaryWidget" data-dojo-attach-point="externalLinkNode"></div>
        </div>
        <div class="section">
            <h3 class="close2x section-title"><span class="wrap">Recent PubMed Articles</span></h3>
            <div data-dojo-attach-point="pubmedSummaryNode">
                Loading...
            </div>
        </div>
    </div>
</div>
