<div>
    <div class="column-sub">
        <div class="section hidden">
            <h3 class="close section-title"><span class="wrap">Feature Group Info</span></h3>
            <div data-dojo-attach-point="ggiSummaryWidget"
                 data-dojo-type="p3/widget/GenomeGroupInfoSummary"></div>
        </div>
    </div>

    <div class="column-prime">
        <div class="section">
            <h3 class="close section-title"><span class="wrap">Function Profile</span></h3>
            <div class="fpSummaryWidget" data-dojo-attach-point="fpSummaryWidget"
                 data-dojo-type="p3/widget/FunctionalProfile">
            </div>
        </div>

        <div class="section">
            <h3 class="close section-title"><span class="wrap">Taxonomy Profile</span></h3>
            <div class="tpSummaryWidget" data-dojo-attach-point="tpSummaryWidget"
                 data-dojo-type="p3/widget/TaxonomyProfile">
            </div>
        </div>
    </div>

    <div class="column-opt"></div>
</div>
