<div>
    <div class="column-sub">
        <div class="section">
            <div data-dojo-attach-point="featureSummaryNode">
                Loading Feature Summary...
            </div>
        </div>
    </div>

    <div class="column-prime">
        <div class="section">
            <table class="p3basic stripe far2x left" style="width:80%">
                <tbody>
                <tr>
                    <th scope="row">Gene ID</th>
                    <td data-dojo-attach-point="geneIdList"></td>
                </tr>
                <tr>
                    <th scope="row">Protein ID</th>
                    <td>
                        <span data-dojo-attach-point="proteinIdList"></span>
                        &nbsp; &nbsp;
                        <span data-dojo-attach-point="idMappingList"></span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="feature_box far2x right" data-dojo-attach-point="featureBoxNode"></div>
            <div class="clear"></div>
        </div>

        <div class="section">
            [placeholder for simplified gene browser]
        </div>

        <div class="section">
            <h3 class="section-title"><span class="wrap">Functional Properties</span></h3>
            <div class="SummaryWidget" data-dojo-attach-point="functionalPropertiesNode">
                Loading Functional Properties...
            </div>
        </div>

        <div class="section hidden">
            <h3 class="section-title"><span class="wrap">Special Properties</span></h3>
            <div style="height: 250px" data-dojo-attach-point="specialPropertiesNode"></div>
        </div>

        <div class="section">
            <h3 class="section-title"><span class="wrap">Comments</span></h3>
            <div data-dojo-attach-point="featureCommentsNode">
                [placeholder for comments]
            </div>
        </div>
    </div>

    <div class="column-opt">
        <div class="section">
            <div class="SummaryWidget">
                <button>Add PATRIC Feature to Workspace</button><br/>
                <button data-dojo-attach-event="click:onViewNTSequence">View NT Sequence</button><br/>
                <button data-dojo-attach-event="click:onViewAASequence">View AA Sequence</button>
            </div>
        </div>
        <div class="section">
            <h3 class="section-title"><span class="wrap">External Tools</span></h3>
            <div class="SummaryWidget" data-dojo-attach-point="externalLinkNode"></div>
        </div>
        <div class="section">
            <h3 class="section-title"><span class="wrap">Recent PubMed Articles</span></h3>
            <div data-dojo-attach-point="pubmedSummaryNode">
                Loading...
            </div>
        </div>
    </div>
</div>
