<div>
    <div class="column-sub">
        <div class="section hidden">
            <h3 class="section-title"><span class="wrap">Feature Group Info</span></h3>
            <div data-dojo-attach-point="ggiSummaryWidget"
                 data-dojo-type="p3/widget/GenomeGroupInfoSummary"></div>
        </div>

<!--
        <div class="section">
            <h3 class="section-title"><span class="wrap">Reference/Representative Genomes</span></h3>
            <div data-dojo-attach-point="rgSummaryWidget"
                 data-dojo-type="p3/widget/ReferenceGenomeSummary">
            </div>
        </div>
-->
    </div>

    <div class="column-prime">
        <div class="section">
            <h3 class="section-title"><span class="wrap">Function Profile</span></h3>
            <div data-dojo-attach-point="fpSummaryWidget"
                 data-dojo-type="p3/widget/FunctionalProfile">
            </div>
        </div>
<!--
        <div class="section">
            <h3 class="section-title"><span class="wrap">Genomes by Metadata</span></h3>
            <div class="gmSummaryWidget" data-dojo-attach-point="gmSummaryWidget"
                 data-dojo-type="p3/widget/GenomeMetaSummary">
            </div>
        </div>

        <div class="section">
            <h3 class="section-title"><span class="wrap">Specialty Gene Summary</span></h3>
            <div data-dojo-attach-point="spgSummaryWidget"
                 data-dojo-type="p3/widget/SpecialtyGeneSummary">
            </div>
        </div>-->
    </div>

    <div class="column-opt"></div>
</div>
