<div class="${baseClass}">
  <div>
    <div class="selectedList" data-dojo-attach-point="selectedNode">
    </div>
  </div>
  <div class="fieldHeader">
    <table>
      <tbody>
        <tr>
          <td></td>
          <td class="fieldTitle" data-dojo-attach-point="categoryNode">
            ${category}&nbsp;<i class="fa icon-x fa-1x" style="vertical-align:middle;font-size:14px;margin-left:4px;" data-dojo-attach-event="click:clearAll"></i>
          </td>
          <td class="rightButtonContainer"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>