<div>
  <div class="column-sub">
    <div class="section">
      <div data-dojo-attach-point="genomeSummaryNode">
        Loading Genome Summary...
      </div>
    </div>
  </div>

  <div class="column-prime">
    <div class="section hidden">
      <h3 class="close section-title" title="Antimicrobial resistance data from antimicrobial susceptibility testing"><span class="wrap">Antimicrobial Resistance</span></h3>
      <div class="apSummaryWidget" data-dojo-attach-point="apSummaryWidget"
      data-dojo-type="p3/widget/AMRPanelSummary"></div>
    </div>

    <div class="section">
      <h3 style="margin-bottom:-26px" class="close section-title" title="Summary of genomic features annotated by BV-BRC and GenBank/RefSeq"><span class="wrap">Genomic Features</span></h3>
      <div class="gfSummaryWidget" data-dojo-attach-point="gfSummaryWidget"
      data-dojo-type="p3/widget/GenomeFeatureSummary"></div>
    </div>

    <div class="section">
      <h3 style="margin-bottom:-26px;margin-top:40px" class="close section-title" title="Summary of proteins by their functional attributes and protein family assignments"><span class="wrap">Protein Features</span></h3>
      <div class="pfSummaryWidget" data-dojo-attach-point="pfSummaryWidget"
      data-dojo-type="p3/widget/ProteinFeatureSummary"></div>
      <p class="proteinFeature" style="display:none;text-align:center;margin-top:-15px;margin-bottom:40px;font-family:times;font-size:11pt">Feature Count</p>
    </div>

    <div class="section">
      <h3 style="margin-bottom:-26px;margin-top:40px" class="close section-title" title="Genes of special interest to infectious disease researchers, such as virulence factors, antimicrobial resistance genes, human homologs, and potential drug targets"><span class="wrap">Specialty Genes</span></h3>
      <div class="spgSummaryWidget" data-dojo-attach-point="spgSummaryWidget"
      data-dojo-type="p3/widget/SpecialtyGeneSummary"></div>
      <p class="specialty" style="display:none;text-align:center;margin-top:-60px;margin-bottom:40px;font-family:times;font-size:11pt">Gene Count</p>

    </div>
  </div>

  <div class="column-opt">
    <div class="section">
      <div class="BrowserHeader right">
        <div class="ActionButtonWrapper" data-dojo-attach-event="onclick:onGenomeServiceSelection" style="margin-top: 2px" data-dojo-attach-point="genomeServiceSelectionButton">
          <div class="ActionButton fa icon-cog fa-2x"></div>
          <div class="ActionButtonText">Services</div>
        </div>
        <div class="ActionButtonWrapper" data-dojo-attach-event="onclick:onAddGenome" style="margin-top: 2px">
          <div class="ActionButton fa icon-object-group fa-2x"></div>
          <div class="ActionButtonText">Add To Group</div>
        </div>

        <div class="ActionButtonWrapper btnDownloadGenome" data-dojo-attach-event="onclick:onDownload" style="margin-top: 2px"  data-dojo-attach-point="genomeDownloadButton">
          <div class="ActionButton fa icon-download fa-2x"></div>
          <div class="ActionButtonText">Download</div>
        </div>

        <div class="ActionButtonWrapper btnShareGenome" data-dojo-attach-event="onclick:onShareGenome" style="margin-top: 2px">
          <div class="ActionButton fa icon-user-plus fa-2x"></div>
          <div class="ActionButtonText">Share</div>
        </div>

        <div class="ActionButtonWrapper" data-dojo-attach-event="onclick:onClickUserGuide" style="margin-top: 2px">
            <div class="ActionButton fa icon-info-circle fa-2x"></div>
            <div class="ActionButtonText">GUIDE</div>
        </div>
      </div>
      <div class="clear"></div>
</div>
<div class="section">
  <h3 class="close section-title"><span class="wrap">External Tools</span></h3>
  <div class="SummaryWidget" data-dojo-attach-point="externalLinkNode"></div>
</div>
<div class="section">
  <h3 class="section-title close2x" title="Recent PubMed articles relevant to the current context"><span class="wrap">Recent PubMed Articles</span></h3>
  <div data-dojo-attach-point="pubmedSummaryNode">
    Loading...
  </div>
</div>
</div>
</div>
