<div class="GlobalSearch">
	<table style="width:100%;">
		<tbody>
			<tr>	
				<td style="width:120px">
					<span data-dojo-attach-point="searchFilter" data-dojo-type="dijit/form/Select" style="display:inline-block;width:100%">
						<option selected="true" value="everything">Everything</option>
						<option value="genomes">Genomes</option>
						<option value="genome_features">Genomic Features</option>
						<option value="sp_genes">Specialty Genes</option>
						<option value="taxonomy">Taxa</option>
						<option value="transcriptomics_experiments">Transcriptomics Experiments</option>
						<!--<option value="amr">Antibiotic Resistance</option>
						<option value="sp_genes">Specialty Genes</option>
						<option value="pathways">Pathways</option>
						<option value="workspaces">Workspaces</option>-->
					</span>
				</td>
				<td>
					<input data-dojo-type="dijit/form/TextBox" data-dojo-attach-event="onChange:onInputChange,keypress:onKeypress" data-dojo-attach-point="searchInput" style="width:100%;"/>
				</td>
				<!-- <td style="width:1em;padding:2px;font-size:1em;"><i class="fa fa-1x icon-search-plus" data-dojo-attach-event="click:onClickAdvanced" title="Advanced Search"/></td> -->
			</tr>
		</tbody>
	</table>
</div>
