<div class="GlobalSearch">
  <table style="width:100%;" class="GStable">
    <tbody class="GSbody">
      <tr>
        <td class="gs-data-types-dropdown" style="width:120px">
          <span data-dojo-attach-point="searchFilter" data-dojo-type="dijit/form/Select" class="" style="display:inline-block;width:100%">
            <option selected="true" value="everything">All Data Types</option>
            <option value="genomes">Genomes</option>
            <option value="strains">Strains</option>
            <option value="genome_features">Features</option>
            <option value="proteins">Proteins</option>
            <!-- <option value="genome_sequences">Genomic Sequences</option> -->
            <option value="sp_genes">Specialty Genes</option>
            <option value="protein_features">Domains and Motifs</option>
            <option value="epitope">Epitopes</option>
            <option value="protein_structures">Protein Structures</option>
            <option value="pathways">Pathways</option>
            <option value="subsystems">Subsystems</option>
            <option value="surveillance">Surveillance</option>
            <option value="serology">Serology</option>
            <option value="taxonomy">Taxa</option>
            <option value="experiments">Experiments</option>
            <option value="antibiotic">Antibiotic</option>
            <!--
            <option value="workspaces">Workspaces</option>-->
          </span>
        </td>

        <td class="gs-input">
          <label id="globalSearch" class="sr-only">Global Search</label>
          <input aria-labelledby="globalSearch" placeholder="Find a gene, genome, microarray, etc" style="width:100%;" data-dojo-type="dijit/form/TextBox" data-dojo-attach-event="onChange:onInputChange,keypress:onKeypress" data-dojo-attach-point="searchInput" class="form-control"/>
        </td>

        <td class="gs-advanced-search" style="width:1em;padding:2px;font-size:1em;">
          <i class="fa fa-1x icon-search" data-dojo-attach-event="click:onClickAdvanced" title="Advanced Search"/>
        </td>

        <td class="gs-help" style="width:1em;padding:2px;font-size:1em;">
          <i class='fa fa-1x icon-question-circle-o NonmodalDialogButton' rel='help:/misc/GlobalSearchOptions' title="Select search options from the dropdown list. Click to view the help information"/>
        </td>

        <td class="gs-options-dropdown" style="width:50px">
          <span data-dojo-attach-point="searchOption" data-dojo-type="dijit/form/Select" class="" style="display:inline-block;width:100%">
            <option selected="true" value="option_and">All terms</option>
            <option value="option_or">Any term</option>
            <option value="option_and2">All exact terms</option>
            <option value="option_or2">Any exact term</option>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
