<div>
	<table style="width:300px">
	<tbody>
		<tr><th style="color:#fff;font-weight:600;background:#34698e" >PATRIC Identifiers</th><th style="color:#fff;font-weight:600;background:#34698e" >REFSEQ Identifiers</th></tr>
		<tr><td rel="seed_id">SEED ID</td><td rel="refseq_locus_tag">RefSeq Locus Tag</td></tr>
		<tr><td rel="patric_id" >PATRIC ID</td><td rel="refseq">RefSeq</td></tr>
		<tr><td rel="alt_locus_tag">Alt Locus Tag</td><td rel="gene_id">Gene ID</td></tr>
		<tr><td></td><td rel="gi">GI</td></tr>
		<tr><th style="color:#fff;font-weight:600;background:#34698e" colspan="2">Other Identifiers</th></tr>
		<tr><td rel="allergome">Allergome</td><td rel="biocyc">BioCyc</td></tr>
		<tr><td rel="dip">DIP</td><td rel="disprot">DisProt</td></tr>
		<tr><td rel="drugbank">DrugBank</td><td rel="eco2dbase">ECO2DBASE</td></tr>
		<tr><td rel="embl">EMBL</td><td rel="embl_cds">EMBL-CDS</td></tr>
		<tr><td rel="echobase">EchoBASE</td><td rel='ecogene'>EcoGene</td></tr>
		<tr><td rel="ensemble_genome>EnsembleGenome</td><td rel="ensemble_genome_pro">EnsembleGenome PRO</td></tr>
		<tr><td rel="ensemble_genome_trs">EnsembleGenome TRS</td><td rel="gene_tree">GeneTree</td></tr>
		<tr><td rel="genolist">GenoList</td><td rel="genome_review">Genome Review</td></tr>
		<tr><td rel="hogenom">HOGENOM</td><td rel="hssp">HSSP</td></tr>
		<tr><td rel="kegg">KEGG</td><td rel="legio_list">LegioList</td></tr>
		<tr><td rel="leproma">Leproma</td><td rel="merops">MEROPS</td></tr>
		<tr><td rel="mint">MINT</td><td rel="nmpdr">NMPDR</td></tr>
		<tr><td rel="oma">OMA</td><td rel="orthodb">OrthoDB</td></tr>
		<tr><td rel="pdb">PDB</td><td rel="peroxi_base">PeroxiBase</td></tr>
		<tr><td rel="pptasedb">PptaseDB</td><td rel="prot_clust_db">ProtClustDB</td></tr>
		<tr><td rel="pseudo_cap">PseudoCAP</td><td rel="rebase">REBASE</td></tr>
		<tr><td rel="reactome">Reactome</td><td rel="refseq_nt">RefSeq_NT</td></tr>
		<tr><td rel="tcdb">TCDB</td><td rel="tigr">TIGR</td></tr>
		<tr><td rel="tuberculist">TubercuList</td><td rel="uniparc">UniParc</td></tr>
		<tr><td rel="uniprot_kb-id">UnitProtKB-ID</td><td rel="uniref100">UniRef100</td></tr>
		<tr><td rel="uniref50">UniRef50</td><td rel="uniref90">UniRef90</td></tr>
		<tr><td rel="world-2dpage">World-2DPAGE</td><td rel="eggnog">eggNOG</td></tr>
	</tbody>
	</table>
</div>
