<div>
  <table class="idMappingTable" style="width:315px;">
  <tbody>
    <tr><th class="idMappingHeader">PATRIC Identifiers</th><th class="idMappingHeader" >REFSEQ Identifiers</th></tr>
    <tr><td rel="patric_id">BRC ID</td><td rel="refseq_locus_tag">RefSeq Locus Tag</td></tr>
    <tr><td rel="feature_id" >Feature ID</td><td rel="protein_id">RefSeq (Protein ID)</td></tr>
    <tr><td rel="alt_locus_tag">Alt Locus Tag</td><td rel="gene_id">Gene ID</td></tr>
    <tr><td></td><td rel="gi">GI</td></tr>
  </tbody>
  </table>
  <table class="idMappingTable" style="width:315px;">
  <tbody>
    <tr><th class="idMappingHeader" colspan="3">Other Identifiers</th></tr>
    <tr><td rel="Allergome">Allergome</td><td rel="BioCyc">BioCyc</td><td rel="DIP">DIP</td></tr>
    <tr><td rel="DisProt">DisProt</td><td rel="DrugBank">DrugBank</td><td rel="ECO2DBASE">ECO2DBASE</td></tr>
    <tr><td rel="EMBL">EMBL</td><td rel="EMBL-CDS">EMBL-CDS</td><td rel="EchoBase">EchoBASE</td></tr>
    <tr><td rel="EcoGene">EcoGene</td><td rel="EnsemblGenome">EnsemblGenome</td><td rel="EnsemblGenome_PRO">EnsemblGenome_PRO</td></tr>
    <tr><td rel="EnsemblGenome_TRS">EnsemblGenome_TRS</td><td rel="GeneTree">GeneTree</td><td rel="GenoList">GenoList</td></tr>
    <tr><td rel="GenomeReviews">GenomeReviews</td><td rel="HOGENOM">HOGENOM</td><td rel="HSSP">HSSP</td></tr>
    <tr><td rel="KEGG">KEGG</td><td rel="LegioList">LegioList</td><td rel="Leproma">Leproma</td></tr>
    <tr><td rel="MEROPS">MEROPS</td><td rel="MINT">MINT</td><td rel="NMPDR">NMPDR</td></tr>
    <tr><td rel="OMA">OMA</td><td rel="OrthoDB">OrthoDB</td><td rel="PDB">PDB</td></tr>
    <tr><td rel="PeroxiBase">PeroxiBase</td><td rel="PptaseDB">PptaseDB</td><td rel="ProtClustDB">ProtClustDB</td></tr>
    <tr><td rel="PsuedoCAP">PseudoCAP</td><td rel="REBASE">REBASE</td><td rel="Reactome">Reactome</td></tr>
    <tr><td rel="RefSeq_NT">RefSeq_NT</td><td rel="TCDB">TCDB</td><td rel="TIGR">TIGR</td></tr>
    <tr><td rel="TubercuList">TubercuList</td><td rel="UniParc">UniParc</td><td rel="UniProtKB-Accession">UnitProtKB-Accesssion</td></tr>
    <tr><td rel="UniRef100">UniRef100</td><td rel="UniProtKB-ID">UnitProtKB-ID</td><td rel="UniRef100">UniRef100</td></tr>
    <tr><td rel="UniRef50">UniRef50</td><td rel="UniRef90">UniRef90</td><td rel="World-2DPAGE">World-2DPAGE</td></tr>
    <tr><td rel="eggNOG">eggNOG</td><td rel="KO">KO</td><td rel="STRING">STRING</td></tr>
  </tbody>
  </table>
</div>
