<div>
<table style="width:300px">
	<tbody>
	<tr><th style="color:#fff;font-weight:600;background:#34698e" >PATRIC Identifiers</th><th style="color:#fff;font-weight:600;background:#34698e" >REFSEQ Identifiers</th></tr>
	<tr><td>SEED ID</td><td>RefSeq Locus Tag</td></tr>
	<tr><td>PATRIC ID</td><td>RefSeq</td></tr>
	<tr><td>Alt Locus Tag</td><td>Gene ID</td></tr>
	<tr><td></td><td>GI</td></tr>
	<tr><th style="color:#fff;font-weight:600;background:#34698e" colspan="2">Other Identifiers</th></tr>
	<tr><td>Allergome</td><td>BioCyc</td></tr>
	<tr><td>DIP</td><td>DisProt</td></tr>
	<tr><td>DrugBank</td><td>ECO2DBASE</td></tr>
	<tr><td>EMBL</td><td>EMBL-CDS</td></tr>
	<tr><td>EchoBASE</td><td>EcoGene</td></tr>
	<tr><td>EnsembleGenome</td><td>EnsembleGenome PRO</td></tr>
	<tr><td>EnsembleGenome TRS</td><td>GeneTree</td></tr>
	</tbody>
</table>
</div>
