<div style="ItemDetailPanel">
	<div style="veritcal-align:top;">
		<table style="width:100%">
			<tbody>
				<tr>
					<td style="width:1%"><i class="fa fa-1x" data-dojo-attach-point="typeIcon" ></i></td>
					<td>
						<div style="font-size:1.2em;font-weight:900;" data-dojo-type="dijit/InlineEditBox" data-dojo-attach-point="nameWidget"></div>
						<span data-dojo-attach-point="typeNode"></span> &middot; <span data-dojo-attach-point="owner_idNode"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3>Metadata</h3>

	<table>
		<tbody data-dojo-attach-point="metadataTable">
			<tr><td>ID</td><td data-dojo-attach-point="idNode"></td></tr>
			<tr><td>Path</td><td data-dojo-attach-point="pathNode"></td></tr>
			<tr><td>Creation Date</td><td data-dojo-attach-point="creation_timeNode"></td></tr>
			<tr><td>Permissions</td><td>User: <span data-dojo-attach-point="user_permissionNode"></span>&nbsp;Global: <span data-dojo-attach-point="global_permissionNode"></span></td></tr>
		</tbody>
	</table>
	<h3>User Metadata</h3>
	<table>
		<tbody data-dojo-attach-point="userMetadataTable">
		</tbody>
	</table>
</div>
