<div class="ItemDetailPanel">
	<div>
		<table class="ItemDetailHeaderTable">
			<tbody>
				<tr>
					<td style="width:1%"><i class="fa fa-1x" data-dojo-attach-point="typeIcon" ></i></td>
					<td>
						<div class="ItemDetailHeader" data-dojo-type="dijit/InlineEditBox" data-dojo-attach-point="nameWidget" disabled="true"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="font-size:1em">
		<div class="ItemDetailAttribute">Type: <span class="ItemDetailAttributeValue" data-dojo-attach-point="typeNode"></div></span></br>
		<div class="ItemDetailAttribute">Owner: <span class="ItemDetailAttributeValue"  data-dojo-attach-point="owner_idNode"></span></div></br>
		<div class="ItemDetailAttribute">Created: <span class="ItemDetailAttributeValue" data-dojo-attach-point="creation_timeNode"></span></div></br>
		<div class="ItemDetailAttribute">Path: <span class="ItemDetailAttributeValue" data-dojo-attach-point="pathNode"></span></div>
		<div style="display:none;" data-dojo-attach-point="idNode"></div>
	</div> 
	<div data-dojo-attach-point="autoMeta">

	</div>
	<table>
		<tbody data-dojo-attach-point="userMetadataTable">
		</tbody>
	</table>
</div>
