<div class="ItemDetailPanel noSelection dataItem">
	<div class="noItemSelection">
		Nothing selected.

		<div class="folder containerContentSection">
				<div class="tip">

					<div class='tipHeader'>
						<span class="fa icon-lightbulb-o fa-2x" style="color: orange;"></span>
					</div>
					<div>The PATRIC workspace is for managing files, groups, and job results. <a class="HelpLink" href="http://enews.patricbrc.org/faqs/workspace-faqs/" target="_blank">Learn more.</a></div>
				</div>
		</div>


		<div class="resultContentSection">
			<div class="tip">

				<div class='tipHeader'>
					<span class="fa icon-lightbulb-o fa-2x" style="color: orange;"></span>
				</div>
				<div>Select one or more items on the left to see their details and possible actions.</div>
			</div>
		</div>

        <div class="experiment containerContentSection">
            <div class="tip">

                <div class='tipHeader'>
                    <span class="fa icon-lightbulb-o fa-2x" style="color: purple;"></span>
                </div>
                <div>Significant by z-score: abs(z-score) &gt;= 2. Significant by log ratio: abs(log ratio) &gt;=1.</div>
            </div>
        </div>

		<div class="folder containerContentSection">
			<div class="tip">
				<div class='tipHeader'>
					<span class="fa icon-lightbulb-o fa-2x" style="color:orange;"></span>
				</div>
					<p>Click an item's icon (e.g.,  <span class="fa icon-folder fa-1x"></span>, <span class="fa icon-genome-features fa-1x"></span> ) or double click on a row to drill down into that item.</p>

			</div>
		</div>

	</div>

	<div class="multipleItemSelection">
		<div data-dojo-attach-point="countDisplayNode">N items selected.</div>
	</div>

	<div class="singleItemSelection">
		<div class="workspaceItemSelection">
	<div>
		<table class="ItemDetailHeaderTable">
			<tbody>
				<tr>
					<td style="width:1%"><i class="fa fa-1x" data-dojo-attach-point="typeIcon" ></i></td>
					<td>
						<div class="ItemDetailHeader" data-dojo-type="dijit/InlineEditBox" data-dojo-attach-point="nameWidget" disabled="true"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="font-size:1em">
		<div class="ItemDetailAttribute">
			Type: <div class="ItemDetailAttributeValue"
					data-dojo-attach-event="onChange:saveType"
					data-dojo-attach-point="typeNode"
					data-dojo-type="dijit/InlineEditBox"
					data-dojo-props="editor:'dijit.form.Select', autoSave:false, editorParams:{options:[]}"
					value=""
					disabled="true"></div>
		</div>
		</br>
		<div class="ItemDetailAttribute">Owner: <span class="ItemDetailAttributeValue"  data-dojo-attach-point="owner_idNode"></span></div></br>
		<div class="ItemDetailAttribute">Created: <span class="ItemDetailAttributeValue" data-dojo-attach-point="creation_timeNode"></span></div></br>
		<div class="ItemDetailAttribute">Path: <span class="ItemDetailAttributeValue" data-dojo-attach-point="pathNode"></span></div>

		<br><br>
		<div class="ItemDetailAttribute"><span class="ItemDetailAttributeValue" data-dojo-attach-point="permissionsNode"></span></div>
		<div style="display:none;" data-dojo-attach-point="idNode"></div>
	</div>
	<div style="display:none" class="specialHelp" data-dojo-attach-point="featureGroupHelp">
			<div class="tip">

				<div class='tipHeader'>
					<span class="fa icon-lightbulb-o fa-2x" style="color: orange;"></span>
				</div>
				<div>Features of interest can be added to groups in PATRIC. When a new feature group is created it will appear here.</div>
			</div>
	</div>
	<div style="display:none" class="specialHelp" data-dojo-attach-point="genomeGroupHelp">
			<div class="tip">

				<div class='tipHeader'>
					<span class="fa icon-lightbulb-o fa-2x" style="color: orange;"></span>
				</div>
				<div>Genomes of interest can be added to groups in PATRIC. When a new genome group is created it will appear here.</div>
			</div>
	</div>
	<div style="display:none" class="specialHelp" data-dojo-attach-point="experimentHelp">
			<div class="tip">

				<div class='tipHeader'>
					<span class="fa icon-lightbulb-o fa-2x" style="color: orange;"></span>
				</div>
				<div>The default location for experiments added through the Expression Import service.</div>
			</div>
	</div>
	<div style="display:none" class="specialHelp" data-dojo-attach-point="experimentGroupHelp">
			<div class="tip">

				<div class='tipHeader'>
					<span class="fa icon-lightbulb-o fa-2x" style="color: orange;"></span>
				</div>
				<div>Experiments of interest can be added to groups in PATRIC. When a new experiment group is created it will appear here. PATRIC contains curated datasets representing transcriptomic experiments. Both curated datasets and experiments created by the Expression Import service can be added to a group.</div>
			</div>
	</div>
	<div data-dojo-attach-point="autoMeta">

	</div>
	<table>
		<tbody data-dojo-attach-point="userMetadataTable">
		</tbody>
	</table>
	</div>
	<div data-dojo-attach-point="dataItemSelection" class="dataItemSelection">
		<DIV data-dojo-attach-point="itemBody">

		</DIV>
	</div>

	</div>
</div>
