<div class="JobStatusButton" data-dojo-attach-event="onclick:openJobs">
  <span>Jobs</span>
  <span class="JobStatusCounts" data-dojo-attach-point="jobStatusTicker">

    <i class="icon-tasks Queued"></i>
    <span data-dojo-attach-point="jobsQueuedNode"></span>

    <span class="divider"></span>

    <i class="icon-play22 Running"></i>
    <span data-dojo-attach-point="jobsRunningNode"></span>

    <span class="divider"></span>

    <i class="icon-checkmark2 Completed"></i>
    <span data-dojo-attach-point="jobsCompleteNode"></span>

  </span>

  <span data-dojo-attach-point="jobsStatusFailed" class="JobStatusCounts Failed" style="display: none; font-weight: bold;">
    &nbsp;N/A&nbsp;
  </span>

</div>
