<div data-dojo-attach-point="containerNode">
    <div>
        <button data-dojo-type="dijit/form/ToggleButton"
                data-dojo-attach-point="spinButton">Spin</button>
    </div>
    <div>
        <button data-dojo-type="dijit/form/ToggleButton"
                data-dojo-attach-point="rockButton">Rock</button>
        <label>Angle: </label>
        <span id="rockAngle"
              data-dojo-type="dijit/form/NumberTextBox"
              data-dojo-props="smallDelta: 1, constraints: { min:10, max:60, places:0 },
              promptMessage: 'Rotate structure between plus and minus this angle (10-60 degrees)',
              invalidMessage: 'Angle should be a whole number between 10 and 60',
              rangeMessage: 'Angle should be a whole number between 10 and 60'"
              data-dojo-attach-point="rockAngle"
              style="width: 4em;"></span>
        <div data-dojo-type="dijit/Tooltip"
             data-dojo-props="connectId: 'rockAngle', position: ['after']">
            Rotate structure between plus and minus this angle (10-60 degrees)</div>
        <label>Speed: </label>
        <span id="rockSpeed"
              data-dojo-type="dijit/form/NumberTextBox"
              data-dojo-props="constraints: { min:5, max:45, places:0 },
              promptMessage: 'Rotation speed between 5 and 45',
              invalidMessage: 'Rotation should be a whole number between 5 and 45',
              rangeMessage: 'Rotation should be a whole number between 5 and 45'"
              data-dojo-attach-point="rockSpeed"
              style="width: 4em;"></span>
        <div data-dojo-type="dijit/Tooltip"
             data-dojo-props="connectId: 'rockSpeed', position: ['after']">Rotation speed between 5 and 45</div>
        <label>Pause: </label>
        <span id="rockPause"
              data-dojo-type="dijit/form/NumberTextBox"
              data-dojo-props="constraints: { min:0, max:3, places:1 },
              promptMessage:'Number of seconds (0.0-3.0) to pause before reversing rocking direction',
              rangeMessage: 'Pause should be a number of seconds between 0.0 and 3.0',
              invalidMessage: 'Pause should be a number between 0.0 and 3.0',
              "
              data-dojo-attach-point="rockPause"
              style="width: 4em;"></span>
        <div data-dojo-type="dijit/Tooltip"
             data-dojo-props="connectId: 'rockPause', position: ['after']">
            Number of seconds (1.0 - 3.0) to pause before reversing rocking direction
        </div>
    </div>
</div>
