<div style="border: 2px solid blue;">
    <style type="text/css">
        div.control-section {
            margin: 10px 5px;
            padding: 2px;
        }
    </style>
    <div class="control-section">
        <span data-dojo-attach-point="displayTypeIcon">Loading...</span>
        <span>Change Display Type</span>
        <div data-dojo-attach-point="displayTypeSelector"></div>
    </div>
    <div class="control-section">
        <div data-dojo-attach-point="displayEffect"
             data-dojo-type="p3/widget/ProteinStructureEffect"
        ></div>
    </div>
    <div class="control-section">
        <label>Zoom Level</label>
        <select data-dojo-attach-point="displayZoom"
                data-dojo-type="dijit/form/Select"
                style="width:50%">
            <option value="50">50%</option>
            <option value="100">100%</option>
            <option value="150">150%</option>
            <option value="200">200%</option>
            <option value="400">400%</option>
            <option value="custom">Custom</option>
        </select>
        <span data-dojo-attach-point="displayZoomCustomContainer" style="visibility: hidden;">
            <span data-dojo-type="dijit/form/NumberTextBox"
                  data-dojo-props="smallDelta: 10, constraints: { min:10, max:1000, places:0 },"
                  data-dojo-attach-point="displayZoomCustom"
                  style="width: 4em;"></span> %
        </span>
    </div>
</div>
