<form dojoAttachPoint="containerNode" class="PanelForm" encType="multipart/form-data" name="problemForm"
  dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onkeyup:validate">
<div >
  <div class="HideWithAuth">

      <label for="email"><b>Email<sup>*</sup></b></label>
    <div data-dojo-type="dijit/form/TextBox" name="email" style="display:block;margin-bottom:8px;width:600px;" data-dojo-props="intermediateChanges:true,missingMessage:'Email Address is required',trim:true,placeHolder:'Email Address'"></div>
  </div>


  <label for="subject"><b>Subject<sup>*</sup></b></label>
  <div data-dojo-type="dijit/form/TextBox" name="subject" style="display:block;margin-bottom:8px;width:600px;" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Subject must be provided',trim:true"></div>

  <div class="jobFeedback dijitHidden">
    <label for="description">
      <b>Please provide a question or relevant feedback about this <span name="reportedStatus"></span> job (required)<sup>*</sup></b>
    </label>
    <br>
    <div tabindex="1" data-dojo-type="dijit/form/SimpleTextarea" name="description"  style="width:550px;height:50px" data-dojo-props="intermediateChanges:true,missingMessage:'Description must be provided for this job',trim:true,rows:20"></div>
    <br>
  </div>

  <br>

  <div data-dojo-type="dijit/form/Textarea" name="content" style="width:600px;height:250px" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Description must be provided',trim:true,rows:20"></div>
  <div>
    Select file to attach (optional):	<input data-dojo-attach-point="attachmentNode" type="file" name="attachment" />
  </div>
</div>
<div class="workingMessage messageContainer">
  Sending Feedback...
</div>

<div class="errorMessage messageContainer">
  <div style="font-weight:900;font-size:1.1em;">There was an error submitting your report:</div>
  <p data-dojo-attach-point="errorMessage">Error</p>
</div>

<div style="margin:4px;margin-top:8px;text-align:right;">
  <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel</div>
  <div data-dojo-attach-point="saveButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
</div>
</form>
