<div class="SelectionToGroup" style="width:400px;">


  <div data-dojo-attach-point="groupTypeBox" class="dijitHidden">
    <label>Group Type</label><br>
    <div data-dojo-type="dijit/form/Select"
      data-dojo-attach-point="groupTypeSelect"
      style="width:95%;margin:10px;"
      data-dojo-attach-event="onChange:onChangeOutputType" >
    </div>
  </div>

  <label>New/Existing</label><br>
  <div data-dojo-type="dijit/form/Select"
    style="width: 95%;margin:10px;"
    data-dojo-attach-event="onChange:onChangeTarget"
    data-dojo-attach-point="targetType">
    <option value="new">New Group</option>
    <option value="existing" selected="true">Existing Group</option>
  </div>



  <label data-dojo-attach-point="groupPathLabel" class='dijitHidden'>
    Group Folder
    <span style="opacity: 0.7;">(defaults to your groups folder)</span>
  </label><br>
  <div data-dojo-attach-point="groupPathSelector"
    data-dojo-type="p3/widget/WorkspaceObjectSelector" name="group_path" style="width:95%;margin:10px;"
    required="false"
    class='dijitHidden'
    data-dojo-props="title:'Select an Output Folder for This New Group',selectionText:'Destination',allowUpload:false,type:['folder'],multi:false,promptMessage:'Enter alternative group folder',missingMessage:'Optional'"
    data-dojo-attach-event="onChange:onChangeGroupPath">
  </div>



  <label>Group Name</label><br>
  <div data-dojo-attach-point="groupNameBox"
    data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox"
    style="width:95%;margin:10px;"
    class='dijitHidden'
    data-dojo-props="promptMessage:'Enter New Group Name'"
    data-dojo-attach-event="onChange:onChangeTarget" >
  </div>

  <div data-dojo-attach-point="workspaceObjectSelector"
    data-dojo-type="p3/widget/WorkspaceObjectSelector"
    style="width:95%;margin:10px;"
    data-dojo-props="title:'Select an Existing Group',type:['genome_group']"
    data-dojo-attach-event="onChange:onChangeTarget"
    class=''>
  </div>



  <div class="buttonContainer" style="text-align: right;">
    <div data-dojo-type="dijit/form/Button" label="Cancel" data-dojo-attach-event="onClick:onCancel"></div>
<!--    <div data-dojo-type="dijit/form/Button" label="Split" disabled='true'></div> -->
    <div data-dojo-type="dijit/form/Button" disabled='true' label="Add" data-dojo-attach-point="copyButton" data-dojo-attach-event="onClick:onCopy"></div>
  </div>
</div>
