<form dojoAttachPoint="containerNode" class="${baseClass} PanelForm"
    dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div style="padding:2px; margin:10px;">
    <input type="text" name="suname"/ data-dojo-type="dijit/form/TextBox" style="width:100%" data-dojo-props='placeholder:"Username of user to login as"'><br/>
  </div>

  <div style="padding:2px; margin:10px;">
    <input type="text" name="username"/ data-dojo-type="dijit/form/TextBox" style="width:100%" data-dojo-props='placeholder:"Your Username or Email Address"'><br/>
  </div>
  <div style="padding:2px;margin:10px;">
    <input type="password" name="password" data-dojo-type="dijit/form/TextBox" style="width:100%" data-dojo-props='placeholder:"Your Password"'/>
  </div>
  <div class="messageContainer workingMessage">
    Logging into PATRIC....
  </div>

  <div class="messageContainer errorMessage">
    We were unable to log you in  with the credentials provided.
  </div>

  <div style="text-align:center;padding:2px;margin:10px;">
    <div data-dojo-attach-point="cancelButton" type="submit" value="Submit" data-dojo-type="dijit/form/Button" class="dijitHidden">Login</div>
    <div data-dojo-attach-point="submitButton" type="submit" value="Submit" data-dojo-type="dijit/form/Button">Login</div>
  </div>
  <div style="font-size:.85em;">
    <!-- New to PATRIC?  <a href="/register">REGISTER HERE</a> </br> -->
    <a href="/reset_password">Forgot Your password?</a>
  </div>
</form>
