<div class="SummaryWidget">
  <div class="actionButtons" style="text-align: right">
    <div class="actionButtonsRadio" data-dojo-attach-point="actionButtonsNode" style="text-align: right">
      <i class="ChartButton fa icon-bar-chart fa-2x" title="View Summary as Chart"
        data-dojo-attach-event="click:showChart"></i>
      <i class="TableButton fa icon-th-list fa-2x" title="View Summary As Table"
        data-dojo-attach-event="click:showTable"></i>
    </div>
  </div>
  <div data-dojo-attach-point="containerNode">
    <div class="loadingNode" data-dojo-attach-point="loadingNode">Loading...</div>
    <div class="chartNode" data-dojo-attach-point="chartNode"></div>
    <div class="tableNode" data-dojo-attach-point="tableNode"></div>
  </div>
</div>
