<div>
    <div>
        <table>
            {% if collectionState || collectionCountry %}
            <tr>
                <td>Location:
                    {% if collectionState %}
                    {{ collectionState }},
                    {% endif %}
                    {% if collectionCountry %}
                    {{ collectionCountry }}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% if prevalence %}
            <tr>
                <td>Flu Positive: {{ prevalence }}% | {{ positiveCount }} / {{ testedCount }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Lat: {{ locationLat }} Long: {{ locationLng }}</td>
                <td>
                    <span class="dijitButton" id="sd-zoom-{{ index }}">
                        <span class="dijitButtonNode" role="presentation">
                            <span class="dijitButtonText">Zoom Here</span>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <p>There are more than 20 records at this location.</p>
    <p>
        Click
        <a href="/view/SurveillanceList/#view_tab=surveillance&filter=and(eq(collection_latitude,{{ locationLat }}),eq(collection_longitude,{{ locationLng }}))"
           target="_blank">here</a>
        to view all the records at this location.
    </p>
    <br>
    <table>
        <thead>
        <th style="width: 50%">
            Species
        </th>
        <th style="width: 50%">
            Species Count
        </th>
        </thead>
        <tbody>
        {% for species, count in speciesMap %}
        <tr>
            <td>{{ species }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
