<div class="sdm-pop">
    <div class="sdm-pop-header">
        <div class="sdm-pop-header-top">
            <div class="sdm-pop-location">
                {% if item.collection_state_province %}{{ item.collection_state_province }}, {% endif %}{% if item.collection_country %}{{ item.collection_country }}{% endif %}
            </div>
            <div class="sdm-pop-coords"><span class="sdm-pop-coords-label">Lat / Lng</span> {{ item.collection_latitude }}, {{ item.collection_longitude }}
            </div>
        </div>
    </div>

    <div class="sdm-pop-body">
        <div class="sdm-pop-meta">
            {% if item.pathogen_test_result %}
            {% ifequal item.pathogen_test_result "Not Applicable" %}
            <span class="sdm-pop-chip is-na"
                  title="The pathogen test result field is marked Not Applicable for this record">Test result &middot; N/A</span>
            {% else %}
            <span class="sdm-pop-chip {{ testResultClass }}">Test result &middot; {{ item.pathogen_test_result }}</span>
            {% endifequal %}
            {% endif %}
            <span class="sdm-pop-btn" id="sd-zoom-{{ index }}" role="button">Zoom here</span>
        </div>

        <div class="sdm-pop-section-title">
            Surveillance Record
            <a class="sdm-pop-link" href="/view/Surveillance/{{ item.sample_identifier }}" target="_blank">Open record
                &rarr;</a>
        </div>
        <dl class="sdm-pop-dl">
            <dt>ID</dt>
            <dd>{{ item.host_identifier }}</dd>
            {% if item.collection_date %}
            <dt>Collected</dt>
            <dd>{{ item.collection_date }}</dd>
            {% endif %}
            {% if item.host_common_name %}
            <dt>Host</dt>
            <dd>{{ item.host_common_name }}</dd>
            {% endif %}
            {% if item.host_health %}
            <dt>Host health</dt>
            <dd>{{ item.host_health }}</dd>
            {% endif %}
            {% if item.subtype %}
            <dt>Subtype</dt>
            <dd>{{ item.subtype }}</dd>
            {% endif %}
            {% if item.strain %}
            <dt>Strain</dt>
            <dd>{{ item.strain }}</dd>
            {% endif %}
        </dl>
    </div>
</div>
