<div>

    <table style="margin:2px;">
        <tbody>
        <tr>
            <td style="padding:7px;vertical-align:top;min-width:350px;width:30%;">
                <div class="section" style="">
                    <div style="padding:7px" data-dojo-attach-point="taxonomySummaryNode">
                        Loading Genome Summary...
                    </div>
                </div>
                <div class="section">
                    <h3 class="section-title"><span class="wrap">Reference/Representative Genomes</span></h3>
                    <div data-dojo-attach-point="rgSummaryWidget"
                         data-dojo-type="p3/widget/ReferenceGenomeSummary">
                    </div>
                </div>
                <div class="section">
                    <h3 class="section-title"><span class="wrap">Recent PubMed Articles</span></h3>
                    <div data-dojo-attach-point="pubmedSummaryNode" style="margin:4px;padding:8px;margin-radius:4px;">
                        This feature will be returning soon.
                    </div>
                    <div data-dojo-attach-point="pubmedSummaryNode2"
                         style="margin:4px;padding:8px;margin-radius:4px;display:block">
                        <div>Show more <i data-dojo-attach-event="click:onShowMore"
                                          class="fa icon-plus-circle fa-lg"></i></div>
                        </br>
                    </div>
                </div>
            </td>
            <td style="padding:7px;vertical-align:top;width:70%;min-width:500px;">

                <div class="section">
                    <h3 class="section-title"><span class="wrap">Genome Metadata Summary</span></h3>
                    <div class="gmSummaryWidget" data-dojo-attach-point="gmSummaryWidget"
                         data-dojo-type="p3/widget/GenomeMetaSummary">
                    </div>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
