<div>
  <div class="column-sub">
    <div class="section">
      <h3 class="section-title close" title="Taxonomy Summary"><span class="wrap">Taxonomy Summary</span></h3>
      <div data-dojo-attach-point="taxonomySummaryNode">
        Loading Taxonomy Summary...
      </div>
    </div>

    <div class="section">
      <h3 class="section-title close" title="Select genomes of high quality sequences and annotations and/or used by researchers for clinical studies, experimental validation, and comparative analysis."><span class="wrap">Reference/Representative Genomes</span></h3>
      <div class="rgSummaryWidget" data-dojo-attach-point="rgSummaryWidget"
        data-dojo-type="p3/widget/ReferenceGenomeSummary">
      </div>
    </div>
  </div>

  <div class="column-prime">
    <div class="section hidden">
      <h3 class="section-title close" title="Summary of genomes by available antimicrobial resistance phenotype data."><span class="wrap">Genomes by Antimicrobial Resistance</span></h3>
      <div class="apmSummaryWidget" data-dojo-attach-point="apmSummaryWidget"
        data-dojo-type="p3/widget/AMRPanelMetaSummary">
      </div>
    </div>

    <div class="section">
      <h3 class="section-title close" title="Summary of genomes by key metadata attributes."><span class="wrap">Genomes by Metadata</span></h3>
      <div class="gmSummaryWidget" data-dojo-attach-point="gmSummaryWidget"
        data-dojo-type="p3/widget/GenomeMetaSummary">
      </div>
    </div>
  </div>

  <div class="column-opt">
    <div class="section">
        <div class="BrowserHeader right">
            <div class="ActionButtonWrapper" data-dojo-attach-event="onclick:onClickUserGuide" style="margin-top: 2px">
                <div class="ActionButton fa icon-info-circle fa-2x"></div>
                <div class="ActionButtonText">GUIDE</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section">
      <h3 class="close section-title"><span class="wrap">External Tools</span></h3>
      <div class="SummaryWidget" data-dojo-attach-point="externalLinkNode"></div>
    </div>
    <div class="section">
      <h3 class="section-title close2x" title="Recent PubMed articles relevant to the current context."><span class="wrap">Recent PubMed Articles</span></h3>
      <div data-dojo-attach-point="pubmedSummaryNode">
        Loading...
      </div>
    </div>
  </div>
</div>
