<form dojoAttachPoint="containerNode" class="PanelForm" dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div style="margin-left:5px; border:solid 1px #B5BCC7;">
    <div style="padding: 5px; background-color:#eee; margin-bottom:5px;">${pathLabel} <span data-dojo-attach-point="destinationPath">${path}</span></div>
    <div style="padding: 5px;">
      <div style="width:300px">
        ${typeLabel}<select data-dojo-type="dijit/form/Select" name="type" data-dojo-attach-event="onChange:onUploadTypeChanged" data-dojo-attach-point="uploadType" style="vertical-align: top;width:200px" required="true" data-dojo-props="">
      </select>
      </div><br>
      <div data-dojo-attach-point="typeDescriptionContainer" style="width: 90%; margin: auto; font-size: .9em; margin-bottom: 10px; color: #333; border: 2px solid orange; border-radius: 4px; padding: 4px;"></div>
      <div data-dojo-attach-point="fileFilterContainer" style="font-size:.85em;margin-bottom: 10px;" class="dijitHidden">
        <input data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="showAllFormats" data-dojo-attach-event="onChange:onChangeShowAllFormats" checked="true" />
        <span>Restrict file selection to the common extensions for this file type: </span><br>
        <span style="margin-left: 25px;" data-dojo-attach-point="formatListNode"></span>
      </div>
      <div id="dnd-zone" style="width: 615px; border: 1px dashed #0085f3; color: #666; text-align: center; padding: 50px 85px;">
        <div class="fileUploadButton" style="border-radius:2px" data-dojo-attach-point="fileUploadButton">
          <span>${buttonLabel}</span>
          <!-- <input type="file" data-dojo-attach-point="fileInput" data-dojo-attach-event="onchange:onFileSelectionChange" /> -->
        </div>
        <div style="width: 100%; text-align: center; font-size: 1.4em; font-weight: 700; margin: 15px 0;">or</div>
        <span id="dnd-text">Drop files here.</span>
      </div>
      <div data-dojo-attach-point="fileTableContainer" style="min-height: 110px"></div>
      <div class="workingMessage" style="width:400px;" data-dojo-attach-point="workingMessage">
      </div>
      <div style="margin-left:20px;margin-top:10px;text-align:right;">
        <span class="charError" style="color:red"></span>
        <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel</div>
        <div data-dojo-attach-point="saveButton" type="submit" disabled="true" data-dojo-type="dijit/form/Button">Start Upload</div>
      </div>
    </div>
  </div>
</form>
