<form dojoAttachPoint="containerNode" class="PanelForm"
    dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
	<div style='width:450px'>
		<div class="fileUploadButton">
			<span>Add File(s)</span>
			<input type="file" data-dojo-attach-point="fileInput" multiple="true" data-dojo-attach-event="onchange:onFileSelectionChange" />
		</div>
		<select data-dojo-type="dijit/form/Select" name="type" data-dojo-attach-point="uploadType" style="vertical-align: top;width:300px" required="true" data-dojo-props="">
			<option value="unspecified">Unspecified</option>
			<option value="contigs">Contigs (.fa, .fasta) </option>
		<!--	<option value="fasta">fasta (.fa,.fasta) </option>-->
			<option value="reads">Reads (.fa, .fasta, .fq, .fastq) </option>		
			<option value="phenomics_gene_list">Phenomics Gene List (.csv,.txt,.xsl,.xlsx)</option>			
			<option value="phenomics_gene_matrix">Phenomics Gene Matrix (.csv,.txt,.xsl,.xlsx)</option>			
			<option value="phenomics_experiment_metadata">Phenomics Experiment Comparison Metadata (.csv,.txt,.xsl,.xlsx)</option>
			<option value="proteomics_gene_list">Proteomics Gene List (.csv,.txt,.xsl,.xlsx)</option>			
			<option value="proteomics_gene_matrix">Proteomics Gene Matrix (.csv,.txt,.xsl,.xlsx)</option>			
			<option value="proteomics_experiment_metadata">Proteomics Experiment Comparison Metadata (.csv,.txt,.xsl,.xlsx)</option>	
			<option value="transcriptomics_gene_list">Transcriptomics Gene List (.csv,.txt,.xsl,.xlsx)</option>			
			<option value="transcriptomics_gene_matrix">Transcriptomics Gene Matrix (.csv,.txt,.xsl,.xlsx)</option>			
			<option value="transcriptomics_experiment_metadata">Transcriptomics Experiment Comparison Metadata (.csv,.txt,.xsl,.xlsx)</option>			
		</select>
	</div>
		<div data-dojo-attach-point="fileTableContainer"></div>

		<div class="workingMessage" style="width:400px;" data-dojo-attach-point="workingMessage">
		</div>

		<div style="margin:4px;margin-top:8px;text-align:right;">
			<div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel</div>
			<div data-dojo-attach-point="saveButton" type="submit" disabled="true" data-dojo-type="dijit/form/Button">Upload Files</div>
		</div>	
</form>

 	
