<div class="UploadStatusButton">
  <div class="UploadStatusUpload"><i class="DialogButton fa icon-upload fa" style="font-size:1.5em;  vertical-align:middle;" rel="Upload:" ></i></div>
  <div data-dojo-attach-point="focusNode" class="UploadStatusArea">
    <span>Uploads</span>
    <span data-dojo-attach-point="uploadStatusCount" class="UploadStatusCounts dijitHidden">

      <i class="icon-play22 Running"></i>
      <span data-dojo-attach-point="activeUploadCountNode">0</span>

      <span class="divider"></span>

      <i class="icon-checkmark2 Completed"></i>
      <span data-dojo-attach-point="completedUploadCountNode">0</span>


      <span class="UploadingProgress dijitHidden" data-dojo-attach-point="uploadingProgress"></span>
    </span>
  </div>
</div>
