<div class="UploadStatusButton">
	<div class="UploadStatusUpload"><i class="DialogButton fa icon-upload fa" style="font-size:1.5em;  vertical-align:middle;" rel="Upload:" ></i></div>
	<div data-dojo-attach-point="focusNode" class="UploadStatusArea">
		<span>Uploads</span>
		<div data-dojo-attach-point="uploadStatusCount" class="UploadStatusCount">
			<span class="UploadingActive" data-dojo-attach-point="activeUploadCountNode">0</span>

			<!--<i class="icon-checkmark2 UploadingComplete"></i>-->
			<span class="UploadingComplete" data-dojo-attach-point="completedUploadCountNode">0</span>
			<span class="UploadingProgress dijitHidden" data-dojo-attach-point="uploadingProgress"></span>
		</div>
	</div>
</div>
