<div>
    <div class="column-sub" style="width:1%">
        &nbsp;
    </div>

    <div class="column-prime" style="width:75%">
        <br/>
        <div class="section far2x">

            <b>Welcome to the BV-BRC SARS-CoV-2 Real-time Tracking and Early Warning System for Variants and Lineages of Concern (VoCs/LoCs)</b>
            <p>
                VoCs/LoCs are sequence variants or lineages that may significantly affect vaccine efficacy, transmissibility, disease outcomes,
                or other factors critical to gaining control of COVID-19 disease.
                The VoC list is based on variants compiled by the <a href="https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/variant-surveillance/variant-info.html" target=_blank>CDC</a>.
                The VoI list is based on work by the NIAID SAVE Early Detection Working Group [public hyperlink]. <br/>
                The <b>SARS-CoV-2 Variants and Lineages of Concern</b> resource
                <ul>
                    <li>Identifies and tracks emerging variants and lineages through daily processing of publicly available SARS-CoV-2 sequences</li>
                    <li>Performs risk assessment on the variants to identify candidate VoCs/LoCs by leveraging a growing knowledgebase of
                        sequence features, including protein domains, functional regions, and immune epitopes</li>
                    <li>Provides detailed information about each VoC/LoC</li>
                    <li>Provides their sequence prevalence in various countries and regions over time using interactive dashboards and charts</li>
                    <li>Provides integrated view of the VoCs/LoCs and important sequence features using genome browsers, protein structure viewers, and phylogenetic trees</li>
                </ul>
                <br/>
                For more information, please see <a href="/patric/pdf/sars-cov-2-loc-tutorial.pdf" target=_blank>The BV-BRC Real-time Tracking and Early Warning System for SARS-CoV-2 Variants and Lineages of Concern (VoCs/LoCs) Tutorial</a>.
            </p>
        </div>
        <div class="section close2x">
            <h3 class="close2x section-title"><span class="wrap">Currently Monitored Variants / Lineages</span></h3>
            <table class="p3basic striped">
                <thead>
                    <tr>
                        <th>Lineage</th>
                        <th>WHO Name</th>
                        <th>WHO Classification</th>
                        <th>PANGO Lineage</th>
                        <th>NextStrain Lineage</th>
                        <th>Emergence Location</th>
                        <th>Emergence Date</th>
                        <th>AA Substitutions in Spike Protein</th>
                        <th>Representative Strain</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.617.2">B.1.617.2 + AY.* lineages</a></td>
                        <td>Delta</td>
                        <td>VOC</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=B.1.617.2" target="_blank">B.1.617.2</a></td>
                        <td>21I and 21J (Delta)</td>
                        <td>India</td>
                        <td>October 2020</td>
                        <td>T19R, E156G, F157-, R158-, L452R, T478K, D614G, P681R,  D950N</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.451044">SARS-CoV-2/human/USA/IN-CDC-STM-000049216/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=BA.1">BA.1</a></td>
                        <td>Omicron</td>
                        <td>VOC</td>
                        <td><a href="https://cov-lineages.org/global_report_BA.1.html">BA.1</a></td>
                        <td>21K (Omicron)</td>
                        <td>Southern Africa</td>
                        <td>November 2021</td>
                        <td>A67V, H69-, V70-, T95I, G142D, V143-, Y144-, Y145-, N211-, L212I, ins214EPE, G339D, S371L, S373P, S375F, K417N, N440K, G446S, S477N, T478K, E484A, Q493R, G496S, Q498R, N501Y, Y505H, T547K, D614G, H655Y, N679K, P681H, N764K, D796Y, N856K, Q954H, N969K, L981F</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.2862877">SARS-CoV-2/human/BEL/rega-20174/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=BA.2">BA.2 + BA.2*</a></td>
                        <td>Omicron</td>
                        <td>VUM</td>
                        <td><a href="https://cov-lineages.org/global_report_BA.2.html" target="_blank">BA.2</a></td>
                        <td>21L (Omicron)</td>
                        <td>Southern Africa</td>
                        <td>November 2021</td>
                        <td>T19I, L24del, P25del, P26del, A27S, G142D, V213G, G339D, S371F, S373P, S375F, T376A, D405N, R408S, K417N, N440K, S477N, T478K, E484A, Q493R, Q498R, N501Y, Y505H, D614G, H655Y, N679K, P681H, N764K, D796Y, Q954H, N969K</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.4219032">SARS-CoV-2/human/USA/FL-CDC-STM-77CPCCUR3/2022</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=BA.2.12.1">BA.2.12.1</a></td>
                        <td>Omicron</td>
                        <td>VUM</td>
                        <td><a href="https://cov-lineages.org/global_report_BA.2.12.1.html" target="_blank">BA.2.12.1</a></td>
                        <td>22C (Omicron)</td>
                        <td>Canada/USA</td>
                        <td>December 2021</td>
                        <td>T19I, L24del, P25del, P26del, A27S, G142D, V213G, G339D, S371F, S373P, S375F, T376A, D405N, R408S, K417N, N440K, L452Q, S477N, T478K, E484A, Q493R, Q498R, N501Y, Y505H, D614G, H655Y, N679K, P681H, S704L, N764K, D796Y, Q954H, N969K</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.4570651">SARS-CoV-2/human/USA/NY-CDC-LC0553978/2022</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=BA.3">BA.3</a></td>
                        <td>Omicron</td>
                        <td>VUM</td>
                        <td><a href="https://cov-lineages.org/global_report_BA.3.html" target="_blank">BA.3</a></td>
                        <td>22K (Omicron)</td>
                        <td>Southern Africa</td>
                        <td>November 2021</td>
                        <td>A67V, H69del, V70del, T95I, G142D, V143del, Y144del, Y145del, N211del, L212I, G339D, S371F, S373P, S375F, D405N, K417N, N440K, G446S, S477N, T478K, E484A, Q493R, Q498R, N501Y, Y505H, D614G, H655Y, N679K, P681H, N764K, D796Y, Q954H, N969K</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.3740221">UNKNOWN-OV494217</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=BA.4">BA.4</a></td>
                        <td>Omicron</td>
                        <td>VUM</td>
                        <td><a href="https://cov-lineages.org/global_report_BA.4.html" target="_blank">BA.4</a></td>
                        <td>22A (Omicron)</td>
                        <td>Southern Africa</td>
                        <td>January 2022</td>
                        <td>T19I, L24del, L24del, P25del, P25del, P25del, P26del, P26del, P26del, A27S, H69del, V70del, V213G, G339D, S371F, S373P, S375F, T376A, D405N, R408S, K417N, N440K, R452K, S477N, T478K, E484A, F486V, Q498R, N501Y, Y505H, D614G, H655Y, N679K, P681H, N764K, D796Y, Q954H, N969K</td>
                        <td><a href="https://www.ncbi.nlm.nih.gov/nuccore/ON373214">SARS-CoV-2/human/USA/PA-CDC-LC0583069/2022</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=BA.5">BA.5</a></td>
                        <td>Omicron</td>
                        <td>VUM</td>
                        <td><a href="https://cov-lineages.org/global_report_BA.5.html" target="_blank">BA.5</a></td>
                        <td>22B (Omicron)</td>
                        <td>Southern Africa</td>
                        <td>January 2022</td>
                        <td>T19I, L24del, L24del, P25del, P25del, P25del, P26del, P26del, P26del, A27S, H69del, V70del, V213G, G339D, S371F, S373P, S375F, T376A, D405N, R408S, K417N, N440K, R452K, S477N, T478K, E484A, F486V, Q498R, N501Y, Y505H, D614G, H655Y, N679K, P681H, N764K, D796Y, Q954H, N969K</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.4881887">SARS-CoV-2/human/USA/MI-CDC-ASC210848963/2022</a></td>
                    </tr>
                </tbody>
            </table>

            <br>

            <h3 class="close2x section-title"><span class="wrap">Previously Monitored Variants / Lineages</span></h3>
            <table class="p3basic striped">
                <thead>
                    <tr>
                        <th>Lineage</th>
                        <th>WHO Name</th>
                        <th>WHO Classification</th>
                        <th>PANGO Lineage</th>
                        <th>NextStrain Lineage</th>
                        <th>Emergence Location</th>
                        <th>Emergence Date</th>
                        <th>AA Substitutions in Spike Protein</th>
                        <th>Representative Strain</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.1.318">B.1.1.318</a></td>
                        <td>---</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=B.1.1.318" target="_blank">B.1.1.318</a></td>
                        <td>---</td>
                        <td>England</td>
                        <td>February 2021</td>
                        <td>T95I, del144*, E484K, P681H, D796H</td>
                        <td><a href="https://www.ncbi.nlm.nih.gov/nuccore/2017803574">SARS-CoV-2/human/USA/MD-MDH-1369/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.1.519">B.1.1.519</a></td>
                        <td>---</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=B.1.1.519" target="_blank">B.1.1.519</a></td>
                        <td>20B/S:732A</td>
                        <td>Mexico</td>
                        <td>October 2020</td>
                        <td>T478K, D614G, P681H, T732A</td>
                        <td><a href="https://www.viprbrc.org/brc/viprStrainDetails.spg?ncbiAccession=MW644499&decorator=corona&context=1619414300344">SARS-CoV-2/human/USA/MD-MDH-0958/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.1.523">B.1.1.523</a></td>
                        <td>---</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=B.1.1.523" target="_blank">B.1.1.523</a></td>
                        <td>---</td>
                        <td>Multiple</td>
                        <td>August 2020</td>
                        <td>F306L, E484K, S494P, D614G, E780A, D839V, T1027I </td>
                        <td><a href="https://www.viprbrc.org/brc/viprStrainDetails.spg?ncbiAccession=OU429148&decorator=corona_ncov&context=1632979238640">Severe acute respiratory syndrome coronavirus 2 genome assembly, chromosome: 1</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.1.7">B.1.1.7 + Q.* lineages</a></td>
                        <td>Alpha</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/global_report_B.1.1.7.html" target="_blank">B.1.1.7 + Q.* lineages</a></td>
                        <td>20I (Alpha)</td>
                        <td>United Kingdom</td>
                        <td>September 2020</td>
                        <td>H69-**, V70-**, N501Y**, A570D, D614G**, P681H, T716I, S982A, D1118H</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.300955">SARS-CoV-2/human/USA/CA-CDC-STM-000008272/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.214.2">B.1.214.2</a></td>
                        <td>---</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=B.1.214.2" target="_blank">B.1.214.2</a></td>
                        <td>---</td>
                        <td>Belgium</td>
                        <td>November 2020</td>
                        <td>ins214TDR, Q414K, N450K, D614G, T716I</td>
                        <td><a href="https://www.viprbrc.org/brc/viprStrainDetails.spg?ncbiAccession=OU176142&decorator=corona_ncov&context=1632979664781">Severe acute respiratory syndrome coronavirus 2 isolate hCoV-19/Switzerland/BL-ETHZ-521059/2020 genome assembly, chromosome: 1</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.351">B.1.351 + B.1.351.* lineages</a></td>
                        <td>Beta</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/global_report_B.1.351.html" target="_blank">B.1.351 + B.1.351.* lineages</a></td>
                        <td>20H (Beta, V2)</td>
                        <td>South Africa</td>
                        <td>May 2020</td>
                        <td>(L18F*)**, D80A, D215G*, L241-, L242-, A243-, (R246I*), K417N**, E484K**, N501Y**, D614G**, A701V</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.293736">SARS-CoV-2/human/GHA/nmimr-SARS-CoV-2-TRA-186/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.427/B.1.429">B.1.427/B.1.429</a></td>
                        <td>Epsilon</td>
                        <td>---</td>
                        <td>
                            <a href="https://cov-lineages.org/global_report_B.1.427.html" target="_blank">B.1.427</a><br>
                            <a href="https://cov-lineages.org/global_report_B.1.429.html" target="_blank">B.1.429</a>
                        </td>
                        <td>20C/S:452R</td>
                        <td>USA</td>
                        <td>September 2020</td>
                        <td>S13I, W152C,  L452R, D614G**</td>
                        <td><a href="https://www.viprbrc.org/brc/viprStrainDetails.spg?ncbiAccession=MW643426&decorator=corona&context=1620187705467">SARS-CoV-2/human/USA/TN-CDC-LC0012874/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.466.2">B.1.466.2</a></td>
                        <td>---</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=B.1.466.2" target="_blank">B.1.466.2</a></td>
                        <td>---</td>
                        <td>Indonesia</td>
                        <td>August 2020</td>
                        <td>N439K, D614G, P681R</td>
                        <td><a href="https://www.viprbrc.org/brc/viprStrainDetails.spg?ncbiAccession=MZ006524&decorator=corona_ncov&context=1632979880928">SARS-CoV-2/human/USA/FL-CDC-STM-000047642/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.525">B.1.525</a></td>
                        <td>Eta</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/global_report_B.1.525.html" target="_blank">B.1.525</a></td>
                        <td>21D (Eta)</td>
                        <td>Multiple</td>
                        <td>December 2020</td>
                        <td>Q52R, E484K, D614G, Q677H, F888L</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.120701">SARS-CoV-2/human/USA/CA-LACPHL-AF00280/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.526">B.1.526</a></td>
                        <td>Iota</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/global_report_B.1.526.html" target="_blank">B.1.526</a></td>
                        <td>21F (Iota)</td>
                        <td>USA</td>
                        <td>November 2020</td>
                        <td>L5F, T95I, D253G, E484K*, D614G, A701V</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.333080">SARS-CoV-2/human/USA/NJ-CDC-LC0012204/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.617.1">B.1.617.1</a></td>
                        <td>Kappa</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/global_report_B.1.617.1.html" target="_blank">B.1.617.1</a></td>
                        <td>21B (Kappa)</td>
                        <td>India</td>
                        <td>October 2020</td>
                        <td>E154K, L452R, E484Q, D614G, P681R, Q1071H</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.433713">SARS-CoV-2/human/USA/NJ-CDC-ASC210006113/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.617.3">B.1.617.3</a></td>
                        <td>---</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/global_report_B.1.617.3.html" target="_blank">B.1.617.3</a></td>
                        <td>---</td>
                        <td>India</td>
                        <td>October 2020</td>
                        <td>T19R, L452R, E484Q, D614G, P681R</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.1272479">SARS-CoV-2/human/USA/NH-CDC-2-3998369/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.619">B.1.619 / B.1.619.1</a></td>
                        <td>---</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=B.1.619" target="_blank">B.1.619 / B.1.619.1</a></td>
                        <td>---</td>
                        <td>Multiple</td>
                        <td>May 2020</td>
                        <td>I210T, N440K, E484K, D614G, D936N, S939F, T1027I</td>
                        <td><a href="https://www.viprbrc.org/brc/viprStrainDetails.spg?ncbiAccession=OU185146&decorator=corona_ncov&context=1632982693787">UNKNOWN-OU185146</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.620">B.1.620</a></td>
                        <td>---</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=B.1.620" target="_blank">B.1.620</a></td>
                        <td>20A/S:126A</td>
                        <td>Multiple</td>
                        <td>November 2020</td>
                        <td>P26S, H69del, V70del, V126A, Y144del, L242del, A243del,L244del, H245Y, S477N, E484K, D614G, P681H, T1027I, D1118H</td>
                        <td><a href="https://www.ncbi.nlm.nih.gov/nuccore/MZ385585.1">SARS-CoV-2/human/USA/WA-CDC-4139020-001/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=B.1.621">B.1.621 + B.1.621.* lineages</a></td>
                        <td>Mu</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/global_report_B.1.621.html" target="_blank">B.1.621 + B.1.621.* lineages</a></td>
                        <td>21H (Mu)</td>
                        <td>Colombia</td>
                        <td>January 2021</td>
                        <td>T95I, Y144S, Y145N, ins145N, R346K, E484K, N501Y, D614G, P681H, D950N</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.1877076">SARS-CoV-2/human/USA/FL-CDC-ASC210274672/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=C.1.2">C.1.2</a></td>
                        <td>---</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=C.1.2" target="_blank">C.1.2</a></td>
                        <td>---</td>
                        <td>South Africa</td>
                        <td>May 2021</td>
                        <td>P9L, C136F, Y144del, R190S, D215G, Y449H, E484K, N501Y, D614G, H655Y, N679K, T716I, T859N</td>
                        <td><a href="https://www.viprbrc.org/brc/viprStrainDetails.spg?ncbiAccession=OU407527&decorator=corona_ncov&context=1632980151859">Severe acute respiratory syndrome coronavirus 2 isolate hCoV-19/Switzerland/VD-CHUV-GEN5512/2021 genome assembly, chromosome: 1</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=C.36.3">C.36.3 / C.36.3.1</a></td>
                        <td>---</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=C.36.3" target="_blank">C.36.3 / C.36.3.1</a></td>
                        <td>---</td>
                        <td>Multiple</td>
                        <td>January 2021</td>
                        <td>S12F, H69del, V70del, W152R, R346S, L452R, D614G, Q677H, A899S</td>
                        <td><a href="https://www.viprbrc.org/brc/viprStrainDetails.spg?ncbiAccession=OU359644&decorator=corona_ncov&context=1632982024122">Severe acute respiratory syndrome coronavirus 2 genome assembly, chromosome: 1.</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=C.37">C.37 + C.37.1</a></td>
                        <td>Lambda</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=C.37" target="_blank">C.37 + C.37.1</a></td>
                        <td>21G (Lambda)</td>
                        <td>Peru</td>
                        <td>December 2020</td>
                        <td>G75V, T76I, R246N, S247-, Y248-, L249-, T250-, P251-, G252-, D253-, L452Q, F490S, D614G, T859N</td>
                        <td><a href="https://www.viprbrc.org/brc/viprStrainDetails.spg?ncbiAccession=MW850639&decorator=corona_ncov&context=1631641802152">SARS-CoV-2/human/USA/VA-DCLS-3388/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=P.1">P.1 + P.1.* lineages</a></td>
                        <td>Gamma</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/global_report_P.1.html">P.1 + P.1.* lineages</a></td>
                        <td>20J (Gamma, V3)</td>
                        <td>Brazil</td>
                        <td>November 2020</td>
                        <td>L18F**, T20N, P26S, D138Y, R190S, K417T**, E484K**, N501Y**, D614G**, H655Y, T1027I, V1176F</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.331381">SARS-CoV-2/human/ITA/ABR-IZSGC-TE30968/2021|gb|QRX39425</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=P.2">P.2</a></td>
                        <td>Zeta</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/global_report_P.2.html" target="_blank">P.2</a></td>
                        <td>20J</td>
                        <td>Brazil</td>
                        <td>January 2021</td>
                        <td>E484K, D614G, V1176F</td>
                        <td><a href="https://www.bv-brc.org/view/Genome/2697049.110644">SARS-CoV-2/human/USA/CA-QDX-4247/2021</a></td>
                    </tr>
                    <tr>
                        <td><a href="/view/VariantLineage/#view_tab=lineage&loc=R.1">R.1</a></td>
                        <td>---</td>
                        <td>---</td>
                        <td><a href="https://cov-lineages.org/lineage.html?lineage=R.1" target="_blank">R.1</a></td>
                        <td>---</td>
                        <td>Multiple</td>
                        <td>October 2020</td>
                        <td>W152L, E484K, D614G, G769V</td>
                        <td><a href="https://www.viprbrc.org/brc/viprStrainDetails.spg?ncbiAccession=MW598432&decorator=corona">SARS-CoV-2/human/GHA/nmimr-SARS-CoV-2-NTRA-15381/2020</a></td>
                    </tr>
                </tbody>
            </table>

            <br>

            * denotes mutations found in at least >25% variants, but not in all sequences</li><br>
            ** denotes mutations found in more than one VoC indicating possible positive selection, shared ancestry and/or convergent evolution
        </div>
    </div>

    <div class="column-opt">
        <br/>
        <div class="section far2x">
            <h3 class="close2x section-title"><span class="wrap">Acknowledgements</span></h3>
            <p>
                We gratefully acknowledge the authors, originating and submitting laboratories that have shared their SARS-CoV-2 genomic data
                via <a href="https://www.ncbi.nlm.nih.gov/sars-cov-2/" target=_blank>GenBank and SRA</a> and <a href="https://www.cogconsortium.uk/" target=_blank>COG-UK</a>, which is used to build this system.
            </p>
        </div>
        <div class="section">
            <h3 class="close2x section-title"><span class="wrap">Recent PubMed Articles</span></h3>
            <div data-dojo-attach-point="pubmedSummaryNode">
                Loading...
            </div>
        </div>
    </div>
  </div>
