<div>
  <div class="column-sub"></div>

  <div class="column-prime" style="width:80%">
      <div class="section">
          <h3 class="close2x section-title"><span class="wrap">SARS-CoV-2 Help Documents</span></h3>
          <table class="p3basic striped far2x">
              <thead>
                <tr>
                  <th>Resource</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="/patric/pdf/sars-cov-2-genome-browser-user-guide.pdf" target=_blank>BV-BRC SARS-CoV-2 Genome Browser User Guide</a></td>
                </tr>
                <tr>
                  <td><a href="/patric/pdf/sars-cov-2-genome-browser-methods.pdf" target=_blank>BV-BRC SARS-CoV-2 Genome Browser - Methods</a></td>
                </tr>
                <tr>
                  <td><a href="/patric/pdf/sars-cov-2-genome-reference-tree-methods.pdf" target=_blank>BV-BRC SARS-CoV-2 Genome Reference Tree: Methods</a></td>
                </tr>
                <tr>
                  <td><a href="/patric/pdf/sars-cov-2-archeaopteryx-user-guide.pdf" target=_blank>BV-BRC SARS-CoV-2 Genome Reference
                    Tree: Archeaopteryx.js User Guide</a></td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>

  <div class="column-opt"></div>
</div>
