<div>
  <div class="column-sub"></div>

  <div class="column-prime" style="width:80%">
    <div class="section far2x">
      <h3 class="close2x section-title"><span class="wrap">Protein Structure</span></h3>
      <table class="p3basic striped">
        <thead>
          <tr>
            <th>name</th>
            <th>Description</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/view/ProteinStructure#accession=6MOJ" target=_blank>6MOJ</a></td>
            <td>Crystal structure of SARS-CoV-2 spike receptor-binding domain bound with ACE2</td>
          </tr>
           <tr>
            <td><a href="/view/ProteinStructure#accession=6VXX" target=_blank>6VXX</a></td>
            <td>Structure of the SARS-CoV-2 spike glycoprotein (closed state)</td>
          </tr>
           <tr>
            <td><a href="/view/ProteinStructure#accession=6VYB" target=_blank>6VYB</a></td>
            <td>SARS-CoV-2 spike ectodomain structure (open state)</td>
          </tr>
           <tr>
            <td><a href="/view/ProteinStructure#accession=6W41" target=_blank>6W41</a></td>
            <td>Crystal structure of SARS-CoV-2 receptor binding domain in complex with human antibody CR3022</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>