<div>
    <!--
    <div class="column-sub"></div>
    -->

    <div class="column-prime-mod" style="margin-left:10px;width:85%">
        <div class="section far2x">
            <h3 class="close2x section-title"><span class="wrap">Lineages of Concern / Interest</span></h3>

            <div data-dojo-attach-point="lineageSelectNode"></div>

            <div class="SummaryWidget" data-dojo-attach-point="lineagePropertiesNode">
                Loading Properties...
            </div>
            * denotes mutations found in at least >25% variants, but not in all sequences</li>
            <br> ** denotes mutations found in more than one VoC indicating possible positive selection, shared ancestry and/or convergent evolution
        </div>
    </div>
    <!--
    <div class="column-opt" style="width:48%">
        <div class="section far2x">
            <div data-dojo-attach-point="byCountryHBarChartNode"></div>
        </div>
        <div class="section far2x">
            <div data-dojo-attach-point="byLineageChartNode"></div>
        </div>
    </div>
    --->
</div>