<div>
  <div class="column-sub"></div>

  <div class="column-prime" style="width:80%">
    <div class="section far2x">
      <h3 class="close2x section-title"><span class="wrap">Protein Structure</span></h3>
      <table class="p3basic striped">
        <thead>
          <tr>
            <th>name</th>
            <th>Description</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/view/ProteinStructure/6MOJ" target=_blank>6MOJ</a></td>
            <td>6VVX protein is blah blah...</td>
          </tr>
           <tr>
            <td><a href="/view/ProteinStructure/6VXX" target=_blank>6VXX</a></td>
            <td>6VVX protein is blah blah...</td>
          </tr>
           <tr>
            <td><a href="/view/ProteinStructure/6VYB" target=_blank>6VYB</a></td>
            <td>6VVX protein is blah blah...</td>
          </tr>
           <tr>
            <td><a href="/view/ProteinStructure/6W41" target=_blank>6W41</a></td>
            <td>6VVX protein is blah blah...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>