<div>

    <!-- For MS IE/Edge compatibility:-->
    <meta http-equiv="X-UA-Compatible" content="IE=100">

    <!-- CSS for jQuery UI: -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

    <style type="text/css">
        #search_options fieldset {
            height: auto !important;
        }

        div.node_mouseover_tooltip {
            position: absolute;
            text-align: center;
            font: 12px sans-serif;
            pointer-events: none;
            background: #dddddd;
            border: solid 1px #aaa;
            border-radius: 8px;
        }

        .size {
            height: 100%;
            width: 100%;
        }
    </style>

    <h4>VoC 1.8.5 beta 4 IS</h4>

    <div class="size" id="VariantLineagePhlyogenyTreeViewerMain">

        <div id='phylogram1'></div>

        <div id="controls0" class="ui-widget-content"></div>

        <!-- <c:if test="${param.appType eq '4' or param.appType eq '4.1'}"> -->
        <div id="controls1" class="ui-widget-content"></div>
        <!-- </c:if> -->
    </div>
</div>