<div>
  <div class="column-left">
    <div class="section">
      <h3 class="section-title close" title="Virus Data Summary"><span class="wrap">Virus Data Summary</span></h3>
      <div class="data-summary" data-dojo-attach-point="taxonomySummaryNode" style="padding-top: 10px;">
        Loading Virus Data Summary...
      </div>
      <style>
        .data-summary .DataItemProperty {
          width: 60%;
        }
      </style>
    </div>
  </div>

  <div class="column-mid">
    <div class="section">
      <h3 class="section-title close" title="Virus families."><span class="wrap">Virus Families</span></h3>
      <div class="virus-section" style="padding-top: 10px;">
        <div class="virus-families">
          <span style="font-size: 1em; font-weight: bold;">Single-Stranded Positive-Sense RNA</span>
          <div class="virus">
            <a href="/view/Taxonomy/11974#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/caliciviridae.jpg" />
              <span>Caliciviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/11118#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/coronaviridae.jpg" />
              <span>Coronaviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/11050#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/flaviviridae.jpg" />
              <span>Flaviviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/291484#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/hepeviridae.jpg" />
              <span>Hepeviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/12058#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/picornaviridae.jpg" />
              <span>Picornaviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/11018#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/togaviridae.jpg" />
              <span>Togaviridae</span>
            </a>
          </div>
        </div>

        <div class="virus-families">
          <span style="font-size: 1em; font-weight: bold;">Single-Stranded Negative-Sense RNA</span>
          <div class="virus">
            <a href="/view/Taxonomy/1980410#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/bunyavirales.jpg" />
              <span>Bunyavirales</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/11266#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/filoviridae.jpg" />
              <span>Filoviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/11158#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/paramyxoviridae.jpg" />
              <span>Paramyxoviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/11308#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/orthomyxoviridae.jpg">
              <span>Orthomyxoviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/11244#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/pneumoviridae.jpg" />
              <span>Pneumoviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/11270#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/rhabdoviridae.jpg" />
              <span>Rhabdoviridae</span>
            </a>
          </div>
        </div>

        <div class="virus-families">
          <span style="font-size: 1em; font-weight: bold;">Double-Stranded RNA</span>
          <div class="virus">
            <a href="/view/Taxonomy/2732541#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/reovirales.jpg" />
              <span>Reovirales</span>
            </a>
          </div>
          <div>&nbsp;</div>
          <span style="font-size: 1em; font-weight: bold;">Single-Stranded DNA</span>
          <div class="virus">
            <a href="/view/Taxonomy/10780#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/parvoviridae.jpg" />
              <span>Parvoviridae</span>
            </a>
          </div>
          <span style="font-size: 1em; font-weight: bold;">Partially Double-Stranded DNA</span>
          <div class="virus">
            <a href="/view/Taxonomy/10404#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/hepadnaviridae.jpg" />
              <span>Hepadnaviridae</span>
            </a>
          </div>
          <div>&nbsp;</div>
          <span style="font-size: 1em; font-weight: bold;">Double-Stranded DNA</span>
          <div class="virus">
            <a href="/view/Taxonomy/10508#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/adenoviridae.jpg" />
              <span>Adenoviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/137992#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/asfarviridae.jpg" />
              <span>Asfarviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/10292#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/herpesviridae.jpg" />
              <span>Herpesviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/151341#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/polyomaviridae.jpg" />
              <span>Polyomaviridae</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/10240#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/poxviridae.jpg" />
              <span>Poxviridae</span>
            </a>
          </div>
        </div>

        <div class="virus-families">
          <span style="font-size: 1em; font-weight: bold;">Featured Viruses</span>
          <div class="virus">
            <a href="/view/GenomeList/?eq(genome_name,phage)">
              <img src="/patric/images/bv-brc/viruses/bacteriophages.jpg" />
              <span>Bacteriophages</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/12637#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/dengue-virus.jpg" />
              <span>Dengue virus</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/186536#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/ebolavirus.jpg" />
              <span>Ebolavirus</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/12059#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/enterovirus.jpg" />
              <span>Enterovirus</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/11103#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/hepatitis-c-virus.jpg" />
              <span>Hepatitis C virus</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/11320#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/influenzaAVirus.jpg" />
              <span>Influenza A virus</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/11620#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/lassa-virus.jpg" />
              <span>Lassa Virus</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/10244#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/monkeypox-virus.jpg" />
              <span>Monkeypox Virus</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/2697049#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/sars-cov-2.jpg" />
              <span>SARS-CoV-2</span>
            </a>
          </div>
          <div class="virus">
            <a href="/view/Taxonomy/64320#view_tab=overview">
              <img src="/patric/images/bv-brc/viruses/zika-virus.jpg" />
              <span>Zika Virus</span>
            </a>
          </div>
        </div>
      </div>

      <style>
        .virus-section {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .virus-families {
          display: flex;
          flex-direction: column;
        }
        .virus-families .virus {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 5px 0px;
        }
        .virus-families .virus img {
          width: 50px;
          height: 50px;
        }
        .virus-families .virus a {
          display: flex;
          align-items: center;
        }
        .virus-families .virus span {
          font-size: 1em;
          font-weight: bold;
          font-style: italic;
          padding-left: 10px;
        }
      </style>

    </div>
    <div class="section">
      <h3 class="section-title close" title="Summary of viruses by key metadata attributes."><span class="wrap">Viruses by Metadata</span></h3>
      <div class="gmSummaryWidget" data-dojo-attach-point="vmSummaryWidget"
        data-dojo-type="p3/widget/VirusMetaSummary">
      </div>
    </div>
  </div>

  <div class="column-right">
    <div class="section">
      <h3 class="close section-title"><span class="wrap">News &amp; Announcements</span></h3>
      <div id="virus-news" style="padding-top: 10px;">
        <a href="https://docs.patricbrc.org/news/2021/20210513-brc-impact-survey.html"><h4>Bioinformatics Resource Centers (BRCs) Impact Survey</h4></a>
        <p>This survey will help the National Institute of Allergy and Infectious Diseases (NIAID) understand the usage and utility of the ... read more</p>
        <img class="news-img" src="https://docs.patricbrc.org/_static/announcements/brc-survey.png" alt="">
        <div class="news-nav">
          <div class="news-dot-selected"></div>
          <div class="news-dot"></div>
          <div class="news-dot"></div>
          <div class="news-dot"></div>
          <div class="news-dot"></div>
          <div class="news-dot"></div>
          <div class="news-dot"></div>
        </div>
      </div>
      <style>
        #virus-news {
          background-color: #fff;
          padding: 15px 10px;
          border-bottom: 4px solid #009190;
        }
        #virus-news h4 {
          font-family: "Roboto", Arial, Helvetica, sans-serif;
          font-size: 11pt;
          font-weight: 400;
          color: #5375b9;
          padding-bottom: 10px;
          text-decoration: underline;
          margin: 0px;
        }
        #virus-news p {
          font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
          font-size: 10pt !important;
          padding: 5px 0px;
        }
        #virus-news .news-img {
          width: 100%;
          max-height: 170px!important;
        }
        #virus-news .news-nav {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        #virus-news .news-nav .news-dot-selected {
          height: 20px;
          width: 20px;
          border-radius: 20px;
          background: #015994;
          border: 2px solid #009190;
          margin: 0 2px;
          cursor: pointer;
        }
        #virus-news .news-nav .news-dot {
          height: 20px;
          width: 20px;
          border-radius: 20px;
          background: #f2f2f2;
          border: 2px solid #a0a0a0;
          margin: 0 2px;
          cursor: pointer;
        }
      </style>
    </div>
    <div class="section">
      <h3 class="close section-title"><span class="wrap">Twitter</span></h3>
      <a class="twitter-timeline" data-lang="en" data-height="400" data-dnt="true" data-theme="light" href="https://twitter.com/BVBRC_DB/lists/bvbrc?ref_src=twsrc%5Etfw">A Twitter list by BVBRC_DB</a>
    </div>
  </div>
</div>
