<div>

  <div class="column-left">
    <div class="section">
      <h3 class="section-title close" title="Virus Data Summary"><span class="wrap">Virus Data Summary</span></h3>
      <div data-dojo-attach-point="taxonomySummaryNode">
        Loading Taxonomy Summary...
      </div>
    </div>
  </div>

  <div class="column-mid">
    <div class="section">
      <h3 class="section-title close" title="Virus families."><span class="wrap">Virus Families</span></h3>
      <div class="virus-section">
        <div class="virus-families">
          <span style="font-size: 1em; font-weight: bold;">Single-Stranded Positive-Sense RNA</span>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/caliciviridae.jpg" /><a href="/view/Taxonomy/11974#view_tab=overview">Caliciviridae</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/coronaviridae.jpg" /><a href="/view/Taxonomy/11118#view_tab=overview">Coronaviridae</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/flaviviridae.jpg" /><a href="/view/Taxonomy/11050#view_tab=overview">Flaviviridae</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/hepeviridae.jpg" /><a href="/view/Taxonomy/291484#view_tab=overview">Hepeviridae</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/picornaviridae.jpg" /><a href="/view/Taxonomy/12058#view_tab=overview">Picornaviridae</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/togaviridae.jpg" /><a href="/view/Taxonomy/11018#view_tab=overview">Togaviridae</a></div>
        </div>

        <div class="virus-families">
          <span style="font-size: 1em; font-weight: bold;">Single-Stranded Negative-Sense RNA</span>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/bunyavirales.jpg" /><a href="/view/Taxonomy/1980410#view_tab=overview">Bunyavirales</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/filoviridae.jpg" /><a href="/view/Taxonomy/11266#view_tab=overview">Filoviridae</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/paramyxoviridae.jpg" /><a href="/view/Taxonomy/11158#view_tab=overview">Paramyxoviridae</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/pneumoviridae.jpg" /><a href="/view/Taxonomy/11244#view_tab=overview">Pneumoviridae</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/rhabdoviridae.jpg" /><a href="/view/Taxonomy/11270#view_tab=overview">Rhabdoviridae</a></div>
        </div>

        <div class="virus-families">
          <span style="font-size: 1em; font-weight: bold;">Double-Stranded RNA</span>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/reoviridae.jpg" /><a href="/view/Taxonomy/10880#view_tab=overview">Reoviridae</a></div>
          <div>&nbsp;</div>
          <span style="font-size: 1em; font-weight: bold;">Double-Stranded DNA</span>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/herpesviridae.jpg" /><a href="/view/Taxonomy/291484#view_tab=overview">Herpesviridae</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/poxviridae.jpg" /><a href="/view/Taxonomy/10240#view_tab=overview">Poxviridae</a></div>
        </div>

        <div class="virus-families">
          <span style="font-size: 1em; font-weight: bold;">Featured Viruses</span>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/dengue-virus.jpg" /><a href="/view/Taxonomy/12637#view_tab=overview">Dengue virus</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/ebolavirus.jpg" /><a href="/view/Taxonomy/186536#view_tab=overview">Ebolavirus</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/enterovirus.jpg" /><a href="/view/Taxonomy/12059#view_tab=overview">Enterovirus</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/hepatitis-c-virus.jpg" /><a href="/view/Taxonomy/63746#view_tab=overview">Hepatitis C virus</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/lassa-virus.jpg" /><a href="/view/Taxonomy/11620#view_tab=overview">Lassa Virus</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/sars-cov-2.jpg" /><a href="/view/Taxonomy/2697049#view_tab=overview">SARS-CoV-2</a></div>
          <div class="virus"><img src="/patric/images/bv-brc/viruses/zika-virus.jpg" /><a href="/view/Taxonomy/64320#view_tab=overview">Zika Virus</a></div>
        </div>
      </div>

      <style>
        .virus-section {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .virus-families {
          display: flex;
          flex-direction: column;
        }
        .virus-families .virus {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 5px 0px;
        }
        .virus-families .virus img {
          width: 50px;
          height: 50px;
        }
        .virus-families .virus a {
          font-size: 1em;
          font-weight: bold;
          font-style: italic;
        }
      </style>

    </div>
    <div class="section">
      <h3 class="section-title close" title="Summary of viruses by key metadata attributes."><span class="wrap">Viruses by Metadata</span></h3>
      <div class="gmSummaryWidget" data-dojo-attach-point="vmSummaryWidget"
        data-dojo-type="p3/widget/VirusMetaSummary">
      </div>
    </div>
  </div>

  <div class="column-right">
    <div class="section">
      <h3 class="close section-title"><span class="wrap">News &amp; Announcements</span></h3>
      <div id="virus-announcements">
        <ul id="slides"></ul>
        <div id="dot-navigation"></div>
      </div>
    </div>
    <div class="section">
      <h3 class="close section-title"><span class="wrap">Twitter</span></h3>
      <a class="twitter-timeline" data-lang="en" data-height="400" data-dnt="true" data-theme="light" href="https://twitter.com/BVBRC_DB/lists/bvbrc?ref_src=twsrc%5Etfw">A Twitter list by BVBRC_DB</a>
    </div>
  </div>

</div>
