<div style="padding:0px;" data-dojo-attach-point="focusNode" class="object-selector">
  <i class="icon-sort-alpha-asc" title="Sort Alphabetically" data-dojo-attach-event="click:sortAlpha"></i>
  <input type="hidden" />
  <input type="text" class="search-box" data-dojo-attach-point="searchBox" data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-event="onChange:onSearchChange, mouseenter:onMouseEnter" data-dojo-props="labelType: 'html', promptMessage: '${promptMessage}', missingMessage: '${missingMessage}', searchAttr: 'name'"
    value="${value}" />&nbsp;<i data-dojo-attach-event="click:openChooser" class="fa icon-folder-open fa-1x" />
</div>
