<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onsubmit:onSubmit">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Advanced Search</span>
      <h1 class="appHeader">${searchAppName}</h1>
      <!-- tutorial, doc link -->
      <p>This is placeholder for the description of this search</p>
    </div>
    <div style="width:550px;margin:auto" class="formFieldsContainer">
      <div class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Host</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <!-- <label>Host</label><br> -->
            <!-- <div data-dojo-type="p3/widget/InputFieldValueSelector" data-dojo-props="dataType:'genome',searchAttr:'host_name'" name="host_name"></div> -->
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'e.g. Homo sapiens'" data-dojo-attach-point="hostNameNode" name="host_name" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Isolation Country</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <!-- <label>Isolation Country</label><br> -->
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'e.g. USA, or United Kingdom'" data-dojo-attach-point="isolationCountryNode" name="isolation_country" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Collection Year</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <label>From</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'YYYY'" data-dojo-attach-point="collectionYearFromNode" name="collection_year_from" style="width:80px"></div>
            <label>To</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'YYYY'" data-dojo-attach-point="collectionYearToNode" name="collection_year_to" style="width:80px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Genome Length</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <label>From</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="genomeLengthFromNode" name="genome_length_from" style="width:80px"></div>
            <label>To</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="genomeLengthToNode" name="genome_length_to" style="width:80px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Additional</label>
        </div
        <div class="appRow">
          <div dojoAttachPoint="AdvancedSearchPanel"></div>
        </div>
      </div>
    </div>
    <div class="appSubmissionArea">
      <div style="margin-top: 10px; text-align:center;">
        <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
        <div data-dojo-attach-point="submitButton"
          type="submit" data-dojo-type="dijit/form/Button">Search</div>
      </div>
    </div>
  </div>
</form>