<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onsubmit:onSubmit">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Advanced Search</span>
      <h3>${searchAppName}</h3>
      <!-- tutorial, doc link -->
      <p>Search for proteins of interest (resulting from CDS and mature peptide features) using generic keywords, pathogen group, various genome metadata attributes, protein product, or database identifiers.  For further explanation, please see <a href="#">Protein Search User Guide</a>.</p>
    </div>
    <div style="width:550px;margin:auto" class="formFieldsContainer">
      <div class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Keyword</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'Search term'" data-dojo-attach-point="keywordNode" name="keyword" style="width: 500px"></div>
          </div>
        </div>
      </div>
      <div class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Pathogen Group</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="placeHolder:'Influenza A virus'" required="false" data-dojo-attach-point="pathogenGroupNode" name="pathogen_group" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Taxon Name</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="p3/widget/TaxonNameSelector" required="false" name="taxon_name" style="width: 500px" data-dojo-attach-point="taxonNameNode"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Host Group</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" required="false" data-dojo-props="placeHolder:'e.g. Human, or Non-human Mammal'" data-dojo-attach-point="hostGroupNode" name="host_group" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Host Name</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" required="false" data-dojo-props="placeHolder:'e.g. Human, or Pig'" data-dojo-attach-point="hostNameNode" name="host_name" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Geographic Group</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" required="false" data-dojo-props="placeHolder:'e.g. North America, or Europe'" data-dojo-attach-point="geographicGroupNode" name="geographic_group" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Isolation Country</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="placeHolder:'e.g. USA, or United Kingdom'" data-dojo-attach-point="isolationCountryNode" name="isolation_country" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Collection Year</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <label>From</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'YYYY'" data-dojo-attach-point="collectionYearFromNode" name="collection_year_from" style="width:80px"></div>
            <label>To</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'YYYY'" data-dojo-attach-point="collectionYearToNode" name="collection_year_to" style="width:80px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Genome Length</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <label>From</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'X'" data-dojo-attach-point="genomeLengthFromNode" name="genome_length_from" style="width:80px"></div>
            <label>To</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'X'" data-dojo-attach-point="genomeLengthToNode" name="genome_length_to" style="width:80px"></div>
          </div>
        </div>
      </div>
      <div class="appBox appShadow">
        <!-- <div class="headerrow">
          <label class="appBoxLabel">Feature Type</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" required="false" data-dojo-props="placeHolder:'CDS'" data-dojo-attach-point="featureTypeNode" name="feature_type" style="width: 500px"></div>
          </div>
        </div> -->
        <div class="headerrow">
          <label class="appBoxLabel">BRC ID</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'fig|114727.5.CDS.1'" data-dojo-attach-point="brcIDNode" name="brcID" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Gene</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'dnaA'" data-dojo-attach-point="geneNode" name="gene" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Product</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'ABC transporter'" data-dojo-attach-point="productNode" name="product" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Additional</label>
        </div
        <div class="appRow">
          <div dojoAttachPoint="AdvancedSearchPanel"></div>
        </div>
      </div>
    </div>
    <div class="appSubmissionArea">
      <div style="margin-top: 10px; text-align:center;">
        <div data-dojo-attach-point="submitButton"
          type="submit" data-dojo-type="dijit/form/Button">Search</div>
      </div>
    </div>
  </div>
</form>