<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onsubmit:onSubmit">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Advanced Search</span>
      <h3>${searchAppName}</h3>
      <!-- tutorial, doc link -->
      <p>Search for serology data for select viral families using generic keywords, test type, test result, host, country, or collection year.  For further explanation, please see the <a href="https://www.bv-brc.org/docs/quick_references/searches_menu.html" target="_blank">Advanced Search Quick Reference Guide</a>.</p>
    </div>
    <div style="width:550px;margin:auto" class="formFieldsContainer">
      <div class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Keyword</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'Search term'" data-dojo-attach-point="keywordNode" name="keyword" style="width: 500px"></div>
          </div>
        </div>
      </div>
      <div class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Test Type</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="placeHolder:'e.g. ELISA'" required="false" data-dojo-attach-point="testTypeNode" name="test_type" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Test Result</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="placeHolder:'e.g. Positive'" required="false" data-dojo-attach-point="testResultNode" name="test_result" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Serotype</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="placeHolder:'e.g. H1N1'" required="false" data-dojo-attach-point="serotypeNode" name="serotype" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Host Type</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="placeHolder:'e.g. Avian'" required="false" data-dojo-attach-point="hostTypeNode" name="host_type" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Host Common Name</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="placeHolder:'e.g. Chicken'" required="false" data-dojo-attach-point="hostCommonNameNode" name="host_common_name" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Host Species</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="placeHolder:'e.g. Gallus sp.'" required="false" data-dojo-attach-point="hostSpeciesNode" name="host_species" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Geographic Group</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" required="false" data-dojo-props="placeHolder:'e.g. Asia'" data-dojo-attach-point="geographicGroupNode" name="geographic_group" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Collection Country</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="placeHolder:'e.g. China'" data-dojo-attach-point="collectionCountryNode" name="collection_country" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Collection Year</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <label>From</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'YYYY'" data-dojo-attach-point="collectionYearFromNode" name="collection_year_from" style="width:80px"></div>
            <label>To</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'YYYY'" data-dojo-attach-point="collectionYearToNode" name="collection_year_to" style="width:80px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Collection Date</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <label>From</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'YYYY'" data-dojo-attach-point="collectionDateFromNode" name="collection_date_from" style="width:80px"></div>
            <label>To</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'YYYY'" data-dojo-attach-point="collectionDateToNode" name="collection_date_to" style="width:80px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Additional</label>
        </div
        <div class="appRow">
          <div dojoAttachPoint="AdvancedSearchPanel"></div>
        </div>
      </div>
    </div>
    <div class="appSubmissionArea">
      <div style="margin-top: 10px; text-align:center;">
        <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
        <div data-dojo-attach-point="submitButton"
          type="submit" data-dojo-type="dijit/form/Button">Search</div>
      </div>
    </div>
  </div>
</form>
