<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onsubmit:onSubmit">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Advanced Search</span>
      <h1 class="appHeader">${searchAppName}</h1>
      <!-- tutorial, doc link -->
      <p>Search for strains of interest for <strong>segmented viruses</strong> using generic keywords, genome id/name, pathogen group, various metadata attributes, or presence of select segments. For non-segmented viruses use the <a href="/searches/GenomeSearch" class="navigationLink">Genome Search</a> instead. For further explanation, please see the <a href="https://www.bv-brc.org/docs/quick_references/searches_menu.html" target="_blank">Advanced Search Quick Reference Guide</a>.</p>
    </div>
    <div style="width:550px;margin:auto" class="formFieldsContainer">
      <div class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Keyword</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'Search term'" data-dojo-attach-point="keywordNode" name="keyword" style="width: 500px"></div>
          </div>
        </div>
      </div>
      <div class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Pathogen Group</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="placeHolder:'Influenza A virus'" required="false" data-dojo-attach-point="pathogenGroupNode" data-dojo-attach-event="onChange:onPathogenGroupChange" name="pathogen_group" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Taxon Name</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="p3/widget/TaxonNameSelector" required="false" name="taxon_name" style="width: 500px" data-dojo-attach-point="taxonNameNode"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Host Group</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" required="false" data-dojo-props="placeHolder:'e.g. Human, or Non-human Mammal'" data-dojo-attach-point="hostGroupNode" name="host_group" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Host Name</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" required="false" data-dojo-props="placeHolder:'e.g. Human, or Pig'" data-dojo-attach-point="hostNameNode" name="host_name" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Geographic Group</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" required="false" data-dojo-props="placeHolder:'e.g. North America, or Europe'" data-dojo-attach-point="geographicGroupNode" name="geographic_group" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Isolation Country</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <div data-dojo-type="dijit/form/FilteringSelect" required="false" data-dojo-props="placeHolder:'e.g. USA, or United Kingdom'" data-dojo-attach-point="isolationCountryNode" name="isolation_country" style="width: 500px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Collection Year</label>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <label>From</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'YYYY'" data-dojo-attach-point="collectionYearFromNode" name="collection_year_from" style="width:80px"></div>
            <label>To</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder:'YYYY'" data-dojo-attach-point="collectionYearToNode" name="collection_year_to" style="width:80px"></div>
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Segments</label>
        </div>
        <div class="appRow">
          <div data-dojo-attach-point="influenzaSegmentsNode" style="display: none">
            <label for="check1" style="font-size:8pt">1-PB2</label>
            <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="segmentCheckBox1Node" />
            <label for="check2" style="font-size:8pt">2-PB1</label>
            <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="segmentCheckBox2Node" />
            <label for="check3" style="font-size:8pt">3-PA</label>
            <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="segmentCheckBox3Node" />
            <label for="check4" style="font-size:8pt">4-HA</label>
            <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="segmentCheckBox4Node" />
            <label for="check5" style="font-size:8pt">5-NP</label>
            <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="segmentCheckBox5Node" />
            <label for="check6" style="font-size:8pt">6-NA</label>
            <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="segmentCheckBox6Node" />
            <label for="check7" style="font-size:8pt">7-MP</label>
            <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="segmentCheckBox7Node" />
            <label for="check8" style="font-size:8pt">8-NS</label>
            <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="segmentCheckBox8Node" />
          </div>
          <div data-dojo-attach-point="viralSegmentsNode">
            <label for="check9" style="font-size:8pt">S</label>
            <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="segmentCheckBox9Node" />
            <label for="check10" style="font-size:8pt">M</label>
            <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="segmentCheckBox10Node" />
            <label for="check11" style="font-size:8pt">L</label>
            <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="segmentCheckBox11Node" />
          </div>
        </div>
        <div class="headerrow">
          <label class="appBoxLabel">Additional Criteria</label>
        </div>
        <div class="appRow">
          <div dojoAttachPoint="AdvancedSearchPanel"></div>
        </div>
      </div>
    </div>
    <div class="appSubmissionArea">
      <div style="margin-top: 10px; text-align:center;">
        <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
        <div data-dojo-attach-point="submitButton"
          type="submit" data-dojo-type="dijit/form/Button">Search</div>
      </div>
    </div>
  </div>
</form>