@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-d3515y');
	src:url('fonts/icomoon.eot?#iefix-d3515y') format('embedded-opentype'),
		url('fonts/icomoon.woff?-d3515y') format('woff'),
		url('fonts/icomoon.ttf?-d3515y') format('truetype'),
		url('fonts/icomoon.svg?-d3515y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-genome:before {
	content: "\e607";
}

.icon-experiments:before {
	content: "\e600";
}

.icon-taxonomy:before {
	content: "\e601";
}

.icon-genome-features:before {
	content: "\e602";
}

.icon-bench:before {
	content: "\e603";
}

.icon-contigs:before {
	content: "\e604";
}

.icon-fasta:before {
	content: "\e605";
}

.icon-alignment:before {
	content: "\e606";
}

.icon-home2:before {
	content: "\e901";
}

