@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?llbgnw');
	src:url('fonts/icomoon.eot?#iefixllbgnw') format('embedded-opentype'),
		url('fonts/icomoon.woff?llbgnw') format('woff'),
		url('fonts/icomoon.ttf?llbgnw') format('truetype'),
		url('fonts/icomoon.svg?llbgnw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-contigs:before {
	content: "\e600";
}

.icon-fasta:before {
	content: "\e601";
}

.icon-alignment:before {
	content: "\e602";
}

