@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?yye28e');
	src:url('fonts/icomoon.eot?yye28e#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?yye28e') format('truetype'),
		url('fonts/icomoon.woff?yye28e') format('woff'),
		url('fonts/icomoon.svg?yye28e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-make-group:before {
	content: "\e900";
}
.icon-genomegroup .path1:before {
	content: "\e644";
	color: rgb(1, 1, 1);
}
.icon-genomegroup .path2:before {
	content: "\e645";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path3:before {
	content: "\e646";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path4:before {
	content: "\e647";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path5:before {
	content: "\e648";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path6:before {
	content: "\e649";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path7:before {
	content: "\e64a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path8:before {
	content: "\e64b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path9:before {
	content: "\e64c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path10:before {
	content: "\e64d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path11:before {
	content: "\e64e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path12:before {
	content: "\e64f";
	margin-left: -1em;
	color: rgb(1, 1, 1);
}
.icon-genomegroup .path13:before {
	content: "\e650";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path14:before {
	content: "\e651";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path15:before {
	content: "\e652";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path16:before {
	content: "\e653";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path17:before {
	content: "\e654";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path18:before {
	content: "\e655";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path19:before {
	content: "\e656";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path20:before {
	content: "\e657";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path21:before {
	content: "\e658";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path22:before {
	content: "\e659";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path23:before {
	content: "\e65a";
	margin-left: -1em;
	color: rgb(1, 1, 1);
}
.icon-genomegroup .path24:before {
	content: "\e65b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path25:before {
	content: "\e65c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path26:before {
	content: "\e65d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path27:before {
	content: "\e65e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path28:before {
	content: "\e65f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path29:before {
	content: "\e660";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path30:before {
	content: "\e661";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path31:before {
	content: "\e662";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path32:before {
	content: "\e663";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genomegroup .path33:before {
	content: "\e664";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path1:before {
	content: "\e623";
	color: rgb(1, 1, 1);
}
.icon-genome-group .path2:before {
	content: "\e624";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path3:before {
	content: "\e625";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path4:before {
	content: "\e626";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path5:before {
	content: "\e627";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path6:before {
	content: "\e628";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path7:before {
	content: "\e629";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path8:before {
	content: "\e62a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path9:before {
	content: "\e62b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path10:before {
	content: "\e62c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path11:before {
	content: "\e62d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path12:before {
	content: "\e62e";
	margin-left: -1em;
	color: rgb(1, 1, 1);
}
.icon-genome-group .path13:before {
	content: "\e62f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path14:before {
	content: "\e630";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path15:before {
	content: "\e631";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path16:before {
	content: "\e632";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path17:before {
	content: "\e633";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path18:before {
	content: "\e634";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path19:before {
	content: "\e635";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path20:before {
	content: "\e636";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path21:before {
	content: "\e637";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path22:before {
	content: "\e638";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path23:before {
	content: "\e639";
	margin-left: -1em;
	color: rgb(1, 1, 1);
}
.icon-genome-group .path24:before {
	content: "\e63a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path25:before {
	content: "\e63b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path26:before {
	content: "\e63c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path27:before {
	content: "\e63d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path28:before {
	content: "\e63e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path29:before {
	content: "\e63f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path30:before {
	content: "\e640";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path31:before {
	content: "\e641";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path32:before {
	content: "\e642";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-genome-group .path33:before {
	content: "\e643";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-experiments:before {
	content: "\e600";
}
.icon-taxonomy:before {
	content: "\e601";
}
.icon-genome-features:before {
	content: "\e602";
}
.icon-genome:before {
	content: "\e603";
}
.icon-bench:before {
	content: "\e604";
}
.icon-contigs:before {
	content: "\e605";
}
.icon-fasta:before {
	content: "\e606";
}
.icon-alignment:before {
	content: "\e607";
}
.icon-genome-features2:before {
	content: "\e665";
}
.icon-genome-features-cds:before {
	content: "\e666";
}
.icon-genome_browser:before {
	content: "\e667";
}
.icon-flag-checkered2:before {
	content: "\f28e";
}
.icon-glass:before {
	content: "\f003";
}
.icon-music:before {
	content: "\f004";
}
.icon-search2:before {
	content: "\f00f";
}
.icon-envelope-o:before {
	content: "\f01a";
}
.icon-heart2:before {
	content: "\f01b";
}
.icon-star2:before {
	content: "\f01c";
}
.icon-star-o:before {
	content: "\f01d";
}
.icon-user:before {
	content: "\f01e";
}
.icon-film:before {
	content: "\f021";
}
.icon-th-large:before {
	content: "\f022";
}
.icon-th:before {
	content: "\f025";
}
.icon-th-list:before {
	content: "\f029";
}
.icon-check2:before {
	content: "\f04b";
}
.icon-close:before {
	content: "\f050";
}
.icon-search-plus:before {
	content: "\f054";
}
.icon-search-minus:before {
	content: "\f055";
}
.icon-power-off:before {
	content: "\f06f";
}
.icon-signal:before {
	content: "\f079";
}
.icon-cog2:before {
	content: "\f07a";
}
.icon-trash-o:before {
	content: "\f082";
}
.icon-home2:before {
	content: "\f083";
}
.icon-file-o:before {
	content: "\f086";
}
.icon-clock-o:before {
	content: "\f090";
}
.icon-road:before {
	content: "\f093";
}
.icon-download:before {
	content: "\f095";
}
.icon-arrow-circle-o-down:before {
	content: "\f098";
}
.icon-arrow-circle-o-up:before {
	content: "\f09b";
}
.icon-inbox2:before {
	content: "\f0ab";
}
.icon-play-circle-o:before {
	content: "\f0ad";
}
.icon-repeat:before {
	content: "\f0ae";
}
.icon-refresh:before {
	content: "\f0b3";
}
.icon-list-alt:before {
	content: "\f0b4";
}
.icon-lock3:before {
	content: "\f0b5";
}
.icon-flag:before {
	content: "\f0b7";
}
.icon-headphones:before {
	content: "\f0b8";
}
.icon-volume-off:before {
	content: "\f0b9";
}
.icon-volume-down:before {
	content: "\f0c1";
}
.icon-volume-up:before {
	content: "\f0c2";
}
.icon-qrcode:before {
	content: "\f0c3";
}
.icon-barcode:before {
	content: "\f0cb";
}
.icon-tag2:before {
	content: "\f0cd";
}
.icon-tags:before {
	content: "\f0ce";
}
.icon-book2:before {
	content: "\f0d5";
}
.icon-bookmark2:before {
	content: "\f0d9";
}
.icon-print:before {
	content: "\f0da";
}
.icon-camera2:before {
	content: "\f0db";
}
.icon-font:before {
	content: "\f0dc";
}
.icon-bold:before {
	content: "\f0dd";
}
.icon-italic:before {
	content: "\f0de";
}
.icon-text-height:before {
	content: "\f0df";
}
.icon-text-width:before {
	content: "\f0e0";
}
.icon-align-left:before {
	content: "\f0e1";
}
.icon-align-center:before {
	content: "\f0e2";
}
.icon-align-right:before {
	content: "\f0e3";
}
.icon-align-justify:before {
	content: "\f0e4";
}
.icon-list:before {
	content: "\f0e5";
}
.icon-dedent:before {
	content: "\f0e6";
}
.icon-indent:before {
	content: "\f0e7";
}
.icon-video-camera:before {
	content: "\f0e8";
}
.icon-image:before {
	content: "\f0e9";
}
.icon-pencil2:before {
	content: "\f0ea";
}
.icon-map-marker:before {
	content: "\f0eb";
}
.icon-adjust:before {
	content: "\f0ec";
}
.icon-tint:before {
	content: "\f0ed";
}
.icon-edit:before {
	content: "\f0ee";
}
.icon-share-square-o:before {
	content: "\f0ef";
}
.icon-check-square-o:before {
	content: "\f0f0";
}
.icon-arrows:before {
	content: "\f0f1";
}
.icon-step-backward:before {
	content: "\f0f2";
}
.icon-fast-backward:before {
	content: "\f0f3";
}
.icon-backward:before {
	content: "\f0f4";
}
.icon-play:before {
	content: "\f0f5";
}
.icon-pause:before {
	content: "\f0f6";
}
.icon-stop2:before {
	content: "\f0f7";
}
.icon-forward:before {
	content: "\f0f8";
}
.icon-fast-forward:before {
	content: "\f0f9";
}
.icon-step-forward:before {
	content: "\f0fa";
}
.icon-eject:before {
	content: "\f0fb";
}
.icon-chevron-left2:before {
	content: "\f0fc";
}
.icon-chevron-right2:before {
	content: "\f0fd";
}
.icon-plus-circle:before {
	content: "\f0fe";
}
.icon-minus-circle:before {
	content: "\f0ff";
}
.icon-times-circle:before {
	content: "\f100";
}
.icon-check-circle:before {
	content: "\f101";
}
.icon-question-circle:before {
	content: "\f102";
}
.icon-info-circle:before {
	content: "\f103";
}
.icon-crosshairs:before {
	content: "\f104";
}
.icon-times-circle-o:before {
	content: "\f105";
}
.icon-check-circle-o:before {
	content: "\f106";
}
.icon-ban:before {
	content: "\f107";
}
.icon-arrow-left2:before {
	content: "\f108";
}
.icon-arrow-right2:before {
	content: "\f109";
}
.icon-arrow-up2:before {
	content: "\f10a";
}
.icon-arrow-down2:before {
	content: "\f10b";
}
.icon-mail-forward:before {
	content: "\f10c";
}
.icon-expand:before {
	content: "\f10d";
}
.icon-compress:before {
	content: "\f10e";
}
.icon-plus3:before {
	content: "\f10f";
}
.icon-minus:before {
	content: "\f110";
}
.icon-asterisk:before {
	content: "\f111";
}
.icon-exclamation-circle:before {
	content: "\f112";
}
.icon-gift2:before {
	content: "\f113";
}
.icon-leaf:before {
	content: "\f114";
}
.icon-fire:before {
	content: "\f115";
}
.icon-eye2:before {
	content: "\f116";
}
.icon-eye-slash:before {
	content: "\f117";
}
.icon-exclamation-triangle:before {
	content: "\f118";
}
.icon-plane:before {
	content: "\f119";
}
.icon-calendar2:before {
	content: "\f11a";
}
.icon-random:before {
	content: "\f11b";
}
.icon-comment2:before {
	content: "\f11c";
}
.icon-magnet:before {
	content: "\f11d";
}
.icon-chevron-up2:before {
	content: "\f11e";
}
.icon-chevron-down2:before {
	content: "\f11f";
}
.icon-retweet:before {
	content: "\f120";
}
.icon-shopping-cart:before {
	content: "\f121";
}
.icon-folder:before {
	content: "\f122";
}
.icon-folder-open:before {
	content: "\f123";
}
.icon-arrows-v:before {
	content: "\f124";
}
.icon-arrows-h:before {
	content: "\f125";
}
.icon-bar-chart:before {
	content: "\f126";
}
.icon-twitter-square:before {
	content: "\f127";
}
.icon-facebook-square:before {
	content: "\f128";
}
.icon-camera-retro:before {
	content: "\f129";
}
.icon-key2:before {
	content: "\f12a";
}
.icon-cogs2:before {
	content: "\f12b";
}
.icon-comments:before {
	content: "\f12c";
}
.icon-thumbs-o-up:before {
	content: "\f12d";
}
.icon-thumbs-o-down:before {
	content: "\f12e";
}
.icon-star-half:before {
	content: "\f12f";
}
.icon-heart-o:before {
	content: "\f130";
}
.icon-sign-out2:before {
	content: "\f131";
}
.icon-linkedin-square:before {
	content: "\f132";
}
.icon-thumb-tack:before {
	content: "\f133";
}
.icon-external-link:before {
	content: "\f134";
}
.icon-sign-in2:before {
	content: "\f135";
}
.icon-trophy:before {
	content: "\f136";
}
.icon-github-square:before {
	content: "\f137";
}
.icon-upload:before {
	content: "\f138";
}
.icon-lemon-o:before {
	content: "\f139";
}
.icon-phone:before {
	content: "\f13a";
}
.icon-square-o:before {
	content: "\f13b";
}
.icon-bookmark-o:before {
	content: "\f13c";
}
.icon-phone-square:before {
	content: "\f13d";
}
.icon-twitter:before {
	content: "\f13e";
}
.icon-facebook:before {
	content: "\f13f";
}
.icon-github:before {
	content: "\f140";
}
.icon-unlock:before {
	content: "\f141";
}
.icon-credit-card2:before {
	content: "\f142";
}
.icon-rss2:before {
	content: "\f143";
}
.icon-hdd-o:before {
	content: "\f144";
}
.icon-bullhorn:before {
	content: "\f145";
}
.icon-bell-o:before {
	content: "\f146";
}
.icon-certificate:before {
	content: "\f147";
}
.icon-hand-o-right:before {
	content: "\f148";
}
.icon-hand-o-left:before {
	content: "\f149";
}
.icon-hand-o-up:before {
	content: "\f14a";
}
.icon-hand-o-down:before {
	content: "\f14b";
}
.icon-arrow-circle-left:before {
	content: "\f14c";
}
.icon-arrow-circle-right:before {
	content: "\f14d";
}
.icon-arrow-circle-up:before {
	content: "\f14e";
}
.icon-arrow-circle-down:before {
	content: "\f14f";
}
.icon-globe2:before {
	content: "\f150";
}
.icon-wrench:before {
	content: "\f151";
}
.icon-tasks:before {
	content: "\f152";
}
.icon-filter:before {
	content: "\f153";
}
.icon-briefcase3:before {
	content: "\f154";
}
.icon-arrows-alt:before {
	content: "\f155";
}
.icon-group:before {
	content: "\f156";
}
.icon-chain:before {
	content: "\f157";
}
.icon-cloud:before {
	content: "\f158";
}
.icon-flask:before {
	content: "\f159";
}
.icon-cut:before {
	content: "\f15a";
}
.icon-copy:before {
	content: "\f15b";
}
.icon-paperclip:before {
	content: "\f15c";
}
.icon-floppy-o:before {
	content: "\f15d";
}
.icon-square:before {
	content: "\f15e";
}
.icon-bars:before {
	content: "\f15f";
}
.icon-list-ul:before {
	content: "\f160";
}
.icon-list-ol:before {
	content: "\f161";
}
.icon-strikethrough:before {
	content: "\f162";
}
.icon-underline:before {
	content: "\f163";
}
.icon-table:before {
	content: "\f164";
}
.icon-magic:before {
	content: "\f165";
}
.icon-truck:before {
	content: "\f166";
}
.icon-pinterest:before {
	content: "\f167";
}
.icon-pinterest-square:before {
	content: "\f168";
}
.icon-google-plus-square:before {
	content: "\f169";
}
.icon-google-plus:before {
	content: "\f16a";
}
.icon-money:before {
	content: "\f16b";
}
.icon-caret-down:before {
	content: "\f16c";
}
.icon-caret-up:before {
	content: "\f16d";
}
.icon-caret-left:before {
	content: "\f16e";
}
.icon-caret-right:before {
	content: "\f16f";
}
.icon-columns:before {
	content: "\f170";
}
.icon-sort:before {
	content: "\f171";
}
.icon-sort-desc:before {
	content: "\f172";
}
.icon-sort-asc:before {
	content: "\f173";
}
.icon-envelope:before {
	content: "\f174";
}
.icon-linkedin:before {
	content: "\f175";
}
.icon-rotate-left:before {
	content: "\f176";
}
.icon-gavel:before {
	content: "\f177";
}
.icon-dashboard2:before {
	content: "\f178";
}
.icon-comment-o:before {
	content: "\f179";
}
.icon-comments-o:before {
	content: "\f17a";
}
.icon-bolt:before {
	content: "\f17b";
}
.icon-sitemap:before {
	content: "\f17c";
}
.icon-umbrella:before {
	content: "\f17d";
}
.icon-clipboard:before {
	content: "\f17e";
}
.icon-lightbulb-o:before {
	content: "\f17f";
}
.icon-exchange:before {
	content: "\f180";
}
.icon-cloud-download2:before {
	content: "\f181";
}
.icon-cloud-upload2:before {
	content: "\f182";
}
.icon-user-md:before {
	content: "\f183";
}
.icon-stethoscope:before {
	content: "\f184";
}
.icon-suitcase:before {
	content: "\f185";
}
.icon-bell:before {
	content: "\f186";
}
.icon-coffee:before {
	content: "\f187";
}
.icon-cutlery:before {
	content: "\f188";
}
.icon-file-text-o:before {
	content: "\f189";
}
.icon-building-o:before {
	content: "\f18a";
}
.icon-hospital-o:before {
	content: "\f18b";
}
.icon-ambulance:before {
	content: "\f18c";
}
.icon-medkit:before {
	content: "\f18d";
}
.icon-fighter-jet:before {
	content: "\f18e";
}
.icon-beer2:before {
	content: "\f18f";
}
.icon-h-square:before {
	content: "\f190";
}
.icon-plus-square:before {
	content: "\f191";
}
.icon-angle-double-left:before {
	content: "\f192";
}
.icon-angle-double-right:before {
	content: "\f193";
}
.icon-angle-double-up:before {
	content: "\f194";
}
.icon-angle-double-down:before {
	content: "\f195";
}
.icon-angle-left:before {
	content: "\f196";
}
.icon-angle-right:before {
	content: "\f197";
}
.icon-angle-up:before {
	content: "\f198";
}
.icon-angle-down:before {
	content: "\f199";
}
.icon-desktop:before {
	content: "\f19a";
}
.icon-laptop:before {
	content: "\f19b";
}
.icon-tablet:before {
	content: "\f19c";
}
.icon-mobile:before {
	content: "\f19d";
}
.icon-circle-o:before {
	content: "\f19e";
}
.icon-quote-left:before {
	content: "\f19f";
}
.icon-quote-right:before {
	content: "\f1a0";
}
.icon-spinner:before {
	content: "\f1a1";
}
.icon-circle:before {
	content: "\f1a2";
}
.icon-mail-reply2:before {
	content: "\f1a3";
}
.icon-github-alt:before {
	content: "\f1a4";
}
.icon-folder-o:before {
	content: "\f1a5";
}
.icon-folder-open-o:before {
	content: "\f1a6";
}
.icon-smile-o:before {
	content: "\f1a7";
}
.icon-frown-o:before {
	content: "\f1a8";
}
.icon-meh-o:before {
	content: "\f1a9";
}
.icon-gamepad:before {
	content: "\f1aa";
}
.icon-keyboard-o:before {
	content: "\f1ab";
}
.icon-flag-o:before {
	content: "\f1ac";
}
.icon-flag-checkered:before {
	content: "\f1ad";
}
.icon-terminal2:before {
	content: "\f1ae";
}
.icon-code2:before {
	content: "\f1af";
}
.icon-mail-reply-all:before {
	content: "\f1b0";
}
.icon-star-half-empty:before {
	content: "\f1b1";
}
.icon-location-arrow:before {
	content: "\f1b2";
}
.icon-crop:before {
	content: "\f1b3";
}
.icon-code-fork:before {
	content: "\f1b4";
}
.icon-chain-broken:before {
	content: "\f1b5";
}
.icon-question2:before {
	content: "\f1b6";
}
.icon-info2:before {
	content: "\f1b7";
}
.icon-exclamation:before {
	content: "\f1b8";
}
.icon-superscript:before {
	content: "\f1b9";
}
.icon-subscript:before {
	content: "\f1ba";
}
.icon-eraser:before {
	content: "\f1bb";
}
.icon-puzzle-piece:before {
	content: "\f1bc";
}
.icon-microphone:before {
	content: "\f1bd";
}
.icon-microphone-slash:before {
	content: "\f1be";
}
.icon-shield:before {
	content: "\f1bf";
}
.icon-calendar-o:before {
	content: "\f1c0";
}
.icon-fire-extinguisher:before {
	content: "\f1c1";
}
.icon-rocket2:before {
	content: "\f1c2";
}
.icon-maxcdn:before {
	content: "\f1c3";
}
.icon-chevron-circle-left:before {
	content: "\f1c4";
}
.icon-chevron-circle-right:before {
	content: "\f1c5";
}
.icon-chevron-circle-up:before {
	content: "\f1c6";
}
.icon-chevron-circle-down:before {
	content: "\f1c7";
}
.icon-html5:before {
	content: "\f1c8";
}
.icon-css3:before {
	content: "\f1c9";
}
.icon-anchor:before {
	content: "\f1ca";
}
.icon-unlock-alt:before {
	content: "\f1cb";
}
.icon-bullseye:before {
	content: "\f1cc";
}
.icon-ellipsis-h:before {
	content: "\f1cd";
}
.icon-ellipsis-v:before {
	content: "\f1ce";
}
.icon-rss-square:before {
	content: "\f1cf";
}
.icon-play-circle:before {
	content: "\f1d0";
}
.icon-ticket:before {
	content: "\f1d1";
}
.icon-minus-square:before {
	content: "\f1d2";
}
.icon-minus-square-o:before {
	content: "\f1d3";
}
.icon-level-up:before {
	content: "\f1d4";
}
.icon-level-down:before {
	content: "\f1d5";
}
.icon-check-square:before {
	content: "\f1d6";
}
.icon-pencil-square:before {
	content: "\f1d7";
}
.icon-external-link-square:before {
	content: "\f1d8";
}
.icon-share-square:before {
	content: "\f1d9";
}
.icon-compass:before {
	content: "\f1da";
}
.icon-caret-square-o-down:before {
	content: "\f1db";
}
.icon-caret-square-o-up:before {
	content: "\f1dc";
}
.icon-caret-square-o-right:before {
	content: "\f1dd";
}
.icon-eur:before {
	content: "\f1de";
}
.icon-gbp:before {
	content: "\f1df";
}
.icon-dollar:before {
	content: "\f1e0";
}
.icon-inr:before {
	content: "\f1e1";
}
.icon-cny:before {
	content: "\f1e2";
}
.icon-rouble:before {
	content: "\f1e3";
}
.icon-krw:before {
	content: "\f1e4";
}
.icon-bitcoin:before {
	content: "\f1e5";
}
.icon-file:before {
	content: "\f1e6";
}
.icon-file-text2:before {
	content: "\f1e7";
}
.icon-sort-alpha-asc:before {
	content: "\f1e8";
}
.icon-sort-alpha-desc:before {
	content: "\f1e9";
}
.icon-sort-amount-asc:before {
	content: "\f1ea";
}
.icon-sort-amount-desc:before {
	content: "\f1eb";
}
.icon-sort-numeric-asc:before {
	content: "\f1ec";
}
.icon-sort-numeric-desc:before {
	content: "\f1ed";
}
.icon-thumbs-up:before {
	content: "\f1ee";
}
.icon-thumbs-down:before {
	content: "\f1ef";
}
.icon-youtube-square:before {
	content: "\f1f0";
}
.icon-youtube:before {
	content: "\f1f1";
}
.icon-xing:before {
	content: "\f1f2";
}
.icon-xing-square:before {
	content: "\f1f3";
}
.icon-youtube-play:before {
	content: "\f1f4";
}
.icon-dropbox:before {
	content: "\f1f5";
}
.icon-stack-overflow:before {
	content: "\f1f6";
}
.icon-instagram:before {
	content: "\f1f7";
}
.icon-flickr:before {
	content: "\f1f8";
}
.icon-adn:before {
	content: "\f1f9";
}
.icon-bitbucket:before {
	content: "\f1fa";
}
.icon-bitbucket-square:before {
	content: "\f1fb";
}
.icon-tumblr:before {
	content: "\f1fc";
}
.icon-tumblr-square:before {
	content: "\f1fd";
}
.icon-long-arrow-down:before {
	content: "\f1fe";
}
.icon-long-arrow-up:before {
	content: "\f1ff";
}
.icon-long-arrow-left:before {
	content: "\f200";
}
.icon-long-arrow-right:before {
	content: "\f201";
}
.icon-apple:before {
	content: "\f202";
}
.icon-windows:before {
	content: "\f203";
}
.icon-android:before {
	content: "\f204";
}
.icon-linux:before {
	content: "\f205";
}
.icon-dribbble:before {
	content: "\f206";
}
.icon-skype:before {
	content: "\f207";
}
.icon-foursquare:before {
	content: "\f208";
}
.icon-trello:before {
	content: "\f209";
}
.icon-female:before {
	content: "\f20a";
}
.icon-male:before {
	content: "\f20b";
}
.icon-gittip:before {
	content: "\f20c";
}
.icon-sun-o:before {
	content: "\f20d";
}
.icon-moon-o:before {
	content: "\f20e";
}
.icon-archive2:before {
	content: "\f20f";
}
.icon-bug2:before {
	content: "\f210";
}
.icon-vk:before {
	content: "\f211";
}
.icon-weibo:before {
	content: "\f212";
}
.icon-renren:before {
	content: "\f213";
}
.icon-pagelines:before {
	content: "\f214";
}
.icon-stack-exchange:before {
	content: "\f215";
}
.icon-arrow-circle-o-right:before {
	content: "\f216";
}
.icon-arrow-circle-o-left:before {
	content: "\f217";
}
.icon-caret-square-o-left:before {
	content: "\f218";
}
.icon-dot-circle-o:before {
	content: "\f219";
}
.icon-wheelchair:before {
	content: "\f21a";
}
.icon-vimeo-square:before {
	content: "\f21b";
}
.icon-try:before {
	content: "\f21c";
}
.icon-plus-square-o:before {
	content: "\f21d";
}
.icon-space-shuttle:before {
	content: "\f21e";
}
.icon-slack:before {
	content: "\f21f";
}
.icon-envelope-square:before {
	content: "\f220";
}
.icon-wordpress:before {
	content: "\f221";
}
.icon-openid:before {
	content: "\f222";
}
.icon-bank:before {
	content: "\f223";
}
.icon-graduation-cap:before {
	content: "\f224";
}
.icon-yahoo:before {
	content: "\f225";
}
.icon-google:before {
	content: "\f226";
}
.icon-reddit:before {
	content: "\f227";
}
.icon-reddit-square:before {
	content: "\f228";
}
.icon-stumbleupon-circle:before {
	content: "\f229";
}
.icon-stumbleupon:before {
	content: "\f22a";
}
.icon-delicious:before {
	content: "\f22b";
}
.icon-digg:before {
	content: "\f22c";
}
.icon-pied-piper:before {
	content: "\f22d";
}
.icon-pied-piper-alt:before {
	content: "\f22e";
}
.icon-drupal:before {
	content: "\f22f";
}
.icon-joomla:before {
	content: "\f230";
}
.icon-language:before {
	content: "\f231";
}
.icon-fax:before {
	content: "\f232";
}
.icon-building:before {
	content: "\f233";
}
.icon-child:before {
	content: "\f234";
}
.icon-paw:before {
	content: "\f235";
}
.icon-spoon:before {
	content: "\f236";
}
.icon-cube:before {
	content: "\f237";
}
.icon-cubes:before {
	content: "\f238";
}
.icon-behance:before {
	content: "\f239";
}
.icon-behance-square:before {
	content: "\f23a";
}
.icon-steam:before {
	content: "\f23b";
}
.icon-steam-square:before {
	content: "\f23c";
}
.icon-recycle:before {
	content: "\f23d";
}
.icon-automobile:before {
	content: "\f23e";
}
.icon-cab:before {
	content: "\f23f";
}
.icon-tree:before {
	content: "\f240";
}
.icon-spotify:before {
	content: "\f241";
}
.icon-deviantart:before {
	content: "\f242";
}
.icon-soundcloud:before {
	content: "\f243";
}
.icon-database2:before {
	content: "\f244";
}
.icon-file-pdf-o:before {
	content: "\f245";
}
.icon-file-word-o:before {
	content: "\f246";
}
.icon-file-excel-o:before {
	content: "\f247";
}
.icon-file-powerpoint-o:before {
	content: "\f248";
}
.icon-file-image-o:before {
	content: "\f249";
}
.icon-file-archive-o:before {
	content: "\f24a";
}
.icon-file-audio-o:before {
	content: "\f24b";
}
.icon-file-movie-o:before {
	content: "\f24c";
}
.icon-file-code-o:before {
	content: "\f24d";
}
.icon-vine:before {
	content: "\f24e";
}
.icon-codepen:before {
	content: "\f24f";
}
.icon-jsfiddle:before {
	content: "\f250";
}
.icon-life-bouy:before {
	content: "\f251";
}
.icon-circle-o-notch:before {
	content: "\f252";
}
.icon-ra:before {
	content: "\f253";
}
.icon-empire:before {
	content: "\f254";
}
.icon-git-square:before {
	content: "\f255";
}
.icon-git:before {
	content: "\f256";
}
.icon-hacker-news:before {
	content: "\f257";
}
.icon-tencent-weibo:before {
	content: "\f258";
}
.icon-qq:before {
	content: "\f259";
}
.icon-wechat:before {
	content: "\f25a";
}
.icon-paper-plane:before {
	content: "\f25b";
}
.icon-paper-plane-o:before {
	content: "\f25c";
}
.icon-history2:before {
	content: "\f25d";
}
.icon-circle-thin:before {
	content: "\f25e";
}
.icon-header:before {
	content: "\f25f";
}
.icon-paragraph:before {
	content: "\f260";
}
.icon-sliders:before {
	content: "\f261";
}
.icon-share-alt:before {
	content: "\f262";
}
.icon-share-alt-square:before {
	content: "\f263";
}
.icon-bomb:before {
	content: "\f264";
}
.icon-futbol-o:before {
	content: "\f265";
}
.icon-tty:before {
	content: "\f266";
}
.icon-binoculars:before {
	content: "\f267";
}
.icon-plug2:before {
	content: "\f268";
}
.icon-slideshare:before {
	content: "\f269";
}
.icon-twitch:before {
	content: "\f26a";
}
.icon-yelp:before {
	content: "\f26b";
}
.icon-newspaper-o:before {
	content: "\f26c";
}
.icon-wifi:before {
	content: "\f26d";
}
.icon-calculator:before {
	content: "\f26e";
}
.icon-paypal:before {
	content: "\f26f";
}
.icon-google-wallet:before {
	content: "\f270";
}
.icon-cc-visa:before {
	content: "\f271";
}
.icon-cc-mastercard:before {
	content: "\f272";
}
.icon-cc-discover:before {
	content: "\f273";
}
.icon-cc-amex:before {
	content: "\f274";
}
.icon-cc-paypal:before {
	content: "\f275";
}
.icon-cc-stripe:before {
	content: "\f276";
}
.icon-bell-slash:before {
	content: "\f277";
}
.icon-bell-slash-o:before {
	content: "\f278";
}
.icon-trash:before {
	content: "\f279";
}
.icon-copyright:before {
	content: "\f27a";
}
.icon-at:before {
	content: "\f27b";
}
.icon-eyedropper:before {
	content: "\f27d";
}
.icon-paint-brush:before {
	content: "\f27e";
}
.icon-birthday-cake:before {
	content: "\f27f";
}
.icon-area-chart:before {
	content: "\f280";
}
.icon-pie-chart:before {
	content: "\f281";
}
.icon-line-chart:before {
	content: "\f282";
}
.icon-lastfm:before {
	content: "\f283";
}
.icon-lastfm-square:before {
	content: "\f284";
}
.icon-toggle-off:before {
	content: "\f285";
}
.icon-toggle-on:before {
	content: "\f286";
}
.icon-bicycle:before {
	content: "\f287";
}
.icon-bus:before {
	content: "\f288";
}
.icon-ioxhost:before {
	content: "\f289";
}
.icon-angellist:before {
	content: "\f28a";
}
.icon-cc:before {
	content: "\f28b";
}
.icon-ils:before {
	content: "\f28c";
}
.icon-meanpath:before {
	content: "\f28d";
}
.icon-folder-open2:before {
	content: "\e930";
}
.icon-folder-plus:before {
	content: "\e931";
}
.icon-folder-minus:before {
	content: "\e932";
}
.icon-folder-download:before {
	content: "\e933";
}
.icon-folder-upload:before {
	content: "\e934";
}
.icon-alert:before {
	content: "\f02d";
}
.icon-alignment-align:before {
	content: "\f08a";
}
.icon-alignment-aligned-to:before {
	content: "\f08e";
}
.icon-alignment-unalign:before {
	content: "\f08b";
}
.icon-arrow-down:before {
	content: "\f03f";
}
.icon-arrow-left:before {
	content: "\f040";
}
.icon-arrow-right:before {
	content: "\f03e";
}
.icon-arrow-small-down:before {
	content: "\f0a0";
}
.icon-arrow-small-left:before {
	content: "\f0a1";
}
.icon-arrow-small-right:before {
	content: "\f071";
}
.icon-arrow-small-up:before {
	content: "\f09f";
}
.icon-arrow-up:before {
	content: "\f03d";
}
.icon-beer:before {
	content: "\f069";
}
.icon-book:before {
	content: "\f007";
}
.icon-bookmark:before {
	content: "\f07b";
}
.icon-briefcase:before {
	content: "\f0d3";
}
.icon-broadcast:before {
	content: "\f048";
}
.icon-browser:before {
	content: "\f0c5";
}
.icon-bug:before {
	content: "\f091";
}
.icon-calendar:before {
	content: "\f068";
}
.icon-check:before {
	content: "\f03a";
}
.icon-checklist:before {
	content: "\f076";
}
.icon-chevron-down:before {
	content: "\f0a3";
}
.icon-chevron-left:before {
	content: "\f0a4";
}
.icon-chevron-right:before {
	content: "\f078";
}
.icon-chevron-up:before {
	content: "\f0a2";
}
.icon-circle-slash:before {
	content: "\f084";
}
.icon-circuit-board:before {
	content: "\f0d6";
}
.icon-clippy:before {
	content: "\f035";
}
.icon-clock:before {
	content: "\f046";
}
.icon-cloud-download:before {
	content: "\f00b";
}
.icon-cloud-upload:before {
	content: "\f00c";
}
.icon-code:before {
	content: "\f05f";
}
.icon-color-mode:before {
	content: "\f065";
}
.icon-comment:before {
	content: "\f02b";
}
.icon-comment-discussion:before {
	content: "\f04f";
}
.icon-credit-card:before {
	content: "\f045";
}
.icon-dash:before {
	content: "\f0ca";
}
.icon-dashboard:before {
	content: "\f07d";
}
.icon-database:before {
	content: "\f096";
}
.icon-device-camera:before {
	content: "\f056";
}
.icon-device-camera-video:before {
	content: "\f057";
}
.icon-device-desktop:before {
	content: "\f27c";
}
.icon-device-mobile:before {
	content: "\f038";
}
.icon-diff:before {
	content: "\f04d";
}
.icon-diff-added:before {
	content: "\f06b";
}
.icon-diff-ignored:before {
	content: "\f099";
}
.icon-diff-modified:before {
	content: "\f06d";
}
.icon-diff-removed:before {
	content: "\f06c";
}
.icon-diff-renamed:before {
	content: "\f06e";
}
.icon-ellipsis:before {
	content: "\f09a";
}
.icon-eye:before {
	content: "\f04e";
}
.icon-file-binary:before {
	content: "\f094";
}
.icon-file-code:before {
	content: "\f010";
}
.icon-file-directory:before {
	content: "\f016";
}
.icon-file-media:before {
	content: "\f012";
}
.icon-file-pdf:before {
	content: "\f014";
}
.icon-file-submodule:before {
	content: "\f017";
}
.icon-file-symlink-directory:before {
	content: "\f0b1";
}
.icon-file-symlink-file:before {
	content: "\f0b0";
}
.icon-file-text:before {
	content: "\f011";
}
.icon-file-zip:before {
	content: "\f013";
}
.icon-flame:before {
	content: "\f0d2";
}
.icon-fold:before {
	content: "\f0cc";
}
.icon-gear:before {
	content: "\f02f";
}
.icon-gift:before {
	content: "\f042";
}
.icon-gist:before {
	content: "\f00e";
}
.icon-gist-secret:before {
	content: "\f08c";
}
.icon-git-branch:before {
	content: "\f020";
}
.icon-git-commit:before {
	content: "\f01f";
}
.icon-git-compare:before {
	content: "\f0ac";
}
.icon-git-merge:before {
	content: "\f023";
}
.icon-git-pull-request:before {
	content: "\f009";
}
.icon-globe:before {
	content: "\f0b6";
}
.icon-graph:before {
	content: "\f043";
}
.icon-heart:before {
	content: "\2665";
}
.icon-history:before {
	content: "\f07e";
}
.icon-home:before {
	content: "\f08d";
}
.icon-horizontal-rule:before {
	content: "\f070";
}
.icon-hourglass:before {
	content: "\f09e";
}
.icon-hubot:before {
	content: "\f09d";
}
.icon-inbox:before {
	content: "\f0cf";
}
.icon-info:before {
	content: "\f059";
}
.icon-issue-closed:before {
	content: "\f028";
}
.icon-issue-opened:before {
	content: "\f026";
}
.icon-issue-reopened:before {
	content: "\f027";
}
.icon-jersey:before {
	content: "\f019";
}
.icon-jump-down:before {
	content: "\f072";
}
.icon-jump-left:before {
	content: "\f0a5";
}
.icon-jump-right:before {
	content: "\f0a6";
}
.icon-jump-up:before {
	content: "\f073";
}
.icon-key:before {
	content: "\f049";
}
.icon-keyboard:before {
	content: "\f00d";
}
.icon-law:before {
	content: "\f0d8";
}
.icon-light-bulb:before {
	content: "\f000";
}
.icon-link:before {
	content: "\f05c";
}
.icon-link-external:before {
	content: "\f07f";
}
.icon-list-ordered:before {
	content: "\f062";
}
.icon-list-unordered:before {
	content: "\f061";
}
.icon-location:before {
	content: "\f060";
}
.icon-lock2:before {
	content: "\f06a";
}
.icon-logo-github:before {
	content: "\f092";
}
.icon-mail:before {
	content: "\f03b";
}
.icon-mail-read:before {
	content: "\f03c";
}
.icon-mail-reply:before {
	content: "\f051";
}
.icon-mark-github:before {
	content: "\f00a";
}
.icon-markdown:before {
	content: "\f0c9";
}
.icon-megaphone:before {
	content: "\f077";
}
.icon-mention:before {
	content: "\f0be";
}
.icon-microscope:before {
	content: "\f089";
}
.icon-milestone:before {
	content: "\f075";
}
.icon-mirror:before {
	content: "\f024";
}
.icon-mortar-board:before {
	content: "\f0d7";
}
.icon-move-down:before {
	content: "\f0a8";
}
.icon-move-left:before {
	content: "\f074";
}
.icon-move-right:before {
	content: "\f0a9";
}
.icon-move-up:before {
	content: "\f0a7";
}
.icon-mute:before {
	content: "\f080";
}
.icon-no-newline:before {
	content: "\f09c";
}
.icon-octoface:before {
	content: "\f008";
}
.icon-organization:before {
	content: "\f037";
}
.icon-package:before {
	content: "\f0c4";
}
.icon-paintcan:before {
	content: "\f0d1";
}
.icon-pencil:before {
	content: "\f058";
}
.icon-person:before {
	content: "\f018";
}
.icon-pin:before {
	content: "\f041";
}
.icon-playback-fast-forward:before {
	content: "\f0bd";
}
.icon-playback-pause:before {
	content: "\f0bb";
}
.icon-playback-play:before {
	content: "\f0bf";
}
.icon-playback-rewind:before {
	content: "\f0bc";
}
.icon-plug:before {
	content: "\f0d4";
}
.icon-plus2:before {
	content: "\f05d";
}
.icon-podium:before {
	content: "\f0af";
}
.icon-primitive-dot:before {
	content: "\f052";
}
.icon-primitive-square:before {
	content: "\f053";
}
.icon-pulse:before {
	content: "\f085";
}
.icon-puzzle:before {
	content: "\f0c0";
}
.icon-question:before {
	content: "\f02c";
}
.icon-quote:before {
	content: "\f063";
}
.icon-radio-tower:before {
	content: "\f030";
}
.icon-repo:before {
	content: "\f001";
}
.icon-repo-clone:before {
	content: "\f04c";
}
.icon-repo-force-push:before {
	content: "\f04a";
}
.icon-repo-forked:before {
	content: "\f002";
}
.icon-repo-pull:before {
	content: "\f006";
}
.icon-repo-push:before {
	content: "\f005";
}
.icon-rocket:before {
	content: "\f033";
}
.icon-rss:before {
	content: "\f034";
}
.icon-ruby:before {
	content: "\f047";
}
.icon-screen-full:before {
	content: "\f066";
}
.icon-screen-normal:before {
	content: "\f067";
}
.icon-search:before {
	content: "\f02e";
}
.icon-server:before {
	content: "\f097";
}
.icon-settings:before {
	content: "\f07c";
}
.icon-sign-in:before {
	content: "\f036";
}
.icon-sign-out:before {
	content: "\f032";
}
.icon-split:before {
	content: "\f0c6";
}
.icon-squirrel:before {
	content: "\f0b2";
}
.icon-star:before {
	content: "\f02a";
}
.icon-steps:before {
	content: "\f0c7";
}
.icon-stop:before {
	content: "\f08f";
}
.icon-sync:before {
	content: "\f087";
}
.icon-tag:before {
	content: "\f015";
}
.icon-telescope:before {
	content: "\f088";
}
.icon-terminal:before {
	content: "\f0c8";
}
.icon-three-bars:before {
	content: "\f05e";
}
.icon-tools:before {
	content: "\f031";
}
.icon-trashcan:before {
	content: "\f0d0";
}
.icon-triangle-down:before {
	content: "\f05b";
}
.icon-triangle-left:before {
	content: "\f044";
}
.icon-triangle-right:before {
	content: "\f05a";
}
.icon-triangle-up:before {
	content: "\f0aa";
}
.icon-unfold:before {
	content: "\f039";
}
.icon-unmute:before {
	content: "\f0ba";
}
.icon-versions:before {
	content: "\f064";
}
.icon-x:before {
	content: "\f081";
}
.icon-zap:before {
	content: "\26a1";
}
.icon-lock:before {
	content: "\e98f";
}
.icon-unlocked:before {
	content: "\e990";
}
.icon-cog:before {
	content: "\e994";
}
.icon-cogs:before {
	content: "\e995";
}
.icon-hammer:before {
	content: "\e996";
}
.icon-magic-wand:before {
	content: "\e997";
}
.icon-lab:before {
	content: "\e9aa";
}
.icon-plus:before {
	content: "\ea0a";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-share2:before {
	content: "\ea82";
}
.icon-cabinet:before {
	content: "\e609";
}
.icon-medal:before {
	content: "\e60a";
}
.icon-stack:before {
	content: "\e60b";
}
.icon-stack2:before {
	content: "\e60c";
}
.icon-stack3:before {
	content: "\e60d";
}
.icon-printer:before {
	content: "\e60e";
}
.icon-import-export:before {
	content: "\e60f";
}
.icon-swap-calls:before {
	content: "\e610";
}
.icon-usb:before {
	content: "\e611";
}
.icon-camera:before {
	content: "\e612";
}
.icon-call-split:before {
	content: "\e608";
}
.icon-flow-cascade:before {
	content: "\e613";
}
.icon-flow-line:before {
	content: "\e614";
}
.icon-flow-parallel:before {
	content: "\e615";
}
.icon-flow-tree:before {
	content: "\e616";
}
.icon-resize-100:before {
	content: "\e617";
}
.icon-resize-full-screen:before {
	content: "\e618";
}
.icon-archive:before {
	content: "\e619";
}
.icon-blackboard:before {
	content: "\e61a";
}
.icon-box:before {
	content: "\e61b";
}
.icon-briefcase2:before {
	content: "\e61c";
}
.icon-documents:before {
	content: "\e61d";
}
.icon-erase:before {
	content: "\e61e";
}
.icon-location2:before {
	content: "\e61f";
}
.icon-ruler:before {
	content: "\e620";
}
.icon-scissors:before {
	content: "\e621";
}
.icon-shareable:before {
	content: "\e622";
}

