<div class="TaxonOverview">
	<div class="leftSideColumn">
		<div class="section">
			<label>Search Tools</label>
		</div>
		<div class="section">
			<label>Experiment Summary</label>
		</div>
		<div class="section">
			<label>Recent PubMed Articles</label>
		</div>
	</div>
	<div class="rightColumn">
		<div class="section">
			<label>Taxonomy Summary</label>
			<table><tbody>
				<tr><td class="propertyColumn">Taxonomy ID</td><td></td></tr>
				<tr><td class="propertyColumn">Lineage</td><td class="lineageColumn"></td></tr>
				<tr><td class="propertyColumn">External Links</td><td><a href="http://www.immuneepitope.org/sourceOrgId/" target="_blank">Immune Epitope Database and Analysis Resource</a></td></tr>
				<tr><td colspan="2">Summary Terms - Click on number to view genomes associated with term</td></tr>
				<tr><td class="propertyColumn">Genome Status</td><td></td></tr>
				<tr><td class="propertyColumn">Isolation Country</td><td></td></tr>
				<tr><td class="propertyColumn">Host Name</td><td></td></tr>
				<tr><td class="propertyColumn">Disease</td><td></td></tr>
				<tr><td class="propertyColumn">Collection Date</td><td></td></tr>
				<tr><td class="propertyColumn">Completion Date</td><td></td></tr>
			</tbody></table>
		</div>

		<div class="section">
			<label>Genome Summary</label>
			<table><tbody>
				<tr><td></td><td class="sourceColumn">PATRIC</td><td class="sourceColumn">Legacy BRC</td><td class="sourceColumn">RefSeq</td></tr>
				<tr><td>Number of genomes</td><td></td><td></td><td></td></tr> 
				<tr><td>Number of complete genomes</td><td></td><td></td><td></td></tr> 
				<tr><td>Number of WGS genomes</td><td></td><td></td><td></td></tr> 
				<tr><td>Number of Plasmid-Only genomes</td><td></td><td></td><td></td></tr> 
			</tbody></table>	
		</div>

		<div class="section">
			<label>Genomic Feature Summary</label>
			<table><tbody>
				<tr><td></td><td class="sourceColumn">PATRIC</td><td class="sourceColumn">Legacy BRC</td><td class="sourceColumn">RefSeq</td></tr>
				<tr><td>CDS</td><td></td><td></td><td></td></tr> 
				<tr><td>misc_RNA</td><td></td><td></td><td></td></tr> 
				<tr><td>ncRNA</td><td></td><td></td><td></td></tr> 
				<tr><td>rRNA</td><td></td><td></td><td></td></tr> 
				<tr><td>tRNA</td><td></td><td></td><td></td></tr> 
				<tr><td colspan="4">View More Feature Types</td></tr>
			</tbody></table>	
	
		</div>

		<div class="section">
			<label>Protein Feature Summary</label>
			<table><tbody>
				<tr><td>Hypothetical proteins</td><td class="sourceColumn">PATRIC</td><td class="sourceColumn">Legacy BRC</td><td class="sourceColumn">RefSeq</td></tr>
				<tr><td>Proteins with functional assignments</td><td></td><td></td><td></td></tr> 
				<tr><td>Proteins with EC number assignments</td><td></td><td></td><td></td></tr> 
				<tr><td>Proteins with GO assignments</td><td></td><td></td><td></td></tr> 
				<tr><td>Proteins with Pathway assignments</td><td></td><td></td><td></td></tr> 
				<tr><td>Proteins with FIGfam assignments</td><td></td><td></td><td></td></tr> 
			</tbody></table>	
		</div>
	</div>
</div>
