<div class="stepContent dataTypeSelectorStep">
  <div class="stepHeader">
    <h3>Select Data Type</h3>
    <p class="stepDescription">Choose the type of data you want to download.</p>
  </div>

  <div class="errorMessage dijitHidden" data-dojo-attach-point="errorNode"></div>
  <div class="loadingIndicator dijitHidden" data-dojo-attach-point="loadingNode">
    <i class="fa fa-spinner fa-spin"></i> Loading...
  </div>

  <div class="formatCategories" data-dojo-attach-point="categoriesNode">
    <!-- Categories will be rendered here dynamically -->
  </div>
</div>
