<div class="definitionLineBuilder">
  <div class="builderColumns">
    <div class="availableFieldsColumn">
      <div class="columnHeader">
        <h5>Available Fields</h5>
        <input type="text" class="fieldSearch" placeholder="Search fields..."
               data-dojo-attach-point="searchInput">
      </div>
      <div class="fieldsList" data-dojo-attach-point="availableFieldsNode">
        <!-- Available fields will be rendered here -->
      </div>
    </div>

    <div class="builderActions">
      <button type="button" class="addButton" data-dojo-attach-point="addButton"
              data-dojo-attach-event="onClick:_onAddSelected" title="Add selected">
        <i class="fa fa-chevron-right"></i>
      </button>
      <button type="button" class="removeButton" data-dojo-attach-point="removeButton"
              data-dojo-attach-event="onClick:_onRemoveSelected" title="Remove selected">
        <i class="fa fa-chevron-left"></i>
      </button>
    </div>

    <div class="selectedFieldsColumn">
      <div class="columnHeader">
        <h5>Definition Line Fields</h5>
        <span class="fieldCount" data-dojo-attach-point="fieldCountNode">0 fields</span>
      </div>
      <div class="fieldsList" data-dojo-attach-point="selectedFieldsNode">
        <!-- Selected fields will be rendered here -->
      </div>
      <div class="reorderButtons">
        <button type="button" class="moveUpButton" data-dojo-attach-point="moveUpButton"
                data-dojo-attach-event="onClick:_onMoveUp" title="Move up">
          <i class="fa fa-arrow-up"></i>
        </button>
        <button type="button" class="moveDownButton" data-dojo-attach-point="moveDownButton"
                data-dojo-attach-event="onClick:_onMoveDown" title="Move down">
          <i class="fa fa-arrow-down"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="delimiterSection">
    <label>Delimiter:</label>
    <select data-dojo-attach-point="delimiterSelect" data-dojo-attach-event="onChange:_onDelimiterChange">
      <option value="|">Pipe (|)</option>
      <option value=" ">Space</option>
      <option value="\t">Tab</option>
      <option value=";">Semicolon (;)</option>
      <option value="_">Underscore (_)</option>
    </select>
  </div>

  <div class="previewSection">
    <label>Preview:</label>
    <div class="defLinePreview" data-dojo-attach-point="previewNode">
      <code>&gt;(no fields selected)</code>
    </div>
  </div>
</div>
