<div class="downloadProgressDialog">
  <div class="progressContent">
    <div class="statusSection">
      <i class="fa fa-hourglass statusIcon" data-dojo-attach-point="statusIconNode"></i>
      <span class="statusText" data-dojo-attach-point="statusTextNode">Preparing...</span>
    </div>

    <div class="progressSection">
      <div class="progressBarContainer">
        <div class="progressBar" data-dojo-attach-point="progressBar" style="width: 0%"></div>
      </div>
      <span class="progressText" data-dojo-attach-point="progressText">0%</span>
    </div>

    <div class="messageSection">
      <span class="messageText" data-dojo-attach-point="messageNode"></span>
    </div>
  </div>

  <div class="dialogActions">
    <button type="button" class="retryButton dijitHidden" data-dojo-attach-point="retryButton"
            data-dojo-attach-event="onClick:_onRetry">
      <i class="fa fa-refresh"></i> Retry
    </button>
    <button type="button" class="cancelButton dijitHidden" data-dojo-attach-point="cancelButton"
            data-dojo-attach-event="onClick:_onCancel">
      <i class="fa fa-times"></i> Cancel
    </button>
    <button type="button" class="closeButton" data-dojo-attach-point="closeButton"
            data-dojo-attach-event="onClick:_onClose">
      Cancel
    </button>
  </div>
</div>
