<div class="stepContent fastaConfiguratorStep">
  <div class="stepHeader">
    <h3>FASTA Options</h3>
    <p class="stepDescription">Configure your FASTA download format.</p>
  </div>

  <div class="errorMessage dijitHidden" data-dojo-attach-point="errorNode"></div>

  <div class="configSection">
    <h4>Download Summary</h4>
    <div class="summaryInfo" data-dojo-attach-point="summaryNode">
      <div class="summaryItem">
        <span class="summaryLabel">Format:</span>
        <span class="summaryValue" data-dojo-attach-point="formatValueNode">DNA FASTA</span>
      </div>
      <div class="summaryItem">
        <span class="summaryLabel">Records:</span>
        <span class="summaryValue" data-dojo-attach-point="recordsValueNode">All</span>
      </div>
    </div>
  </div>

  <div class="configSection">
    <h4><i class="fa fa-edit"></i> Definition Line Format</h4>
    <p class="sectionDescription">Choose how to format the FASTA header lines.</p>

    <div class="defLineOptions">
      <div class="defLineOption selected" data-option="default" data-dojo-attach-point="defaultDefLineOption">
        <input type="radio" name="defLineFormat" value="default" id="defline_default" checked
               data-dojo-attach-point="defaultDefLineRadio">
        <label for="defline_default">
          <div class="optionTitle">Use Default</div>
          <div class="optionDescription">Standard BV-BRC format with accession and description</div>
          <div class="optionPreview" data-dojo-attach-point="defaultPreviewNode">
            <code>&gt;accession|genome_name product</code>
          </div>
        </label>
      </div>

      <div class="defLineOption" data-option="custom" data-dojo-attach-point="customDefLineOption">
        <input type="radio" name="defLineFormat" value="custom" id="defline_custom"
               data-dojo-attach-point="customDefLineRadio">
        <label for="defline_custom">
          <div class="optionTitle">Build Custom</div>
          <div class="optionDescription">Select and arrange fields for the definition line</div>
        </label>
      </div>
    </div>

    <div class="customDefLineBuilder dijitHidden" data-dojo-attach-point="customBuilderNode">
      <!-- DefinitionLineBuilder widget will be placed here -->
    </div>
  </div>

  <div class="readyMessage">
    <i class="fa fa-check-circle"></i>
    Ready to download. Click the <strong>Download</strong> button to proceed.
  </div>
</div>
