<div class="stepContent genomeBundleConfiguratorStep">
  <div class="stepHeader">
    <h3>Genome Package Options</h3>
    <p class="stepDescription">Configure your genome data package download.</p>
  </div>

  <div class="errorMessage dijitHidden" data-dojo-attach-point="errorNode"></div>

  <div class="configSection">
    <h4>Download Summary</h4>
    <div class="summaryInfo">
      <div class="summaryItem">
        <span class="summaryLabel">Genomes:</span>
        <span class="summaryValue" data-dojo-attach-point="genomesValueNode">All</span>
      </div>
    </div>
  </div>

  <div class="configSection">
    <h4><i class="fa fa-file-archive"></i> File Types</h4>
    <p class="sectionDescription">Select the types of files to include in the download package.</p>

    <div class="fileTypesList" data-dojo-attach-point="fileTypesNode">
      <!-- File type checkboxes will be rendered here -->
    </div>
  </div>

  <div class="configSection">
    <h4><i class="fa fa-tag"></i> Annotation Source</h4>
    <div class="annotationOptions">
      <label>
        <input type="radio" name="annotationType" value="PATRIC" checked
               data-dojo-attach-point="patricRadio"> BV-BRC
      </label>
      <label>
        <input type="radio" name="annotationType" value="RefSeq"
               data-dojo-attach-point="refseqRadio"> RefSeq
      </label>
      <label>
        <input type="radio" name="annotationType" value="all"
               data-dojo-attach-point="allAnnotationRadio"> All
      </label>
    </div>
  </div>

  <div class="configSection">
    <h4><i class="fa fa-archive"></i> Archive Format</h4>
    <div class="archiveOptions">
      <label>
        <input type="radio" name="archiveType" value="zip" checked
               data-dojo-attach-point="zipRadio"> ZIP
      </label>
      <label>
        <input type="radio" name="archiveType" value="tar"
               data-dojo-attach-point="tarRadio"> TGZ (tar.gz)
      </label>
    </div>
  </div>

  <div class="readyMessage dijitHidden" data-dojo-attach-point="readyMessage">
    <i class="fa fa-check-circle"></i>
    Ready to download. Click the <strong>Download</strong> button to proceed.
  </div>
</div>
