<div class="stepContent tableConfiguratorStep">
  <div class="stepHeader">
    <h3>Table Options</h3>
    <p class="stepDescription">Configure your tabular data download.</p>
  </div>

  <div class="errorMessage dijitHidden" data-dojo-attach-point="errorNode"></div>

  <div class="configSection">
    <h4>Download Summary</h4>
    <div class="summaryInfo" data-dojo-attach-point="summaryNode">
      <div class="summaryItem">
        <span class="summaryLabel">Format:</span>
        <span class="summaryValue" data-dojo-attach-point="formatValueNode">TSV</span>
      </div>
      <div class="summaryItem">
        <span class="summaryLabel">Records:</span>
        <span class="summaryValue" data-dojo-attach-point="recordsValueNode">All</span>
      </div>
    </div>
  </div>

  <div class="configSection">
    <h4><i class="fa fa-columns"></i> Column Selection</h4>
    <p class="sectionDescription">All available columns will be included in the download.</p>
    <div class="columnInfo">
      <i class="fa fa-info-circle"></i>
      The downloaded file will contain all data fields for the selected records.
    </div>
  </div>

  <div class="readyMessage">
    <i class="fa fa-check-circle"></i>
    Ready to download. Click the <strong>Download</strong> button to proceed.
  </div>
</div>
