<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h1 class="appHeader">${applicationLabel}
        <div name="overview" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>
        <div class="infobox iconbox tutorialButton tutorialInfo">
          <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
        </div>
        <!-- <div class="infobox iconbox videoButton videoInfo">
          <a href="${docsServiceURL}${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
        </div> -->
      </h1>
      <p>${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a> and <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a>.</p>
      </p>
    </div>
    <div style="width:450px; margin:auto" class="formFieldsContainer">
      <div id="annotationBox" style="width:400px;" class="appBox appShadow">
        <div class="headerrow">
          <div style="width:85%;display:inline-block;">
            <label class="appBoxLabel">Parameters</label>
            <div name="parameters" class="infobox iconbox infobutton dialoginfo">
              <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
          </div>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <label>Contigs</label><br>
            <div data-dojo-type="p3/widget/WorkspaceObjectSelector" data-dojo-attach-point="contigs" name="contigs" style="width:100%" required="true" data-dojo-props="type:['contigs'],multi:false,promptMessage:'Select or Upload Contigs to your workspace for Annotation',missingMessage:'Contigs must be provided.'"></div>
          </div>
        </div>
        <!-- <div class="appRow">
          <label class="paramlabel">Annotation Recipe</label><br>
          <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="default" name="recipe" value="default" data-dojo-attach-event="onChange:onRecipeChange" />
          <label for="radio1" style="font-size:8pt">Bacteria/Archaea</label>
          <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="viral" name="recipe" value="viral" data-dojo-attach-event="onChange:onRecipeChange" />
          <label for="radio2" style="font-size:8pt">Viruses</label>
          <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="phage" name="recipe" value="phage" />
          <label for="radio3" style="font-size:8pt">Bacteriophages</label>
        </div> -->
        <div class="appRow">
          <label class="paramlabel">Annotation Recipe</label><br>
          <select data-dojo-type="dijit/form/Select" name="recipe" data-dojo-attach-point="recipe" style="width:300px" required="true" data-dojo-attach-event="onChange:onRecipeChange">
            <option value="">--- Select Recipe ---</option>
            <option value="default">Bacteria / Archaea</option>
            <option value="viral">Viruses</option>
            <option value="phage">Bacteriophages</option>
          </select>
        </div>
        <div class="appRow">
          <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:70%">
            <label class="paramlabel">Taxonomy Name</label>
            <div name="taxon-information" class="infobox iconbox infobutton tooltipinfo">
              <i class="fa icon-question-circle fa"></i>
            </div>
            <br>
            <div data-dojo-attach-event="onChange:onSuggestNameChange" data-dojo-type="p3/widget/TaxonNameSelector" name="scientific_name" maxHeight="200" style="width:100%" required="true" data-dojo-attach-point="scientific_nameWidget" data-dojo-props="includeEukaryotes:false"></div>
          </div>
          <div class="appRowSegment" style="text-align:left; width:20%">
            <label>Taxonomy ID</label><br>
            <div data-dojo-attach-event="onChange:onTaxIDChange" data-dojo-type="p3/widget/TaxIDSelector" value="" name="tax_id" maxHeight="200" style="width:100%" required="true" data-dojo-attach-point="tax_idWidget"></div>
          </div>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <label>My Label</label> <span class="charError" style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
            <div class="cws" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-event="onChange:updateOutputName" name="my_label" data-dojo-attach-point="myLabelWidget" style="width: 300px" required="true" data-dojo-props="intermediateChanges:true, missingMessage:'You must provide a label',trim:true,intermediateChanges:true,placeHolder:'My identifier123'"></div>
          </div>
        </div>
        <div class="appRow">
          <div class="appFieldLong" style="width:380px">
            <label>Output Name</label><br>
            <div data-dojo-attach-point="output_nameWidget" style="width:380px; background-color:#F0F1F3" data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" name="output_file" required="true" data-dojo-props="readOnly: true, promptMessage:'The output name for your Annotation Results',missingMessage:'Output Name must be provided.',trim:true,placeHolder:'Taxonomy + My Label'"></div>
          </div>
        </div>
        <div class="appRow" style="display:none">
          <div class="appFieldLong">
            <label>Optional Annotation Source</label><br>
            <div data-dojo-attach-event="onChange:onSuggestNameChange" data-dojo-type="p3/widget/GenomeNameSelector" name="reference_genome_id" maxHeight="200" style="width:100%" required="false" data-dojo-attach-point="ref_genome_id"></div>
          </div>
        </div>
        <div class="appRow">
          <div class="appFieldLong">
            <label>Output Folder</label><br>
            <div data-dojo-attach-point="output_path" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path" style="width:100%" required="true"
              data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false,value:'${activeWorkspacePath}',workspace:'${activeWorkspace}',promptMessage:'The output folder for your Annotation Results',missingMessage:'Output Folder must be selected.'"
            data-dojo-attach-event="onChange:onOutputPathChange"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="appSubmissionArea">
      <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage" style="margin-top:10px; text-align:center;">
        Submitting Annotation Job
      </div>
      <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage" style="margin-top:10px; text-align:center;">
        Error Submitting Job
      </div>
      <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
      style="margin-top:10px; text-align:center;" >
        Your job has been submitted successfully. Please visit your <a data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and access the results.
      </div>
      <div style="margin-top: 10px; text-align:center;">
        <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel
        </div>
        <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
        <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Annotate</div>
      </div>
    </div>
  </div>
</form>
