<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onsubmit:_onSubmit,onchange:validate">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h3>${applicationLabel}
      </h3>
      <p>${applicationDescription} For further explanation, please see <a href="${docsServiceURL}${applicationHelp}" target="_blank">${applicationLabel} Service User Guide</a> and
        <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a>.
      </p>
      <br>
        <div class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-lock fa-1x" title="Please log in with your ViPR or PATRIC account use this service"></i>
        </div> Please log in with your ViPR or PATRIC account use this service.
    </div>
    <div class="LoginForm" data-dojo-type="p3/widget/LoginForm" style="display: inlin-block;width:500px; margin-left:auto;margin-right:auto;font-size:1.1em;margin-bottom:20px;margin-top:10px;padding:10px;">
    </div>
  </div>
</form>
