<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}"
    dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">

    <div class="appsetup appshadow">
		<div id="setupBox" style="width:700px;" class="appbox">
			<label class="paramlabel" for="infolder">Upload Folder</label><br>
			<div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="infolder" data-dojo-attach-point="workspaceName" style="display:inline-block; width:300px;" required="true" data-dojo-props="type:['folder'],multi:false"></div>
			<div style="margin:0 80px 0 80px; display: inline-block;">Upload to Blah</div>
		</div>
    </div>
    <div style="width: 700px;margin:auto;margin-top: 10px;padding:10px;">
	<div style="width:700px; margin:auto" class="formFieldsContainer">
		<table style="width:100%">
		<tr>
		<td>
		<div id="pairedBox" class="appbox appshadow">
			<h4 class="appboxlabel"> Paired read library</h4>
			<div class="approw">
				<label class="paramlabel" for="file1pair">Read File 1</label><br>
				<div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="file1pair" data-dojo-attach-point="read1pair1" style="width:300px" required="true" data-dojo-props="type:['reads'],multi:false"></div>
			</div>
			<div class="approw">
				<label class="paramlabel" for="file2pair">Read File 2</label><br>
				<div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="file2pair" data-dojo-attach-point="read2pair1" style="width:300px" required="true" data-dojo-props="type:['reads'],multi:false"></div>
			</div>
			<div class="approw">
				<div class="approwsegment">
					<label class="paramlabel" for="interleaved">Interleaved</label><br>
					<select data-dojo-type="dijit/form/Select" name="interleaved" data-dojo-attach-point="workspaceName" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name Must be provided for Folder',trim:true,placeHolder:'MySubFolder'">
					<option value="true">True</option>
					<option value="false">False</option>
					</select>
				</div>
				<div class="approwsegment">
					<label class="paramlabel" for="avginsert">Avg. Insert Size</label><br>
					<div class="insertspinner" name="avginsert" data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="avgpair1" value="100" data-dojo-props="smallDelta:10, constraints:{min:9,max:2000,places:0}" ></div>
				</div>
				<div class="approwsegment">
					<label class="paramlabel" for="stdinsert">Std. Insert</label><br>		
					<div class="insertspinner" name="stdinsert" data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="stdpair1" value="100" data-dojo-props="smallDelta:10, constraints:{min:9,max:2000,places:0}" ></div>		
				</div>
			</div>
			<div class="readbuttons">
				<button type="button" class="round-button" onclick="alert('Hello world!')">+</button>
			</div>
                </div>

		<div class="appbox appshadow">
			<h4 class="appboxlabel">Single read library</h4>
			<label class="paramlabel" for="singleread">Read File</label><br>
			<div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="readfile" data-dojo-attach-point="read1" style="width:300px" required="true" data-dojo-props="type:['reads'],multi:false"></div>
			<div class="readbuttons">
				<button type="button" class="round-button" onclick="alert('Hello world!')">+</button>
			</div>
                </div>
		</td>
		<td>
		<div class="appbox appshadow" style="width:330px">
			<!--<h4 class="appboxlabel">Libraries in assembly</h4>-->
			<div data-dojo-attach-point="gridNode" style="width:100%; height: 300px;"></div>
		<!--<table data-dojo-type="dojox.grid.DataGrid"
		    data-dojo-attach-point="assemblyfiles"
		    data-dojo-props="store:this.libraryStore}, structure: [[{'name': 'Read Files', 'field': 'filenames'}]],rowsPerPage:20,clientSort:true,rowSelector:'20px'" style="width: 300px; height: 200px;">
		    <thead>
			<tr>
			    <th width="300px"
				field="name">Read Files</th>
			</tr>
		    </thead>
		</table>-->
		<div  style="height: 20em;"></div>
		</div>
		</td>
		</tr>
		<tr>
		<td>

		<div class="appbox appshadow">
			<h4 class="appboxlabel">Parameters</h4>
			<div class="approw">
				<label for="strategy" class="paramlabel">Assembly Strategy</label><br>
				<select data-dojo-type="dijit/form/Select" name="strategy" data-dojo-attach-point="workspaceName" style="width:300px" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name Must be provided for Folder',trim:true,placeHolder:'MySubFolder'">
				<option value="auto">auto</option>
				<option value="4">4</option>
				</select>
			</div>
			<div class="approw">
				<label for="outfolder" class="paramlabel">Output Folder</label><br>
				<div data-dojo-type="p3/widget/WorkspaceObjectSelector"  name="outfolder" data-dojo-attach-point="workspaceName" style="width:300px" required="true" data-dojo-props="type:['folder'],multi:false"></div>
			</div>
			<div class="approw">
				<div data-dojo-type="dijit/form/ValidationTextBox" name="name" data-dojo-attach-point="workspaceName" style="width:300px" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name Must be provided for Folder',trim:true,placeHolder:'Output Name'"></div>
			</div>
			<div class="approw">
                                <label class="paramlabel" for="contigs">Benchmark Contigs</label><br>
                                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="contigs" style="width:100%" required="false" data-dojo-props="type:['contigs'],multi:false,placeHolder:'Optional'"></div>
			</div>
        	</div>
		</td>
		<td>
		</td>
		</tr>
		</table>
		
		
	</div>

		<div style="width:400px; margin:auto" class="workingMessage messageContainer">
			Submitting Assembly Job
		</div>

		<div style="width:400px; margin:auto" class="submittedMessage messageContainer">
			Submitting Assembly Job
		</div>

		<div style="width:400px; margin:auto" class="errorMessage messageContainer">
			<div style="font-weight:900;font-size:1.1em;">Error Submitting AssemblyJob</div>
			<p data-dojo-attach-point="errorMessage">Error</p>
		</div>
		
		<div style="margin-top: 10px; text-align:center;">
			<div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel</div>
			<div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
			<div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Assemble</div>
		</div>	
	
</form>

