<form dojoAttachPoint="containerNode" class="PanelForm"
      dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
    <div class="appTemplate">
        <div class="appTitle">
            <span class="breadcrumb">Services</span>
            <h1 class="appHeader">BLAST
                <div name="overview" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                </div>
                <div class="infobox iconbox tutorialButton tutorialInfo">
                    <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
                </div>
            </h1>
            <p>The PATRIC BLAST service integrates the BLAST (Basic Local Aligment Search Tool) algorithms to perform searches
                against against public or private genomes in PATRIC or other reference databases using a DNA or protein sequence
                and find matching genomes, genes, RNAs, or proteins.
                For further explanation, please see <a href="${docsServiceURL}${applicationHelp}" target="_blank">BLAST Service User Guide</a> and
                <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a>.
            </p>
        </div>

        <div class="service_form">
            <div class="appBox appShadow">
                <div class="headerrow" style="margin-bottom: 7px">
                    <label class="appBoxLabel">Sequence</label>
                </div>
                <textarea name="sequence"
                          style="width:96%; height:175px; margin-left:10px; font-family: monospace; font-size:12px"
                          data-dojo-attach-point="sequence"
                          data-dojo-type="dijit/form/Textarea"
                          data-dojo-props="rows:13, placeholder:'Enter a query nucleotide or protein sequence to search. Multiple query sequences are currently not supported.', intermediateChanges:true"
                          data-dojo-attach-event="onChange:onChangeSequence"></textarea>
                <div class="warning" data-dojo-attach-point="sequence_message"></div>

                <div class="headerrow" style="margin-bottom: 7px">
                    <label class="appBoxLabel">Program</label>
                </div>
                <select name="program" style="margin-left:10px; width:96%"
                        data-dojo-type="dijit/form/Select"
                        data-dojo-attach-event="onChange:onChangeProgram"
                        data-dojo-props="disabled:true"
                        data-dojo-attach-point="program">
                </select>
                <div class="warning" data-dojo-attach-point="program_message"></div>

                <div class="headerrow" style="margin: 16px 0 7px 0">
                    <label class="appBoxLabel">Database</label>
                </div>
                <select name="database" style="width:96%; margin-left:10px"
                        data-dojo-type="dijit/form/Select"
                        data-dojo-attach-event="onChange:onChangeDatabase"
                        data-dojo-props="disabled:true"
                        data-dojo-attach-point="database">
                </select>
                <div class="warning" data-dojo-attach-point="database_message"></div>
            </div>

            <div class="appRow" style="text-align:center">
                <div class="appRowSegment" data-dojo-attach-point="advanced">
                    <label class="largelabel">Advanced options</label>
                    <div class="iconbox" style="margin-left:0">
                        <i data-dojo-attach-point="advancedOptionIcon" class="fa icon-caret-down fa-1"></i>
                    </div>
                </div>
            </div>

            <div data-dojo-attach-point="advancedOptions" style="display: none">
                <div class="appBox appShadow hidden" data-dojo-attach-point="genome_id_wrapper">
                    <div class="left half" style="vertical-align: top">
                        <label class="paramlabel">Add Genomes to Search: </label>
                        <div data-dojo-attach-event="onChange:onSuggestNameChange"
                             data-dojo-type="p3/widget/GenomeNameSelector"
                             data-dojo-attach-point="genome_id"
                             data-dojo-props="placeHolder:'e.g. M. tuberculosis CDC1551'"
                             style="width:310px;">
                        </div>
                        <div style="width:17px; display:inline-block;">
                            <i data-dojo-attach-event="click:onAddGenome"
                               class="fa icon-arrow-circle-o-right fa-lg"></i>
                        </div>
                    </div>
                    <div class="left half">
                        <table class="librarytable" frame="box" data-dojo-attach-point="genomeTable"
                               style='width:330px;'>
                            <tbody data-dojo-attach-point="genomeTableBody"></tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                    <div class="warning" data-dojo-attach-point="genome_id_message"></div>
                </div>

                <div class="appBox appShadow hidden" data-dojo-attach-point="genome_group_wrapper">
                    <label class="paramlabel">Select genome group: </label><br/>
                    <div name="genome_group" style="width: 650px"></div>
                    <div class="warning" data-dojo-attach-point="genome_group_message"></div>
                </div>

                <div class="appBox appShadow hidden" data-dojo-attach-point="taxon_wrapper">
                    <label class="paramlabel">Select Taxon: </label><br/>
                    <select name="taxon" style="width: 650px"
                            data-dojo-type="p3/widget/TaxonNameSelector"
                            data-dojo-attach-point="taxonomy">
                    </select>
                    <div class="warning" data-dojo-attach-point="taxonomy_message"></div>
                </div>

                <div class="appBox appShadow hidden" data-dojo-attach-point="search_for_wrapper">
                    <label class="paramlabel">Search for: </label><br/>
                    <select name="search_for" style="width:250px"
                            data-dojo-type="dijit/form/Select"
                            data-dojo-attach-point="search_for">
                    </select>
                    <div class="warning" data-dojo-attach-point="search_for_message"></div>
                </div>

                <div class="appBox appShadow">
                    <div class="headerrow">
                        <label class="appBoxLabel">BLAST Parameters</label>
                    </div>
                    <div class="left third">
                        <label class="paramlabel">Max hits: </label><br/>
                        <select name="max_target" style="width: 100px"
                                data-dojo-type="dijit/form/Select"
                                data-dojo-attach-point="max_hits">
                            <option value="1">1</option>
                            <option value="10">10</option>
                            <option value="50" selected="selected">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                            <option value="5000">5000</option>
                        </select>
                    </div>

                    <div class="left third">
                        <label class="paramlabel">E value threshold: </label><br/>
                        <select name="threshold" type="text" value="10" style="width:50px"
                               data-dojo-type="dijit/form/Select"
                               data-dojo-attach-point="evalue">
                            <option value="0.0001">0.0001</option>
                            <option value="0.001">0.001</option>
                            <option value="0.01">0.01</option>
                            <option value="0.1">0.1</option>
                            <option value="1">1</option>
                            <option value="10" selected="selected">10</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="appSubmissionArea">
            <div style="margin-top: 10px; text-align:center;">
                <div data-dojo-type="dijit/form/Button"
                     data-dojo-attach-point="submitButton"
                     data-dojo-attach-event="onClick:submit"
                     data-dojo-props="disabled:true">
                    Search
                </div>
            </div>
        </div>
        <div class="reSubmitBtn" style="visibility: hidden"
             data-dojo-type="dijit/form/Button"
             data-dojo-attach-event="onClick:resubmit">Edit form and resubmit
        </div>
    </div>

    <div class="service_error hidden">
        <h3></h3>
        <div class="service_message"></div>
    </div>
    <div class="blast_result"></div>
</form>

