<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}"
    dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
    <div class="appTemplate">
        <div class="appTitle">
            <span class="breadcrumb">Services</span>
            <h3>${applicationLabel}
                <div name="overview" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                </div>
                <div class="infobox iconbox tutorialButton tutorialInfo">
                    <a href="${docsServiceURL}${tutorialLink}" target="_blank"><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
                </div>
                <div class="infobox iconbox videoButton videoInfo">
                    <a href="${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
                </div>
            </h3>
            <p>
                ${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a>, <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a> and <a href="${videoLink}" target="_blank">Instructional Video</a>.
            </p>
            <p style="padding-top: 5px;">
                <strong>Note: </strong>This service replaces the former Protein Family Sorter and Comparative Pathway Services.
            </p>
        </div>
        <div class="formFieldsContainer">
            <div style="display: none;">
                <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="true"
                    data-dojo-attach-point="numlibs" data-dojo-props="constraints:{min:1,max:500}," />
            </div>
            <table class="assemblyblocks">
                <tr>
                    <td>
                        <div class="appBox appShadow">
                            <div class="headerrow">
                                <div style="width:85%;display:inline-block;">
                                    <label class="appBoxLabel"> Select Genome</label>
                                        <div name="select-genome" class="infobox iconbox infobutton dialoginfo">
                                        <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                                        </div>
                                </div>
                                <div style="width:10%;display:inline-block;">
                                    <i data-dojo-attach-event="click:onAddGenome"
                                        class="fa icon-arrow-circle-o-right fa-lg"></i>
                                </div>
                            </div>
                            <div class="appRow">
                                <label class="paramlabel">Genome</label><br>
                                <div data-dojo-type="p3/widget/GenomeNameSelector" name="genome"
                                    data-dojo-attach-point="genome" style="width: 300px" required="false"></div>
                            </div>
                        </div>
                        <div class="appBox appShadow">
                            <div class="headerrow">
                                <div style="width:85%;display:inline-block;">
                                    <label class="appBoxLabel"> Select Genome Group</label>
                                        <div name="select-genome-group" class="infobox iconbox infobutton dialoginfo">
                                        <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                                        </div>
                                </div>
                                <div style="width:10%;display:inline-block;">
                                    <i data-dojo-attach-event="click:onAddGenomeGroup"
                                        class="fa icon-arrow-circle-o-right fa-lg"></i>
                                </div>
                            </div>
                            <div class="appRow">
                                <label class="paramlabel">Genome Group</label><br>
                                <div name="genome_group" style="width:300px">
                                    Disabled: please login to enable genome group selection
                                </div>
                            </div>
                        </div>

                        <div class="appBox appShadow">
                            <div class="headerrow">
                                <label class="appBoxLabel">Parameters</label>
                                    <div name="parameters" class="infobox iconbox infobutton dialoginfo">
                                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                                    </div>
                            </div>
                            <div class="appRow">
                                <label class="paramlabel">Output Folder</label><br>
                                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path"
                                    data-dojo-attach-point="output_path" style="width:300px" required="true"
                                    data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false"
                                    data-dojo-attach-event="onChange:onOutputPathChange"></div>
                            </div>
                            <div class="appRow">
                                <label class="paramlabel">Output Name</label><span class="charError"
                                    style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
                                <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox"
                                    data-dojo-attach-event="onChange:checkOutputName" name="output_file"
                                    data-dojo-attach-point="output_file" style="width:300px" required="true"
                                    data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'">
                                </div>
                            </div>


                        </div>
                    </td>
                    <td>
                        <div class="appBox appShadow" style="height:251px; width:330px">
                            <div class="headerrow">
                                <label class="appBoxLabel">Selected genomes</label>
                                   <div name="selected-genomes" class="infobox iconbox infobutton tooltipinfo">
                                   <i class="fa icon-question-circle fa"></i>
                                   </div>
                                <br>
                                <div class="appsublabel">Place genome(s) here using the arrow buttons.</div>
                            </div>
                            <div class="appRow" style="width:100%; margin-top:10px; text-align: center;">
                                <table class="librarytable" frame="box" data-dojo-attach-point="libsTable"
                                    style='margin:0 0 0 10px; width:90%;'>
                                    <tbody data-dojo-attach-point="libsTableBody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="appSubmissionArea">
            <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage"
                style="margin-top:10px; text-align:center;">
                Running the Comparative Systems Tool.
            </div>
            <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage"
                style="margin-top:10px; text-align:center;">
                Error Submitting Job. Check the input.
            </div>
            <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
                style="margin-top:10px; text-align:center;">
                Comparative Systems should be finished shortly. Check workspace for results.
            </div>
            <div style="margin-top: 10px; text-align:center;">
                <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
                <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
            </div>
        </div>

    </div>
</form>