<form dojoAttachPoint="containerNode" class="PanelForm"
    dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">

    <div style="width: 420px;margin:auto;margin-top: 10px;padding:10px;">
    <h1 class="appHeader">Date App</h1>
    <p>Date Application For Testing Purposes</p>
    <div style="margin-top: 10px; text-align:center;">
      <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel</div>
      <div data-dojo-attach-point="saveButton" type="submit" data-dojo-type="dijit/form/Button">Run</div>
    </div>
  </div>
</form>

