<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}"
      dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">

    <div class="appTemplate" style="width: 670px">
        <div class="appTitle">
            <span class="breadcrumb">Services</span>
            <h3>${applicationLabel}
                <div name="overview" class="infobox iconbox infobutton dialoginfo">
                  <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                </div>
                <div class="infobox iconbox tutorialButton tutorialInfo">
                  <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
                </div>
                <div class="infobox iconbox videoButton videoInfo">
                  <a href="${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
                </div>
              </h3>
              <p>
                ${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a>, <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a> and <a href="${videoLink}" target="_blank">Instructional Video</a>.
              </p>
        </div>

        <div class="formFieldsContainer">
            <table class="assemblyblocks">
                <tr>
                    <td>
                        <div style="width:300px" class="appBox appShadow">
                            <div class="headerrow">
                                <div style="width:85%;display:inline-block;">
                                    <label class="appBoxLabel">Experiment Data</label>
                                    <div name="data-information" class="infobox iconbox infobutton dialoginfo">
                                        <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="appRow">
                                <div style="text-align:left;">
                                    <label>Experiment Data File</label><br>
                                    <div data-dojo-type="p3/widget/WorkspaceObjectSelector"
                                         data-dojo-attach-point="xfile" name="xfile" style="width:100%" required="true"
                                         data-dojo-props="type:['expression_gene_matrix', 'expression_gene_list', 'diffexp_input_data'],multi:false,promptMessage:'Select or Upload an comparison data file to your workspace',missingMessage:'An comparison file must be provided.'"></div>
                                </div>
                            </div>
                            <div class="appRow">
                                <div class="halfAppRow">
                                    <label>Experiment Type</label><br>
                                    <select data-dojo-type="dijit/form/Select" name="data_type" data-dojo-attach-point="data_type" style="width:100%"
                                            required="true"
                                            data-dojo-props="intermediateChanges:true,missingMessage:'Name Must be provided for Folder',trim:true,placeHolder:'MySubFolder'">
                                        <option value="transcriptomics">Transcriptomics</option>
                                        <option value="proteomics">Proteomics</option>
                                        <option value="phenomics">Phenomics</option>
                                    </select>
                                </div>
                            </div>

                            <div class="appRow">
                                <div class="halfAppRow">
                                    <label>Genome Type</label><br>
                                    <select data-dojo-type="dijit/form/Select" name="host" style="width:100%" data-dojo-attach-point="host"
                                            required="true">
                                        <option selected="true" value="false">Bacteria or Archaea</option>
                                        <option value="true">Eukaryotic host</option>
                                    </select>
                                </div>
                            </div>

                            <div class="appRow">
                                <div class="halfAppRow">
                                    <label>Source ID Type</label><br>
                                    <select data-dojo-type="dijit/form/Select" name="source_id_type" style="width:100%" data-dojo-attach-point="source_id_type"
                                            required="true">
                                        <option selected="true" value="patric_id">BRC ID</option>
                                        <option value="feature_id">PATRIC Feature ID</option>
                                        <option value="gene_id">NCBI GI Number</option>
                                        <option value="gene">NCBI Gene ID</option>
                                        <option value="protein_id">NCBI Protein ID</option>
                                        <option value="refseq_locus_tag">Refseq Locus Tag</option>
                                        <option value="alt_locus_tag">Alt. Locus Tag</option>
                                    </select>
                                </div>
                            </div>

                            <div class="appRow">
                                <div class="text-align:left;">
                                    <label>Target Genome</label><br>
                                    <div data-dojo-type="p3/widget/GenomeNameSelector" name="genome_id" maxHeight=200
                                         style="width:90%" data-dojo-props="placeHolder: 'Optional'" , required="false"
                                         data-dojo-attach-point="genome_nameWidget"></div>
                                </div>
                            </div>

                        </div>
                    </td>
                    <td rowspan="2">
                        <div id="experimentBox" style="margin-left:0px" class="appBox appShadow">
                            <div class="headerrow">
                                <div style="width:85%;display:inline-block;">
                                    <label class="appBoxLabel">Experiment Information</label>
                                    <div name="experiment-information" class="infobox iconbox infobutton dialoginfo">
                                        <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="appRow">
                                <div class="appField">
                                    <label>Experiment Title</label><br>
                                    <div data-dojo-attach-point="output_nameWidget"
                                         data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox"
                                         name="experiment_title" style="width:100%" required="true"
                                         data-dojo-props="intermediateChanges:true,promptMessage:'Title of the experiment',missingMessage:'Experiment title must be provided',trim:true,placeHolder:'Title'"></div>
                                </div>
                            </div>
                            <div class="appRow">
                                <div class="appField">
                                    <label>Experiment Description</label><br>
                                    <div data-dojo-type="dijit/form/ValidationTextBox" name="experiment_description" data-dojo-attach-point="experiment_description"
                                         style="width:100%" required="true"
                                         data-dojo-props="intermediateChanges:true,promptMessage:'Description of the experiment.',missingMessage:'Experiment description must be provided.',trim:true,placeHolder:'Description'"></div>
                                </div>
                            </div>
                            <div class="appRow">
                                <div class="appField">
                                    <label>Organism Name</label><br>
                                    <div data-dojo-type="p3/widget/TaxonNameSelector" name="organism" maxHeight=200
                                         style="width:100%" required="false"
                                         data-dojo-attach-point="scientific_nameWidget"></div>
                                </div>
                            </div>

                            <div class="appRow">
                                <div class="appField">
                                    <label>Pubmed ID</label><br>
                                    <div data-dojo-type="dijit/form/ValidationTextBox" name="pmid" style="width:100%" data-dojo-attach-point="pmid"
                                         required="false"
                                         data-dojo-props="intermediateChanges:true,promptMessage:'Pubmed ID is optional',missingMessage:'A taxonmic name must be provided.',trim:true,placeHolder:'Optional'"></div>
                                </div>
                            </div>
                            <div class="appRow">
                                <label>Output Folder</label><br>
                                <div data-dojo-attach-point="output_pathWidget"
                                     data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path"
                                     style="width:100%" required="true"
                                     data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false,value:'${activeWorkspacePath}',workspace:'${activeWorkspace}',promptMessage:'The output folder for your Annotation Results',missingMessage:'Output Folder must be selected.'"
                                     data-dojo-attach-event="onChange:onOutputPathChange"></div>
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="metaBox" style="width:300px" class="appBox appShadow">
                            <div class="headerrow">
                                <div style="width:85%;display:inline-block;">
                                    <label class="appBoxLabel">Optional Metadata</label>
                                    <div name="optional-metadata" class="infobox iconbox infobutton dialoginfo">
                                        <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="appRow">
                                <label>Metadata File</label><br>
                                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="mfile" style="width:100%" data-dojo-attach-point="mfile"
                                     required="false"
                                     data-dojo-props="type:['expression_experiment_metadata', 'diffexp_input_metadata'],multi:false,promptMessage:'Select or Upload an comparison data file to your workspace',missingMessage:'Comparison metadata is optional.'"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="appSubmissionArea">

        <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage"
             style="margin-top:10px; text-align:center;">
            Converting Expression Data
        </div>

        <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage"
             style="margin-top:10px; text-align:center;">
            Error Submitting Job
        </div>
        <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
             style="margin-top:10px; text-align:center;">
            Conversion should be finished shortly. Check workspace for results.
        </div>
        <div style="margin-top: 10px; text-align:center;">
            <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel"
                 data-dojo-type="dijit/form/Button">Cancel
            </div>
            <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
            <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
        </div>
    </div>
</form>
