<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h3>${applicationLabel}
        <div name="overview" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>
        <div class="infobox iconbox tutorialButton tutorialInfo">
          <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
        </div>
        <div class="infobox iconbox videoButton videoInfo">
          <a href="${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
        </div>
      </h3>
      <p>
        ${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a>, <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a> and <a href="${videoLink}" target="_blank">Instructional Video</a>.
      </p>
    </div>
    <div class="formFieldsContainer">
      <div style="display: none;">
        <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="false" data-dojo-attach-point="numgenomes" data-dojo-props="constraints:{min:1,max:5000}," />
        <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="false" data-dojo-attach-point="numref" data-dojo-props="constraints:{min:0}," />
      </div>
      <table class="assemblyblocks">
        <tr>
          <td style="width:50%">
            <table>
              <tr>
                <td>
                  <div class="appBox appShadow">
                    <div class="headerrow">
                      <div style="width:85%;display:inline-block;">
                        <label class="appBoxLabel">Input</label>
                        <div name="comparison-genomes-selection" class="infobox iconbox infobutton dialoginfo">
                          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                        </div>
                      </div>
                      <br>
                      <div class="appsublabel">Choose fasta file or features for tree.</div>
                    </div>
                    <div class="appRow">
                      <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="dna" name="alphabet" value="DNA" checked data-dojo-attach-event="onChange:onAlphabetChanged"/>
                      <label for="radio1" style="font-size:8pt">DNA</label>
                      <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="protein" name="alphabet" value="Protein"/>
                      <label for="radio2" style="font-size:8pt">Protein</label>
                    </div>
                    <div class="dijitHidden">
                      <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="gene" name="tree_type" value="gene" checked />
                      <label for="radio1" style="font-size:8pt">Gene</label>
                      <!--<input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="gene" name="tree_type" value="gene"/>
                      <label for="radio2" style="font-size:8pt">Gene</label>-->
                    </div>
                    <div class="appRow">
                      <!-- <label>Select genome</label><br>
                      <div style="width:85%;display:inline-block;" data-dojo-attach-event="onChange:onSuggestNameChange" data-dojo-type="p3/widget/GenomeNameSelector" name="comp_genome_id" maxHeight="200" required="false" data-dojo-attach-point="comp_genome_id"></div>
                      <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddGenome" class="fa icon-plus-circle fa-lg"></i></div>
                      <br> -->
                      <label>feature group</label><br>
                      <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="sequences" required="false" data-dojo-attach-point="user_genomes_featuregroup" data-dojo-props="type:['feature_group'],multi:false,promptMessage:'Select a feature group from your workspace for Comparison',missingMessage:'Feature group is optional.', placeHolder:'Optional'"></div>
                      <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddFeatureGroup" class="fa icon-plus-circle fa-lg"></i></div>
                      <br>
                      <label>DNA/protein aligned fasta</label><br>
                      <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="sequences" required="false" data-dojo-attach-point="user_genomes_fasta" data-dojo-props="type:['aligned_dna_fasta'],multi:false,promptMessage:'Select or Upload DNA or protein fasta file to your workspace',missingMessage:'User genome file is optional.', placeHolder:'Optional'"></div>
                      <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddFasta" class="fa icon-plus-circle fa-lg"></i>
                      </div>
                      <br>
                      <label>DNA/Protein unaligned fasta</label><br>
                      <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="sequences" required="false" data-dojo-attach-point="user_genomes_unaligned_fasta" data-dojo-props="type:['feature_dna_fasta'],multi:false,promptMessage:'Select or Upload DNA or protein unaligned fasta file from your workspace for Comparison',missingMessage:'Feature group is optional.', placeHolder:'Optional'"></div>
                      <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddUnalignedFasta" class="fa icon-plus-circle fa-lg"></i></div>
                      <br>
                      <!-- <label>And/or select genome group</label>
                      <div name="genomeGroup_tooltip" id="genomeGroup_tooltip" data-dojo-attach-point="genomeGroup_tooltip" class="infobox iconbox infobutton tooltipinfo">
                        <i class="fa icon-question-circle fa"></i>
                      </div>
                      <br>
                      <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="user_genomes_genomegroup" required="false" data-dojo-attach-point="user_genomes_genomegroup" data-dojo-props="type:['genome_group'],multi:false,promptMessage:'Select a genome group from your workspace for Comparison',missingMessage:'Genome group is optional.', placeHolder:'Optional'"></div>
                      <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddGenomeGroup" class="fa icon-plus-circle fa-lg"></i></div>
                      <br> -->
                      <div class="warning" data-dojo-attach-point="genomegroup_message"></div>
                    </div>
                    <div class="appRow">
                      <label> selected file/feature group</label>
                    </div>
                    <div class="appRow" style="width:90%; margin-top:10px; text-align: center;">
                      <table class="librarytable" frame="box" data-dojo-attach-point="genomeTable" style="margin:0 0 0 10px; width:100%; height: 134px;">
                        <tbody data-dojo-attach-point="genomeTableBody">
                        </tbody>
                      </table>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="appBox appShadow">
                    <div class="headerrow">
                      <div style="width:85%;display:inline-block;">
                        <label class="appBoxLabel">Alignment Parameters</label>
                        <div name="alignment-parameters" class="infobox iconbox infobutton dialoginfo">
                          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="appRow">
                      <label class="paramlabel">Trim Ends of Alignment Threshold</label><br>
                      <select data-dojo-type="dijit/form/Select" name="trim_threshold" style="width:50px" data-dojo-attach-point="trim_threshold" required="true">
                        <option value="0">0</option>
                        <option value=".1">0.1</option>
                        <option value=".2">0.2</option>
                        <option value=".3">0.3</option>
                        <option value=".4">0.4</option>
                        <option value=".5">0.5</option>
                        <option value=".6">0.6</option>
                        <option value=".7">0.7</option>
                        <option value=".8">0.8</option>
                        <option value=".9">0.9</option>
                        <option value="1.0">1.0</option>
                      </select>
                    </div>
                    <div class="appRow">
                      <label class="paramlabel">Remove Gappy Sequences Threshold</label><br>
                      <select data-dojo-type="dijit/form/Select" name="gap_threshold" style="width:50px" data-dojo-attach-point="gap_threshold" required="true">
                        <option value="0">0</option>
                        <option value=".1">0.1</option>
                        <option value=".2">0.2</option>
                        <option value=".3">0.3</option>
                        <option value=".4">0.4</option>
                        <option value=".5">0.5</option>
                        <option value=".6">0.6</option>
                        <option value=".7">0.7</option>
                        <option value=".8">0.8</option>
                        <option value=".9">0.9</option>
                        <option value="1.0">1.0</option>
                      </select>
                    </div>
                  </div>
                  <div class="appBox appShadow">
                    <div class="headerrow">
                      <div style="width:85%;display:inline-block;">
                        <label class="appBoxLabel">Tree Parameters</label>
                        <div name="tree-parameters" class="infobox iconbox infobutton dialoginfo">
                          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="appRow">
                      <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="recipeRAxML" name="recipe" value="RAxML" checked />
                      <label for="radio1" style="font-size:8pt">RAxML</label>
                      <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="recipePhyML" name="recipe" value="PhyML" />
                      <label for="radio2" style="font-size:8pt">PhyML</label>
                      <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="recipeFastTree" name="recipe" value="FastTree" />
                      <label for="radio2" style="font-size:8pt">FastTree</label>
                    </div>
                    <div class="appRow">
                      <label class="paramlabel">Model</label><br>
                      <select data-dojo-type="dijit/form/Select" name="substitution_model" style="width:50px" data-dojo-attach-point="substitution_model" required="true">
                        <option value="GTR">GTR</option>
                        <option value="TN93">TN93</option>
                        <option value="HKY85">HKY85</option>
                        <option value="F84">F84</option>
                        <option value="F81">F81</option>
                        <option value="K80">K80</option>
                        <option value="JC69">JC69</option>
                      </select>
                    </div>
                    <br>
                    <div class="appRow">
                      <label class="paramlabel">Output Folder</label><br>
                      <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path" data-dojo-attach-point="output_path" required="true" data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false" data-dojo-attach-event="onChange:onOutputPathChange"></div>
                    </div>
                    <div class="appRow">
                      <label class="paramlabel">Output Name</label><span class="charError" style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
                      <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" data-dojo-attach-event="onChange:checkOutputName" name="output_file" data-dojo-attach-point="output_file" style="width:85%" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'"></div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
              <div class="appRow" style="text-align:center">
                  <div class="appRowSegment" data-dojo-attach-point="advanced">
                      <label class="largelabel">Metadata options</label>
                      <div class="iconbox" style="margin-left:0">
                          <i data-dojo-attach-point="advancedOptionIcon" class="fa icon-caret-down fa-1"></i>
                      </div>
                  </div>
              </div>
          </td>
        </tr>
        <!-- Settings row -->
  <tr>
    <td>
      <div id="settingsBox" class="appBox appShadow" style="display:none;" data-dojo-attach-point="advancedOptions">
        <table>
          <tr>
            <td>
              <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                  <label class="appBoxLabel">Metadata Table</label>
                </div>
                <br>
                <div class="appsublabel">These fields will appear as options in the phyloxml visualization</div>
              </div>
            </td>
            <td>

            </td>
            <td rowspan="2">
              <div>
                <label class="paramlabel">Metadata Table:</label>
              </div>
              <div class="left half">
                <table class="librarytable" frame="box" data-dojo-attach-point="metadataTableBody" style='width:330px;'>
                    <tbody data-dojo-attach-point="metadataTableBody"></tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="paramlabel">Metadata Fields:</label>
              <div name="metadata_selector" class="medInput">
                <select data-dojo-attach-point="metadata_selector"
                  data-dojo-type="dijit/form/Select" name="metadata_selector" required="false">
                  <option value="genome_id">Genome ID</option>
                  <option value="genome_name">Genome Name</option>
                  <option value="genome_length">Genome Length</option>
                  <option value="feature_group">Feature Group</option>
                  <option value="species">Species</option>
                  <option value="strain">Strain</option>
                  <option value="accession">Accession</option>
                  <option value="subtype">Subtype</option>
                  <option value="lineage">Lineage</option>
                  <option value="host_group">Host Group</option>
                  <option value="host_common_name">Host Common Name</option>
                  <option value="collection_date">Collection Date</option>
                  <option value="collection_year">Collection Year</option>
                  <option value="geographic_group">Geographic Group</option>
                  <option value="isolation_country">Isolation Country</option>
                  <option value="geographic_location">Geographic Location</option>
                </select>
              </div>
            </td>
            <td>
              <div style="width:17px; display:inline-block;">
                <i data-dojo-attach-event="click:onAddMetadata" class="fa icon-arrow-circle-o-right fa-lg"></i>
              </div>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
      </table>
    </div>
  </div>
  <div class="appSubmissionArea">
    <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage" style="margin-top:10px; text-align:center;">
      Creating Tree
    </div>
    <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage" style="margin-top:10px; text-align:center;">
      Error Submitting Job. Please check the submission form and make sure that ONE reference genome is selected.
    </div>
    <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
      style="margin-top:10px; text-align:center;" >
      Your job has been submitted successfully. Please visit your <a data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and access the results.
    </div>
    <div style="margin-top: 10px; text-align:center;">
      <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
      <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
    </div>
  </div>
</form>
