<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}"
    dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
    <div class="appTemplate">
        <div class="appTitle">
            <span class="breadcrumb">Services</span>
            <h3>${applicationLabel}
                <div name="overview" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                </div>
                <div class="infobox iconbox tutorialButton tutorialInfo">
                    <a href="${docsServiceURL}${tutorialLink}" target="_blank"><i class="fa icon-books fa-1x"
                            title="click to open tutorial"></i></a>
                </div>
                <div class="infobox iconbox videoButton videoInfo">
                    <a href="${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
                </div>
            </h3>
            <p> ${applicationDescription} Link to <a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4915045/' target='_blank'>Mash/MinHash</a>. For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a>, <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a> and <a href="${videoLink}" target="_blank">Instructional Video</a>.
            </p>
        </div>

        <div class="service_form">
            <div class="appBox appShadow">
                <div class="headerrow" style="margin-bottom: 7px">
                    <label class="appBoxLabel">Select a genome</label>
                        <div name="select-a-genome" class="infobox iconbox infobutton dialoginfo">
                         <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                         </div>
                </div>
                <div class="appRow">
                    <div class="paramlabel">Search by genome name or genome ID</div>
                    <div data-dojo-attach-event="onChange:onSuggestNameChange"
                        data-dojo-type="p3/widget/GenomeNameSelector" data-dojo-attach-point="genome_id"
                        style="width:600px;">
                    </div>
                    <div class="warning" data-dojo-attach-point="genome_message"></div>
                </div>

                <div class="appRow" data-dojo-attach-point="fasta_wrapper">
                    <label class="paramlabel">OR Upload FASTA/FASTQ</label>
                    <div name="fasta" style="width:100%"></div>

                    <div class="warning" data-dojo-attach-point="fasta_message"></div>
                </div>
            </div>

            <div class="appRow" style="text-align:center">
                <div class="appRowSegment" data-dojo-attach-point="advanced">
                    <label class="largelabel">Advanced options</label>
                    <div class="iconbox" style="margin-left:0">
                        <i data-dojo-attach-point="advancedOptionIcon" class="fa icon-caret-left fa-1"></i>
                    </div>
                </div>
            </div>

            <div data-dojo-attach-point="advancedOptions">
                <div class="appBox appShadow">
                    <div class="headerrow">
                        <label class="appBoxLabel">Parameters</label>
                            <div name="parameters" class="infobox iconbox infobutton dialoginfo">
                            <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                            </div>
                    </div>
                    <div class="left" style="width:20%">
                        <label class="paramlabel">Max hits: </label><br />
                        <select name="max_target" style="width: 100px" data-dojo-type="dijit/form/Select"
                            data-dojo-attach-point="max_hits">
                            <option value="1">1</option>
                            <option value="10">10</option>
                            <option value="50" selected="selected">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                        </select>
                    </div>

                    <div class="left" style="width:20%">
                        <label class="paramlabel">P value threshold: </label><br />
                        <div data-dojo-type="dijit/form/Select" data-dojo-attach-point="pvalue" style="width:60px">
                            <option value="0.001">0.001</option>
                            <option value="0.01">0.01</option>
                            <option value="0.1">0.1</option>
                            <option value="1" selected="selected">1</option>
                        </div>
                    </div>
                    <div class="left" style="width:20%">
                        <label class="paramlabel">Distance: </label><br />
                        <div data-dojo-type="dijit/form/Select" data-dojo-attach-point="distance" style="width:60px">
                            <option value="0.01">0.01</option>
                            <option value="0.05">0.05</option>
                            <option value="0.1">0.1</option>
                            <option value="0.5">0.5</option>
                            <option value="1" selected="selected">1</option>
                        </div>
                    </div>

                    <div class="left">
                        <label class="paramlabel">Organism type:</label><br />
                        <div data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="org_bacterial"
                            data-dojo-attach-event="onChange:onParamChange" name="org_bacterial" checked="checked"
                            value="bacterial"></div>
                        <label>Bacterial and archaeal genomes</label>
                        <br />
                        <div data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="org_viral" name="org_viral"
                            data-dojo-attach-event="onChange:onParamChange" checked="checked" value="viral"></div>
                        <label>Viral genomes</label>
                        <br />
                        <label class="paramlabel">Scope:</label><br />
                        <div data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="scope_ref" name="scope"
                            checked="checked" value="ref"></div>
                        <label>Reference and representative genomes</label>
                        <br />
                        <div data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="scope_all" name="scope"
                            value="all"></div>
                        <label>All public genomes</label>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
        <div class="appSubmissionArea">
            <div style="margin-top: 10px; text-align:center;">
                <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitButton"
                    data-dojo-attach-event="onClick:submit" data-dojo-props="disabled:false">
                    Search
                </div>
            </div>
        </div>
        <div class="reSubmitBtn" style="visibility: hidden" data-dojo-type="dijit/form/Button"
            data-dojo-attach-event="onClick:resubmit">Edit form and resubmit
        </div>
    </div>

    <div class="service_error hidden">
        <h3></h3>
        <div class="service_message"></div>
    </div>
    <div style="margin:auto">
        + <h4 class="searchBy" style="text-align:center"></h4>
    </div>
    <div class="genomedistance_result"></div>
</form>