<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}"
  dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,keyup:validate">

  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h3>${applicationLabel}
        <div name="overview" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>
        <div class="infobox iconbox tutorialButton tutorialInfo">
          <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
        </div>
        <div class="infobox iconbox videoButton videoInfo">
          <a href="${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
        </div>
      </h3>
      <p>
        The Whole Genome Alignment Service aligns genomes using <a
          href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0011147" target="_blank">progressiveMauve</a> For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a>, <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a> and <a href="${videoLink}" target="_blank">Instructional Video</a>.
      </p>
    </div>
    <br>

    <div style="width: 600px; margin:auto" class="formFieldsContainer">
      <div class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Select Genomes</label>
          <div name="select-genomes" class="infobox iconbox infobutton dialoginfo">
            <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
          </div>
        </div>

        <div class="appRow">
          <small>Add at least 2 (up to 20) genomes. Note the first genome selected will be the reference (anchor)
            genome.</small><br>
          <label>Select genome</label><br>
          <div style="width:490px;" data-dojo-type="p3/widget/GenomeNameSelector" name="genomeSelector" maxHeight="200"
            required="false" data-dojo-attach-point="genomeSelector"
            data-dojo-props="placeHolder:'e.g. M. tuberculosis CDC1551', excludeLength:true">
          </div>

          <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="click:onAddGenome" class="app-btn">
            <i class="icon-plus"></i> Add
          </button>

          <br>

          <!-- floating since the width on object selector is odd -->
          <div class="left">
            <label>And/or select genome group</label><br>
            <div style="width: 495px;" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="genomeGroupSelector"
              required="false" data-dojo-attach-point="genomeGroupSelector"
              data-dojo-props="type:['genome_group'],multi:false,promptMessage:'Select a genome group from your workspace',missingMessage:'Genome group is optional.', placeHolder:'Optional'">
            </div>
          </div>

          <div class="left" style="margin-top: 13px;">
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="click:onAddGenomeGroup" class="app-btn"
              data-dojo-attach-point="genomeGroupButton">
              <i class="icon-plus"></i> Add
            </button>
          </div>
          <div class="clear"></div>
        </div>


        <div class="appRow">
          <label>Selected Genomes:</label> <small class="loading-status pull-right"
            style="margin-right: 20px; display: none;">loading...</small>
        </div>

        <div data-dojo-attach-point="genomeTable" style="margin-right: 20px;">
        </div>
      </div>

      <div class="appBox appShadow">
        <div class="">
          <div style="width:85%; display:inline-block;">
            <label class="appBoxLabel">Parameters</label>
            <div name="parameters" class="infobox iconbox infobutton dialoginfo">
              <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
          </div>
        </div>

        <div class="appRow">
          <label>Output Folder</label><br>
          <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path"
            data-dojo-attach-point="output_path" required="true"
            data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false"
            data-dojo-attach-event="onChange:onOutputPathChange">
          </div>
        </div>

        <div class="appRow">
          <label>Output Name</label><span class="charError"
            style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
          <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox"
            data-dojo-attach-event="onChange:checkOutputName" name="output_file" data-dojo-attach-point="output_file"
            style="width:85%" required="true"
            data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'">
          </div>
        </div>

        <!--
          <div class="appRow">
            <label class="paramlabel">Method</label><br>
            <select data-dojo-type="dijit/form/Select" name="recipe" data-dojo-attach-point="recipe" style="width:300px" required="false" data-dojo-props="intermediateChanges:true,trim:true">
              <option value="progressiveMauve">progressiveMauve (recommended)</option>
              <option value="mauveAligner">mauveAligner (legacy)</option>
            </select>
          </div>
        -->

        <!-- advanced options -->
        <div class="appRow" style="margin-top: 20px;">
          <div data-dojo-attach-point="advanced">
            <label class="largelabel">Advanced (Optional) </label>
            <div class="iconbox" style="margin-left:0px">
              <i data-dojo-attach-point="advicon" class="fa icon-caret-down fa-1"></i>
            </div>
          </div>
        </div>

        <div class="appRow" data-dojo-attach-point="advrow" style="display: none;">
          <div class="appRowSegment pull-left" style="text-align: left; margin-right: 20px;">
            <label>Manually Set Seed Weight</label>
            <div data-dojo-attach-point="seedWeightSwitch" data-dojo-attach-event="onClick:onSeedWeightSwitch"
              class="onoffswitch">
              <input type="checkbox" value="off" name="onoffswitch" class="onoffswitch-checkbox"
                data-dojo-attach-point="seedWeightSwitch" />

              <label class="onoffswitch-label">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>

          <div class="appRowSegment pull-left" data-dojo-attach-point="seedContainer" style="display: none;">
            <label>Seed Weight</label><br>
            <div name="seedWeight" class="medInput" data-dojo-type="dijit/form/HorizontalSlider"
              data-dojo-attach-point="seedWeight" data-dojo-props="value:15,
                minimum:3,
                maximum:21,
                discreteValues:19,
                intermediateChanges:true,
                showButtons:false" required="false">
              <div data-dojo-type="dijit/form/HorizontalRule" container="bottomDecoration" count=19 style="height:5px;">
              </div>
              <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="bottomDecoration"
                style="height:1em;font-size:75%;color:gray;">
                <li>3</li>
                <li>5</li>
                <li>7</li>
                <li>9</li>
                <li>11</li>
                <li>13</li>
                <li>15</li>
                <li>17</li>
                <li>19</li>
                <li>21</li>
              </ol>
            </div>
          </div>
          <div class="clear"></div>

          <br>
          <style>
            .param-table td:first-child {
              width: 32%;
              padding-right: 7px;
              text-align: right;
            }
          </style>
          <table class="param-table">
            <thead>
              <th>
              <td></td>
              <td></td>
              </th>
            </thead>
            <tbody>
              <tr>
                <td><label>Weight:</label></td>
                <td>
                  <div name="weight" class="medInput" data-dojo-type="dijit/form/NumberTextBox"
                    data-dojo-attach-point="weight" data-dojo-props="placeholder: 'Min pairwise LCB score'"
                    required="false">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div><!-- end form -->
  </div>


  <div class="appSubmissionArea">
    <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage"
      style="margin-top:10px; text-align:center;">
      Submitting Genome Alignment Job
    </div>
    <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage"
      style="margin-top:10px; text-align:center;">
      Error Submitting Job. Please check the submission form.
    </div>
    <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
      style="margin-top:10px; text-align:center;">
      Your job has been submitted successfully. Please visit your <a
        data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and access
      the results.
    </div>
    <div style="margin-top: 10px; text-align:center;">
      <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
      <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
    </div>
  </div>
</form>