<form dojoAttachPoint="containerNode" class="PanelForm"
      dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
    <div class="appTemplate">
        <div class="appTitle">
            <span class="breadcrumb">Services</span>
            <h3>BLAST
                <div name="overview" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                </div>
                <div class="infobox iconbox tutorialButton tutorialInfo">
                    <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
                </div>
            </h3>
            <p>The PATRIC BLAST service integrates the BLAST (Basic Local Aligment Search Tool) algorithms to perform searches
                against against public or private genomes in PATRIC or other reference databases using a DNA or protein sequence
                and find matching genomes, genes, RNAs, or proteins.
                For further explanation, please see the <a href="${docsServiceURL}${applicationHelp}" target="_blank">BLAST Service Quick Reference</a> and
                <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a>.
            </p>
        </div>

        <div class="service_form">
            <div class="appBox appShadow">
                <div class="headerrow" style="margin-bottom: 7px">
                    <label class="appBoxLabel">Sequence</label>
                </div>
                <textarea name="sequence"
                          style="width:96%; height:175px; margin-left:10px; font-family: monospace; font-size:12px"
                          data-dojo-attach-point="sequence"
                          data-dojo-type="dijit/form/Textarea"
                          data-dojo-props="rows:13, placeholder:'Enter one or more query nucleotide or protein sequences to search. Multiple query sequences require FASTA format.', intermediateChanges:true"
                          data-dojo-attach-event="onChange:onChangeSequence"></textarea>
                <div class="warning" data-dojo-attach-point="sequence_message"></div>

                <div class="headerrow" style="margin-bottom: 7px">
                    <label class="appBoxLabel">Program</label>
                </div>
                <select name="program" style="margin-left:10px; width:96%"
                        data-dojo-type="dijit/form/Select"
                        data-dojo-attach-event="onChange:onChangeProgram"
                        data-dojo-props="disabled:true"
                        data-dojo-attach-point="program">
                </select>
                <div class="warning" data-dojo-attach-point="program_message"></div>

                <div class="appRow">
                    <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:70%">
                        <div class="headerrow" style="margin-bottom: 7px">
                            <label class="appBoxLabel">Database</label>
                        </div>
                        <div name="database" style="width:96%; margin-left:10px"
                                data-dojo-type="dijit/form/Select"
                                data-dojo-attach-event="onChange:onChangeDatabase"
                                data-dojo-props="disabled:true"
                                data-dojo-attach-point="database">
                        </div>
                    </div>
                    <div class="appRowSegment" style="text-align:left; width:20%">
                        <div class="headerrow" style="margin-bottom: 7px">
                            <label class="appBoxLabel">Database Type</label>
                        </div>
                        <div  data-dojo-type="dijit/form/Select"name="search_for"
                            data-dojo-props="disabled:true"
                            maxHeight="200" style="width:100%" required="true"
                            data-dojo-attach-point="search_for"></div>
                    <div class="warning" data-dojo-attach-point="search_for_message"></div>
                    </div>
                </div>
              <div class="headerrow" style="margin: 16px 0 7px 0">
                <label class="appBoxLabel">Output Folder</label>
             </div>
                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path" data-dojo-attach-point="output_path" style="width:300px" required="true"
                  data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',title:'Select an Output Folder',type:['folder'],multi:false" data-dojo-attach-event="onChange:onOutputPathChange"></div>
              <div class="headerrow" style="margin: 16px 0 7px 0">
                  <label class="appBoxLabel">Output Name</label><span class="charError" style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
              </div>
                <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" name="output_file" data-dojo-attach-event="onChange:checkOutputName" data-dojo-attach-point="output_file" style="width:300px" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'"></div>
                <div class="warning" data-dojo-attach-point="database_message"></div>
            </div>

            <div class="appRow" style="text-align:center">
                <div class="appRowSegment" data-dojo-attach-point="advanced">
                    <label class="largelabel">Advanced options</label>
                    <div class="iconbox" style="margin-left:0">
                        <i data-dojo-attach-point="advancedOptionIcon" class="fa icon-caret-down fa-1"></i>
                    </div>
                </div>
            </div>

            <div data-dojo-attach-point="advancedOptions" style="display: none">
                <div class="appBox appShadow hidden" data-dojo-attach-point="genome_id_wrapper">
                    <div class="left half" style="vertical-align: top">
                        <label class="paramlabel">Add Genomes to Search: </label>
                        <div data-dojo-attach-event="onChange:onSuggestNameChange"
                             data-dojo-type="p3/widget/GenomeNameSelector"
                             data-dojo-attach-point="genome_id"
                             data-dojo-props="placeHolder:'e.g. M. tuberculosis CDC1551'"
                             style="width:310px;">
                        </div>
                        <div style="width:17px; display:inline-block;">
                            <i data-dojo-attach-event="click:onAddGenome"
                               class="fa icon-arrow-circle-o-right fa-lg"></i>
                        </div>
                    </div>
                    <div class="left half">
                        <table class="librarytable" frame="box" data-dojo-attach-point="genomeTable"
                               style='width:330px;'>
                            <tbody data-dojo-attach-point="genomeTableBody"></tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                    <div class="warning" data-dojo-attach-point="genome_id_message"></div>
                </div>

                <div class="appBox appShadow hidden" data-dojo-attach-point="genome_group_wrapper">
                    <label class="paramlabel">Select genome group: </label><br/>
                    <div name="genome_group" style="width: 650px"></div>
                    <div class="warning" data-dojo-attach-point="genome_group_message"></div>
                </div>

                <div class="appBox appShadow hidden" data-dojo-attach-point="taxon_wrapper">
                    <label class="paramlabel">Select Taxon: </label><br/>
                    <select name="taxon" style="width: 650px"
                            data-dojo-type="p3/widget/TaxonNameSelector"
                            data-dojo-attach-point="taxonomy">
                    </select>
                    <div class="warning" data-dojo-attach-point="taxonomy_message"></div>
                </div>


                <div class="appBox appShadow">
                    <div class="headerrow">
                        <label class="appBoxLabel">BLAST Parameters</label>
                    </div>
                    <div class="left third">
                        <label class="paramlabel">Max hits: </label><br/>
                        <select name="max_target" style="width: 100px"
                                data-dojo-type="dijit/form/Select"
                                data-dojo-attach-point="max_hits">
                            <option value="1">1</option>
                            <option value="10" selected="selected">10</option>
                            <option value="20" >20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                        </select>
                    </div>

                    <div class="left third">
                        <label class="paramlabel">E value threshold: </label><br/>
                        <select name="threshold" type="text" value="0.0001" style="width:50px"
                               data-dojo-type="dijit/form/Select"
                               data-dojo-attach-point="evalue">
                            <option value="0.0001" selected="selected">0.0001</option>
                            <option value="0.001">0.001</option>
                            <option value="0.01">0.01</option>
                            <option value="0.1">0.1</option>
                            <option value="1">1</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="appSubmissionArea">
            <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage" style="margin-top:10px; text-align:center;">
                Submitting Homology Job
            </div>
            <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage" style="margin-top:10px; text-align:center;">
                Error Submitting Job
            </div>
            <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage" style="margin-top:10px; text-align:center;">
                Homology Job has been queued.
            </div>
            <div style="margin-top: 10px; text-align:center;">
                <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel
                </div>
                <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
                <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
                <div id="live_job_check123" value=true data-dojo-type="dijit/form/CheckBox" checked data-dojo-attach-point="live_job" data-dojo-attach-event="onChange:setLiveJob"></div>
                <label for="live_job_check123">Live job</label>
        </div>
    </div>

</form>

