<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}"
  dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h3>${applicationLabel}
        <div name="overview" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>
        <div class="infobox iconbox tutorialButton tutorialInfo">
          <a href="${docsServiceURL}${tutorialLink}" target="_blank"><i class="fa icon-books fa-1x"
              title="click to open tutorial"></i></a>
        </div>
        <!-- <div class="infobox iconbox videoButton videoInfo">
          <a href="${docsServiceURL}${videoLink}" target="_blank"><i class="fa icon-play-circle fa-1x"
              title="click to open the video tutorial"></i></a>
        </div> -->
      </h3>
      <p>${applicationDescription} For further explanation, please see ${applicationLabel} Service <a
          href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a> and <a
          href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a>.</p>
    </div>
    <div class="formFieldsContainer">
      <div style="display: none;">
        <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="false" data-dojo-attach-point="numgenomes"
          data-dojo-props="constraints:{min:0,max:5000}," />
      </div>
      <table class="assemblyblocks">
        <tr>
          <!-- <td style="width:50%"> -->
          <table>
            <tr>
              <td>
                <div class="appBox appShadow">
                  <div class="headerrow">
                    <div style="width:85%;display:inline-block;">
                      <label class="appBoxLabel">Parameters</label>
                    </div>
                  </div>
                  <div class="appRow">
                    <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:96%">
                      <label>P-value</label><br>
                      <div style="width:85%;display:inline-block;" data-dojo-type="dijit/form/NumberTextBox"
                        name="p_value" required="true" data-dojo-attach-point="p_value" value="0.05"
                        data-dojo-props="constraints: {pattern: '0.######'},regExp:'^0?\.[0-9]+$',invalidMessage:'Enter a p-value between 0 and 1.',intermediateChanges:true,missingMessage:'Provide p-value',trim:true,placeHolder:'p-value'">
                      </div>
                    </div>
                  </div>
                  <div class="appRow">
                    <label class="paramlabel">Output Folder</label><br>
                    <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path"
                      data-dojo-attach-point="output_path" required="true"
                      data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false"
                      data-dojo-attach-event="onChange:onOutputPathChange"></div>
                  </div>
                  <div class="appRow">
                    <label class="paramlabel">Output Name</label><span class="charError"
                      style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
                    <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox"
                      data-dojo-attach-event="onChange:checkOutputName" name="output_file"
                      data-dojo-attach-point="output_file" style="width:85%" required="true"
                      data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'">
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>

                <div class="appBox appShadow">
                  <div class="headerrow">
                    <div style="width:85%;display:inline-block;">
                      <label class="appBoxLabel">Input</label>
                    </div>
                    <div class="appRow">
                      <input type="radio" id="${id}_radio3" data-dojo-type="dijit/form/RadioButton"
                        data-dojo-attach-point="input_auto" data-dojo-attach-event="onChange:onInputTypeChange"
                        checked />
                      <label for="radio3">Auto grouping</label>
                      <input type="radio" id="${id}_radio1" data-dojo-type="dijit/form/RadioButton"
                        data-dojo-attach-point="input_groups" data-dojo-attach-event="onChange:onInputTypeChange" />
                      <label for="radio1">Feature groups</label>
                      <input type="radio" id="${id}_radio2" data-dojo-type="dijit/form/RadioButton"
                        data-dojo-attach-point="input_files" data-dojo-attach-event="onChange:onInputTypeChange" />
                      <label for="radio2">Alignment file</label>
                    </div>

                    <table data-dojo-attach-point="auto_grouping_table" style="width:100%; display:none">
                      <tr name="auto_grouping_input_row">
                        <td colspan="0">

                          <div class="appRow">
                            <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:25%">
                              <label class="paramlabel">Metadata</label><br>
                              <select data-dojo-type="dijit/form/Select" name="metadata_group"
                                data-dojo-attach-point="metadata_group" style="width:100%" required="false"
                                data-dojo-attach-event="onChange:controlYear"
                                data-dojo-props="intermediateChanges:true,missingMessage:'',trim:true,placeHolder:'MySubFolder'">
                                <option value="accession">Accession</option>
                                <option value="collection_date">Collection Date</option>
                                <option value="collection_year">Collection Year</option>
                                <option value="genome_group">Genome Group</option>
                                <option value="genome_id">Genome ID</option>
                                <option value="genome_length">Genome Length</option>
                                <option value="genome_name">Genome Name</option>
                                <option value="genus">Genus</option>
                                <option value="geographic_group">Geographic Group</option>
                                <option value="geographic_location">Geographic Location</option>
                                <option value="h1_clade_global">H1 Clade Gobal</option>
                                <option value="h1_clade_us">H1 Clade US</option>
                                <option value="h3_clade">H3 Clade</option>
                                <option value="h5_clade">H5 Clade</option>
                                <option value="host_group">Host Group</option>
                                <option value="host_common_name">Host Common Name</option>
                                <option value="host_name" selected="selected">Host Name</option>
                                <option value="isolation_country">Isolation Country</option>
                                <option value="lineage">Lineage</option>
                                <option value="species">Species</option>
                                <option value="strain">Strain</option>
                                <option value="subtype">Subtype</option>
                              </select>
                            </div>

                            <div class="appRowSegment" style="margin-left: 2px; text-align:left; width:73%">
                              <div class="year_range_div" style="visibility:hidden">
                                <label class="paramlabel">Year Ranges</label><br>
                                <div style="width:96%;display:inline-block"
                                  data-dojo-type="dijit/form/ValidationTextBox" name="year_ranges"
                                  data-dojo-attach-point="year_ranges"
                                  data-dojo-props="regExp:'[\\s\-\,0-9]*', invalidMessage:'Invalid year range.', placeholder:'1998,1999-2005,2006'">
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="appRow">
                            <label>Select feature group</label><br>
                            <div style="width:85%;display:inline-block;"
                              data-dojo-type="p3/widget/WorkspaceObjectSelector" name="auto_feature_group"
                              required="false" data-dojo-attach-point="auto_feature_group"
                              data-dojo-props="type:['feature_group'],multi:false,promptMessage:'Select a feature group from your workspace.',missingMessage:'Feature group is optional.'">
                            </div>
                            <div class="auto_feature_button" style="width:10%;display:inline-block;"><i
                                data-dojo-attach-event="click:onAddAutoGroup" class="fa icon-plus-circle fa-lg"></i>
                            </div>
                            <br>
                            <div class="appRow">
                              <input type="radio" id="${id}_radio6" data-dojo-type="dijit/form/RadioButton"
                                data-dojo-attach-point="auto_dna" name="auto_alphabet" value="dna" />
                              <label for="radio6" style="font-size:8pt">DNA</label>
                              <input type="radio" id="${id}_radio7" data-dojo-type="dijit/form/RadioButton"
                                data-dojo-attach-point="auto_protein" name="auto_alphabet" value="protein" checked />
                              <label for="radio7" style="font-size:8pt">Protein</label>
                            </div>

                            <div class="appRow">
                              <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:100%">
                                <label class="paramlabel">Group names</label><br>
                                <div data-dojo-type="dojo/store/Memory" data-dojo-attach-point="name_store"
                                  name="name_store" data-dojo-id="name_store"></div>
                                <div data-dojo-type="dijit/form/ComboBox"
                                  data-dojo-props="store:name_store, searchAttr:'id'" name="name_list"
                                  data-dojo-attach-point="name_list">
                                </div>
                                <div data-dojo-attach-point="updateName" data-dojo-type="dijit/form/Button"
                                  data-dojo-attach-event="click:updateGroup">
                                  Change group</div>
                              </div>
                            </div>

                            <div class="appRow">
                              <div data-dojo-attach-point="deleteRows" data-dojo-type="dijit/form/Button"
                                data-dojo-attach-event="click:deleteAutoRows">
                                Delete Rows</div>&nbsp&nbsp&nbsp&nbsp&nbsp<em data-dojo-attach-point="num_auto_groups">
                              </em>
                            </div>



                            <div class="appRow">
                              <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:100%">
                                <label>Groups Grid</label><br>
                                <div style="width:95%;display:inline-block;" name="grid" data-dojo-attach-point="grid"
                                  data-dojo-type="p3/widget/MetaCATSGrid">
                                </div>
                              </div>
                            </div>

                          </div>
                        </td>
                      </tr>
                    </table>

                    <table data-dojo-attach-point="feature_groups_table" style="width:100%; display:none">
                      <tr name="feature_groups_input_row">
                        <td colspan="0">
                          <div class="appRow">
                            <label>Select feature group</label><br>
                            <div style="width:85%;display:inline-block;"
                              data-dojo-type="p3/widget/WorkspaceObjectSelector" name="user_genomes_featuregroup"
                              required="false" data-dojo-attach-point="user_genomes_featuregroup"
                              data-dojo-props="type:['feature_group'],multi:false,promptMessage:'Select a feature group from your workspace.',missingMessage:'Feature group is optional.'">
                            </div>
                            <div style="width:10%;display:inline-block;"><i
                                data-dojo-attach-event="click:onAddFeatureGroup" class="fa icon-plus-circle fa-lg"></i>
                            </div>
                            <br>
                            <div class="appRow">
                              <input type="radio" id="${id}_radio4" data-dojo-type="dijit/form/RadioButton"
                                data-dojo-attach-point="dna" name="group_alphabet" value="dna" />
                              <label for="radio4" style="font-size:8pt">DNA</label>
                              <input type="radio" id="${id}_radio5" data-dojo-type="dijit/form/RadioButton"
                                data-dojo-attach-point="protein" name="group_alphabet" value="protein" checked />
                              <label for="radio5" style="font-size:8pt">Protein</label>
                            </div>
                          </div>
                          <div class="appRow">
                            <label> Selected groups table</label>
                          </div>
                          <div class="appRow" style="width:90%; margin-top:10px; text-align: center;">
                            <table class="librarytable" frame="box" data-dojo-attach-point="groupsTable"
                              style="margin:0 0 0 10px; width:100%;">
                              <tbody data-dojo-attach-point="groupsTableBody">
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <table data-dojo-attach-point="alignment_files_table" style="width:100%; display:none">
                      <tr name="alignment_files_input_row">
                        <td colspan="0">
                          <div class="appRow">
                            <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:96%">
                              <label>Alignment file</label><br>
                              <div style="width:85%;display:inline-block;"
                                data-dojo-type="p3/widget/WorkspaceObjectSelector" name="alignment_file"
                                id="${id}_alignment_file" required="false" data-dojo-attach-point="alignment_file"
                                data-dojo-attach-event="onChange:validate"
                                data-dojo-props="type:['aligned_protein_fasta', 'aligned_dna_fasta'],multi:false,promptMessage:'Select an alignment file from your workspace for analysis.',missingMessage:'Add an alignment file.'">
                              </div>
                            </div>
                            <div class="appRow">
                              <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:96%">
                                <label>Group file</label><br>
                                <div style="width:85%;display:inline-block;"
                                  data-dojo-type="p3/widget/WorkspaceObjectSelector" name="group_file"
                                  id="${id}_group_file" required="false" data-dojo-attach-point="group_file"
                                  data-dojo-attach-event="onChange:validate"
                                  data-dojo-props="type:['tsv'],multi:false,promptMessage:'Select a metadata file from your workspace for analysis.',missingMessage:'Add a metadata group file.'">
                                </div>
                              </div>
                        </td>
                      </tr>
                    </table>



            </tr>
            <!-- </td> -->
          </table>
          </td>
          </td>
          <td>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="appSubmissionArea">
    <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage"
      style="margin-top:10px; text-align:center;">
      Calculating results.
    </div>
    <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage"
      style="margin-top:10px; text-align:center;">
      Error Submitting Job. Check the input.
    </div>
    <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
      style="margin-top:10px; text-align:center;">
      Your job has been submitted successfully. Please visit your <a
        data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and access
      the results.
    </div>
    <div style="margin-top: 10px; text-align:center;">
      <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
      <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
    </div>
  </div>
</form>