<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}"
  dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h3>${applicationLabel}
        <div name="overview" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>
        <div class="infobox iconbox tutorialButton tutorialInfo">
          <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
        </div>
        <div class="infobox iconbox videoButton videoInfo">
          <a href="${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
        </div>
      </h3>
      <p>
        ${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a>, <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a> and <a href="${videoLink}" target="_blank">Instructional Video</a>.
      </p>
    </div>
    <div class="formFieldsContainer">
      <div style="width:97%;" class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Start with:</label>
          <div name="start-with" class="infobox iconbox infobutton dialoginfo">
            <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
          </div>
        </div>
        <div class="appRow">
          <input type="radio" id="${id}_unaligned" data-dojo-type="dijit/form/RadioButton"
            data-dojo-attach-point="unaligned" name="input_status" value="unaligned"
            data-dojo-attach-event="onChange:onChangeStatus" checked />
          <label for="${id}_unaligned">Unaligned sequences</label>
          <input type="radio" id="${id}_aligned" data-dojo-type="dijit/form/RadioButton"
            data-dojo-attach-point="aligned" name="input_status" value="aligned"
            data-dojo-attach-event="onChange:onChangeStatus" />
          <label for="${id}_aligned">Aligned sequences</label>
        </div>
      </div>
      <div style="width:97%;" class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Select sequences:</label>
            <div name="comparison-sequences" class="infobox iconbox infobutton dialoginfo">
              <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
        </div>
        <div data-dojo-attach-point="unaligned_box" style="width:97%; display: inline-block">
          <div class="appRow">
            <input type="radio" id="${id}_input_group" value="input_group" data-dojo-attach-point="input_group"
              data-dojo-type="dijit/form/RadioButton" name="input_type" data-dojo-attach-event="onChange:onChangeType"
              checked />
            <label for="${id}_input_group">Feature group</label>
            <input type="radio" id="${id}_input_genomegroup" value="input_genomegroup"
              data-dojo-attach-point="input_genomegroup" data-dojo-type="dijit/form/RadioButton" name="input_type"
              data-dojo-attach-event="onChange:onChangeType" />
            <label for="${id}_input_genomegroup">Viral genome group</label>
            <input type="radio" id="${id}_input_fasta" value="input_fasta" data-dojo-attach-point="input_fasta"
              data-dojo-type="dijit/form/RadioButton" name="input_type"
              data-dojo-attach-event="onChange:onChangeType" />
            <label for="${id}_input_fasta">DNA or protein fasta file</label>
            <input type="radio" id="${id}_input_sequence" value="input_sequence" data-dojo-attach-point="input_sequence"
              data-dojo-type="dijit/form/RadioButton" name="input_type"
              data-dojo-attach-event="onChange:onChangeType" />
            <label for="${id}_input_sequence">Input Sequence</label>
          </div>
          <table data-dojo-attach-point="featuregroup_table" style="width:100%; display:table">
            <tr>
              <td>
                <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector"
                  name="user_genomes_featuregroup" required="true" data-dojo-attach-point="user_genomes_featuregroup"
                  data-dojo-attach-event="onChange:handleFeatureGroup"
                  data-dojo-props="type:['feature_group'], disabled:false,allowUpload:false,multi:false,promptMessage:'Select a feature group from your workspace for alignment.',missingMessage:'Feature group is required.', placeHolder:'Feature group'">
                </div>
                <div class="appRow">
                  <input type="radio" data-dojo-type="dijit/form/RadioButton" id="${id}_dna"
                    data-dojo-attach-point="dna" name="alphabet" value="dna" data-dojo-props="disabled: false" />
                  <label for="${id}_dna" style="font-size:8pt">DNA</label>
                  <input type="radio" data-dojo-type="dijit/form/RadioButton" id="${id}_protein"
                    data-dojo-attach-point="protein" name="alphabet" value="protein" data-dojo-props="disabled: false"
                    checked />
                  <label for="${id}_protein" style="font-size:8pt">Protein</label>
                </div>
              </td>
            </tr>
          </table>
          <table data-dojo-attach-point="genomegroup_table" style="width:100%; display:none">
            <tr>
              <td>
                <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector"
                  name="select_genomegroup" required="false" data-dojo-attach-point="select_genomegroup"
                  data-dojo-attach-event="onChange:validate"
                  data-dojo-props="type:['genome_group'], disabled:true,allowUpload:false,multi:false,promptMessage:'Select a viral genome group from your workspace for alignment.',missingMessage:'Genome group is required.', placeHolder:'Viral genome group'">
                </div>
                <div class="warning" data-dojo-attach-point="genomegroup_message"></div>
              </td>
            </tr>
          </table>
          <table data-dojo-attach-point="fastafile_table" style="width:100%; display:none">
            <tr>
              <td>
                <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector"
                  name="user_genomes_fasta" required="false" data-dojo-attach-point="user_genomes_fasta"
                  data-dojo-attach-event="onChange:validate"
                  data-dojo-props="type:['feature_protein_fasta', 'feature_dna_fasta'], disabled:true,multi:false,promptMessage:'Select or upload fasta file to your workspace for alignment.',missingMessage:'FASTA file is required.', placeHolder:'FASTA file'">
                </div>
                <div class="warning" data-dojo-attach-point="fastafile_message"></div>
              </td>
            </tr>
          </table>
          <table data-dojo-attach-point="fastainput_table" style="width:100%; display:none">
            <tr>
              <td>
                <textarea name="fasta_keyboard_input"
                  style="width:96%; height:150px; margin-left:5px; font-family: monospace; font-size:12px; max-height:500px"
                  data-dojo-attach-point="fasta_keyboard_input" data-dojo-type="dijit/form/Textarea" required="false"
                  data-dojo-props="rows:10, disabled:true, placeholder:'Enter fasta records of sequences to align.', intermediateChanges:true, trim:true"
                  data-dojo-attach-event="onChange:checkFasta"></textarea>
                <div class="warning" data-dojo-attach-point="sequence_message"></div>
              </td>
            </tr>
          </table>
        </div>
        <div data-dojo-attach-point="aligned_box" style="width:97%; display: none">
          <div class="appRow">
            <label>Select an aligned fasta file</label><br>
            <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector"
              name="user_genomes_alignment" required="false" data-dojo-attach-point="user_genomes_alignment"
              data-dojo-attach-event="onChange:validate"
              data-dojo-props="type:['aligned_protein_fasta', 'aligned_dna_fasta'],multi:false,promptMessage:'Select an alignment file from your workspace for analysis.',missingMessage:'Alignment file is required.', placeHolder:'Alignment file'">
            </div>
          </div>
        </div>
      </div>
      <div style="width:97%;" class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Select a reference sequence:</label>
        </div>
        <div class="appRow">
          <table style="width:50%;">
            <tr>
              <td>
                <input type="radio" id="${id}_reference_none" value="reference_none"
                  data-dojo-attach-point="reference_none" data-dojo-type="dijit/form/RadioButton" name="ref_type"
                  data-dojo-attach-event="onChange:onChangeReference" checked />
                <label for="${id}_reference_none">None</label>
              </td>
              <td>
                <table data-dojo-attach-point="reference_first_table" style="width:100%; display:none">
                  <tr>
                    <td>
                      <input type="radio" id="${id}_reference_first" value="reference_first"
                        data-dojo-attach-point="reference_first" data-dojo-type="dijit/form/RadioButton" name="ref_type"
                        data-dojo-attach-event="onChange:onChangeReference" data-dojo-props="disabled:true" />
                      <label for="${id}_reference_first">First sequence</label>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table data-dojo-attach-point="feature_id_table" style="width:100%; display:table">
                  <tr>
                    <td>
                      <input type="radio" id="${id}_feature_id" value="feature_id" data-dojo-attach-point="feature_id"
                        data-dojo-type="dijit/form/RadioButton" name="ref_type"
                        data-dojo-attach-event="onChange:onChangeReference" />
                      <label id="feature_id_label" for="${id}_feature_id">Feature ID</label>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table data-dojo-attach-point="genome_id_table" style="width:100%; display:none">
                  <tr>
                    <td>
                      <input type="radio" id="${id}_genome_id" value="genome_id" data-dojo-attach-point="genome_id"
                        data-dojo-type="dijit/form/RadioButton" name="ref_type"
                        data-dojo-attach-event="onChange:onChangeReference" data-dojo-props="disabled:true" />
                      <label id="genome_id_label" for="${id}_genome_id">Genome ID</label>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table data-dojo-attach-point="reference_string_table" style="width:100%; display:table">
                  <tr>
                    <td>
                      <input type="radio" id="${id}_reference_string" value="reference_string"
                        data-dojo-attach-point="reference_string" data-dojo-type="dijit/form/RadioButton"
                        name="ref_type" data-dojo-attach-event="onChange:onChangeReference" />
                      <label for="${id}_reference_string">Input Reference Sequence</label>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <table data-dojo-attach-point="ref_feature_id_table" style="width:100%; display:none">
          <tr>
            <td>
              <div style="width:85%;display:inline-block;" data-dojo-type="dijit/form/FilteringSelect"
                name="select_feature_id" required="false" data-dojo-attach-point="select_feature_id"
                data-dojo-attach-event="onChange:validate"
                data-dojo-props="disabled:true,autoComplete:true,searchAttr:'label',promptMessage:'Select a reference feature id.',missingMessage:'Id is required.'">
              </div>
              <div class="warning" data-dojo-attach-point="feature_id_message"></div>
            </td>
          </tr>
        </table>
        <table data-dojo-attach-point="ref_genome_id_table" style="width:100%; display:none">
          <tr>
            <td>
              <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/GenomeNameSelector"
                name="select_genome_id" required="false" data-dojo-attach-point="select_genome_id"
                data-dojo-attach-event="onChange:validate"
                data-dojo-props="disabled:true,promptMessage:'Select a reference genome id.',missingMessage:'Id is required.'">
              </div>
              <div class="warning" data-dojo-attach-point="genome_id_message"></div>
            </td>
          </tr>
        </table>
        <table data-dojo-attach-point="ref_seq_table" style="width:100%; display:none">
          <tr>
            <td>
              <textarea name="fasta_keyboard_reference"
                style="width:96%; height:150px; margin-left:5px; font-family: monospace; font-size:12px; max-height:500px"
                data-dojo-attach-point="fasta_keyboard_reference" data-dojo-type="dijit/form/Textarea" required="false"
                data-dojo-props="rows:10, disabled:true, placeholder:'Enter a fasta record of a reference sequence to align.', intermediateChanges:true, trim:true"
                data-dojo-attach-event="onChange:checkRefFasta"></textarea>
              <div class="warning" data-dojo-attach-point="fasta_reference_message"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div style="width:97%;" class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Parameters:</label>
            <div name="parameters" class="infobox iconbox infobutton dialoginfo">
              <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
        </div>
      <table data-dojo-attach-point="aligner_table" style="width:100%; display:table">
        <tr>
          <td>
            <div class="appRow">
              <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:96%">
                <label class="paramlabel">Aligner</label><br>
                <select data-dojo-type="dijit/form/Select" name="aligner" data-dojo-attach-point="aligner"
                  style="width:100%" required="false" data-dojo-attach-event="onChange:validate"
                  data-dojo-props="intermediateChanges:true,missingMessage:'An aligner must be chosen',trim:true,placeHolder:'MySubFolder'">
                  <option value="Mafft" selected="selected">Mafft</option>
                  <option value="Muscle">Muscle</option>
                  <!-- <option value="progressiveMauve">progressiveMauve</option> -->
                </select>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div class="appRow">
        <div class="appRowSegment" data-dojo-attach-point="strategy" style="margin: 0 0 0 0;">
          <label class="largelabel">Strategy</label>
          <div class="iconbox" style="margin-left:0px">
            <i data-dojo-attach-point="strategyicon" class="fa icon-caret-down fa-1"></i>
          </div>
        </div>
      </div>
      <div class="appRow" data-dojo-attach-point="strategyrow" style="display: none">
        <div class="appRowSegment" style="margin:0 0 0 0">
          <input type="radio" id="${id}_strategy_auto" data-dojo-type="dijit/form/RadioButton"
                 data-dojo-attach-point="strategy_auto" name="strategy_settings" value="auto"
                 checked />
          <label for="${id}_strategy_auto">Auto (FFT-NS-1, FFT-NS-2, FFT-NS-i or L-INS-i; depends on data size)</label>
        </div>
        <div class="appRow" style="margin:0 0 0 0">
          <label class="paramlabel">Progressive methods</label>
        </div>
        <div class="appRow" style="margin:0 0 0 0">
          <input type="radio" id="${id}_strategy_fftns1" data-dojo-type="dijit/form/RadioButton"
                 data-dojo-attach-point="strategy_fftns1" name="strategy_settings" value="fftns1" />
          <label for="${id}_strategy_fftns1">FFT-NS-1 (Very fast; recommended for >2,000 sequences; progressive method)</label>
        </div>
        <div class="appRow" style="margin:0 0 0 0">
          <input type="radio" id="${id}_strategy_fftns2" data-dojo-type="dijit/form/RadioButton"
                 data-dojo-attach-point="strategy_fftns2" name="strategy_settings" value="fftns2" />
          <label for="${id}_strategy_fftns2">FFT-NS-2 (Fast; progressive method)</label>
        </div>
        <div class="appRow" style="margin:0 0 0 0">
          <label class="paramlabel">Iterative refinement methods</label>
        </div>
        <div class="appRow" style="margin:0 0 0 0">
          <input type="radio" id="${id}_strategy_fftnsi" data-dojo-type="dijit/form/RadioButton"
                 data-dojo-attach-point="strategy_fftnsi" name="strategy_settings" value="fftnsi" />
          <label for="${id}_strategy_fftnsi">FFT-NS-i (Slow; iterative refinement method)</label>
        </div>
        <div class="appRow" style="margin:0 0 0 0">
          <input type="radio" id="${id}_strategy_einsi" data-dojo-type="dijit/form/RadioButton"
                 data-dojo-attach-point="strategy_einsi" name="strategy_settings" value="einsi" />
          <label for="${id}_strategy_einsi">E-INS-i (Very slow; recommended for <200 sequences with multiple conserved domains and long gaps; 2 iterative cycles only)</label>
        </div>
        <div class="appRow" style="margin:0 0 0 0">
          <input type="radio" id="${id}_strategy_linsi" data-dojo-type="dijit/form/RadioButton"
                 data-dojo-attach-point="strategy_linsi" name="strategy_settings" value="linsi" />
          <label for="${id}_strategy_linsi">L-INS-i (Very slow; recommended for <200 sequences with one conserved domain and long gaps; 2 iterative cycles only)</label>
        </div>
        <div class="appRow" style="margin:0 0 0 0">
          <input type="radio" id="${id}_strategy_ginsi" data-dojo-type="dijit/form/RadioButton"
                 data-dojo-attach-point="strategy_ginsi" name="strategy_settings" value="ginsi" />
          <label for="${id}_strategy_ginsi">G-INS-i (Very slow; recommended for <200 sequences with global homology; 2 iterative cycles only)</label>
        </div>
      </div>
      <div class="appRow">
        <label class="paramlabel">Output Folder</label><br>
        <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path" data-dojo-attach-point="output_path"
          required="true"
          data-dojo-props="allowUpload:false,title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false,placeHolder:'Output Folder'"
          data-dojo-attach-event="onChange:onOutputPathChange"></div>
      </div>
      <div class="appRow">
        <label class="paramlabel">Output Name</label><span class="charError"
          style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
        <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox"
          data-dojo-attach-event="onChange:checkOutputName" name="output_file" data-dojo-attach-point="output_file"
          style="width:85%" required="true"
          data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'">
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="appSubmissionArea">
    <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage"
      style="margin-top:10px; text-align:center;">
      Aligning sequences
    </div>
    <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage"
      style="margin-top:10px; text-align:center;">
      Error Submitting Job. Check the input.
    </div>
    <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
      style="margin-top:10px; text-align:center;">
      Your job has been submitted successfully. Please visit your <a
        data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and
      access
      the results.
    </div>
    <div style="margin-top: 10px; text-align:center;">
      <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
      <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
    </div>
  </div>
</form>