<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">

  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h3>${applicationLabel}
                <div name="overview" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                </div>
                <div class="infobox iconbox tutorialButton tutorialInfo">
                  <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
                </div>
                <div class="infobox iconbox videoButton videoInfo">
                  <a href="${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
                </div>
            </h3>
            <p>${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a>, <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a> and <a href="${videoLink}" target="_blank">Instructional Video</a>.
    </div>

    <div class="formFieldsContainer">
      <div style="display: none;">
        <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="false" data-dojo-attach-point="inGroupNumGenomes" data-dojo-props="constraints:{min:0,max:100}," />
        <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="false" data-dojo-attach-point="outGroupNumGenomes" data-dojo-props="constraints:{min:0,max:5}," />
        <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="false" data-dojo-attach-point="codonGroupNumGenomes" data-dojo-props="constraints:{min:4,max:200}," />
      </div>
      <div id="startWithBox" style="width:400px; display:none" class="appBox appShadow">
        <div class="headerrow">
          <label class="appBoxLabel">Method:</label>
          <div name="methods" class="infobox iconbox infobutton dialoginfo">
            <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
          </div>
        </div>
        <div class="appRow">
          <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="startWithCodonTree" name="startWith" value="condonTree" checked />
          <label for="radio1">Codon Tree</label>
          <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="startWithPEPR" name="startWith" value="PEPR" data-dojo-attach-event="onChange:onStartWithChange" />
          <label for="radio2">All Shared Proteins</label>
        </div>
      </div>
      <table data-dojo-attach-point="PEPRTable" style="width:100%; display:none">
        <tr>
          <td>
            <div class="appBox appShadow">
              <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                  <label class="appBoxLabel">Ingroup Genomes</label>
                  <div name="ingroup-genomes-selection" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                  </div>
                </div>
                <br>
                <div class="appsublabel">Add at least 3 (up to 100 ) genomes.</div>
              </div>
              <div class="appRow">
                <label class="paramlabel">And/or select genome group</label><br>
                <div style="width:78%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="in_genomes_genomegroup" required="false" data-dojo-attach-point="in_genomes_genomegroup" data-dojo-props="type:['genome_group'],multi:false,promptMessage:'Select a genome group from your workspace',missingMessage:'Genome group is optional.', placeHolder:'Optional'"></div>
                <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="click:onAddInGroupGenomeGroup" class="app-btn"><i class="icon-plus"></i> Add</button>
                <br>
                <label class="paramlabel">Select genome</label><br>
                <div style="width:78%;display:inline-block;" data-dojo-type="p3/widget/GenomeNameSelector" name="in_genome_id" maxHeight="200" required="false" data-dojo-attach-point="in_genome_id"></div>
                <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="click:onAddInGroupGenome" class="app-btn"><i class="icon-plus"></i> Add</button>
                <br>
              </div>
              <div class="appRow">
                <label class="paramlabel"> selected ingroup genome table</label>
                <small class="loading-status-inGroup pull-right" style="margin-right: 20px; display: none;">loading...</small>
              </div>
              <div class="appRow" style="width:90%; margin-top:5px; text-align: center;">
                <table class="librarytable" frame="box" data-dojo-attach-point="inGroupGenomeTable" style="margin:0 5px 0 2px; width: 315px;">
                  <tbody data-dojo-attach-point="inGroupGenomeTableBody">
                  </tbody>
                </table>
              </div>
            </div>
          </td>
          <td>
            <div class="appBox appShadow">
              <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                  <label class="appBoxLabel">Outgroup Genomes</label>
                  <div name="outgroup-genomes" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                  </div>
                </div>
                <br>
                <div class="appsublabel">Add at least 1 (up to 5) genome to root the tree.</div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Select genome</label><br>
                <div style="width:78%;display:inline-block;" data-dojo-type="p3/widget/GenomeNameSelector" name="out_genome_id" maxHeight="200" required="false" data-dojo-attach-point="out_genome_id"></div>
                <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="click:onAddOutGroupGenome" class="app-btn"><i class="icon-plus"></i> Add</button>
                <br>
                <label class="paramlabel">And/or select genome group</label><br>
                <div style="width:78%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="out_genomes_genomegroup" required="false" data-dojo-attach-point="out_genomes_genomegroup" data-dojo-props="type:['genome_group'],multi:false,promptMessage:'Select a genome group from your workspace',missingMessage:'Genome group is optional.', placeHolder:'Optional'"></div>
                <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="click:onAddOutGroupGenomeGroup" class="app-btn"><i class="icon-plus"></i> Add</button>
                <br>
              </div>

              <div class="appRow">
                <label class="paramlabel"> selected outgroup genome table</label>
                <small class="loading-status-outGroup pull-right" style="margin-right: 20px; display: none;">loading...</small>
              </div>

              <div class="appRow" style="width:90%; margin-top:5px; text-align: center;">
                <table class="librarytable" frame="box" data-dojo-attach-point="outGroupGenomeTable" style="margin:0 5px 0 2px; width: 315px;">
                  <tbody data-dojo-attach-point="outGroupGenomeTableBody">

                  </tbody>
                </table>
              </div>

            </div>
          </td>
        </tr>
      </table>

<table class="assemblyblocks">
  <tr>
    <td style="width:50%">
      <table>
        <tr>
          <td>
      <div data-dojo-attach-point="codonTreeTable" style="width:400px" class="appBox appShadow">
        <div class="headerrow">
          <div style="width:85%;display:inline-block;">
            <label class="appBoxLabel">Input Genomes</label>
            <div name="input-genomes" class="infobox iconbox infobutton dialoginfo">
              <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
          </div>
          <br>
          <div class="appsublabel">Add at least 4 (up to 100 ) genomes.</div>
        </div>
        <div class="appRow">
          <label class="paramlabel">Select genome group</label><br>
          <div style="width:78%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="codon_genomes_genomegroup" required="false" data-dojo-attach-point="codon_genomes_genomegroup" data-dojo-props="type:['genome_group'],multi:false,promptMessage:'Select a genome group from your workspace',missingMessage:'Genome group is optional.', placeHolder:'Optional'"></div>
          <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="click:onAddCodonGroupGenomeGroup" class="app-btn"><i class="icon-plus"></i> Add</button>
          <br>
          <label class="paramlabel">and/or select genome</label><br>
          <div style="width:78%;display:inline-block;" data-dojo-type="p3/widget/GenomeNameSelector" name="codon_genome_id" maxHeight="200" required="false" data-dojo-attach-point="codon_genome_id"></div>
          <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="codonGroupGenomeButton" data-dojo-attach-event="click:onAddCodonGroupGenome" class="app-btn"><i class="icon-plus"></i> Add</button>
          <br>
          <div class="warning" data-dojo-attach-point="genomegroup_message"></div>
        </div>
        <div class="appRow">
          <label class="paramlabel"> selected input genomes</label>
          <small class="loading-status-codonGroup pull-right" style="margin-right: 20px; display: none;">loading...</small>
        </div>
        <div class="appRow" style="width:90%; margin-top:0px; text-align: center;">
          <table class="librarytable" frame="box" data-dojo-attach-point="codonGroupGenomeTable" style="margin:0 0 0 10px; width:100%; height:100px;">
            <tbody data-dojo-attach-point="codonGroupGenomeTableBody">
            </tbody>
          </table>
        </div>
      </div>
    </td>
    <td>
      <div id="parameterBox" style="width:400px; " class="appBox appShadow">
        <div data-dojo-attach-point="parameters_codon_tree" class="headerrow">
          <div style="width:85%;display:inline-block;">
            <label class="appBoxLabel">Parameters</label>
            <div name="parameters-codon-tree" class="infobox iconbox infobutton dialoginfo">
              <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
          </div>
        </div>
        <div data-dojo-attach-point="parameters_all_shared_proteins" style="display:none" class="headerrow">
          <div style="width:85%;display:inline-block;">
            <label class="appBoxLabel">Parameters</label>
            <div name="parameters-all-shared-proteins" class="infobox iconbox infobutton dialoginfo">
              <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
          </div>
        </div>
        <div data-dojo-attach-point="codonOtherInputs">
          <div class="appRow">
            <label class="paramlabel">Number of Genes:</label>
            <div name="number_of_genes" class="medInput">
              <select data-dojo-attach-point="number_of_genes"
                data-dojo-type="dijit/form/Select" name="number_of_genes" required="false">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100" selected="selected">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
            </div>
          </div>
          <div class="appRow">
            <label class="paramlabel">Max Allowed Deletions (0~10):</label>
            <div name="max_genomes_missing"
              class="medInput"
              data-dojo-type="dijit/form/NumberTextBox"
              data-dojo-attach-point="max_genomes_missing"
              data-dojo-props="constraints:{min:0,max:10}"
              value="0">
            </div>
          </div>
          <div class="appRow">
            <label class="paramlabel">Max Allowed Duplications (0~10):</label>
            <div name="max_allowed_dups"
              class="medInput"
              data-dojo-type="dijit/form/NumberTextBox"
              data-dojo-attach-point="max_allowed_dups"
              data-dojo-props="constraints:{min:0,max:10}"
              value="0">
            </div>
            <br><br>
            <div class="appRow">
              <label class="paramlabel">Output Folder</label><br>
              <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path" data-dojo-attach-point="output_path" required="true" data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false" data-dojo-attach-event="onChange:onOutputPathChange"></div>
            </div>
            <div class="appRow">
              <label class="paramlabel">Output Name</label><span class="charError" style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
              <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" data-dojo-attach-event="onChange:checkOutputName" name="output_file" data-dojo-attach-point="output_file" style="width:85%" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'"></div>
            </div>
          </div>
        </div>
        <div data-dojo-attach-point="PEPROtherInputs" style="display: none;">
          <div class="appRow">
            <label class="paramlabel">Full Tree Method</label><br>
            <select data-dojo-type="dijit/form/Select" name="full_tree_method" data-dojo-attach-point="full_tree_method" style="width:300px" required="false" data-dojo-props="intermediateChanges:true,trim:true">
              <option value="ft">FastTree</option>
              <option value="ml">Maximum Likelihood (RAxML)</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
</table>
    </td>
  </tr>
  <tr>
    <td>
        <div class="appRow" style="text-align:center">
            <div class="appRowSegment" data-dojo-attach-point="advanced">
                <label class="largelabel">Metadata options</label>
                <div class="iconbox" style="margin-left:0">
                    <i data-dojo-attach-point="advancedOptionIcon" class="fa icon-caret-down fa-1"></i>
                </div>
            </div>
        </div>
    </td>
  </tr>
  <!-- Settings row -->
  <tr>
    <td>
      <div id="settingsBox" class="appBox appShadow" style="display:none;" data-dojo-attach-point="advancedOptions">
        <table>
          <tr>
            <td>
              <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                  <label class="appBoxLabel">Metadata Table</label>
                </div>
                <br>
                <div class="appsublabel">These fields will appear as options in the phyloxml visualization</div>
              </div>
            </td>
            <td>
              
            </td> 
            <td rowspan="2">
              <div>
                <label class="paramlabel">Metadata Table:</label>
              </div>
              <div class="left half">
                <table class="librarytable" frame="box" data-dojo-attach-point="metadataTableBody" style='width:330px;'>
                    <tbody data-dojo-attach-point="metadataTableBody"></tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="paramlabel">Metadata Fields:</label>
              <div name="metadata_selector" class="medInput">
                <select data-dojo-attach-point="metadata_selector"
                  data-dojo-type="dijit/form/Select" name="metadata_selector" required="false">
                  <option value="genome_id">Genome ID</option>
                  <option value="genome_name">Genome Name</option>
                  <option value="genome_length">Genome Length</option>
                  <option value="genome_group">Genome Group</option>
                  <option value="strain">Strain</option>
                  <option value="accession">Accession</option>
                  <option value="subtype">Subtype</option>
                  <option value="lineage">Lineage</option>
                  <option value="host_group">Host Group</option>
                  <option value="host_common_name">Host Common Name</option>
                  <option value="collection_date">Collection Date</option>
                  <option value="collection_year">Collection Year</option>
                  <option value="geographic_group">Geographic Group</option>
                  <option value="isolation_country">Isolation Country</option>
                  <option value="geographic_location">Geographic Location</option>
                </select>
              </div>
            </td>
            <td>
              <div>
                <label class="paramlabel" style="visibility: hidden;">Add to Table</label>
              </div>
              <div style="width:17px; display:inline-block;">
                <i data-dojo-attach-event="click:onAddMetadata" class="fa icon-arrow-circle-o-right fa-lg"></i>
              </div>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>

  <div class="appSubmissionArea">
    <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage" style="margin-top:10px; text-align:center;">
      Submitting Phylogenetic Tree Building Job.
    </div>
    <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage" style="margin-top:10px; text-align:center;">
      Error Submitting Job. Please check the submission form.
    </div>
    <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
      style="margin-top:10px; text-align:center;" >
      Your job has been submitted successfully. Please visit your <a data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and access the results.
    </div>
    <div style="margin-top: 10px; text-align:center;">
      <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
      <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
    </div>
  </div>
</form>
