<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
    <div class="appTemplate">
        <div class="appTitle">
            <span class="breadcrumb">Services</span>
            <h3>${applicationLabel}
                <div name="overview" class="infobox iconbox infobutton dialoginfo">
                  <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                </div>
                <div class="infobox iconbox tutorialButton tutorialInfo">
                  <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
                </div>
                <div class="infobox iconbox videoButton videoInfo">
                  <a href="${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
                </div>
            </h3>
            <p>
            ${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a>, <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a> and <a href="${videoLink}" target="_blank">Instructional Video</a>.
            </p>
        </div>
        <div class="formFieldsContainer">
            <!--add widgets right here??-->
            <table class="assemblyblocks" style="width:100%">
                <!-- Input sequence row -->
                <tr>
                    <td>
                        <!-- Box for the analysis name? -->
                        <div id="sequenceBox" class="appBox appShadow">
                            <div style="width:85%;display:inline-block;">
                                <label class="appBoxLabel">Input Sequence</label>
                                <div name="input-sequence" class="infobox iconbox infobutton dialoginfo">
                                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                                </div>
                            </div>
                            <!-- Input sequences: workspace, user input, and sequence identifier -->
                            <div class="appRow">
                                <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="startWithInput" data-dojo-attach-event="onChange:onStartWithChange"checked/>
                                <label for="radio2">Paste Sequence</label>
                                <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="startWithWorkspace" data-dojo-attach-event="onChange:onStartWithChange"/>
                                <label for="radio1">Workspace FASTA</label>
                                <!--
                                <input type="radio" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="startWithIdentifier" data-dojo-attach-event="onChange:onStartWithChange"/>
                                <label for="radio3">BVBRC ID</label>
                                -->
                            </div>
                            <table data-dojo-attach-point="fasta_workspace_table" style="width:100%; display:none">
                                <tr name="workspace_input_row">
                                    <td colspan="0">
                                        <div class="appRow">
                                            <label class="paramlabel">FASTA File</label><br>
                                            <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="sequence_workspace" data-dojo-attach-point="sequence_workspace" data-dojo-attach-event="onChange:displayNote" style="width:100%" required="false" data-dojo-props="type:['feature_dna_fasta'],multi:false,promptMessage:'Select or Upload Fasta to your workspace for Primer Design'">
                                            </div>
                                            <div class="warning" data-dojo-attach-point="workspace_input_message"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table data-dojo-attach-point="fasta_input_table" style="width:100%; display:table">
                                <tr>
                                    <td colspan="0">
                                        <div class="appRow">
                                            <label class="paramlabel">Sequence Identifier</label><br>
                                            <input  name="input_sequence_identifier"
                                                    style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                    data-dojo-attach-point="input_sequence_identifier"
                                                    data-dojo-type="dijit/form/ValidationTextBox"
                                                    data-dojo-props="trim:true,placeholder:'Identifier for input sequence', intermediateChanges:true"
                                                    required="false"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="0">
                                        <div class="appRow">
                                            <label class="paramlabel">Paste Sequence</label><br>
                                            <textarea name="sequence_template"
                                                    style="width:85%; height:50px; margin-left:10px; font-family: monospace; font-size:12px"
                                                    data-dojo-attach-point="sequence_template"
                                                    data-dojo-type="dijit/form/Textarea"
                                                    data-dojo-attach-event="onChange:onChangeSequence,onMouseUp:getSelectedText"
                                                    data-dojo-props="rows:5, placeholder:'Enter nucleotide sequence', intermediateChanges:false"></textarea>
                                                    <div class="warning" data-dojo-attach-point="sequence_message"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Mark Selected Region:</label>
                                        <input type="button" label="&#60; &#62;" data-dojo-type="dijit/form/Button" data-dojo-attach-point="exclude_button" value="exclude_button"/>
                                        <input type="button" label="&#91; &#93;" data-dojo-type="dijit/form/Button" data-dojo-attach-point="target_button" value="target_button"/>
                                        <input type="button" label="&#123; &#125;" data-dojo-type="dijit/form/Button" data-dojo-attach-point="include_button" value="include_button"/>
                                        <input type="button" label="clear" data-dojo-type="dijit/form/Button" data-dojo-attach-point="clear_button" value="clear_button"/>
                                    </td>
                                </tr>
                            </table>
                            <table data-dojo-attach-point="patric_sequence_identifier" style="width:100%; display:none">
                                <tr>
                                    <td colspan="0">
                                        <div class="appRow">
                                            <label class="paramlabel">BVBRC Identifier</label><br>
                                            <input  name="input_bvbrc_identifier"
                                                    style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                    data-dojo-attach-point="input_bvbrc_identifier"
                                                    data-dojo-type="dijit/form/ValidationTextBox"
                                                    data-dojo-props="trim:true,placeholder:'BVBRC Identifier', intermediateChanges:true"
                                                    required="false"/>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="appRow">
                                <div id="${id}_internal_oligo" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="internal_oligo_checkbox" checked></div>
                                <label for="${id}_internal_oligo">Pick Internal Oligo</label>
                            </div>
                            <div class="appRow">
                                <label class="paramlabel">Product Size Ranges (bp)</label>
                                <div name="product-size-ranges" class="infobox iconbox infobutton tooltipinfo">
                                    <i class="fa icon-question-circle fa"></i>
                                </div>
                                <br>
                                <input  name="primer_product_size_range" value="50-500"
                                        style="width:60%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                        data-dojo-attach-point="primer_product_size_range"
                                        data-dojo-type="dijit/form/ValidationTextBox"
                                        data-dojo-props="trim:true,regExp:'([0-9]+-[0-9]+)((\\s[0-9]+-[0-9]+)*)', placeholder:'Space-separated list of Min-Max size ranges (100-300)', intermediateChanges:true"
                                        required="false"/>
                            </div>
                            <!-- Primer size settings -->
                            <table>
                                <tr>
                                    <td><label class="paramlabel">Primer Size (bp)</label>
                                        <div name="primer-size" class="infobox iconbox infobutton tooltipinfo">
                                         <i class="fa icon-question-circle fa"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="paramlabel">Min:</label>
                                        <input  name="primer_min_size" value=18
                                            style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                            data-dojo-attach-point="primer_min_size"
                                            data-dojo-type="dijit/form/ValidationTextBox"
                                            data-dojo-props="trim:true,regExp:'(([0-9])+)', intermediateChanges:true"
                                            required="false"/>
                                    </td>
                                    <td>
                                        <label class="paramlabel">Opt:</label>
                                        <input  name="primer_opt_size" value=20
                                            style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                            data-dojo-attach-point="primer_opt_size"
                                            data-dojo-type="dijit/form/ValidationTextBox"
                                            data-dojo-props="trim:true,regExp:'([0-9]+)', intermediateChanges:true"
                                            required="false"/>
                                    </td>
                                    <td>
                                        <label class="paramlabel">Max:</label>
                                        <input  name="primer_max_size" value=27
                                            style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                            data-dojo-attach-point="primer_max_size"
                                            data-dojo-type="dijit/form/ValidationTextBox"
                                            data-dojo-props="trim:true,regExp:'(([0-9])+)', intermediateChanges:true"
                                            required="false"/>
                                    </td>
                                </tr>
                            </table>
                            <!-- Primer Sequence Regions -->
                            <div class="appRow">
                                <label class="paramlabel">Excluded Regions</label> 
                                <div name="excluded-regions" class="infobox iconbox infobutton tooltipinfo">
                                    <i class="fa icon-question-circle fa"></i>
                                </div>
                                <br>
                                &nbsp;&#60;<input  name="sequence_excluded_region"
                                          style="width:85%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                          data-dojo-attach-point="sequence_excluded_region"
                                          data-dojo-type="dijit/form/ValidationTextBox"
                                          data-dojo-props="trim:true,regExp:'([0-9]+,[0-9]+)((\\s[0-9]+,[0-9]+)*)', placeholder:'401,7 68,3 forbids primers in the 7 bases starting at 401 and the 3 bases at 68.', intermediateChanges:true"
                                          required="false"/>&nbsp;&#62;
                            </div>
                            <div class="appRow">
                                <label class="paramlabel">Target Region</label>
                                <div name="target-region" class="infobox iconbox infobutton tooltipinfo">
                                    <i class="fa icon-question-circle fa"></i>
                                </div>
                                <br>
                                &nbsp;[<input  name="sequence_target"
                                          style="width:85%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                          data-dojo-attach-point="sequence_target"
                                          data-dojo-type="dijit/form/ValidationTextBox"
                                          data-dojo-props="trim:true,regExp:'([0-9]+,[0-9]+)((\\s[0-9]+,[0-9]+)*)', placeholder:'50,2 requires primers to surround the 2 bases at positions 50 and 51.', intermediateChanges:true"
                                          required="false"/>&nbsp;&nbsp;]
                            </div>
                            <div class="appRow">
                                <label class="paramlabel">Included Regions</label>
                                <div name="included-regions" class="infobox iconbox infobutton tooltipinfo">
                                    <i class="fa icon-question-circle fa"></i>
                                </div>
                                <br>
                                &nbsp;{<input  name="sequence_included_region"
                                          style="width:85%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                          data-dojo-attach-point="sequence_included_region"
                                          data-dojo-type="dijit/form/ValidationTextBox"
                                          data-dojo-props="trim:true,regExp:'([0-9]+,[0-9]+)', placeholder:'20,400: only pick primers in the 400 base region starting at position 20.', intermediateChanges:true"
                                          required="false"/>&nbsp;&nbsp;}
                            </div>
                            <div class="appRow">
                                <label class="paramlabel">Primer Overlap Positions</label><br>
                                &nbsp;-&nbsp;<input  name="sequence_overlap_junction_list"
                                          style="width:85%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                          data-dojo-attach-point="sequence_overlap_junction_list"
                                          data-dojo-type="dijit/form/ValidationTextBox"
                                          data-dojo-props="trim:true,regExp:'([0-9]+)((\\s[0-9]+)*)', placeholder:'Space-separated list of positions. The forward OR reverse primer will overlap one.', intermediateChanges:true"
                                          required="false"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="appRow" style="text-align:center">
                            <div class="appRowSegment" data-dojo-attach-point="advanced">
                                <label class="largelabel">Advanced options</label>
                                <div class="iconbox" style="margin-left:0">
                                    <i data-dojo-attach-point="advancedOptionIcon" class="fa icon-caret-down fa-1"></i>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Settings row -->
                <tr>
                    <td>
                        <div id="settingsBox" class="appBox appShadow" style="display:none;" data-dojo-attach-point="advancedOptions">
                            <div style="width:85%;display:inline-block;">
                                <label class="appBoxLabel">Settings</label>
                                <div name="settings" class="infobox iconbox infobutton dialoginfo">
                                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                                </div>
                            </div>
                            <div class="appRow">
                                <label class="paramlabel">Number to Return</label>
                                <div name="numReturn_tooltip" id="numReturn_tooltip" data-dojo-attach-point="numReturn_tooltip" class="infobox iconbox tooltipinfo">
                                    <i class="fa icon-question-circle fa"></i>
                                </div>
                                <br>
                                <input  name="primer_num_return"
                                        style="width:41%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                        data-dojo-attach-point="primer_num_return"
                                        data-dojo-type="dijit/form/ValidationTextBox"
                                        data-dojo-props="trim:true,placeholder:'Max number of primer pairs to report (5)',regExp:'(([0-9])*)', intermediateChanges:true"
                                        required="false"/>
                            </div>
                            <div class="appRow">
                                <table>
                                    <!-- Primer temperature settings -->
                                    <tr>
                                        <td><label class="paramlabel">Primer Tm (celsius)</label>
                                            <div name="primerTemp_tooltip" id="primerTemp_tooltip" data-dojo-attach-point="primerTemp_tooltip" class="infobox iconbox tooltipinfo">
                                                <i class="fa icon-question-circle fa"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="paramlabel">Min:</label>
                                            <input  name="primer_min_tm" value=57.0
                                                style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                data-dojo-attach-point="primer_min_tm"
                                                data-dojo-type="dijit/form/ValidationTextBox"
                                                data-dojo-props="trim:true,regExp:'([0-9]+((\.[0-9]+)?))', intermediateChanges:true"
                                                required="false"/>
                                        </td>
                                        <td>
                                            <label class="paramlabel">Opt:</label>
                                            <input  name="primer_opt_tm" value=60.0
                                                style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                data-dojo-attach-point="primer_opt_tm"
                                                data-dojo-type="dijit/form/ValidationTextBox"
                                                data-dojo-props="trim:true,regExp:'([0-9]+((\.[0-9]+)?))', intermediateChanges:true"
                                                required="false"/>
                                        </td>
                                        <td>
                                            <label class="paramlabel">Max:</label>
                                            <input  name="primer_max_tm" value=63.0
                                                style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                data-dojo-attach-point="primer_max_tm"
                                                data-dojo-type="dijit/form/ValidationTextBox"
                                                data-dojo-props="trim:true,regExp:'([0-9]+((\.[0-9]+)?))', intermediateChanges:true"
                                                required="false"/>
                                        </td>
                                        <td>
                                            <label class="paramlabel">Max Tm Difference:</label>
                                            <input  name="primer_pair_max_diff_tm" value=100.0
                                                style="width:40%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                data-dojo-attach-point="primer_pair_max_diff_tm"
                                                data-dojo-type="dijit/form/ValidationTextBox"
                                                data-dojo-props="trim:true,regExp:'([0-9]+((\.[0-9]+)?))', intermediateChanges:true"
                                                required="false"/>
                                        </td>
                                    </tr>
                                    <!--  Primer GC content -->
                                    <tr>
                                        <td><label class="paramlabel">Primer GC%</label>
                                            <div name="primerGC_tooltip" id="primerGC_tooltip" data-dojo-attach-point="primerGC_tooltip" class="infobox iconbox tooltipinfo">
                                                <i class="fa icon-question-circle fa"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="paramlabel">Min:</label>
                                            <input  name="primer_min_gc" value=20.0
                                                style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                data-dojo-attach-point="primer_min_gc"
                                                data-dojo-type="dijit/form/ValidationTextBox"
                                                data-dojo-props="trim:true,regExp:'([0-9]+((\.[0-9]+)?))', intermediateChanges:true"
                                                required="false"/>
                                        </td>
                                        <td>
                                            <label class="paramlabel">Opt:</label>
                                            <input  name="primer_opt_gc_percent" value=50.0
                                                style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                data-dojo-attach-point="primer_opt_gc"
                                                data-dojo-type="dijit/form/ValidationTextBox"
                                                data-dojo-props="trim:true,regExp:'([0-9]+((\.[0-9]+)?))', intermediateChanges:true"
                                                required="false"/>
                                        </td>
                                        <td>
                                            <label class="paramlabel">Max:</label>
                                            <input  name="primer_max_gc" value=80.0
                                                style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                data-dojo-attach-point="primer_max_gc"
                                                data-dojo-type="dijit/form/ValidationTextBox"
                                                data-dojo-props="trim:true,regExp:'([0-9]+((\.[0-9]+)?))',intermediateChanges:true"
                                                required="false"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- Concentration Settings -->
                            <div class="appRow">
                                <table>
                                    <tr>
                                        <td><label class="paramlabel" style="white-space:nowrap;overflow:hidden">Concentration of monovalent cations (mM):</label></td>
                                        <td>
                                            <input  name="primer_salt_monovalent" value=50.0
                                                      style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                      data-dojo-attach-point="primer_salt_monovalent"
                                                      data-dojo-type="dijit/form/ValidationTextBox"
                                                      data-dojo-props="trim:true,regExp:'([0-9]+((\.[0-9]+)?))', intermediateChanges:true"
                                                      required="false"/>
                                        </td>
                                        <td><label class="paramlabel" style="white-space:nowrap;overflow:hidden">Annealing Oligo Concentration (nM):</label></td>
                                        <td>
                                            <input  name="primer_dna_conc" value=50.0
                                                      style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                      data-dojo-attach-point="primer_dna_conc"
                                                      data-dojo-type="dijit/form/ValidationTextBox"
                                                      data-dojo-props="trim:true,regExp:'([0-9]+((\.[0-9]+)?))', intermediateChanges:true"
                                                      required="false"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="paramlabel">Concentration of divalent cations (mM):</label></td>
                                        <td>
                                            <input  name="primer_salt_divalent" value=1.5
                                                      style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                      data-dojo-attach-point="primer_salt_divalent"
                                                      data-dojo-type="dijit/form/ValidationTextBox"
                                                      data-dojo-props="trim:true,regExp:'([0-9]+((\.[0-9]+)?))', intermediateChanges:true"
                                                      required="false"/>
                                        </td>
                                        <td><label class="paramlabel">Concentration of dNTPs (mM):</label></td>
                                        <td>
                                            <input  name="primer_dntp_conc" value=0.6
                                                      style="width:50%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                                                      data-dojo-attach-point="primer_dntp_conc"
                                                      data-dojo-type="dijit/form/ValidationTextBox"
                                                      data-dojo-props="trim:true,regExp:'([0-9]+((\.[0-9]+)?))', intermediateChanges:true"
                                                      required="false"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Output row -->
                <tr>
                    <td>
                        <div id="outputBox" class="appBox appShadow">
                            <div style="width:85%;display:inline-block;">
                                <label class="appBoxLabel">Output</label>
                                <div name="output" class="infobox iconbox infobutton dialoginfo">
                                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                                </div>
                            </div>
                            <div class="appRow">
                                <label class="paramlabel">Output Folder</label><br>
                                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path" data-dojo-attach-point="output_path" data-dojo-attach-event="onChange:onOutputPathChange" style="width:100%" required="true" data-dojo-props="type:['folder'],autoSelectCurrent:true,selectionText:'Destination',multi:false,title:'Select an Output Folder'">
                                </div>
                            </div>
                            <div class="appRow">
                                <div class="appFieldLong" style="width:85%">
                                    <label class="paramlabel">Output Name</label><span class="charError" style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
                                    <div data-dojo-attach-point="output_file" data-dojo-attach-event="onChange:checkOutputName" style="width:100%; background-color:#F0F1F3" data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" name="output_file" required="true" data-dojo-props="intermediateChanges:true,promptMessage:'The output name for your Primer Design results',missingMessage:'Output Name must be provided.',trim:true,placeHolder:'Output Name'"></div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="appSubmissionArea">
            <div style="width:400px; margin:auto" class="workingMessage messageContainer">
                Submitting Primer Design Job
            </div>
            <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
            style="margin-top:10px; text-align:center;" >
                Your job has been submitted successfully. Please visit your <a data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and access the results.
            </div>
            <div style="width:400px; margin:auto" class="errorMessage messageContainer">
                <div style="font-weight:900;font-size:1.1em;">Error Submitting Primer Design Job</div>
                <p data-dojo-attach-point="errorMessage">Error</p>
            </div>
            <div style="margin-top: 10px; text-align:center;">
                <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel
                </div>
                <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
                <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
            </div>
        </div>
    </div>
</form>