<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}"
      dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
    <div style="width: 700px;margin:auto;">
        <div class="apptitle" id="apptitle">
            <h3>Protein Family Sorter</h3>
            <p>The Protein Family Sorter tool enables researchers to examine the distribution of specific protein families across different genomes.</p>
        </div>
        <div style="width:700px; margin:auto" class="formFieldsContainer">
            <div style="display: none;">
                <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="true"
                       data-dojo-attach-point="numlibs" data-dojo-props="constraints:{min:1,max:1000},"/>
            </div>
            <table class="assemblyblocks" style="width:100%">
                <tr>
                    <td>
                        <div class="appbox appshadow">
                            <div class="headerrow">
                                <div style="width:85%;display:inline-block;">
                                    <label class="appboxlabel"> Select Genome</label>
                                </div>
                                <div style="width:10%;display:inline-block;">
                                    <i data-dojo-attach-event="click:onAddGenome"
                                       class="fa icon-arrow-circle-o-right fa-lg"></i>
                                </div>
                            </div>
                            <div class="approw">
                                <label class="paramlabel">Genome</label><br>
                                <div data-dojo-type="p3/widget/GenomeNameSelector" name="genome"
                                     data-dojo-attach-point="genome" style="width: 300px" required="false"></div>
                            </div>
                        </div>
                        <div class="appbox appshadow">
                            <div class="headerrow">
                                <div style="width:85%;display:inline-block;">
                                    <label class="appboxlabel"> Select Genome Group</label>
                                </div>
                                <div style="width:10%;display:inline-block;">
                                    <i data-dojo-attach-event="click:onAddGenomeGroup"
                                       class="fa icon-arrow-circle-o-right fa-lg"></i>
                                </div>
                            </div>
                            <div class="approw">
                                <label class="paramlabel">Genome Group</label><br>
                                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="genome_group"
                                     data-dojo-attach-point="genome_group" style="width:300px" required="false"
                                     data-dojo-props="type:['genome_group'],multi:true"></div>
                            </div>
                        </div>

                        <div class="appbox appshadow">
                            <div class="headerrow">
                                <label class="appboxlabel">Parameters</label>
                                <div name="parameterinfo" class="infobox iconbox infobutton dialoginfo">
                                    <i class="fa icon-info-circle fa"></i>
                                </div>
                            </div>
                            <div class="approw">
                                <label for="family_type" class="paramlabel">Family Type (Not working now)</label><br>
                                <select data-dojo-type="dijit/form/Select" name="family_type"
                                        data-dojo-attach-point="family_type" style="width:300px" required="true">
                                    <option value="plfam">PATRIC genus-specific families(PLfams)</option>
                                    <option value="pgfam" selected="selected">PATRIC cross-genus families(PGfams)</option>
                                    <option value="figfam">FIGFam</option>
                                </select>
                            </div>
                            <div class="approw">
                                <label class="paramlabel">Keyword (Not working now)</label><br>
                                <div data-dojo-type="dijit/form/SimpleTextarea" name="keyword" rows="5"
                                     data-dojo-attach-point="keyword" style="width:300px"></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="appbox appshadow" style="height:251px; width:330px">
                            <div class="headerrow">
                                <label class="appboxlabel">Selected genomes</label>
                                <div name="selectedinfo" class="infobox iconbox infobutton tooltipinfo">
                                    <i class="fa icon-info-circle fa"></i>
                                </div>
                                <br>
                                <div class="appsublabel">Place genome(s) here using the arrow buttons.</div>
                            </div>
                            <div class="approw" style="width:100%; margin-top:10px; text-align: center;">
                                <table class="librarytable" frame="box" data-dojo-attach-point="libsTable"
                                       style='margin:0 0 0 10px; width:90%;'>
                                    <tbody data-dojo-attach-point="libsTableBody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="appSubmissionArea">
            <div style="margin-top: 10px; text-align:center;">
                <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Search</div>
            </div>
        </div>
    </div>
</form>

