<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h1 class="appHeader">${applicationLabel}
              <div name="overview" class="infobox iconbox infobutton dialoginfo">
                  <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
              </div>
              <div class="infobox iconbox tutorialButton tutorialInfo">
                <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
              </div>
            </h1>
            <p style="border: 2px solid #ffbc3e; padding: 4px;" class="alert-banner">PATRIC is deprecating the Model Reconstruction Service. Please visit the <a style="font-weight: bold" href="https://modelseed.org/" target="_blank">ModelSEED</a> website to build metabolic models and run flux balance analysis on public genomes in PATRIC. You can also analyze your private genomes by uploading your data in <a style="font-weight: bold;" href="https://modelseed.org/" target="_blank">ModelSEED</a>.</p><br>
      <p>${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a> and
        <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a>.
      </p>
    </div>
    <div style="width: 340px; margin:auto;" class="formFieldsContainer">
      <div class="appBox appShadow">
        <label class="appBoxLabel">Select a Genome</label>
        <div name="select-a-genome" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>
        <div class="appRow">
          <div class="appField">
            <label>Genome</label><br>
            <div data-dojo-attach-event="onChange:onSuggestNameChange" data-dojo-type="p3/widget/GenomeNameSelector" name="genome" maxHeight="200" style="width:100%" required="true" data-dojo-attach-point="genome_nameWidget" data-dojo-props="disabled:true"></div>
          </div>
        </div>
        <!--

                <div class="appField">
                    <label for="genome">Genome from Workspaces</label>
                    <div data-dojo-type="p3/widget/WorkspaceObjectSelector"
                         name="genome"
                         style="width:100%"
                         required="true"
                         data-dojo-props="type:['job_result'],multi:false,promptMessage:'Select a genome job result in your workspace for Model Reconstruction',missingMessage:'Genome job result must be provided.'">
                    </div>
                </div>
                <div class="appRow" style="margin-left: 145px;">
                    OR
                </div>
                <div class="appRow">
                    <div class="appField">
                        <label>Genome from Data API</label><br>
                        <div data-dojo-attach-event="onChange:onSuggestNameChange" data-dojo-type="p3/widget/TaxonNameSelector" name="genome" maxHeight=200 style="width:100%" data-dojo-attach-point="scientific_nameWidget"></div>
                    </div>
                </div>
                -->
      </div>
    </div>


    <div style="width: 340px; margin:auto;" class="formFieldsContainer">
      <div class="appBox appShadow">
        <label class="appBoxLabel">Optional Parameters</label>
        <div name="optional-parameters" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>

        <!--
                <div class="appRow">
                    <div class="appField">
                        <label>Output Folder</label><br>
                        <div data-dojo-attach-point="output_pathWidget"
                             data-dojo-type="p3/widget/WorkspaceObjectSelector"
                             name="output_path"
                             style="width:100%"
                             data-dojo-props="type:['folder'],multi:false,value:'${activeWorkspacePath}',workspace:'${activeWorkspace}',promptMessage:'The output folder for your model. This will be a directory.',missingMessage:'Output Folder must be selected.'"
                             data-dojo-attach-event="onChange:onOutputPathChange">
                        </div>
                    </div>
                </div>
                -->
        <div class="appRow">
          <div class="appField">
            <label>Media</label><br>
            <div data-dojo-type="p3/widget/MediaSelector" name="media" style="width:100%" data-dojo-attach-point="mediaSelector" data-dojo-props="disabled:true"></div>
          </div>
        </div>
        <div class="appRow">
          <div class="appField">
            <label>Output Folder</label>
            <div data-dojo-attach-point="output_pathWidget" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path" style="width:100%" required="true" data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false,value:'${activeWorkspacePath}',workspace:'${activeWorkspace}',promptMessage:'The output folder for your Reconstruction Results',missingMessage:'Output Folder must be selected.',disabled:true"
              data-dojo-attach-event="onChange:onOutputPathChange"></div>
            <label>Output Name</label><span class="charError" style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
            <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" data-dojo-attach-event="onChange:checkOutputName" name="output_file" data-dojo-attach-point="output_file" style="width:85%" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name',disabled:true"></div>
          </div>
        </div>

        <!--<div class="appRow">
                    <div class="appField">
                        <label>Template Model</label><br>
                        <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="template_model" style="width:100%" data-dojo-props="type:['genome'],multi:false,promptMessage:'Optionally select a template from which model should be constructed.'"></div>
                    </div>
                </div>-->
        <!--<div class="appRow">
                    <div class="appField">
                        <input name="core_model" data-dojo-type="dijit/form/CheckBox" value="true" />
                        <label for="coreModel">Construct Core Model?</label>
                    </div>
                </div>-->

        <!--<div class="appRow">
                    <div class="appField">
                        <input name="fulldb" data-dojo-type="dijit/form/CheckBox" checked="false" />
                        <label for="fulldb">Include Full Database?</label>
                    </div>
                </div>-->
      </div>
    </div>


    <div class="appSubmissionArea">
      <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage" style="margin-top:10px; text-align:center;">
        Submitting Model Reconstruction Job
      </div>

      <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage" style="margin-top:10px; text-align:center;">
        Error Submitting Job
      </div>
      <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage" style="margin-top:10px; text-align:center;">
        Model Reconstruction Job has been queued.
      </div>
      <div style="margin-top: 10px; text-align:center;">
        <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel
        </div>
        <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button" data-dojo-props="disabled:true">Reset</div>
        <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button" data-dojo-props="disabled:true">Reconstruct
        </div>
      </div>
    </div>
  </div>
</form>
