<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h3>${applicationLabel}
        <div name="overview" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>
        <div class="infobox iconbox tutorialButton tutorialInfo">
          <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
        </div>
        <div class="infobox iconbox videoButton videoInfo">
          <a href="${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
        </div>
      </h3>
      <p>
        ${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a>, <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a> and <a href="${videoLink}" target="_blank">Instructional Video</a>.
      </p>
    </div>
    <div class="formFieldsContainer">
      <div style="display: none;">
        <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="true" data-dojo-attach-point="numlibs" data-dojo-props="constraints:{min:1,max:1000}," />
      </div>
      <div style="display: none;">
        <input data-dojo-type="dijit/form/NumberTextBox" value="1" required="true" data-dojo-attach-point="numCondWidget" data-dojo-props="constraints:{min:1,max:1000}," />
      </div>
      <div style="display: none;">
        <input data-dojo-type="dijit/form/NumberTextBox" value="1" required="true" data-dojo-attach-point="numContrastWidget" data-dojo-props="constraints:{min:1,max:1000},disabled:false" />
      </div>
      <table class="assemblyblocks" style="width:100%">
        <tr>
          <td>
            <div id="pipelineBox" class="appBox appShadow">
              <div style="width:85%;display:inline-block;">
                <label class="appBoxLabel">Parameters</label>
                <div name="parameters" class="infobox iconbox infobutton dialoginfo">
                  <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                </div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Strategy</label><br>
                <select data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:onStrategyChange" name="recipe" data-dojo-attach-point="recipe" style="width:300px" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name Must be provided for Folder',trim:true,placeHolder:'MySubFolder'">
                  <option value="HTSeq-DESeq">HTSeq-DESeq2</option>
                  <option value="Host">Host HISAT2</option>
                  <option value="RNA-Rocket">Tuxedo</option>
                </select>
                <div class="warning" data-dojo-attach-point="recipe_message"></div>
              </div>
              <div class="appRow">
                <div class="appField">
                  <label>Target Genome</label><br>
                  <div data-dojo-attach-event="onChange:onSuggestNameChange" data-dojo-type="p3/widget/GenomeNameSelector" name="genome_name" maxHeight="200" style="width:100%" required="true" data-dojo-attach-point="genome_nameWidget"></div>
                </div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Enable Trimming</label><br>
                <input type="radio" data-dojo-attach-point="trimming_true"
                name="trimming_button" value="true"  data-dojo-type="dijit/form/RadioButton"
                data-dojo-attach-event="onchange:changeTrimmingFlag" checked />
                <label >True</label>
                <input type="radio" data-dojo-attach-point="trimming_false"
                name="trimming_button" value="false"  data-dojo-type="dijit/form/RadioButton"
                data-dojo-attach-event=""/>
                <label >False</label>
              </div>
              <div class="appRow">
                <label class="paramlabel">Output Folder</label><br>
                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path" data-dojo-attach-point="output_path" style="width:300px" required="true" data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false" data-dojo-attach-event="onChange:onOutputPathChange"></div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Output Name</label><span class="charError" style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
                <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" data-dojo-attach-event="onChange:checkOutputName" name="output_file" data-dojo-attach-point="output_file" style="width:300px" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'"></div>
              </div>
            </div>
          </td>
          <td>
            <div id="conditionbox" class="appBox appShadow" style="min-height: 217px; height:auto; width:330px">
              <div class="headerrow">
                <label class="appBoxLabel">Groups/Conditions</label>
                <div name="groups-conditions" class="infobox iconbox infobutton tooltipinfo">
                  <i class="fa icon-question-circle fa"></i>
                </div>
                <br>
              </div>
              <div class="appRow">
                <!--<div class="mblSwRoundShape1" style="margin-bottom:10px" data-dojo-attach-point="exp_design" data-dojo-attach-event="stateChanged:onDesignToggle" data-dojo-props="value:'off'" style="font-size: 13px; width: 80px;" data-dojo-type="dojox/mobile/Switch"></div>-->
                <div style="margin-left:10px" data-dojo-attach-point="group_switch" class="onoffswitch">
                  <input type="checkbox" value="off" name="onoffswitch" class="onoffswitch-checkbox" data-dojo-attach-point="exp_design">
                  <label class="onoffswitch-label">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </div>
              <div class="appRow" style="width:270px; padding-left:10px; padding-right:40px;" data-dojo-attach-point="advrow">
                <div style="width:85%;display:inline-block;">
                  <div data-dojo-type="dijit/form/ValidationTextBox" name="condition" data-dojo-attach-point="condition" required="false" data-dojo-props="disabled: true, missingMessage:'Name of condition',trim:true,placeHolder:'Condition Name'"></div>
                </div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddCondition" class="fa icon-plus-circle fa-lg"></i></div>
              </div>
              <div class="appRow" style="width:100%; margin-top:10px; text-align: center;">
                <table class="librarytable disabled" frame="box" data-dojo-attach-point="condTable" style="margin:0 0 0 10px; width:90%;">
                  <tbody data-dojo-attach-point="condTableBody">
                  </tbody>
                </table>
              </div>
            </div>
            <!-- <div data-dojo-attach-point="block_condition" data-dojo-type="dojox.widget.Standby" data-dojo-props="opacity:'0.5',color:'rgb(231,231,231)', text:'Disabled',centerIndicator:'text',target:'conditionbox'"></div> -->
          </td>
        </tr>
        <tr>
          <td>
            <div id="pairedBox" class="appBox appShadow">
              <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                  <label class="appBoxLabel"> Paired read library</label>
                  <div name="paired-read-library" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                  </div>
                </div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddPair" class="fa icon-arrow-circle-o-right fa-lg"></i>
                </div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Read File 1</label><br>
                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="libdat_file1pair" data-dojo-attach-point="read1" data-dojo-attach-event="change:setPairedId" style="width:300px" required="false" data-dojo-props="type:['reads'],multi:false"></div>
              </div>
              <div class="appRow">
                <div data-dojo-attach-point="read2block">
                  <label class="paramlabel">Read File 2</label><br>
                  <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="libdat_file2pair" data-dojo-attach-point="read2" style="width:300px" required="false" data-dojo-props="type:['reads'],multi:false"></div>
                </div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Sample Identifier</label><br>
                <input  name="paired_sample_id"
                        style="width:75%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                        data-dojo-attach-point="paired_sample_id"
                        data-dojo-type="dijit/form/ValidationTextBox"
                        data-dojo-props="trim:true,placeholder:'Sample ID', intermediateChanges:true"
                        required="false"/>
              </div>
              <div class="appRow">
                <label class="paramlabel">Condition</label><br>
                <select data-dojo-type="dijit/form/FilteringSelect" name="condition_paired" data-dojo-attach-point="condition_paired" style="width:300px" required="false" data-dojo-props="disabled: true,labelType:'html', searchAttr:'label',intermediateChanges:true,trim:true,placeHolder:'Condition Name'">
                </select>
              </div>
            </div>
            <div class="appBox appShadow">
              <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                  <label class="appBoxLabel">Single read library</label>
                </div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddSingle" class="fa icon-arrow-circle-o-right fa-lg"></i></div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Read File</label><br>
                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="libdat_readfile" data-dojo-attach-point="read" data-dojo-attach-event="change:setSingleId" style="width:300px" required="false" data-dojo-props="type:['reads'],multi:false"></div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Sample Identifier</label><br>
                <input  name="single_sample_id"
                        style="width:75%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                        data-dojo-attach-point="single_sample_id"
                        data-dojo-type="dijit/form/ValidationTextBox"
                        data-dojo-props="trim:true,placeholder:'Sample ID', intermediateChanges:true"
                        required="false"/>
              </div>
              <div class="appRow">
                <label class="paramlabel">Condition</label><br>
                <select data-dojo-type="dijit/form/FilteringSelect" name="condition_single" data-dojo-attach-point="condition_single" style="width:300px" required="false" data-dojo-props="labelType:'html',disabled: true,searchAttr:'label',intermediateChanges:true,trim:true,placeHolder:'Condition Name'">
                </select>
              </div>
            </div>
            <div class="appBox appShadow">
              <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                  <label class="appBoxLabel">SRA run accession</label>
                </div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddSRR" class="fa icon-arrow-circle-o-right fa-lg"></i></div>
              </div>
              <div class="appRow">
                <label class="paramlabel">SRR Accession</label><br><i data-dojo-attach-point="srr_accession_validation_message"></i>
                <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-event="onChange:updateSRR" data-dojo-attach-point="srr_accession" style="width: 300px" required="false" data-dojo-props="intermediateChanges:true, missingMessage:'You must provide an accession', trim:true, placeHolder:'SRR'"></div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Condition</label><br>
                <select data-dojo-type="dijit/form/FilteringSelect" name="condition_srr" data-dojo-attach-point="condition_srr" style="width:300px" required="false" data-dojo-props="labelType:'html',disabled: true,searchAttr:'label',intermediateChanges:true,trim:true,placeHolder:'Condition Name'">
                </select>
              </div>
            </div>
          </td>
          <td>
            <div class="appBox appShadow" style="min-height: 320px; height:auto; width:330px">
              <div class="headerrow">
                <label class="appBoxLabel">Selected libraries</label>
                <div name="selected-libraries" class="infobox iconbox infobutton tooltipinfo">
                  <i class="fa icon-question-circle fa"></i>
                </div>
                <br>
                <div class="appsublabel">Place read files here using the arrow buttons.</div>
              </div>
              <div class="appRow" style="width:100%; margin-top:10px; text-align: center;">
                <table class="librarytable" frame="box" data-dojo-attach-point="libsTable" style="margin:0 0 0 10px; width:90%;">
                  <tbody data-dojo-attach-point="libsTableBody">
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="appBox appShadow" style="padding-left: 38px; min-height: 217px; height:auto; width:660px">
              <div class="headerrow">
                <label class="appBoxLabel">Contrasts </label>
                <div name="contrasts" class="infobox iconbox infobutton tooltipinfo">
                  <i class="fa icon-info-circle fa"></i>
                </div>
                <br>
              </div>
              <div class="appRow">
                <div class="appRowSegment" style="text-align: left;">
                  <label class="paramlabel">Condition 1</label><br>
                  <select data-dojo-type="dijit/form/FilteringSelect" name="contrast_cd1" data-dojo-attach-point="contrast_cd1" style="width:250px" required="false" data-dojo-props="labelType:'html',disabled: true,searchAttr:'label',intermediateChanges:true,trim:true,placeHolder:'Condition Name'">
                  </select>
                </div>
                <div class="appRowSegment" style="text-align: left">
                  <label class="paramlabel">Condition 2</label><br>
                  <select data-dojo-type="dijit/form/FilteringSelect" name="contrast_cd2" data-dojo-attach-point="contrast_cd2" style="width:250px" required="false" data-dojo-props="labelType:'html',disabled: true,searchAttr:'label',intermediateChanges:true,trim:true,placeHolder:'Condition Name'">
                  </select>
                </div>
                <div style="width:10%;display:inline-block;margin-left:10px"><i data-dojo-attach-event="click:onAddContrast" class="fa icon-plus-circle fa-lg"></i></div>
              </div>
              <div class="appRow" style="width:100%; margin-top:10px; text-align: center;">
                <table class="librarytable disabled" frame="box" data-dojo-attach-point="contrastTable" style="margin:0 0 0 10px; width:90%;">
                  <tbody data-dojo-attach-point="contrastTableBody">
                  </tbody>
                </table>
              </div>
            </div>
            <!-- <div data-dojo-attach-point="block_condition" data-dojo-type="dojox.widget.Standby" data-dojo-props="opacity:'0.5',color:'rgb(231,231,231)', text:'Disabled',centerIndicator:'text',target:'conditionbox'"></div> -->
          </td>
        </tr>
      </table>
    </div>
    <div class="appSubmissionArea">
      <div style="width:400px; margin:auto" class="workingMessage messageContainer">
        Submitting RNA-Seq job
      </div>
      <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
      style="margin-top:10px; text-align:center;" >
        Your job has been submitted successfully. Please visit your <a data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and access the results.
      </div>
      <div style="width:400px; margin:auto" class="errorMessage messageContainer">
        <div style="font-weight:900;font-size:1.1em;">Error Submitting Assembly Job</div>
        <p data-dojo-attach-point="errorMessage">Error</p>
      </div>
      <div style="margin-top: 10px; text-align:center;">
        <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel
        </div>
        <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
        <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
      </div>
    </div>
  </div>
</form>