<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h1 class="appHeader">${applicationLabel}
        <div name="overview" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>
        <div class="infobox iconbox tutorialButton tutorialInfo">
          <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
        </div>
        <div class="infobox iconbox videoButton videoInfo">
          <a href="${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
        </div>
      </h1>
      <p>
        ${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a>, <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a> and <a href="${videoLink}" target="_blank">Instructional Video</a>.
      </p>
    </div>
    <div class="formFieldsContainer">
      <div style="display: none;">
        <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="false" data-dojo-attach-point="numgenomes" data-dojo-props="constraints:{min:1,max:10}," />
        <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="false" data-dojo-attach-point="numref" data-dojo-props="constraints:{min:0}," />
      </div>
      <table class="assemblyblocks">
        <tr>
          <td style="width:50%">
            <table>
              <tr>
                <td>
                  <div class="appBox appShadow">
                    <div class="headerrow">
                      <div style="width:85%;display:inline-block;">
                        <label class="appBoxLabel">Parameters</label>
                        <div name="parameters" class="infobox iconbox infobutton dialoginfo">
                          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                        </div>
                      </div>
                    </div>
                    <div class="appRow">
                      <div class="appRow" data-dojo-attach-point="advanced">
                        <label>Advanced Parameters (optional)</label>
                        <div class="iconbox" style="margin-left:0px">
                          <i data-dojo-attach-point="advicon" class="fa icon-caret-down fa-1"></i>
                        </div>
                      </div>
                    </div>
                    <div class="appRow" data-dojo-attach-point="advrow" style="display: none">
                      <div class="halfAppRow">
                        <label class="paramlabel">Minimum %
                          coverage</label><br>
                        <div class="insertspinner" name="min_seq_cov" data-dojo-type="dijit/form/NumberSpinner" value="30" data-dojo-attach-point="insert_size_mean" data-dojo-props="smallDelta:5, constraints:{min:10,max:100,places:0}"></div>
                      </div>
                      <div class="half2AppRow">
                        <label class="paramlabel">Blast E-value</label><br>
                        <div data-dojo-type="dijit/form/ValidationTextBox" name="max_e_val" value="1e-5" style="width:100%" required="false" data-dojo-props="intermediateChanges:true,promptMessage:'E value is optional, default is set to 1e-5',missingMessage:'E value is optional, default is set to 1e-5.',trim:true,placeHolder:'1e-5'"></div>
                      </div>
                      <div class="halfAppRow">
                        <label class="paramlabel">Minimum %
                            identity</label><br>
                        <div class="insertspinner" name="min_ident" data-dojo-type="dijit/form/NumberSpinner" value="10" data-dojo-attach-point="min_ident" data-dojo-props="smallDelta:5, constraints:{min:10,max:100,places:0}"></div>
                      </div>
                    </div>
                    <div class="appRow">
                      <label class="paramlabel">Output Folder</label><br>
                      <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path" data-dojo-attach-point="output_path" required="true" data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false" data-dojo-attach-event="onChange:onOutputPathChange"></div>
                    </div>
                    <div class="appRow">
                      <label class="paramlabel">Output Name</label><span class="charError" style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
                      <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" data-dojo-attach-event="onChange:checkOutputName" name="output_file" data-dojo-attach-point="output_file" style="width:85%" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="appBox appShadow">
                    <div class="headerrow">
                      <div style="width:85%;display:inline-block;">
                        <label class="appBoxLabel">Reference Genome</label>
                        <div name="reference-genome-selection" class="infobox iconbox infobutton dialoginfo">
                          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                        </div>
                        <br>
                        <div class="appsublabel">Select 1 reference genome from the following options.</div>
                      </div>
                    </div>
                    <div class="appRow">
                      <label>Select a genome</label><br>
                      <div data-dojo-attach-event="onChange:onSuggestNameChange" data-dojo-type="p3/widget/GenomeNameSelector" name="ref_genome_id" maxHeight="200" style="width:85%" required="false" data-dojo-attach-point="ref_genome_id"></div>
                      <br>
                      <label>or a fasta file</label><br>
                      <div data-dojo-attach-event="onChange:onSuggestNameChange" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="ref_user_genomes_fasta" style="width:100%" required="false" data-dojo-attach-point="ref_user_genomes_fasta" data-dojo-props="type:['feature_protein_fasta'],multi:false,promptMessage:'Select or Upload protein fasta file to your workspace for Comparison',missingMessage:'User genome file is optional.', placeHolder:'Optional'"></div>
                      <label>or a feature group</label><br>
                      <div data-dojo-attach-event="onChange:onSuggestNameChange" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="ref_user_genomes_featuregroup" style="width:100%" required="false" data-dojo-attach-point="ref_user_genomes_featuregroup" data-dojo-props="type:['feature_group'],multi:false,promptMessage:'Select a feature group',missingMessage:'Feature group is optional.', placeHolder:'Optional'"></div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
          <td>
            <div class="appBox appShadow">
              <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                  <label class="appBoxLabel">Comparison Genomes</label>
                  <div name="comparison-genomes-selection" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                  </div>
                </div>
                <br>
                <div class="appsublabel">Add up to 9 genomes to compare (use plus buttons to add).</div>
              </div>
              <div class="appRow">
                <label>Select genome</label><br>
                <div style="width:85%;display:inline-block;" data-dojo-attach-event="onChange:onSuggestNameChange" data-dojo-type="p3/widget/GenomeNameSelector" name="comp_genome_id" maxHeight="200" required="false" data-dojo-attach-point="comp_genome_id"></div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddGenome" class="fa icon-plus-circle fa-lg"></i></div>
                <br>
                <label>And/or select protein fasta file</label><br>
                <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="user_genomes_fasta" required="false" data-dojo-attach-point="user_genomes_fasta" data-dojo-props="type:['feature_protein_fasta'],multi:false,promptMessage:'Select or Upload protein fasta file to your workspace for Comparison',missingMessage:'User genome file is optional.', placeHolder:'Optional'"></div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddFasta" class="fa icon-plus-circle fa-lg"></i>
                </div>
                <br>
                <label>And/or select feature group</label><br>
                <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="user_genomes_featuregroup" required="false" data-dojo-attach-point="user_genomes_featuregroup" data-dojo-props="type:['feature_group'],multi:false,promptMessage:'Select a feature group from your workspace for Comparison',missingMessage:'Feature group is optional.', placeHolder:'Optional'"></div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddFeatureGroup" class="fa icon-plus-circle fa-lg"></i></div>
                <br>
                <label>And/or select genome group</label><br>
                <div style="width:85%;display:inline-block;" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="user_genomes_genomegroup" required="false" data-dojo-attach-point="user_genomes_genomegroup" data-dojo-props="type:['genome_group'],multi:false,promptMessage:'Select a genome group from your workspace for Comparison',missingMessage:'Genome group is optional.', placeHolder:'Optional'"></div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddGenomeGroup" class="fa icon-plus-circle fa-lg"></i></div>
                <br>
              </div>
              <div class="appRow">
                <label> selected genome table</label>
              </div>
              <div class="appRow" style="width:90%; margin-top:10px; text-align: center;">
                <table class="librarytable" frame="box" data-dojo-attach-point="genomeTable" style="margin:0 0 0 10px; width:100%;">
                  <tbody data-dojo-attach-point="genomeTableBody">
                  </tbody>
                </table>
              </div>
              <!-- Used in the js to get the genome name for a given taxon id -->
              <!-- <div data-dojo-type="p3/widget/GenomeNameSelector" style="display:none" data-dojo-attach-point="scientific_nameWidget"></div> -->
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="appSubmissionArea">
    <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage" style="margin-top:10px; text-align:center;">
      Comparing Genomes
    </div>
    <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage" style="margin-top:10px; text-align:center;">
      Error Submitting Job. Please check the submission form and make sure that ONE reference genome is selected.
    </div>
    <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage" style="margin-top:10px; text-align:center;">
      Proteome Comparison should be finished shortly. Check workspace for results.
    </div>
    <div style="margin-top: 10px; text-align:center;">
      <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
      <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
    </div>
  </div>
</form>
