<form dojoAttachPoint="containerNode" class="PanelForm"
      dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
    <div class="appTemplate">
        <div class="appTitle">
            <span class="breadcrumb">Services</span>
            <h3>Sequence Submission
                <!--<div name="overview" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                </div>
                <div class="infobox iconbox tutorialButton tutorialInfo">
                    <a href="${docsServiceURL}${tutorialLink}" target="_blank">
                        <i class="fa icon-books fa-1x" title="click to open tutorial"></i>
                    </a>
                </div>-->
            </h3>
            <p>
                ${applicationDescription} For further explanation, please see the ${applicationLabel} Service
                <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a> and
                <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a>.
                <b>Note: Current pipeline only supports Influenza A, B, or C virus family.</b></p>
            </p>
            <br>
            <p>
                Please remove primer/vector sequence from either 5' or 3' end of influenza virus sequence before submitting.
            </p>
            <br>
            <p>
                Click <a href="${templateFolderURL}" target="_blank">here</a> to download the metadata CSV template, example FASTA file and sequence submission metadata format.
            </p>
        </div>
        <div class="appBox appShadow" style="margin-top:10px">
            <div class="headerrow">
                <div data-dojo-attach-point="submitterinfo" style="display:inline-block">
                    <label class="appBoxLabel">Submitter Information</label>
                    <div class="iconbox" style="margin-left:0px">
                        <i data-dojo-attach-point="submittericon" class="fa icon-caret-left fa-1"></i>
                    </div>
                </div>
            </div>
            <div data-dojo-attach-point="submitterrow">
                <div class="appRow">
                    <div class="appRowSegment" style="text-align:left; width:30%">
                        <label class="paramlabel">First Name *</label><br>
                        <div data-dojo-type="dijit/form/ValidationTextBox" name="first_name"
                             data-dojo-attach-point="first_name" required="true"
                             data-dojo-props="intermediateChanges:false, missingMessage:'You must provide a first name',trim:true"></div>
                    </div>
                    <div class="appRowSegment" style="text-align:left; width:30%">
                        <label class="paramlabel">Last Name *</label><br>
                        <div data-dojo-type="dijit/form/ValidationTextBox" name="last_name"
                             data-dojo-attach-point="last_name" required="true"
                             data-dojo-props="intermediateChanges:false, missingMessage:'You must provide a last name',trim:true"></div>
                    </div>
                    <div class="appRowSegment" style="text-align:left; width:30%">
                        <label class="paramlabel">Email *</label><br>
                        <div data-dojo-type="dijit/form/ValidationTextBox" name="email" data-dojo-attach-point="email"
                             required="true"
                             data-dojo-props="intermediateChanges:false, missingMessage:'You must provide an email',trim:true"></div>
                    </div>
                </div>
                <div class="appRow">
                    <div class="appRowSegment" style="text-align:left; width:30%">
                        <label class="paramlabel">Phone Number</label><br>
                        <div data-dojo-type="dijit/form/ValidationTextBox" name="phoneNumber"
                             data-dojo-attach-point="phoneNumber"
                             data-dojo-attach-event="onChange:validate"
                             data-dojo-props="intermediateChanges:false, errorMessage: 'It sh', missingMessage:'You must provide a phone number', trim:true"></div>
                        <div class="warning" data-dojo-attach-point="phoneNumber_message"></div>
                    </div>
                    <div class="appRowSegment" style="text-align:left; width:30%">
                        <label class="paramlabel">Institution / Affiliation *</label><br>
                        <div data-dojo-type="dijit/form/ValidationTextBox" name="affiliation"
                             data-dojo-attach-point="affiliation" required="true"
                             data-dojo-props="intermediateChanges:false, missingMessage:'You must provide an affiliation',trim:true"></div>
                    </div>
                    <div class="appRowSegment" style="text-align:left; width:30%">
                        <label class="paramlabel">Consortium</label><br>
                        <div data-dojo-type="dijit/form/ValidationTextBox" name="consortium"
                             data-dojo-attach-point="consortium"
                             data-dojo-props="intermediateChanges:false, trim:true"></div>
                    </div>
                </div>
                <div class="appRow">
                    <div class="appRowSegment" style="text-align:left; width:60%">
                        <label class="paramlabel">Street</label><br>
                        <div data-dojo-type="dijit/form/ValidationTextBox" name="street"
                             data-dojo-attach-point="street" style="width:99%"
                             data-dojo-props="intermediateChanges:false, trim:true"></div>
                    </div>
                    <div class="appRowSegment" style="text-align:left; width:0%">
                    </div>
                    <div class="appRowSegment" style="text-align:left; width:30%">
                        <label class="paramlabel">Postal Code</label><br>
                        <div data-dojo-type="dijit/form/ValidationTextBox" name="postal_code"
                             data-dojo-attach-point="postal_code"
                             data-dojo-props="intermediateChanges:false, trim:true"></div>
                    </div>
                </div>
                <div class="appRow">
                    <div class="appRowSegment" style="text-align:left; width:30%">
                        <label class="paramlabel">City</label><br>
                        <div data-dojo-type="dijit/form/ValidationTextBox" name="city"
                             data-dojo-attach-point="city"
                             data-dojo-props="intermediateChanges:false, trim:true"></div>
                    </div>
                    <div class="appRowSegment" style="text-align:left; width:30%">
                        <label class="paramlabel">State</label><br>
                        <div data-dojo-type="dijit/form/ValidationTextBox" name="state_info"
                             data-dojo-attach-point="state_info"
                             data-dojo-props="intermediateChanges:false, trim:true"></div>
                    </div>
                    <div class="appRowSegment" style="text-align:left; width:30%">
                        <label class="paramlabel">Country *</label><br>
                        <div data-dojo-type="dijit/form/FilteringSelect" name="country"
                             data-dojo-attach-point="country" required="true"
                             data-dojo-props="placeHolder:'e.g. China', missingMessage:'You must provide a country'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="appBox appShadow">
            <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                    <label class="appBoxLabel">Sequence FASTA File</label>
                </div>
                <br>
                <div class="appRow">
                    <input id="${id}_input_sequence" type="radio" data-dojo-type="dijit/form/RadioButton"
                           data-dojo-attach-point="input_sequence" name="input" value="input_sequence"
                           data-dojo-attach-event="onChange:onInputChange" checked/>
                    <label for="${id}_input_sequence">Enter sequence</label>
                    <input id="${id}_input_fasta" type="radio" data-dojo-type="dijit/form/RadioButton"
                           data-dojo-attach-point="input_fasta" name="input" value="input_fasta"
                           data-dojo-attach-event="onChange:onInputChange"/>
                    <label for="${id}_input_fasta">Select FASTA file</label>
                </div>
                <table data-dojo-attach-point="sequence_table" style="width:100%; display:none">
                    <tr>
                        <td>
                            <textarea name="sequence"
                                      style="width:96%; height:175px; margin-left:10px; font-family: monospace; font-size:12px"
                                      data-dojo-attach-point="sequence" data-dojo-type="dijit/form/Textarea"
                                      required="false"
                                      data-dojo-props="rows:13, placeholder:'Enter one or more nucleotide sequences in the following FASTA format for submission. Requires FASTA format. \n\nThe defline of each FASTA sequence should be in the format of \n\n\'>Unique_Sample_Identifier: yourSampleID|Unique_Sequence_Identifier: yourSampleID-segmentNumber\nAGCAAAAGCAGGGTAGATAATCACTCAATGAGTGACATCGAAGCCATGGCGTCTCAAGGCACCAAACGATCATATGAACAAATGGAGACTGGTGGGGAGCGCCAGGATGCCACAGAAATC\'', intermediateChanges:true"
                                      data-dojo-attach-event="onBlur:checkFasta"></textarea>
                            <div class="warning" data-dojo-attach-point="sequence_message"></div>
                        </td>
                    </tr>
                </table>
                <table data-dojo-attach-point="fasta_table" style="width:100%; display:none">
                    <tr>
                        <td>
                            <div style="width:85%;display:inline-block;"
                                 data-dojo-type="p3/widget/WorkspaceObjectSelector" name="query_fasta" required="false"
                                 data-dojo-attach-point="query_fasta" data-dojo-attach-event="onChange:validate"
                                 data-dojo-props="type:['feature_dna_fasta', 'contigs'],multi:false,promptMessage:'Select or upload FASTA file to your workspace.',missingMessage:'FASTA file is required.',placeHolder:'FASTA file'">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="headerrow" style="margin: 16px 0 7px 0">
                <label class="appBoxLabel">Metadata file</label>
            </div>
            <div class="appRow">
                <div style="width:85%;display:inline-block;"
                     data-dojo-type="p3/widget/WorkspaceObjectSelector" name="metadata" required="true"
                     data-dojo-attach-point="metadata" data-dojo-attach-event="onChange:validate"
                     data-dojo-props="type:['csv'],multi:false,promptMessage:'Select or upload CSV file to your workspace.',missingMessage:'Metadata file is required.',placeHolder:'Metadata file'">
                </div>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="headerrow" style="margin: 16px 0 7px 0">
                            <label class="appBoxLabel">Output Folder</label>
                        </div>
                        <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path"
                             data-dojo-attach-point="output_path" style="width:300px" required="true"
                             data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',title:'Select an Output Folder',type:['folder'],multi:false,placeHolder:'Output Folder'"
                             data-dojo-attach-event="onChange:onOutputPathChange"></div>
                    </td>
                    <td>
                        <div class="headerrow" style="margin: 16px 0 7px 0">
                            <label class="appBoxLabel">Output Name</label><span class="charError"
                                                                                style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
                        </div>
                        <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" name="output_file"
                             data-dojo-attach-event="onChange:checkOutputName" data-dojo-attach-point="output_file"
                             style="width:300px" required="true"
                             data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="warning" data-dojo-attach-point="database_message"></div>
        </div>
    </div>
    <div class="appSubmissionArea">
        <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage"
             style="margin-top:10px; text-align:center;">
            Validating metadata and FASTA files
        </div>
        <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage"
             style="margin-top:10px; text-align:center;width: fit-content">
            Error submitting job
        </div>
        <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
             style="margin-top:10px; text-align:center;">
            Your job has been submitted successfully. Please visit your <a
                data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and
            access the results.
        </div>
        <div style="margin-top: 10px; text-align:center;">
            <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel"
                 data-dojo-type="dijit/form/Button">Cancel
            </div>
            <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset
            </div>
            <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Annotate and
                Validate
                Sequence(s)
            </div>
        </div>
    </div>
</form>