<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}" dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div style="width: 340px;margin:auto;">
    <div class="apptitle" id="apptitle">
      <h1 class="appHeader">Genome Annotation</h1>
      <p>Annotates genomes using RASTtk.</p>
    </div>
    <div style="width:340px; margin:auto" class="formFieldsContainer">
      <div id="annotationBox" style="width:340px;" class="appBox appshadow">
        <div class="headerrow">
          <div style="width:85%;display:inline-block;">
            <label class="appBoxLabel">Parameters</label>
            <div name="parameterinfo" class="infobox iconbox infobutton dialoginfo">
              <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
          </div>
        </div>
        <div class="appRow">
          <div class="appField">
            <label>Contigs</label><br>
            <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="contigs" style="width:100%" required="true" data-dojo-props="type:['contigs'],multi:false,promptMessage:'Select or Upload Contigs to your workspace for Annotation',missingMessage:'Contigs must be provided.'"></div>
          </div>
        </div>
        <div class="appRow">
          <div class="appField">
            <label>Output Name</label><span class="charError" style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
            <div data-dojo-attach-event="onChange:checkOutputName" data-dojo-attach-point="output_file" data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" name="output_file" style="width:100%" required="true" data-dojo-props="intermediateChanges:true,promptMessage:'The output name for your Annotation Results',missingMessage:'Output Name must be provided.',trim:true,placeHolder:'Output Name'"></div>
          </div>
        </div>
        <div class="appRow">
          <div class="appField">
            <label>Domain</label><br>
            <select data-dojo-type="dijit/form/Select" name="domain" data-dojo-attach-point="workspaceName" style="width:100%" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name Must be provided for Folder',trim:true,placeHolder:'MySubFolder'">
            <option value="Bacteria">Bacteria</option>
            <option value="Archaea">Archaea</option>
          </select>
          </div>
        </div>
        <div class="appRow">
          <div class="appField">
            <label>Taxonomy ID / Name / Rank</label><br>
            <div data-dojo-attach-event="onChange:onSuggestNameChange" data-dojo-type="p3/widget/TaxonInfoSelector" name="scientific_name" maxHeight="200" style="width:100%" required="true" data-dojo-attach-point="scientific_nameWidget"></div>
          </div>
        </div>
        <div style="display:none" class="appRow">
          <div class="appField">
            <label>Taxonomy ID</label><br>
            <div data-dojo-attach-event="onChange:onTaxIDChange" data-dojo-type="p3/widget/TaxIDSelector" value="" name="tax_id" maxHeight="200" style="width:100%" required="true" data-dojo-attach-point="tax_idWidget"></div>
          </div>
        </div>
        <div class="appRow">
          <div class="appField">
            <label>Genetic Code</label><br>
            <select data-dojo-attach-point="genetic_code" data-dojo-type="dijit/form/Select" name="code" style="width:100%" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name Must be provided for Folder',trim:true,placeHolder:'MySubFolder'">
            <option value="11">11 (Archaea & most Bacteria)</option>
            <option value="4">4 (Mycoplasma, Spiroplasma, & Ureaplasma )</option>
          </select>
          </div>
        </div>
        <div class="appRow">
          <div class="appField">
            <label>Output Folder</label><br>
            <div data-dojo-attach-point="output_pathWidget" data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path" style="width:100%" required="true" data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false,value:'${activeWorkspacePath}',workspace:'${activeWorkspace}',promptMessage:'The output folder for your Annotation Results',missingMessage:'Output Folder must be selected.'"
              data-dojo-attach-event="onChange:onOutputPathChange"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="appSubmissionArea">
      <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage" style="margin-top:10px; text-align:center;">
        Submitting Annotation Job
      </div>
      <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage" style="margin-top:10px; text-align:center;">
        Error Submitting Job
      </div>
      <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage" style="margin-top:10px; text-align:center;">
        Annotation Job has been queued.
      </div>
      <div style="margin-top: 10px; text-align:center;">
        <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel</div>
        <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
        <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Annotate</div>
      </div>
    </div>
  </div>
</form>
