<form dojoAttachPoint="containerNode" class="PanelForm"
    dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">

    <div style="width: 420px;margin:auto;margin-top: 10px;padding:10px;">
    <h1 class="appHeader">Sleep</h1>
    <p>Sleep Application For Testing Purposes</p>
    <div style="margin-top:10px;text-align:left">
      <label>Sleep Time</label><br>
      <input data-dojo-type="dijit/form/NumberSpinner" value="10" name="sleep_time" require="true" data-dojo-props="constraints:{min:1,max:100}" />
    </div>
    <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage" style="margin-top:10px; text-align:center;">
      Submitting Sleep Job
    </div>
    <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage" style="margin-top:10px; text-align:center;">
      Error Submitting Job
    </div>
    <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage" style="margin-top:10px; text-align:center;">
      Sleep Job has been queued.
    </div>
    <div style="margin-top: 10px; text-align:center;">
      <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel</div>
      <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
      <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Run</div>
    </div>
  </div>
</form>

