<form dojoAttachPoint="containerNode" class="PanelForm"
    dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
    <div class="appTemplate">
        <div class="appTitle">
            <span class="breadcrumb">Services</span>
            <h3>Subspecies Classification
                <div name="overview" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                </div>
                <div class="infobox iconbox tutorialButton tutorialInfo">
                    <a href="${docsServiceURL}${tutorialLink}" target="_blank">
                        <i class="fa icon-books fa-1x" title="click to open tutorial"></i>
                    </a>
                </div>
            </h3>
            <p>
                ${applicationDescription} Link to <a href="https://matsen.fhcrc.org/pplacer" target="_blank">pplacer</a>
                and <a
                    href="https://github.com/cmzmasek/forester/blob/master/forester/java/src/org/forester/application/cladinator.java"
                    target="_blank">Cladinator</a>.
            </p>
            <br>
            <p>For further explanation, please see the ${applicationLabel} Service <a
                    href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a> and <a
                    href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a>.</p>
        </div>
        <div class="appBox appShadow" style="margin-top:10px">
            <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                    <label class="appBoxLabel">Query source</label>
                        <div name="query-source" class="infobox iconbox infobutton dialoginfo">
                            <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                        </div>
                </div>
                <br>
                <div class="appRow">
                    <input id="${id}_input_sequence" type="radio" data-dojo-type="dijit/form/RadioButton"
                        data-dojo-attach-point="input_sequence" name="input" value="input_sequence"
                        data-dojo-attach-event="onChange:onInputChange" checked />
                    <label for="${id}_input_sequence">Enter sequence</label>
                    <input id="${id}_input_fasta" type="radio" data-dojo-type="dijit/form/RadioButton"
                        data-dojo-attach-point="input_fasta" name="input" value="input_fasta"
                        data-dojo-attach-event="onChange:onInputChange" />
                    <label for="${id}_input_fasta">Select FASTA file</label>
                    <!--<input id="${id}_input_group" type="radio" data-dojo-type="dijit/form/RadioButton"
                           data-dojo-attach-point="input_group" name="input" value="input_group"
                           data-dojo-attach-event="onChange:onInputChange" />
                    <label for="${id}_input_group">Select genome group</label>-->
                </div>
                <table data-dojo-attach-point="sequence_table" style="width:100%; display:none">
                    <tr>
                        <td>
                            <!-- <div class="service_form"> -->
                            <textarea name="sequence"
                                style="width:96%; height:175px; margin-left:10px; font-family: monospace; font-size:12px"
                                data-dojo-attach-point="sequence" data-dojo-type="dijit/form/Textarea" required="false"
                                data-dojo-props="rows:13, placeholder:'Enter one or more query nucleotide or protein sequences to search. Requires FASTA format.', intermediateChanges:true"
                                data-dojo-attach-event="onBlur:checkFasta"></textarea>
                            <div class="warning" data-dojo-attach-point="sequence_message"></div>
                            <!-- </div>> -->
                        </td>
                    </tr>
                </table>
                <table data-dojo-attach-point="fasta_table" style="width:100%; display:none">
                    <tr>
                        <td>
                            <div style="width:85%;display:inline-block;"
                                data-dojo-type="p3/widget/WorkspaceObjectSelector" name="query_fasta" required="false"
                                data-dojo-attach-point="query_fasta" data-dojo-attach-event="onChange:validate"
                                data-dojo-props="type:['feature_protein_fasta', 'feature_dna_fasta', 'genome_protein_fasta', 'genome_dna_fasta', 'contigs'],multi:false,promptMessage:'Select or upload FASTA file to your workspace.',missingMessage:'FASTA file is required.',placeHolder:'FASTA file'">
                            </div>
                        </td>
                    </tr>
                </table>
                <table data-dojo-attach-point="group_table" style="width:100%; display:none">
                    <tr>
                        <td>
                            <div style="width:85%;display:inline-block;"
                                data-dojo-type="p3/widget/WorkspaceObjectSelector" name="query_genomegroup"
                                required="false" data-dojo-attach-point="query_genomegroup"
                                data-dojo-attach-event="onChange:validate"
                                data-dojo-props="type:['genome_group'],multi:false,promptMessage:'Select a genome group from your workspace.',missingMessage:'Genome group is required.',placeHolder:'Genome group'">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="appBox appShadow">
            <div class="appRow">
                <!--<div class="appRowSegment" style="margin-left: 0px; text-align:left; width:60%">
                    <div class="headerrow" style="margin-bottom: 7px">
                        <label class="appBoxLabel">MSA Fasta file</label>
                    </div>
                    <div data-dojo-attach-point="fasta_wrapper">
                        <label class="paramlabel">Select : </label><br />
                        <div name="ref_msa_fasta_file" data-dojo-attach-event="onChange:validate" required="false"
                             data-dojo-type="p3/widget/WorkspaceObjectSelector" style="width: 100%"
                             data-dojo-attach-point="ref_msa_fasta_file"
                             data-dojo-props="type:['aligned_dna_fasta'],multi:false,promptMessage:'Select or upload fasta file to your workspace.',missingMessage:'User file is required for mafft.'">
                        </div>
                        <div class="warning" data-dojo-attach-point="ref_msa_fasta_file_message"></div>
                    </div>
                </div>-->
                <div style="text-align:left; width:50%">
                    <div class="headerrow" style="margin-bottom: 7px">
                        <label class="appBoxLabel">Species</label>
                            <div name="query-source" class="infobox iconbox infobutton dialoginfo">
                                <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                            </div>                        
                    </div>
                    <div data-dojo-type="dijit/form/Select" name="virus_type" data-dojo-props="disabled:false"
                        maxHeight="200" style="width:100%" required="true" data-dojo-attach-point="virus_type">
                    </div>
                    <div class="warning" data-dojo-attach-point="virus_type_message"></div>
                </div>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="headerrow" style="margin: 16px 0 7px 0">
                            <label class="appBoxLabel">Output Folder</label>
                        </div>
                        <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path"
                            data-dojo-attach-point="output_path" style="width:300px" required="true"
                            data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',title:'Select an Output Folder',type:['folder'],multi:false,placeHolder:'Output Folder'"
                            data-dojo-attach-event="onChange:onOutputPathChange"></div>
                    </td>
                    <td>
                        <div class="headerrow" style="margin: 16px 0 7px 0">
                            <label class="appBoxLabel">Output Name</label><span class="charError"
                                style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
                        </div>
                        <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox" name="output_file"
                            data-dojo-attach-event="onChange:checkOutputName" data-dojo-attach-point="output_file"
                            style="width:300px" required="true"
                            data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="warning" data-dojo-attach-point="database_message"></div>
        </div>
    </div>
    <div class="appSubmissionArea">
        <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage"
            style="margin-top:10px; text-align:center;">
            Submitting Subspecies Classification job
        </div>
        <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage"
            style="margin-top:10px; text-align:center;">
            Error submitting job
        </div>
        <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
            style="margin-top:10px; text-align:center;">
            Your job has been submitted successfully. Please visit your <a
                data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and
            access the results.
        </div>
        <div style="margin-top: 10px; text-align:center;">
            <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel"
                data-dojo-type="dijit/form/Button">Cancel
            </div>
            <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset
            </div>
            <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit
            </div>
        </div>
    </div>
</form>