<form dojoAttachPoint="containerNode" 
      class="PanelForm App ${baseClass}" 
      dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h3>${applicationLabel}
        <div name="overview" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>
        <div class="infobox iconbox tutorialButton tutorialInfo">
          <a href="${docsServiceURL}${tutorialLink}" target="_blank" ><i class="fa icon-books fa-1x" title="click to open tutorial"></i></a>
        </div>
        <div class="infobox iconbox videoButton videoInfo">
          <a href="${videoLink}" target="_blank" ><i class="fa icon-play-circle fa-1x" title="click to open the video tutorial"></i></a>
        </div>
      </h3>
      <p>
        ${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a>, <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a> and <a href="${videoLink}" target="_blank">Instructional Video</a>.
      </p>
    </div>
    <div class="formFieldsContainer">
      <div style="display: none;">
        <input data-dojo-type="dijit/form/NumberTextBox" 
               value="0" required="true" 
               data-dojo-attach-point="numlibs" 
               data-dojo-props="constraints:{min:1,max:1000}," />
      </div>
      </div>
      <table data-dojo-attach-point="readTable" style="width:100%">
        <tr>
          <td>
            <div id="pairedBox" class="appBox appShadow">
              <div class="headerrow">
                <div style="width: 400px;display:inline-block;">
                  <label class="appBoxLabel">Input File</label>
                  <div name="input-file" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                  </div>
                </div>
              </div>
              <div class="appRow">
                <div style="width:85%;display:inline-block;">
                  <label class="paramlabel">Paired read library</label>
                </div>
                <div style="width:10%;display:inline-block;">
                  <i data-dojo-attach-event="click:onAddPair" class="fa icon-arrow-circle-o-right fa-lg"></i>
                </div>
              </div>
              <div class="appRow">
                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" 
                  name="libdat_file1pair" 
                  data-dojo-attach-point="read1" 
                  style="width:300px" 
                  required="false" 
                  data-dojo-props="type:['reads'],multi:false,placeHolder:'READ FILE 1'"
                  data-dojo-attach-event="change:setPairedId"
                ></div>
              </div>
              <div class="appRow">
                <div data-dojo-attach-point="read2block">
                  <div data-dojo-type="p3/widget/WorkspaceObjectSelector" 
                    name="libdat_file2pair" 
                    data-dojo-attach-point="read2" 
                    style="width:300px" 
                    required="false" 
                    data-dojo-props="type:['reads'],multi:false,placeHolder:'READ FILE 2'"
                    ></div>
                </div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Sample Identifier</label><br>
                <input  name="paired_sample_id"
                        style="width:75%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                        data-dojo-attach-point="paired_sample_id"
                        data-dojo-type="dijit/form/ValidationTextBox"
                        data-dojo-props="trim:true,placeholder:'Sample ID', intermediateChanges:true"
                        required="false"/>
              </div>
              <div class="appRow">
                <div style="width:85%;display:inline-block;">
                  <label class="paramlabel">Single read library</label>
                </div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddSingle" class="fa icon-arrow-circle-o-right fa-lg"></i></div>
              </div>
              <div class="appRow">
                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" 
                      name="libdat_readfile" 
                      data-dojo-attach-point="single_end_libsWidget" 
                      style="width:285px" required="false" 
                      data-dojo-props="type:['reads'],multi:false,placeHolder:'READ FILE'"
                      data-dojo-attach-event="change:setSingleId"
                      ></div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Sample Identifier</label><br>
                <input  name="single_sample_id"
                        style="width:75%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                        data-dojo-attach-point="single_sample_id"
                        data-dojo-type="dijit/form/ValidationTextBox"
                        data-dojo-props="trim:true,placeholder:'Sample ID', intermediateChanges:true"
                        required="false"/>
              </div>
              <div class="appRow">
                <div style="width:85%;display:inline-block;">
                  <label class="paramlabel">SRA run accession</label><i data-dojo-attach-point="srr_accession_validation_message"></i>
                </div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddSRR" class="fa icon-arrow-circle-o-right fa-lg"></i></div>
              </div>
              <div class="appRow">
                <div data-dojo-type="dijit/form/ValidationTextBox" 
                    data-dojo-attach-point="srr_accession" 
                    style="width: 300px" 
                    required="false" 
                    data-dojo-props="intermediateChanges:true, missingMessage:'You must provide an accession', trim:true, placeHolder:'SRR'"
                    data-dojo-attach-event="change:setSrrId"
                    ></div>
                <div class="appRow">
                  <label class="paramlabel">Sample Identifier</label><br>
                  <input  name="srr_sample_id"
                          style="width:75%; height:20px; margin-left:10px; font-family: monospace; font-size:12px"
                          data-dojo-attach-point="srr_sample_id"
                          data-dojo-type="dijit/form/ValidationTextBox"
                          data-dojo-props="trim:true,placeholder:'Sample ID', intermediateChanges:true"
                          required="false"/>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="appBox appShadow" style="min-height:400px; width:400px;", >
              <div class="headerrow">
                <label class="appBoxLabel">Selected Libraries</label>
                <div name="selected-libraries" class="infobox iconbox infobutton tooltipinfo">
                  <i class="fa icon-question-circle fa"></i>
                </div>
                <br>
                <div class="appsublabel">Place read files here using the arrow buttons.</div>
              </div>
              <div class="appRow" style="width:100%; margin-top:10px; text-align: center;">
                <table class="librarytable" 
                       frame="box" 
                       data-dojo-attach-point="libsTable" 
                       style="margin:0 0 0 10px; width:90%;">
                  <tbody data-dojo-attach-point="libsTableBody">
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div data-dojo-attach-point="annotationFileBox" style="min-height: 400px; width:400px; display:none" class="appBox appShadow">
        <div class="headerrow">
          <div style="width:85%;display:inline-block;">
            <label class="appBoxLabel">Input File</label>
          </div>
        </div>
      </div>
      <div id="parameterBox" style="width:400px; " class="appBox appShadow">
        <div class="headerrow">
          <div style="width:85%;display:inline-block;">
            <label class="appBoxLabel">Parameters</label>
            <div name="parameters" class="infobox iconbox infobutton dialoginfo">
              <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
              <!-- start new feature message -->
              <html>
              <head>
                  <style>
                      @keyframes blink {
                          0% { opacity: 0; }
                          50% { opacity: 1; }
                          100% { opacity: 0; }
                      }
          
                      .blink-text {
                          animation: blink 1s 3; /* Set animation to run 3 times */
                          color: red; /* Set the text color to red */
                      }
                  </style>
                  <script>
                      window.addEventListener('DOMContentLoaded', (event) => {
                          const blinkText = document.querySelector('.blink-text');
                          
                          // Remove the animation after 3 iterations
                          blinkText.addEventListener('animationiteration', () => {
                              blinkText.style.animation = 'none';
                          });
                      });
                  </script>
              </head>
              <body>
                  <p class="blink-text">New: 16S Analysis is now available!</p>
              </body>
              </html>
              <!-- end new feature message -->
          </div>
          <div class="appRow">
            <label>Sequencing Type</label>
            <!-- start of new i icon -->
              <div name="sequencing-type" class="infobox iconbox infobutton dialoginfo">
                <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
              </div><br>
                <!-- end new i icon -->
              <input type="radio" 
                     data-dojo-type="dijit/form/RadioButton" 
                     name="sequence_type" 
                     value="wgs" 
                     data-dojo-attach-point="wgs" 
                     data-dojo-attach-event="Change: changeDatabaseBySequenceType"
                     data-dojo-props="missingMessage:'You must select a sequence type'" checked />
              <label for="radio1">Whole Genome Sequencing (WGS)</label>
            </div>
              <input type="radio" 
                     data-dojo-type="dijit/form/RadioButton" 
                     name="sequence_type" value="sixteenS" 
                     data-dojo-attach-point="sixteenS" 
                     data-dojo-attach-event="Change: changeDatabaseBySequenceType" />
              <label for="radio2">16S RIBOSOMAL RNA</label>
          </div>
          <div class="appRow">
            <label class="paramlabel">Analysis Type</label>
            <!-- start of new i icon -->
            <div name="analysis-type" class="infobox iconbox infobutton dialoginfo">
              <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div><br>
              <!-- end new i icon -->
            <select data-dojo-type="dijit/form/Select" 
                    name="analysis_type" 
                    data-dojo-attach-point="analysis_type" 
                    style="width:300px" 
                    required="true" 
                    data-dojo-props="intermediateChanges:true,missingMessage:'You must select a Sequencing type before analysis type',displayedValue:'Analysis type'" />
              <option value="microbiome">Microbiome Analysis</option>
              <option value="pathogen">Species Identification</option>
              <option value="16S">Default</option>
            </select>
        <div class="appRow">
            <label class="paramlabel">Database</label>
              <!-- start of new i icon -->
              <div name="database" class="infobox iconbox infobutton dialoginfo">
                <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
              </div><br>
                <!-- end new i icon -->
            <select data-dojo-type="dijit/form/Select" 
                    name="database" 
                    style="width:300px" 
                    required="true" 
                    data-dojo-attach-point="database"
                    data-dojo-attach-event="onChange: checkParameterRequiredFields"
                    data-dojo-props="intermediateChanges:true, missingMessage:'You must select a datbase'">
              <option value="bvbrc">BV-BRC Database</option>
              <option value="standard">Kraken2 Standard Database</option>
              <option value="SILVA">SILVA</option>
              <option value="Greengenes">Greengenes</option>
            </select>
        </div>
        <div class="appRow">
          <label>Filter Host Reads</label>
          <!-- start of new i icon -->
          <div name="filter-host-reads" class="infobox iconbox infobutton dialoginfo">
            <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
          </div><br>
            <!-- end new i icon -->
          <select data-dojo-type="dijit/form/Select" 
                  name="host_genome" 
                  data-dojo-attach-point="host_genome" 
                  style="width:300px" 
                  required="true" 
                  data-dojo-props="intermediateChanges:false">
            <option value="no_host" selected="selected">None</option>
            <option value="homo_sapiens">Homo sapiens</option>
            <option value="mus_musculus">Mus musculus</option>
            <option value="rattus_norvegicus">Rattus norvegicus</option>
            <option value="caenorhabditis_elegans">Caenorhabditis elegans</option>
            <option value="drosophila_melanogaster_strain">Drosophila melanogaster strain y</option>
            <option value="danio_rerio_strain_tuebingen">Danio rerio strain tuebingen</option>
            <option value="gallus_gallus">Gallus gallus</option>
            <option value="macaca_mulatta">Macaca mulatta</option>
            <option value="mustela_putorius_furo">Mustela putorius furo</option>
            <option value="sus_scrofa">Sus scrofa</option>
          </select>
      </div>
      <div class="appRow">
        <label>Confidence Interval</label>
        <!-- start of new i icon -->
        <div name="confidence-interval" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div><br>
          <!-- end new i icon -->
        <select data-dojo-type="dijit/form/Select" 
                name="confidence_interval" 
                style="width:300px" 
                required="true" 
                data-dojo-props="intermediateChanges:true">
          <option value="0">0</option>
          <option value="0.1" selected="selected">0.1</option>
          <option value="0.2">0.2</option>
          <option value="0.3">0.3</option>
          <option value="0.4">0.4</option>
          <option value="0.5">0.5</option>
          <option value="0.6">0.6</option>
          <option value="0.7">0.7</option>
          <option value="0.8">0.8</option>
          <option value="0.9">0.9</option>
          <option value="1">1</option>
      </select>
    </div>
      <div class="appRow">
        <label class="paramlabel">Save Classified Sequences</label><br>
        <input type="radio" 
               data-dojo-type="dijit/form/RadioButton" 
               name="save_classified_sequences" value="false" 
               data-dojo-attach-point="save_classified_sequences_no" checked />
        <label for="radio1">No</label>
        <input type="radio" 
               data-dojo-type="dijit/form/RadioButton" 
               name="save_classified_sequences" 
               value="true" 
               data-dojo-attach-point="save_classified_sequences_yes"/>
        <label for="radio2">Yes</label>
      </div>
        <div class="appRow">
          <label class="paramlabel">Save Unclassified Sequences</label><br>
          <input type="radio" 
                 data-dojo-type="dijit/form/RadioButton" 
                 name="save_unclassified_sequences" 
                 value="false" 
                 data-dojo-attach-point="save_unclassified_sequences_no" checked />
          <label for="radio1">No</label>
          <input type="radio" data-dojo-type="dijit/form/RadioButton" name="save_unclassified_sequences" value="true" data-dojo-attach-point="save_unclassified_sequences_yes"/>
          <label for="radio2">Yes</label>
      </div>
        <div class="appRow">
          <label>Output Folder</label><br>
          <div data-dojo-type="p3/widget/WorkspaceObjectSelector"
            name="output_path"
            data-dojo-attach-point="output_path"
            required="true"
            data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false" data-dojo-attach-event="onChange:onOutputPathChange">
          </div>
        </div>
        <div class="appRow">
          <label>Output Name</label><span class="charError" style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
          <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox"
            data-dojo-attach-event="onChange:checkOutputName"
            name="output_file"
            data-dojo-attach-point="output_file"
            style="width:85%"
            required="true"
            data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'">
          </div>
        </div>
      </div>
    </div>
    <div class="appSubmissionArea">
      <div style="width:400px; margin:auto" class="workingMessage messageContainer">
        Submitting Taxonomic Classification Job
      </div>
      <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
      style="margin-top:10px; text-align:center;" >
        Your job has been submitted successfully. Please visit your <a data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and access the results.
      </div>
      <div style="width:400px; margin:auto" class="errorMessage messageContainer">
        <div style="font-weight:900;font-size:1.1em;">Error Submitting Taxonomic Classification Job</div>
        <p data-dojo-attach-point="errorMessage">Error</p>
      </div>
      <div style="margin-top: 10px; text-align:center;">
        <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel
        </div>
        <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
        <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
      </div>
    </div>
  </div>
</form>
