<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}"
  dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
  <div class="appTemplate">
    <div class="appTitle">
      <span class="breadcrumb">Services</span>
      <h3>${applicationLabel}
        <div name="overview" class="infobox iconbox infobutton dialoginfo">
          <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
        </div>
        <div class="infobox iconbox tutorialButton tutorialInfo">
          <a href="${docsServiceURL}${tutorialLink}" target="_blank"><i class="fa icon-books fa-1x"
              title="click to open tutorial"></i></a>
        </div>
      </h3>
      <p>${applicationDescription} For further explanation, please see the ${applicationLabel} Service <a href="${docsServiceURL}${applicationHelp}"
        target="_blank">Quick Reference Guide</a> and
        <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a>.
      </p>
    </div>
    <div class="formFieldsContainer">
      <div style="display: none;">
        <input data-dojo-type="dijit/form/NumberTextBox" value="0" required="true" data-dojo-attach-point="numlibs"
          data-dojo-props="constraints:{min:1,max:1000}," />
      </div>
      <div style="display: none;">
        <input data-dojo-type="dijit/form/NumberTextBox" value="1" required="true"
          data-dojo-attach-point="numCondWidget" data-dojo-props="constraints:{min:1,max:1000}," />
      </div>
      <table class="assemblyblocks" style="width:100%">
        <tr>
          <td>
            <div id="pipelineBox" class="appBox appShadow">
              <div style="width:85%;display:inline-block;">
                <label class="appBoxLabel">Parameters</label>
                <div name="parameters" class="infobox iconbox infobutton dialoginfo">
                  <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                </div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Strategy</label><br>
                <select data-dojo-type="dijit/form/Select" name="recipe" data-dojo-attach-point="recipe"
                  style="width:300px" required="true" data-dojo-attach-event="onChange:onRecipeChange">
                  <option value="gumbel">Essential (gumbel or tn5gaps)</option>
                  <option value="resampling">Conditionally Essential (resampling)</option>
                </select>
                <div class="warning" data-dojo-attach-point="recipe_message"></div>
              </div>
              <div class="appRow">
                <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:40%">
                  <label class="paramlabel">Protocol</label><br>
                  <div>
                    <select data-dojo-type="dijit/form/Select" name="protocol" data-dojo-attach-point="protocol"
                      style="width:100%" required="true" data-dojo-attach-event="onChange:onProtocolChange">
                      <option value="sassetti">sassetti</option>
                      <option value="tn5">tn5 </option>
                      <option value="mme1">mme1 </option>
                    </select>
                  </div>
                </div>
                <div class="appRowSegment" style="text-align:left; width:40%">
                  <label class="paramlabel">Transposon</label><br>
                  <div data-dojo-type="dijit/form/TextBox" name="transposon" data-dojo-attach-point="transposon"
                    style="width:100%" required="true" data-dojo-attach-event="onChange:onTransposonChange">
                    <!-- <option value="himar1">himar1</option>
                    <option value="tn5">tn5</option> -->
                  </div>
                </div>
              </div>

              <div class="appRow" style="text-align:left;">
                <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:23%">
                  <label class="paramlabel" style="text-align:left">Trimming</label><br>
                  <div>
                    <select data-dojo-type="dijit/form/Select" name="primer_trimming"
                      data-dojo-attach-point="primer_trimming" style="width:100%" required="true"
                      data-dojo-attach-event="onChange:onPrimerTrimming">
                      <option value="Default">Default</option>
                      <option value="Custom">Custom</option>
                      <option value="None">None</option>
                    </select>
                  </div>
                </div>

                <div class="appRowSegment" style="margin-left: 0px; text-align:left; width:70%">
                  <label class="paramlabel" style="text-align:left">Primer Sequence</label>
                <div name="primer-sequence" class="infobox iconbox infobutton tooltipinfo">
                  <i class="fa icon-question-circle fa"></i>
                  </div>
                  <br>
                  <div data-dojo-type="dijit/form/ValidationTextBox" name="primer"
                    data-dojo-props="regExp:'[A|C|T|G|N|a|c|t|g|n]*', invalidMessage:'Must be a DNA string.'"
                    data-dojo-attach-point="primer" style="width:100%" required="false" uppercase="true" />
                </div>
              </div>

              <div class="appRow">
                <div class="appField">
                  <label>Target Genome</label><br>
                  <div data-dojo-attach-event="onChange:onSuggestNameChange"
                    data-dojo-type="p3/widget/GenomeNameSelector" name="genome_name" maxHeight="200" style="width:100%"
                    required="true" data-dojo-attach-point="genome_nameWidget"></div>
                </div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Output Folder</label><br>
                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="output_path"
                  data-dojo-attach-point="output_path" style="width:300px" required="true"
                  data-dojo-props="title:'Select an Output Folder',autoSelectCurrent:true,selectionText:'Destination',type:['folder'],multi:false"
                  data-dojo-attach-event="onChange:onOutputPathChange"></div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Output Name</label><span class="charError"
                  style="color:red; font-size:8pt; padding-left:10px; font-weight:bold">&nbsp;</span><br>
                <div data-dojo-type="p3/widget/WorkspaceFilenameValidationTextBox"
                  data-dojo-attach-event="onChange:checkOutputName" name="output_file"
                  data-dojo-attach-point="output_file" style="width:300px" required="true"
                  data-dojo-props="intermediateChanges:true,missingMessage:'Name must be provided for the job result',trim:true,placeHolder:'Output Name'">
                </div>
              </div>
            </div>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <div id="pairedBox" class="appBox appShadow">
              <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                  <label class="appBoxLabel"> Paired read library</label>
                  <div name="paired-read-library" class="infobox iconbox infobutton dialoginfo">
                    <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
                  </div>
                </div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddPair"
                    class="fa icon-arrow-circle-o-right fa-lg"></i>
                </div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Read File 1</label><br>
                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="libdat_file1pair"
                  data-dojo-attach-point="read1" style="width:300px" required="false"
                  data-dojo-props="type:['reads'],multi:false"></div>
              </div>
              <div class="appRow">
                <div data-dojo-attach-point="read2block">
                  <label class="paramlabel">Read File 2</label><br>
                  <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="libdat_file2pair"
                    data-dojo-attach-point="read2" style="width:300px" required="false"
                    data-dojo-props="type:['reads'],multi:false"></div>
                </div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Condition</label><br>
                <select data-dojo-type="dijit/form/FilteringSelect" name="condition_paired"
                  data-dojo-attach-point="condition_paired" style="width:300px" required="false"
                  data-dojo-props="disabled: true,labelType:'html', searchAttr:'label',intermediateChanges:true,trim:true,placeHolder:'Condition Name'">
                </select>
              </div>
            </div>
            <div class="appBox appShadow">
              <div class="headerrow">
                <div style="width:85%;display:inline-block;">
                  <label class="appBoxLabel">Single read library</label>
                </div>
                <div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddSingle"
                    class="fa icon-arrow-circle-o-right fa-lg"></i></div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Read File</label><br>
                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="libdat_readfile"
                  data-dojo-attach-point="read" style="width:300px" required="false"
                  data-dojo-props="type:['reads'],multi:false"></div>
              </div>
              <div class="appRow">
                <label class="paramlabel">Condition</label><br>
                <select data-dojo-type="dijit/form/FilteringSelect" name="condition_single"
                  data-dojo-attach-point="condition_single" style="width:300px" required="false"
                  data-dojo-props="labelType:'html',disabled: true,searchAttr:'label',intermediateChanges:true,trim:true,placeHolder:'Condition Name'">
                </select>
              </div>
            </div>
          </td>
          <td>
            <div class="appBox appShadow" style="min-height: 320px; height:auto; width:330px">
              <div class="headerrow">
                <label class="appBoxLabel">Selected libraries</label>
                <div name="selected-libraries" class="infobox iconbox infobutton tooltipinfo">
                  <i class="fa icon-question-circle fa"></i>
                </div>
                <br>
                <div class="appsublabel">Place read files here using the arrow buttons.</div>
              </div>
              <div class="appRow" style="width:100%; margin-top:10px; text-align: center;">
                <table class="librarytable" frame="box" data-dojo-attach-point="libsTable"
                  style="margin:0 0 0 10px; width:90%;">
                  <tbody data-dojo-attach-point="libsTableBody">
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="appSubmissionArea">
      <div style="width:400px; margin:auto" class="workingMessage messageContainer">
        Submitting Tn-Seq job
      </div>
      <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
      style="margin-top:10px; text-align:center;" >
        Your job has been submitted successfully. Please visit your <a data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and access the results.
      </div>
      <div style="width:400px; margin:auto" class="errorMessage messageContainer">
        <div style="font-weight:900;font-size:1.1em;">Error Submitting Tn-Seq Job</div>
        <p data-dojo-attach-point="errorMessage">Error</p>
      </div>
      <div style="margin-top: 10px; text-align:center;">
        <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel"
          data-dojo-type="dijit/form/Button">Cancel
        </div>
        <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
        <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit</div>
      </div>
    </div>
  </div>
</form>