<form dojoAttachPoint="containerNode" class="PanelForm"
   dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">

   <!-- DMD TEST-->
   <br />

   <style>
      .treesort--title {
         align-items: center;
         display: flex;
         flex-flow: row nowrap;
         justify-content: flex-start;
         line-height: 16px;
         margin-bottom: 0.25rem;
         width: 100%;
      }
      .treesort--title .infobutton {
         margin: 0.25rem 0 0 0.5rem;
      }
      .treesort--numeric-ctrl {
         font-family: monospace; font-size: 1.0rem; height: 20px;
         text-align: right !important;
         /*width: 60px;*/
      }
      .treesort--text-ctrl {
         font-family: monospace;
         font-size: 1.0rem;
         height: 20px;
      }
      .treesort--row {
         align-items: center;
         display: flex;
         flex-flow: row nowrap;
         justify-content: flex-start;
         margin-bottom: 1.5rem;
         text-align: left;
         width: 100%;
      }
      .treesort--row.last-or-only {
         margin-bottom: 0;
      }
      .treesort--column-left {
         margin-right: 2.0rem;
         text-align: left;
      }
      /*.treesort--column-right {
      }*/
      .treesort--data-panel {
         margin-top: 1.0rem;
         width: 100%;
      }

      .treesort--input-source-control {
         margin-right: 0.25rem;
      }

      .treesort--error-message {
         position: absolute;
         width: auto;
      }
   </style>

   <div class="appTemplate">
      <div class="appTitle">
         <span class="breadcrumb">Services</span>
         <h1 class="appHeader">TreeSort
            <div name="overview" class="infobox iconbox infobutton dialoginfo">
               <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
            <div class="infobox iconbox tutorialButton tutorialInfo">
               <a href="${docsServiceURL}${tutorialLink}" target="_blank">
                  <i class="fa icon-books fa-1x" title="click to open tutorial"></i>
               </a>
            </div>
         </h1>
         <p>${applicationDescription} Link to <a href="https://github.com/flu-crew/TreeSort" target="_blank">TreeSort</a>.</p>
         <br/>
         <p>For further explanation, please see the ${applicationLabel} Service
            <a href="${docsServiceURL}${applicationHelp}" target="_blank">Quick Reference Guide</a> and
            <a href="${docsServiceURL}${tutorialLink}" target="_blank">Tutorial</a>.
         </p>
      </div>

      <div class="appBox appShadow" style="margin-top:10px">

         <div class="treesort--title">
            <label class="appBoxLabel">Input data</label>
            <div name="input-source" class="infobox iconbox infobutton dialoginfo">
               <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
         </div>

         <!-- Radio buttons to determine the input source -->
         <div class="treesort--row last-or-only">

            <!-- FASTA file ID -->
            <input name="input_source"
               className="treesort--input-source-control"
               data-dojo-attach-event="onChange:handleInputSourceChange"
               data-dojo-attach-point="inputSource_FastaFileIdEl"
               data-dojo-type="dijit/form/RadioButton"
               id="${id}_inputSource_FastaFileId"
               type="radio"
               value="fasta_file_id"
            />
            <label for="${id}_inputSource_FastaFileId">Select FASTA file</label>&nbsp;&nbsp;

            <!-- FASTA data -->
            <input name="input_source"
               className="treesort--input-source-control"
               data-dojo-attach-event="onChange:handleInputSourceChange"
               data-dojo-attach-point="inputSource_FastaDataEl"
               data-dojo-type="dijit/form/RadioButton"
               id="${id}_inputSource_FastaData"
               type="radio"
               value="fasta_data"
            />
            <label for="${id}_inputSource_FastaData">Enter sequence</label>&nbsp;&nbsp;

            <!-- FASTA genome group ID -->
            <input name="input_source"
               className="treesort--input-source-control"
               data-dojo-attach-event="onChange:handleInputSourceChange"
               data-dojo-attach-point="inputSource_FastaGroupIdEl"
               data-dojo-type="dijit/form/RadioButton"
               id="${id}_inputSource_FastaGroupId"
               type="radio"
               value="fasta_group_id"
            />
            <label for="${id}_inputSource_FastaGroupId">Select genome group</label>&nbsp;&nbsp;

            <!-- FASTA existing dataset -->
            <input name="input_source"
               className="treesort--input-source-control"
               data-dojo-attach-event="onChange:handleInputSourceChange"
               data-dojo-attach-point="inputSource_FastaExistingDatasetEl"
               data-dojo-type="dijit/form/RadioButton"
               id="${id}_inputSource_FastaExistingDataset"
               type="radio"
               value="existing_dataset"
            />
            <label for="${id}_inputSource_FastaExistingDataset">Use existing data</label>

         </div>

         <!-- FASTA file ID -->
         <div class="treesort--data-panel" data-dojo-attach-point="fastaFileIdPanelEl" style="display: none">

            <div name="fasta_file_id"
               data-dojo-attach-event="onChange:validateFastaFileID"
               data-dojo-attach-point="fastaFileIdEl"
               data-dojo-type="p3/widget/WorkspaceObjectSelector"
               data-dojo-props="type:['feature_protein_fasta', 'feature_dna_fasta', 'genome_protein_fasta', 'genome_dna_fasta', 'contigs'],multi:false,promptMessage:'Select or upload a FASTA file from your workspace.',missingMessage:'FASTA file is required.',placeHolder:'FASTA file'"
               required="false"
            ></div>

         </div>

         <!-- FASTA data -->
         <div class="treesort--data-panel" data-dojo-attach-point="fastaDataPanelEl" style="display: none">

            <textarea name="fasta_data"
               data-dojo-attach-event="onBlur:validateFastaData"
               data-dojo-attach-point="fastaDataEl"
               data-dojo-props="rows:13, placeholder:'Enter one or more nucleotide sequences in FASTA format.', intermediateChanges:true"
               data-dojo-type="dijit/form/Textarea"
               required="false"
               style="width: 99%; height: 175px;"
            ></textarea>
            <div class="warning" data-dojo-attach-point="fastaDataMessageEl" style="display: none"></div>

         </div>

         <!-- FASTA group ID -->
         <div class="treesort--data-panel" data-dojo-attach-point="fastaGroupIdPanelEl" style="display: none">

            <div name="fasta_group_id"
               data-dojo-attach-event="onChange:validateFastaGroupID"
               data-dojo-attach-point="fastaGroupIdEl"
               data-dojo-props="type:['genome_group'],multi:false,promptMessage:'Select a genome group from your workspace.',missingMessage:'Genome group is required.',placeHolder:'Genome group'"
               data-dojo-type="p3/widget/WorkspaceObjectSelector"
               required="false"
               style="width:85%;"
            ></div>

         </div>

         <!-- Existing dataset -->
         <div class="treesort--data-panel" data-dojo-attach-point="fastaExistingDatasetPanelEl" style="display: none">

            <div name="fasta_existing_dataset"
               data-dojo-attach-event="onChange:validateFastaExistingDataset"
               data-dojo-attach-point="fastaExistingDatasetEl"
               data-dojo-props="type:['folder'],multi:false,promptMessage:'Select a folder containing an existing dataset.',missingMessage:'An existing dataset folder is required.',placeHolder:'Existing dataset directory'"
               data-dojo-type="p3/widget/WorkspaceObjectSelector"
               required="false"
               style="width:85%;"
            ></div>

         </div>
      </div>

      <div class="appBox appShadow">

         <div class="treesort--title">
            <label class="appBoxLabel">Output path</label>
            <div name="output_path" class="infobox iconbox infobutton dialoginfo" id="output_path_tooltip">
               <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
         </div>

         <div class="treesort--row last-or-only">

            <!-- Output path -->
            <div name="output_path"
               data-dojo-attach-event="onChange:validateOutputPath"
               data-dojo-attach-point="outputPathEl"
               data-dojo-props="title:'Select an Output Folder', autoSelectCurrent:true, selectionText:'Destination',
                  title:'Select an Output Folder', type:['folder'], multi:false, placeHolder:'Output Folder'"
               data-dojo-type="p3/widget/WorkspaceObjectSelector"
               required="true",
               style="width: 200px"
            ></div>
            <div class="warning treesort--error-message" data-dojo-attach-point="outputPathMessageEl"></div>

         </div>
      </div>

      <div class="appBox appShadow">

         <div class="treesort--title">
            <label class="appBoxLabel">TreeSort parameters</label>
            <div name="treesort_parameters" class="infobox iconbox infobutton dialoginfo">
               <i class="fa icon-info-circle fa" title="click to open info dialog"></i>
            </div>
         </div>

         <div class="treesort--row">
            <div class="treesort--column-left">

               <!-- Match type -->
               <div class="paramlabel">Match type</div>
               <div name="match_type"
                  data-dojo-attach-event="onChange:handleMatchTypeChange"
                  data-dojo-attach-point="matchTypeEl"
                  data-dojo-props="disabled:false"
                  data-dojo-type="dijit/form/Select"
                  maxHeight="200"
                  required="true",
                  style="width: 160px;"
               ></div>
               <div class="warning" data-dojo-attach-point="matchTypeMessageEl" style="display: none"></div>

            </div>
            <div class="treesort--row-column-right">

               <!-- Match regex -->
               <div data-dojo-attach-point="matchRegexContainerEl" style="display: none">

                  <div class="paramlabel">Regular expression</div>
                  <input name="match_regex"
                     data-dojo-attach-event="onChange:validateMatchRegex"
                     data-dojo-attach-point="matchRegexEl"
                     data-dojo-props="intermediateChanges: false, invalidMessage:'Enter a regular expression', trim:true, placeholder:'A regular expression'"
                     data-dojo-type="dijit/form/ValidationTextBox"
                     required="false"
                     style="font-family: monospace; font-size: 1.0rem; height: 20px;" />
                  <div class="warning treesort--error-message" data-dojo-attach-point="matchRegexMessageEl"></div>

               </div>
            </div>
         </div>

         <div class="treesort--row">
            <div class="treesort--column-left">

               <!-- Reference segment -->
               <div class="paramlabel">Reference segment</div>
               <div name="ref_segment"
                  data-dojo-attach-point="refSegmentEl"
                  data-dojo-props="disabled:false"
                  data-dojo-type="dijit/form/Select"
                  maxHeight="200"
                  required="true"
               ></div>
               <div class="warning" data-dojo-attach-point="refSegmentMessageEl" style="display: none"></div>

            </div>
            <div class="treesort--row-column-right">

               <!-- Segments -->
               <div class="paramlabel">Segments</div>
               <div name="segments" data-dojo-attach-point="segmentsContainerEl"></div>

            </div>
         </div>

         <div class="treesort--row">
            <div class="treesort--column-left">

               <!-- Inference method -->
               <div class="paramlabel">Inference method</div>
               <div name="inference_method"
                  data-dojo-attach-point="inferenceMethodEl"
                  data-dojo-props="disabled:false"
                  data-dojo-type="dijit/form/Select"
                  maxHeight="200"
                  required="false"
               ></div>
               <div class="warning treesort--error-message" data-dojo-attach-point="inferenceMethodMessageEl"></div>

            </div>

            <div class="treesort--row-column-right">

               <!-- Reference tree inference method -->
               <div class="paramlabel">Reference tree inference method</div>
               <div name="ref_tree_inference"
                  data-dojo-attach-point="refTreeInferenceEl"
                  data-dojo-props="disabled:false"
                  data-dojo-type="dijit/form/Select"
                  maxHeight="200"
                  required="true"
               ></div>
               <div class="warning treesort--error-message" data-dojo-attach-point="refTreeInferenceMessageEl"></div>

            </div>
         </div>

         <div class="treesort--row">
            <div class="treesort--column-left">

               <!-- Deviation -->
               <div class="paramlabel">Allowed deviation</div>
               <input name="deviation"
                  data-dojo-attach-event="onChange:validateDeviation"
                  data-dojo-attach-point="deviationEl"
                  data-dojo-props="constraints:{min:1,places:0},
                     invalidMessage:'Enter a number > 1.0'"
                  data-dojo-type="dijit/form/NumberTextBox"
                  required="false"
                  style="font-family: monospace; font-size: 1.0rem; height: 20px;"
                  value="2" />
               <div class="warning treesort--error-message" data-dojo-attach-point="deviationMessageEl"></div>

            </div>
            <div class="treesort--row-column-right">

               <!-- P-value -->
               <div class="paramlabel">P-value threshold</div>
               <input name="p_value"
                  data-dojo-attach-event="onChange:validatePValue"
                  data-dojo-attach-point="pValueEl"
                  data-dojo-props="constraints:{min:0, max:1.0,places:4},
                     invalidMessage:'Enter a number between 0-1.0'"
                  data-dojo-type="dijit/form/NumberTextBox"
                  required="false"
                  style="font-family: monospace; font-size: 1.0rem; height: 20px;"
                  value="0.001"
               />
               <div class="warning treesort--error-message" data-dojo-attach-point="pValueMessageEl"></div>

            </div>
         </div>

         <!-- Equal rates -->
         <div class="treesort--row">
            <div id="${id}_equal_rates"
               data-dojo-attach-point="equalRatesEl"
               data-dojo-type="dijit/form/CheckBox"
               name="equal_rates"
               checked></div>
            <label for="${id}_equal_rates">Don't estimate molecular clock rates for different segments</label>
         </div>

         <!-- Is time scaled -->
         <div class="treesort--row">
            <div id="${id}_is_time_scaled"
               data-dojo-attach-point="isTimeScaledEl"
               data-dojo-type="dijit/form/CheckBox"
               checked></div>
            <label for="${id}_equal_rates">Time-scale the reference tree</label>
         </div>

         <!-- No collapse -->
         <div class="treesort--row last-or-only">
            <div id="${id}_no_collapse"
               data-dojo-attach-point="noCollapseEl"
               data-dojo-type="dijit/form/CheckBox"
               checked></div>
            <label for="${id}_no_collapse">Collapse near-zero length branches into multifurcations</label>
         </div>

         <div class="warning" data-dojo-attach-point="database_message"></div>
      </div>
   </div>
   <div class="appSubmissionArea">
      <div data-dojo-attach-point="workingMessage" class="messageContainer workingMessage"
         style="margin-top:10px; text-align:center;">
         Submitting ${applicationLabel} job
      </div>
      <div data-dojo-attach-point="errorMessage" class="messageContainer errorMessage"
         style="margin-top:10px; text-align:center;">
         Error submitting job
      </div>
      <div data-dojo-attach-point="submittedMessage" class="messageContainer submittedMessage"
         style="margin-top:10px; text-align:center;">
         Your job has been submitted successfully. Please visit your <a
            data-dojo-attach-event="onclick:openJobsList"><u>Jobs List</u> </a>to check the status of your job and
         access the results.
      </div>
      <div style="margin-top: 10px; text-align:center;">
         <div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel"
            data-dojo-type="dijit/form/Button">Cancel
         </div>
         <div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset
         </div>
         <div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Submit
         </div>
      </div>
   </div>
</form>