
.combination_track.empty, .combination_track.empty.pinned {
    background: #aaa;
    background: rgba(0,0,0,0.1);
}
.combinationDialog .formulaPreview {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 20px 0;
    line-height: 25px;
}
.formulaPreview .tree {
}
.formulaPreview .leaf {
    
    
    padding: 0 4px;
    text-decoration: underline;
    
    
}
.formulaPreview .leaf.highlighted {
    background-color: #BBB;
}
.formulaPreview .op {
    
    
    
    
    
    
}