
.tundra .dojoxTriStateCheckBox,  .dojoxTriStateCheckBoxIcon {
  background-image: url('img/tristate.png');
  
  background-repeat: no-repeat;
  width: 30px;
  height: 22px !important;
  margin: 0 2px 0 0;
}
.dj_ie6 .tundra .dojoxTriStateCheckBox, .dj_ie6  .dojoxTriStateCheckBoxIcon {
  background-image: url('img/tristate.png');
  
}
.tundra .dojoxTriStateCheckBox{
  
  background-position: -30px;
}
.tundra .dojoxTriStateCheckBoxChecked{
  
  background-position: 0px;
}
.tundra .dojoxTriStateCheckBoxMixed {
  
  background-position: -90px;
}
.tundra .dojoxTriStateCheckBoxDisabled {
  
  background-position: -30px;
}
.tundra .dojoxTriStateCheckBoxCheckedDisabled {
  
  background-position: 0px;
}
.tundra .dojoxTriStateCheckBoxMixedDisabled {
  
  background-position: -90px;
}
.tundra .dojoxTriStateCheckBoxHover {
  
  background-position: -60px;
}
.tundra .dojoxTriStateCheckBoxCheckedHover {
  
  background-position: 0px;
}
.tundra .dojoxTriStateCheckBoxMixedHover {
  
  background-position: -120px;
}
.dijit_a11y .dojoxTriStateCheckBoxHover .dojoxTriStateCheckBoxInner,
.dijit_a11y .dojoxTriStateCheckBoxFocused .dojoxTriStateCheckBoxInner{
  
  border: dashed;
}
.dijit_a11y .dojoxTriStateCheckBoxHover .dojoxTriStateCheckBoxInner,
.dijit_a11y .dojoxTriStateCheckBoxFocused .dojoxTriStateCheckBoxInner{
  
  border: solid;
}
.dijit_a11y .dojoxTriStateCheckBoxDisabled .dojoxTriStateCheckBoxInner{
   
  opacity: 0.5;
}
.dj_ie .dijit_a11y .dojoxTriStateCheckBoxDisabled .dojoxTriStateCheckBoxInner{
  
}
.dojoxTriStateCheckBoxInner{
  
  visibility: hidden;
  display: none;
  position: absolute;
  text-align: center;
}
.dijit_a11y .dojoxTriStateCheckBoxInner{
  
  
  visibility: visible;
  display: block;
}
.dojoxTriStateCheckBoxInput {
  
  opacity: 0.01;
  padding: 0;
  margin: 0;
  border: 0;
  width: 30px;
  height: 22px;
  background-position:center center;
  background-repeat:no-repeat;
}
.dj_ie .dojoxTriStateCheckBoxInput {
  filter: alpha(opacity=0);
}
