.appshadow{
	border: 1px solid #aaa;
/*box-shadow: inset 1px 0px 18px 0px #ABABAB,1px 5px 5px 1px #DDDDDD;
-webkit-box-shadow: inset 1px 0px 18px 0px #ABABAB,1px 5px 5px 1px #DDDDDD;
-moz-box-shadow: inset 1px 0px 18px 0px #ABABAB,1px 5px 5px 1px #DDDDDD;
-o-box-shadow: inset 1px 0px 18px 0px #ABABAB,1px 5px 5px 1px #DDDDDD;*/
}

.appsetup{
margin-top:0px;
padding:15px 50px 10px 10px;
text-align: right;
background-color: #F0F1F3;
}

.paramlabel {
	font-size: .65em;
	text-transform: uppercase;
}

.librarytable{
	width: 300px;
	border-collapse:collapse;
	border: 1px solid rgb(171,171,171);
}
table.assemblyblocks td{vertical-align:top;}
table.librarytable tr:nth-child(odd)	{background-color:#ffffff;}
table.librarytable tr:nth-child(even)	{background-color:#f5f5f5;}
.emptyrow {min-height:23px;}


.headerrow{
width: 100%;
display:inline-block;
}

.approw{
width: 100%;
margin-top:10px;
}

.appbox{
background-color: #F0F1F3;
margin: 0 0 10px 10px;
width: auto;
padding: 5px 0px 10px 10px;
text-align: left;
}

.approwsegment{
display:inline-block;
text-align: center;
margin: 0 0 0 15px;
}



.insertspinner{
width:80px;
}

.readbutton {
font: 1.5em "Georgia", "Apple Symbols", serif;
line-height: .8;
width: 40px;
text-align: center;
padding: auto;
margin:5px 0px 5px 5px;
}

.readbuttons{
text-align: left;
margin:10px 0 0 10px;
}

.appboxlabel{
text-align:left;
margin: 10px 0 10px 10px;
}

.round-button {
    display:block;
    width:30px;
    height:30px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    /*background: #464646;*/
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    padding: 0 0 15px 0;
}
.round-button:hover {
    /*background: #262626;*/
}
