/* BV-BRC Styles */

/* Root Variables */
:root {
  --main-text: #252525;
  --main-text-light: #ffffff;

  --main-link: #5375b9;
  --alt-link: #111111;



  --patric-blue: #2c5776;
  --vipr-yellow: #f1bf48;
  --main-blue: #5375b9;

  --blue: #015994;
  --blue-tint: #e5eef4;
  --blue-shade: #004776;
  --green: #009190;

  --main-bg: #f2f2f2;
  --white-bg: #ffffff;
  --blue-light-bg: #e5eef4;
  --gray-bg: #e3e3e3;

  --button-blue: var(--blue);

  --border-gray: #a0a0a0;
  --border-blue: var(--blue);

}

#bv-brc-home,
#bv-brc-page {
  box-sizing: border-box;
  margin: 0;
  padding: 20px 0px;
  background: var(--main-bg);
  font-family: 'Roboto', sans-serif;
}
#bv-brc-header {
  background: var(--blue);
}
#bv-brc-header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
}

.nav-logo-link {
  display: flex;
}
.nav-logo-link img {
  align-self: center;
}
.nav-logo-link span {
  font-size: 1.85em;
  font-weight: 400;
  padding-left: 10px;
  color: #ffffff;
  align-self: center;
  transition: color .1s;
}

.nav-logo-link span:hover,
.nav-logo-link span:focus {
  color: var(--green);
}

#bv-brc-header-container .bv-brc-logo {
  margin-right: 0;
  margin-left: 0;
}

#bv-brc-header-container .nav-links {
  display: flex;
}

#bv-brc-header-container .nav-links a {
  padding: 0 10px;
  align-self: center;
  color: #ffffff;
  text-transform: uppercase;
  transition: all .15s;
}
#bv-brc-header-container .nav-links a:hover,
#bv-brc-header-container .nav-links a:focus {
  text-decoration: underline;
}

#bv-brc-page-container {
  display: flex;
  justify-content: flex-start;
  max-width: 1220px;
  margin: 0 auto;
}

#bv-brc-home h1,
#bv-brc-page h1 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--main-text);
}

#bv-brc-home h2,
#bv-brc-page h2 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--main-text);
}

#bv-brc-home h3,
#bv-brc-page h3 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--main-text);
}

#bv-brc-home p,
#bv-brc-page p {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--main-text);
}

#bv-brc-home .bv-brc-info {
  background-color: var(--blue-light-bg);
  border-bottom: 4px solid var(--border-blue);
  padding: 15px 10px;
}

#bv-brc-home .patric-info {
  background: #ffffff;
  border-bottom: 4px solid var(--border-gray);
}

#bv-brc-home .patric-info-content {
  padding: 20px;
}

#bv-brc-home .patric-info-content img {
  float: right;
  width: 200px;
  padding: 0px 10px;
}

#bv-brc-home .patric-info-links ul {
  list-style: none;
  margin-left: -10px;
}

#bv-brc-home .patric-info .patric-info-btn-links {
  background: var(--gray-bg);
  margin-top: 11px;
}

#bv-brc-home .patric-info  p {
  padding-bottom: 10px;
}

#bv-brc-home .patric-info a {
  color: var(--main-link);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
}

#bv-brc-home .ird-vipr-info {
  background: #ffffff;
  border-bottom: 4px solid var(--border-gray);
}

#bv-brc-home .ird-vipr-info-content {
  padding: 20px;
}

#bv-brc-home .ird-vipr-info-content .ird-vipr-logo {
  float: right;
  height: 120px;
}

#bv-brc-home .ird-vipr-info-links ul {
  list-style: none;
  padding: 2px 0px;
  margin-left: -10px;
}

#bv-brc-home .ird-vipr-info-btn-links {
  background: var(--gray-bg);
  margin-top: 0px;
}

#bv-brc-home .ird-vipr-info  p {
  padding-bottom: 10px;
}

#bv-brc-home .ird-vipr-info a {
  color: var(--main-link);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
}

#bv-brc-home .btn {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400 !important;
  font-size: 10pt !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  font-size: 1.0rem!important;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

#bv-brc-home .btn-blue {
  background: var(--blue);
  color: #FFFFFF !important;
  text-decoration: none;
  border: none;
  width: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#bv-brc-home .btn-green {
  background: var(--green);
  color: #FFFFFF !important;
  text-decoration: none;
  border: none;
  width: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#bv-brc-home .btn-blue:hover,
#bv-brc-home .btn-blue:focus {
  background: var(--blue);
  opacity: 0.9;
  text-decoration: none;
}

#bv-brc-home .btn-green:hover,
#bv-brc-home .btn-green:focus {
  background: var(--green);
  opacity: 0.9;
  text-decoration: none;
}

#bv-brc-home .twitter-feed {
  background-color: var(--white-bg);
  border-bottom: 4px solid var(--border-gray);
  padding: 0;
}

#bv-brc-footer {
  background-image: linear-gradient(#09456f, #34698e);
}

#bv-brc-footer-container {
  width: 80%;
  margin: 0 auto;
  padding: 0px 0px 20px 0px;
  display: flex;
  text-align: center;
}

#bv-brc-footer-container h3 {
  margin-top: 20px;
  color: var(--main-text-light);
  font-size: 1.25em;
}

#bv-brc-footer-container h3:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-top: 10px;
  border-bottom: 1px solid var(--border-gray);
}

#bv-brc-footer-container ul li {
  list-style: none;
}

#bv-brc-footer-container ul li a {
  color: var(--main-bg);
  transition: color .1s;
  font-size: 1em;
}

#bv-brc-footer-container ul li a:hover,
#bv-brc-footer-container ul li a:focus {
  color: var(--blue-tint);
  text-decoration: underline;
}

#bv-brc-footer-container p {
  color: var(--blue-tint);
}

#bv-brc-footer-container svg {
  padding: 0 5px;
  color: var(--blue-tint);
  transition: color .1s;
}

#bv-brc-footer-container svg:hover,
#bv-brc-footer-container svg:focus {
  color: var(--main-text-light);
}

#bv-brc-footer-container .col {
  flex: 1;
}

#bv-brc-footer-container .col-2 {

}

#bv-brc-home .announcements {
  background: var(--white-bg);
  padding: 15px 10px;
  border-bottom: 4px solid var(--border-gray);
}

#bv-brc-home .announcements h3 {
  margin-top: 5px;
}

#bv-brc-home .announcements #slides {
  position: relative;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

#bv-brc-home .announcements #slides .slide {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#bv-brc-home .announcements #slides .slide .feed-title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: 400;
  color: var(--main-link);
  padding-bottom: 10px;
  text-decoration: underline;
  margin: 0px;
}

#bv-brc-home .announcements #slides .slide .feed-description {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 10pt !important;
  padding: 5px 0px;
}

#bv-brc-home .announcements #slides .slide .feed-description a {
  text-decoration: underline;
}

#bv-brc-home .announcements #slides .slide .feed-img {
  width: 100%;
  max-height: 170px!important;
}

#bv-brc-home .announcements #slides .current-slide {
  opacity: 1;
  visibility: visible;
}

#bv-brc-home .announcements #dot-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 330px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bv-brc-home .announcements #dot-navigation .dot {
  height: 20px;
  width: 20px;
  background: var(--main-bg);
  border-radius: 20px;
  border: 2px solid var(--border-gray);
  z-index: 10;
  margin: 0 2px;
  cursor: pointer;
}

#bv-brc-home .announcements #dot-navigation .current-dot {
  background: var(--blue);
  border: 2px solid var(--green);
}

#bv-brc-footer {
  background: linear-gradient(#015994,#018a81);
}

/* Grid Tablet Layout */
@media (max-width: 991px) {
  #bv-brc-home #bv-brc-home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 750px;
  }
  #bv-brc-home .grid-container {
    display: grid;
    grid-template-columns: 365px 365px;
    grid-template-rows: 175px 660px 425px;
    grid-gap: 20px;
  }
  #bv-brc-home .bv-brc-info {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  #bv-brc-home .announcements {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  #bv-brc-home .patric-info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  #bv-brc-home .ird-vipr-info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  #bv-brc-home .twitter-feed {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  #bv-brc-home .patric-info .patric-info-btn-links {
    margin-top: 28px;
  }
  #bv-brc-home .ird-vipr-info .ird-vipr-info-btn-links {
    margin-top: -4px;
  }
}
/* Grid Desktop Layout */
@media (min-width: 992px) {
  #bv-brc-home #bv-brc-home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 1300px;
  }
  #bv-brc-home .grid-container {
    display: grid;
    grid-template-columns: 440px 440px 300px;
    grid-template-rows: 150px 240px 150px 150px;
    grid-gap: 20px;
  }
  #bv-brc-home .bv-brc-info {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  #bv-brc-home .announcements {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  #bv-brc-home .patric-info {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }
  #bv-brc-home .ird-vipr-info {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
  }
  #bv-brc-home .twitter-feed {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
  }
}

/* Static Pages */
#bv-brc-page .page-content {
  padding: 20px 40px;
  background: var(--white-bg);
  flex-basis: 100%;
}

#bv-brc-page .page-content h1 {
  padding-top: 10px;
  padding-bottom: 20px;
}

#bv-brc-page .page-content a {
  font-weight: 300;
  color: var(--main-link)
}

#bv-brc-page .page-content ul,
#bv-brc-page .page-content ol {
  padding: 0px 10px 10px 10px;
  list-style-type: none;
}

#bv-brc-page .page-content li {
  font-size: 14px;
}

#bv-brc-page .teams  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#bv-brc-page .teams img,
#bv-brc-page .teams svg {
  height: 50px;
  width: auto;
}

#bv-brc-page .collab-team {
  margin-top: 55px;
}

#bv-brc-page .full-list {
  font-size: 16px;
}

#bv-brc-page .patric-publications h2,
#bv-brc-page .ird-publications h2,
#bv-brc-page .vipr-publications h2 {
  margin-bottom: 0px;
}
#bv-brc-page .patric-publications h3:first-of-type,
#bv-brc-page .ird-publications h3:first-of-type,
#bv-brc-page .vipr-publications h3:first-of-type {
  margin-top: 20px;
}