.carousel {
	font-family: tahoma,arial,verdana,sans-serif;
}

.CarouselContent {
	text-align: left;
/*	font-size: 13px;
	font-weight: normal;*/

}

.CarouselContent H1,
.CarouselContent H2,
.CarouselContent H3,
.CarouselContent H4 {
	font-weight: 100;
	margin-bottom: .124em;
	margin-top: 5px;
}

.CarouselContent IMG.right {
	float: right;
	margin-left: 20px;
	height: 240px;
}

.CarouselContent .button {
    padding: 5px 10px;
    line-height: 1.1em;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: inline-block;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #86b834), color-stop(100%, #659626));
    background-image: -webkit-linear-gradient(#86b834, #659626);
    background-image: -moz-linear-gradient(#86b834, #659626);
    background-image: -o-linear-gradient(#86b834, #659626);
    background-image: -ms-linear-gradient(#86b834, #659626);
    background-image: linear-gradient(#86b834, #659626);
    border: rgba(101, 150, 37, 0.7) 1px outset;

}

