.DataItemHeader {
    color: #76a72d;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 10px 0 7px 0;
    border-bottom: 1px solid #afafaf;
    overflow: hidden;
}

.DataItemHeader > span {
    vertical-align: middle;
}

.DataItemHeader .fa {
    color: #76a72d;
    font-size: 1.3em;
    padding-right: 5px;
    cursor: initial;
}

.DataItemSummary {
    font-weight: bold;
    padding: 0 0 7px 10px;
    margin-bottom: 6px;
    border-bottom: 1px solid #afafaf;
}

.DataItemSectionHead {
    background: #efefef;
    padding: 5px 3px;
    font-weight: bold;
}

.DataItemProperty {
    vertical-align: top;
    padding: 0 4px 0 10px;
    width: 30%;
}

.DataItemValue {
    vertical-align: top;
    word-break: break-all;
}

.ExperimentComparison .DataItemProperty {
    width: 210px;
}