.home {
    font-size: 12px;
}

.home .section-title-b {
    background: #c3c3c3;
    border-radius: 0;
    text-align: left;
    box-shadow: none;
    padding-left: 0;
    margin-top: 12px;
}

.home .section-title span.wrap {
    text-transform: uppercase;
    font-size: 20px;
}

.section-title span.wrap {
    background: #fff;
    text-transform: capitalize;
    color: #666666;
    font-weight: normal;
    font-family: "Didact Gothic", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 5px 5px 0;
}

.homeBottomSection {
    background: #fff;
    margin-top: 0;
    padding: 4px;
}

.home h2 {
    font-size: 20px;
}

.home h3 {
    font-size: 14px;
    line-height: 16px;
}

.home figure {
    display: block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.home ul {
    margin: 0;
}

.tools h3 {
    margin-top: 20px;
}
.tools h3:first-child {
    margin-top: 4px;
}

.tools ul li {
    width: 310px;
    vertical-align: top;
    text-align: left;
}

.tools ul li a:hover {
    font-weight: bold;
}

.dlp-hp ul li {
    display: inline-block;
    width: 103px;
    line-height: 1.2;
    margin: 5px 0;
}
.dlp-hp ul li.last figcaption {
    font-size: 11px;
}

.home .no-decoration {
    padding-left: 0;
}

.home .no-decoration li {
    background-image: none;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}


.home figure img {
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home .two-thirds-col > .column .two-col {
    overflow: hidden;
}

.home .column .two-col .column {
    display: inline;
    float: left;
    margin-right: 17px;
    width: 311px;
}

.column.last {
    display: inline;
    float: left;
    margin-right: 0;
    width: 311px;
}

.home_wcid {
    background-image: url(/patric/images/home/home-what-can-i-do.png);
    background-repeat: no-repeat;
    display: block;
}

.home_wcid-assembly {
    width: 100px;
    height: 75px;
    background-position: -5px -5px;
}

.home_wcid-comparative_pathways {
    width: 100px;
    height: 75px;
    background-position: -115px -5px;
}

.home_wcid-gene_page_transcriptomics {
    width: 100px;
    height: 75px;
    background-position: -5px -90px;
}

.home_wcid-genome_annotation {
    width: 100px;
    height: 75px;
    background-position: -115px -90px;
}

.home_wcid-genome_metadata {
    width: 100px;
    height: 75px;
    background-position: -225px -5px;
}

.home_wcid-protein_family_sorter {
    width: 100px;
    height: 75px;
    background-position: -225px -90px;
}

.home_dlp {
    background-image: url(/patric/images/home/home-dlp-icons.png);
    background-repeat: no-repeat;
    display: block;
}

i.home_dlp {
    margin: auto;
}

.home_dlp_features {
    width: 61px;
    height: 33px;
    background-position: -5px -5px;
}

.home_dlp_genomes {
    width: 64px;
    height: 64px;
    background-position: -76px -5px;
}

.home_dlp_pathways {
    width: 62px;
    height: 42px;
    background-position: -5px -79px;
}

.home_dlp_proteins {
    width: 68px;
    height: 56px;
    background-position: -77px -79px;
}

.home_dlp_specialtygenes {
    width: 54px;
    height: 48px;
    background-position: -150px -5px;
}

.home_dlp_transcriptomics {
    width: 37px;
    height: 47px;
    background-position: -155px -63px;
}
