@import url("../../dijit/themes/claro/claro.css");
@import url("Footer.css");
@import url("Header.css");
@import url("Carousel.css");
@import url("Drawer.css");
@import url("WorkspaceManager.css");
@import url("iconic/font/css/open-iconic.css");

html, body,
body.patric {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: arial;
    background: #efefef;
}

A, A:visited {
	text-decoration: none;
	color: inherit;
}

A:hover {
	border-bottom: 2px solid orange;
}

.layoutContainer {
	width: 100%;
	height: 100%;
	margin:0px;
	padding:0px;
	overflow: hidden;
}

.layer {
	width: 925px;
	margin: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	z-index:10;
}

.layer > H1 {
	color: #333;
}

.ShowWithAuth {
	display: none;
}



.Authenticated .ShowWithoutAuth {
	display: none;
}

.HomeServiceLink {
	width: 100px;
	height: 100px;
	background: #fff;
	border: 1px dashed #999;
	border-radius: 2px;
	margin:16px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.HomeServiceLink:hover{
	border-color: #555;
	box-shadow: 0px 0px 24px orange;
}


.PanelForm .errorMessage,
.PanelForm .workingMessage {
	text-align: center;
	margin: 4px;
	display: none;
	width: 300px;
}

.PanelForm .workingMessage {
	color: green;
}

.PanelForm .errorMessage {
	color: red;
}

.PanelForm.Working .workingMessage {
	display: block;
}

.PanelForm.Error .errorMessage{
	display: block;
}
.formFieldsContainer {
	text-align:center;
}
.PanelForm .formFieldsContainer > *{
	font-size: 1.1em;
	margin-top: 10px;
}
