.SummaryWidget {
    margin: 4px;
}

.SummaryWidget .tableNode,
.SummaryWidget .chartNode,
.chartView .tableNode,
.tableView .chartNode {
    display: none;
}

.tableView .chartNode {
    border: 1px solid #aaa;
}

.SummaryWidget.chartView .chartNode,
.SummaryWidget.tableView .tableNode {
    display: block;
}

.SummaryWidget .actionButtons .fa {
    color: #333;
}

.SummaryWidget .actionButtions .fa:hover {
    color: orange;
}

.SummaryWidget.tableView .actionButtons .TableButton.fa,
.SummaryWidget.chartView .actionButtons .ChartButton.fa {
    color: green;
}

.SummaryWidget .dgrid-scroller {
    overflow-y: auto;
}

.SummaryWidget .actionButtons .actionButtonsRadio {
    border-radius: 4px;
    border: 1px solid #333;
    display: inline-block;
    background: #333;
    padding:0px;
    padding-top: 2px;
    padding-bottom:2px;
    margin-bottom: 4px;
    font-size:.7em;
    text-align: center;
}


.SummaryWidget.tableView .actionButtons .actionButtonsRadio .TableButton.fa,
.SummaryWidget.chartView .actionButtons .actionButtonsRadio .ChartButton.fa {
    color: #efefef;
    background: #333;
}

.SummaryWidget .actionButtons .actionButtonsRadio .TableButton.fa,
.SummaryWidget .actionButtons .actionButtonsRadio .ChartButton.fa  {
    color: #333;
    background: #efefef;
    padding:2px;
    border-radius: 2px;
    vertical-align:middle;
}



TH.dgrid-cell.field-feature_type {
    border-left: 0px;
}

.dgrid-cell.field-PATRIC,
.dgrid-cell.field-RefSeq {
    width: 20%;
    text-align: right;
}

.SummaryWidget div.chartNode,
.SummaryWidget div.tableNode {
    height: 175px;
}

.patric .gmSummaryWidget.SummaryWidget .chartNode,
.patric .gmSummaryWidget.SummaryWidget .tableNode {
    min-height: 400px;
}

.patric .pfSummaryWidget.SummaryWidget .chartNode,
.patric .pfSummaryWidget.SummaryWidget .tableNode {
    height: 275px;
}

.pie-chart-widget {
    display: inline-block;
    width: 278px;
    height: 200px;
}

.SummaryWidget .field-reference_genome {
    width: 40px;
}

.SummaryWidget .field-category {
    width: 35%;
}

.SummaryWidget.apmSummaryWidget {
    padding-bottom: 11px;
}

.SummaryWidget .field-label {
    width: 80%;
}

.patric .fpSummaryWidget.SummaryWidget .chartNode,
.patric .fpSummaryWidget.SummaryWidget .tableNode {
    min-height: 250px;
}

.patric .idmSummeryWidget.SummaryWidget {
    height: 120px;
}
.patric .spgSummaryWidget.SummaryWidget {
    height: 250px;
}

/* feature comments */
.SummaryWidget .field-source,
.SummaryWidget .field-property,
.SummaryWidget .field-evidence_code {
    width: 10%;
}