.WorkspaceController,
.WorkspaceGlobalController {
	padding: 4px;
}

.WorkspaceController {
	background:#ddd;
	border-top: #227194;
}

.BrowserHeader {
	padding:2px;
	vertical-align:bottom;;
}

.wsBreadCrumb {
	font-size:1.5em;
	margin:2px;
	margin-top: 4px;
	margin-left: 4px;
	font-weight: 900;
	padding:4px;
	color: #134d75;
}

.patric .BrowserHeader A,
.patric .wsBreadCrumb A {
	color: #123d75;
	font-size:1.0em;
	font-weight: 600;
	vertical-align: bottom;
}


.UploadComplete {
	color: green;
	border: 1px solid green;
}

.UploadingButton {
	display: inline-block;
	margin: 2px;
	margin-right: 4px;
	padding:2px;
	border: 1px solid gray;
}

.TypeContainer {
	display: inline-block;
	width: 80;
	font-size:.65em;
	border:1px solid gray;
	padding:4px;
}


.ItemDetailPanel {
	background:#edf2ff;;
	color:#333;
	padding:4px;
	margin-left: -1px;
	border-left: 0px solid #888;
	border-top: 1px solid #34698e;
	box-shadow:0px 0px 1px;*/
}
.ItemTypeIcon {
	width:64px; 
	height: 64px;
	margin:auto;
	border: 1px solid gray;
}


.TypeContainer > DIV {
	text-align: center;
}

.dgrid-cell.wsItemType,
.wsItemType {
	width: 32px;
	text-align: center;
}

.WorkspaceExplorerView .dgrid-cell {
	border: 0px;
}
.wsItemName {
}

.wsItemOwnerId {
	width: 90px;
}

.wsItemSize {
	width: 48px;
}

.wsItemCreationTime {
	width: 150px;
}
.JobStatusButton,
.UploadStatusButton {
	padding:1px;
	margin:2px;
	border-radius:3px;
	background: #333;
	color:#333;
	font-size: 1.1em;
	cursor: pointer;
}
.JobStatusButton > A:first-child,
.JobStatusButton > SPAN:first-child,
.UploadStatusButton > SPAN:first-child {
	color:#fff;margin:2px;padding:2px
}



.JobStatusButton > DIV,
.UploadStatusButton > DIV {
	display:inline-block;background:#efefef;border-radius:2px;margin:2px;padding:2px;

}
.JobsComplete,
.UploadingComplete{
	color: blue;
	margin:0px;
}

.JobsRunning,
.UploadingProgress,
.UploadingActive{
	color: green;
	margin:0px;
}

.JobsRunning::before,
.JobsQueued::before,
.JobsSuspended::before,
.UploadingActive::before{
	content:"\00b7";
	color: #333;
}

.UploadingProgress::before{
	content:"\00b7";
	color: #333;
}

.JobsQueued {
	color: orange;
	margin: 0px;
}

.JobsSuspended {
	color: red;
	margin:0px;
}


