.WorkspaceController,
.WorkspaceGlobalController {
	padding: 4px;
}

.WorkspaceController {
	background:#ddd;
	border-top: #227194;
}

.BrowserHeader {
	padding: 0;
	vertical-align:bottom;
}

a.HelpLink {
  color: #09456f;
}
a.HelpLink:visited {
  color: #09456f;
}
a.HelpLink:focus {
  color: #09456f;
}
a.HelpLink:hover {
  color: #34698e;
  text-decoration: underline;
}
a.HelpLink:active {
  color: #09456f;
}

.wsBreadCrumbContainer {
	display: inline-block;
	margin: 12px 0 0 8px;
}

.wsBreadCrumb {
	font-size:1.2em;
	margin: 2px 2px 2px 4px;
	font-weight: 600;
	padding:2px;
	color: #134d75;
}
.wsActionTooltip {
	padding: 2px;
}

.wsActionTooltip:hover{
	background:#d2d2d2;
	cursor: pointer;
}

.idMappingTable td:hover{
background:#d2d2d2;
cursor: pointer;
}

.idMappingHeader{
color:#fff;font-weight:600;background:#34698e;
}

.patric .BrowserHeader A,
.patric .wsBreadCrumb A {
	color: #123d75;
	font-size:1.0em;
	font-weight: 600;
	vertical-align: bottom;
}

.UploadComplete {
	color: green;
	border: 1px solid green;
}

.UploadingButton {
	display: inline-block;
	margin: 2px 4px 2px 2px;
	padding:2px;
	border: 1px solid gray;
}

.TypeContainer {
	display: inline-block;
	width: 80px;
	font-size:.65em;
	border:1px solid gray;
	padding:4px;
}

.ItemDetailAttribute{
	display: inline-block;
}
.ItemDetailAttributeValue{
	font-style: italic;
	display: inline-block;
	font-weight:500;
}
.ItemDetailHeaderTable{
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
}

.ItemDetailHeader{
	font-size:1.5em;font-weight:900;
	margin-left:20px;
}

.claro .ItemDetailPanel {
	background:#eee;
	color:#333;
	padding:4px;
	margin-left: -1px;
	border-left: 0 solid #888;
	border-top: 2px solid #76a72d; /*#34698e;*/
	overflow: auto;
}
.ItemTypeIcon {
	width:64px; 
	height: 64px;
	margin:auto;
	border: 1px solid gray;
}

.TypeContainer > DIV {
	text-align: center;
}

.WorkspaceExplorerView .dgrid-row {
	font-size: 1.2em;
	cursor: pointer;
}

.dgrid-cell.wsItemType,
.wsItemType {
	width: 32px;
	text-align: center;
}

.WorkspaceExplorerView .dgrid-cell {
	border: 0;
}
.wsItemName {
/*	width: 450px;*/
	white-space: nowrap;
}

th.dgrid-cell.wsItemName, th.dgrid-cell.wsItemSize, th.dgrid-cell.wsItemCreationTime, th.dgrid-cell.wsItemOwnerId {
	border-right: 1px solid #C0C0C0;
}
th.dgrid-cell.wsItemType {
	border-right: 0;
	padding-left: 0;
}
.dgrid-cell.wsItemName, .dgrid-cell.wsItemSize, .dgrid-cell.wsItemCreationTime, .dgrid-cell.wsItemOwnerId {
	padding-left:10px;
}

.wsItemOwnerId {
	width: 90px;
}

.wsItemSize {
	width: 150px;
}

.wsItemCreationTime {
	width: 150px;
}
.JobStatusButton,
.UploadStatusButton {
	position: relative;
	padding:1px;
	margin:2px;
	border-radius:3px;
	background: #333;
	color:#333;
	font-size: 1.1em;
}

.JobStatusButton {
	cursor: pointer;
}

.JobStatusButton > A:first-child,
.JobStatusButton > SPAN:first-child {
	color:#fff;margin:2px;padding:2px
}

.UploadStatusArea > SPAN {
	color:#fff;
	margin: 2px 2px 2px 0;
	padding: 2px 2px 2px 0;
}
.UploadStatusArea{
	cursor: pointer;
	display:inline-block;
}
.UploadStatusUpload{
	display:inline-block;
	margin: 2px 0 2px 2px;
	padding: 2px 0 2px 2px;
}

.UploadStatusUpload .fa {
	color: #ddd;
}

.JobStatusCount,
.UploadStatusCount {
	display:inline-block;background:#efefef;border-radius:2px;margin:2px;padding:2px;

}
.JobsComplete,
.UploadingComplete{
	color: blue;
	margin: 0;
}

.JobsRunning,
.UploadingProgress,
.UploadingActive{
	color: green;
	margin: 0;
}

.JobsRunning::before,
.JobsQueued::before,
.JobsSuspended::before,
.UploadingActive::before{
	content:"\00b7";
	color: #333;
}

.UploadingProgress::before{
	content:"\00b7";
	color: #333;
}

.JobsQueued {
	color: orange;
	margin: 0;
}

.JobsSuspended {
	color: red;
	margin: 0;
}

.ActionButtonWrapper {
	font-size: 1.1em;
	display: inline-block;
	text-align: center;
	margin:1px;
	cursor: pointer;
	width: 50px;
	border-radius: 4px;
	border: 1px solid #76a72d;
}
.ActionButtonWrapper.depressed:hover,
.ActionButtonWrapper.depressed .ActionButtonText,
.ActionButtonWrapper.depressed .ActionButton.fa,
.ActionButtonWrapper.depressed  {
	color: #ddd;
	border-color: #ddd;

}

.ActionButtonContainer {
	float: right;
	font-size:.85em;
	padding-top: 0;
	margin-top: 4px;
	vertical-align: bottom;
	bottom: 2px;
}

.ActionButtonWrapper .ActionButton.fa {
	color: #fff;
	margin: 2px 5px;

}

.GeneExpFilterPanel .ActionButtonWrapper:hover,
.GeneExpFilterPanel .ActionButtonWrapper .ActionButton,
.BrowserHeader .ActionButtonWrapper:hover,
.BrowserHeader .ActionButtonWrapper .ActionButton {
	color: #34698e;
}

.ActionButton.fa.ActiveActionButton {
    color: #abd6ff;
}

.ActionButtonText {
	font-size: .6em;
	color: #fff;
	margin: 0;
	text-align:center;
	white-space: normal;
	overflow: hidden;
}

.GeneExpFilterPanel .ActionButtonText,
.BrowserHeader .ActionButtonText {
	color: #34698e;
}

.claro .dijitTooltipBelow.dijitTooltipABRight .dijitTooltipConnector {
  /* above or below tooltip, but the arrow appears on the right,
		and the right edges of target and tooltip are aligned rather than the left.
		Override above rules for .dijitTooltipBelow, .dijitTooltipAbove */

  left: auto;
  right: 3px;
}

.GeneExpFilterPanel .ActionButtonWrapper:hover {
	border: 1px solid #34698e;
	color: #34698e;
}

.ActionButtonWrapper:hover {
	border: 1px solid #fff;
	border-radius: 4px;
	color: #fff;
}

.BrowserHeader .ActionButtonWrapper:hover {
	border: 1px solid #34698e;
	color: #34698e;
}

.BrowserHeader .ActionButtonWrapper {
        margin-top: -3px;
        margin-left: 2px;
	color: #34698e;
	border: 1px solid #fff;
	width: 58px;
	vertical-align: bottom;
}

.GeneExpFilterPanel .ActionButtonWrapper {
    margin-top: -3px;
    margin-left: 2px;
    margin-right: 20px;
	width: 58px;
	border: 1px solid #fff;
	color: #34698e;
	vertical-align: bottom;
}
.GeneExpFilterPanel .ActionButtonWrapper .fa {
	color: #34698e;
}
.GeneExpFilterPanel .ActionButtonWrapper .ActionButton.fa {
	color: #fff;
}

.dataItemSelection,
.workspaceItemSelection,
.multipleItemSelection,
.singleItemSelection,
.noItemSelection {
	display: block;
}

.multipleItemSelection,
.noItemSelection {
	text-align: center;
	font-size:1.2em;
	font-weight: bold;
}


.dataItem .singleItemSelection .workspaceItemSelection,
.workspaceItem .singleItemSelection .dataItemSelection,
.multipleSelection .noItemSelection,
.multipleSelection .singleItemSelection,
.singleSelection .noItemSelection,
.singleSelection .multipleItemSelection,
.noSelection .singleItemSelection,
.noSelection .multipleItemSelection {
	display: none;
}

.resultContentSection{
	display:block;
}

.job_result .resultContentSection{
	display:none;
}
.file .resultContentSection{
	display:none;
}
.containerContentSection {
	display: none;
}

.folder .containerContentSection.folder {
	display: block;
}

.experiment .containerContentSection.experiment {
    display: block;
}

.dataItemSelection {
	font-size: .85em;
	
}

.tip {
	border: 2px dotted #aaa;
	margin-top: 10px;	
	vertical-align: top;
	border-radius: 4px;
	background: #fff;
	text-align: left;
	padding-left:4px;
	padding-top:4px;
	padding-bottom:4px
}

.tip > p {
	margin:4px;
}

.tipHeader > span {
	font-size: 1em;
	font-weight: 600;
	margin: 4px;
}
.tipHeader {
	font-size: 1.5em;
	font-weight: 600;
	background: #efefef;
	vertical-align: top;
	color: #333;
	padding: 4px;
	float:left;
	height:22px;
	border-radius:5px;
	border:#d3d3d3 1px solid;
	display:inline-block;
	margin: 0 4px 0 0;
}
