<!DOCTYPE html>
<html lang="en">
	<head>
        <title>About Us | BV-BRC</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">

                            <h1 id="about-us">About BV-BRC</h1>
                            <p>The Bacterial and Viral Bioinformatics Resource Center (BV-BRC) is an information system designed to support the biomedical research community’s work on bacterial and viral infectious diseases via integration of vital pathogen information with rich data and analysis tools. BV-BRC combines the data, technology, and extensive user communities from two long-running centers: PATRIC, the bacterial system , and IRD/ViPR, the viral systems. In addition to hundreds of thousands of bacterial genomes in PATRIC and over a million viral genomes in IRD/ViPR, the two resources host data on protein structure and function, clinical studies, drug targets and resistance, epidemiology, and other features, and provide open source tools for data analysis and genomic annotation.</p>
                            <br>

                            <h2>Leadership</h2>
                            <p>Based at the University of Chicago (UChicago). BV-BRC combines two historically independent efforts at UChicago and the J. Craig Venter Institute (JCVI), for PATRIC and IRD/ViPR respectively. BV-BRC is led by two co-principal investigators:</p>
                            <br>
                            <p><strong style="font-size:16px;">Rick Stevens:</strong><br />
                            Professor of Computer Science at University of Chicago<br />
                            Associate Laboratory Director for Computing, Environment and Life Sciences at Argonne National Laboratory</p>
                            <br>
                            <p><strong style="font-size:16px;">Elliot Lefkowitz:</strong><br />
                            Professor of Microbiology, University of Alabama at Birmingham</p>
                            <br>
                            <p>The University of Virginia (UVA) and the Fellowship for Interpretation of Genomes (FIG) complete the team.</p>
                            <br>

                            <h2>Mission</h2>
                            <p>BV-BRC is committed to driving big data analytics and pushing the boundaries of bioinformatics tool development to accommodate the evolving needs of infectious disease research community.</p><br>
                            <p>BV-BRC is transforming the existing bacterial and viral BRC resources into an integrated scalable resource for comparative bioinformatics, large-scale data analysis, multi-scale systems biology exploration, integrative data mining and discovery, and machine learning that will serve as a paradigm for NIH data resources moving forward.</p><br>
                            <p>To accomplish this, BV-BRC is transforming the existing bacterial and viral BRC resources into an integrated scalable resource for comparative bioinformatics, large-scale data analysis, multi-scale systems biology exploration, integrative data mining and discovery, and machine learning that will serve as a paradigm for NIH data resources moving forward.</p><br>

                            <h2>Key Features</h2>
                            <ul style="list-style-type: disc;">
                                <li>Support for diverse bacterial and viral infectious disease research communities</li>
                                <li>Integration of PATRIC and IRD/ViPR resources into a unified resource</li>
                                <li>Unified data model, database, and real-time data integration processes</li>
                                <li>Efficient data management to support exponential growth of public and private data</li>
                                <li>Consistent and accurate genome annotations and other derived data types</li>
                                <li>Automated and manual curation of high value data and metadata</li>
                                <li>Integrated analysis of multi-omics systems biology data using visual analytics tools</li>
                                <li>Phylogenomic and epidemiological analysis for rapid outbreak response</li>
                                <li>Explainable AI / machine learning based tools</li>
                                <li>Modular and interoperable high-throughput compute-intensive data analysis servicesa</li>
                                <li>Private user workspace for data analysis, sharing and publishing</li>
                                <li>Programmatic and batch access via APIs, Command-line Interface (CLI), and FTP</li>
                                <li>Online outreach and education materials</li>
                            </ul>

                            <h2>Funding</h2>
                            <p>This project has been funded in whole or in part with Federal funds from the National Institute of Allergy and Infectious Diseases, National Institutes of Health, Department of Health and Human Services, under Grant <strong>No. U24AI183849</strong>.</p>
                            <br>
                            <!--
                            <h2>Performance and Usage Metrics</h2>
                            <a href="public/patric/pdf/bv-brc-performance-metrics-report-may-2022.pdf" style="font-size: 16px; font-weight: bold;">BV-BRC Performance Metrics Report - May 2022</a>
                            <br>
                            <br>
                            <a href="public/patric/pdf/bv-brc-usage-metrics-report-may-2022.pdf" style="font-size: 16px; font-weight: bold;">BV-BRC Usage Metrics Report - May 2022</a>
                            <br>
                            <br>
                            <a href="https://status.patricbrc.org/webstats/cgi-bin/awstats.pl?config=All_BVBRC_Combined" target=_blank style="font-size: 16px; font-weight: bold;">BV-BRC Website Statistics</a>
                            -->

                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>
