<!DOCTYPE html>
<html lang="en">
	<head>
        <title>BRC Calendar | BV-BRC</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">
                            <h1 id="about-us">BRC Calendar</h1>
                            <p>This calendar provides a consolidated view of events, such as webinars and workshops, across both BRCs, <a style="font-weight: bold;" href="https://www.bv-brc.org" target="_blank">BV-BRC</a> and <a style="font-weight: bold;" href="https://veupathdb.org/veupathdb/app" target="_blank">VEuPathDB</a>. Clicking on an event provides additional details and the option to add the event to your calendar.</p>
                            <br>
                            <br>
                            <iframe
                            src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=YnJjZ2F0ZXdheUBnbWFpbC5jb20&amp;src=Y19xbG9ncGFwYnViZmh1M2c3cmgzZWsyODlhY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=YnZicmMxQGdtYWlsLmNvbQ&amp;color=%23039BE5&amp;color=%23F09300&amp;color=%23E4C441&amp;showTz=1&amp;showCalendars=0&amp;showTabs=1&amp;showPrint=0&amp;showDate=1&amp;showNav=1&amp;showTitle=0"
                            style={{ borderWidth: "0" }}
                            width="800"
                            height="600"
                            frameborder="0"
                            scrolling="no"
                          ></iframe>
                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>
