<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../header %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<% include ../bv-brc-header %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">
                          <h1 id="citation">Citation</h1>
                          <h2 id="citing-patric">Citing PATRIC</h2>
                          <p>If you use <strong>PATRIC web resources</strong> to assist in research publications or proposals please cite as:</p>
                          <p>Wattam AR, Davis JJ, Assaf R, Boisvert S, Brettin T, Bun C, Conrad N, Dietrich EM, Disz T, Gabbard JL, Gerdes S, Henry CS, Kenyon RW, Machi D, Mao C, Nordberg EK, Olsen GJ, Murphy-Olson DE, Olson R, Overbeek R, Parrello B, Pusch GD, Shukla M, Vonstein V, Warren A, Xia F, Yoo H, Stevens RL. Improvements to PATRIC, the all-bacterial Bioinformatics Database and Analysis Resource Center. <em>Nucleic Acids Res</em>. 2017 Jan 4;45(D1):D535-D542. doi: 10.1093/nar/gkw1017. PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/27899627">27899627</a>. PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4322359/">PMC5210524</a>.</p>
                          <p>For annotations generated using the <strong>PATRIC RASTtk-enabled Genome Annotation Service</strong>, please cite:</p>
                          <p>Brettin, T., J. J. Davis, T. Disz, R. A. Edwards, S. Gerdes, G. J. Olsen, R. Olson, R. Overbeek, B. Parrello, G. D. Pusch, M. Shukla, J. A. Thomason, 3rd, R. Stevens, V. Vonstein, A. R. Wattam and F. Xia. RASTtk: a modular and extensible implementation of the RAST algorithm for building custom annotation pipelines and annotating batches of genomes. <em>Sci Rep</em>. 2015. 5: 8365. PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/25666585">25666585</a>. PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4322359/">PMC4322359</a>.</p>
                          <h2 id="citing-ird-and-vipr">Citing IRD and ViPR:</h2>
                          <p>The contributions of those who have made original data available or contributions of collaborators, if any, from IRD or ViPR must be reflected expressly in all written or oral public disclosures concerning research using the data, by citation, acknowledgement or co-authorship, as deemed appropriate in accordance with scientific custom.</p>
                          <p>If you submit an article or abstract for publication that uses any part of data from IRD or ViPR, you hereby agree to cite us. The preferred method is in the Materials and Methods section as follows:</p>
                          <p><strong>IRD</strong><br />
                          “Data was obtained from the NIAID Influenza Research Database (IRD) <a href="https://www.ncbi.nlm.nih.gov/pubmed/27679478">Zhang Y, et al. (2017)</a> through the web site at <a href="http://www.fludb.org">http://www.fludb.org</a>.” and with links to relevant website pages in the body of the paper.</p>
                          <p><strong>ViPR</strong><br />
                          “Data was obtained from the NIAID Virus Pathogen Database and Analysis Resource (ViPR) [Pickett et al. (2012)] through the web site at <a href="http://www.viprbrc.org">http://www.viprbrc.org</a>.”, and with links to relevant website pages in the body of the paper.</p>
                          <h2 id="citing-the-bv-brc-contract">Citing the BV-BRC contract:</h2>
                          <p>In some circumstances, you may also wish to cite BV-BRC in the Acknowledgement section, as follows: "The Bacterial and Viral Bioinformatics Resource Center (BV-BRC) has been funded in whole or in part with federal funds from the National Institute of Allergy and Infectious Diseases, National Institutes of Health, Department of Health and Human Services, under Contract No. 75N93019C00076 to The University of Chicago.</p>
                          <h2 id="contacting-us">Contacting us:</h2>
                          <p>If your manuscript or abstract submission is accepted, our team would greatly appreciate e-mail notification of the publication citation, solely for tracking resource usage. Please send email notifications to:</p>
                          <p>PATRIC: <a href="mailto:help@patricbrc.org">help@patricbrc.org</a><br />
                          IRD/ViPR: <a href="mailto:feedback@virusbrc.org">feedback@virusbrc.org</a></p>
                        </div>
                    </div>
                </div>
                <% include ../bv-brc-footer %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<% include ../javascript %>
	</body>
</html>