<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Citation | BV-BRC</title>
		<% include ../header %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<% include ../bv-brc-header %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content">
                          <h1 id="citation">Citing PATRIC and IRD/ViPR</h1>
                          <h2 id="citing-patric">Citing PATRIC:</h2>
                          <p>If you use <strong>PATRIC web resources</strong> to assist in research publications or proposals please cite as:</p>
                          <br>
                          <p><strong>Improvements to PATRIC, the all-bacterial Bioinformatics Database and Analysis Resource Center.</strong><br>
                            Wattam AR, Davis JJ, Assaf R, Boisvert S, Brettin T, Bun C, Conrad N, Dietrich EM, Disz T, Gabbard JL, Gerdes S, Henry CS, Kenyon RW, Machi D, Mao C, Nordberg EK, Olsen GJ, Murphy-Olson DE, Olson R, Overbeek R, Parrello B, Pusch GD, Shukla M, Vonstein V, Warren A, Xia F, Yoo H, Stevens RL. <br>
                            Nucleic Acids Res. 2017 Jan 4;45(D1):D535-D542. doi: 10.1093/nar/gkw1017.<br />
                            PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/27899627">27899627</a>; PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4322359/">PMC5210524</a>.</p>
                          <br>
                          <h2 id="citing-ird">Citing IRD:</h2>
                          <p>If you use <strong>IRD web resources</strong> to assist in research publications or proposals please cite as:</p>
                          <br>
                          <p><strong>Influenza Research Database: An integrated bioinformatics resource for influenza virus research.</strong><br>
                            Zhang Y, Aevermann BD, Anderson TK, Burke DF, Dauphin G, Gu Z, He S, Kumar S, Larsen CN, Lee AJ, Li X, Macken C, Mahaffey C, Pickett BE, Reardon B, Smith T, Stewart L, Suloway C, Sun G, Tong L, Vincent AL, Walters B, Zaremba S, Zhao H, Zhou L, Zmasek C, Klem EB, Scheuermann RH.<br />
                            Nucleic Acids Res. 2017 Jan 4;45(D1):D466-D474. doi: 10.1093/nar/gkw857. Epub 2016 Sep 26.<br />
                            PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/27679478">27679478</a>; PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC5210613/">PMC5210613</a>.
                          </p>
                          <br>
                          <h2 id="citing-vipr">Citing ViPR:</h2>
                          <p>If you use <strong>ViPR web resources</strong> to assist in research publications or proposals please cite as:</p>
                          <br>
                          <p><strong>Virus pathogen database and analysis resource (ViPR): a comprehensive bioinformatics database and analysis resource for the coronavirus research community.</strong><br>
                            Pickett BE, Greer DS, Zhang Y, Stewart L, Zhou L, Sun G, Gu Z, Kumar S, Zaremba S, Larsen CN, Jen W, Klem EB, Scheuermann RH.<br />
                            Viruses. 2012 Nov 19;4(11):3209-26. doi: 10.3390/v4113209.<br />
                            PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/23202522">23202522</a>; PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3509690/">PMC3509690</a>.
                          </p>
                          <br>
                          <h2 id="citing-the-bv-brc-contract">Citing the BV-BRC contract:</h2>
                          <p>In some circumstances, you may also wish to cite BV-BRC in the Acknowledgement section, as follows: "The Bacterial and Viral Bioinformatics Resource Center (BV-BRC) has been funded in whole or in part with federal funds from the National Institute of Allergy and Infectious Diseases, National Institutes of Health, Department of Health and Human Services, under Contract No. 75N93019C00076 to The University of Chicago.</p>
                          <br>
                          <h2 id="contacting-us">Contacting us:</h2>
                          <p>If your manuscript or abstract submission is accepted, our team would greatly appreciate e-mail notification of the publication citation, solely for tracking resource usage. Please send email notifications to:</p>
                          <br>
                          <p>PATRIC: <a href="mailto:help@patricbrc.org">help@patricbrc.org</a><br />
                          IRD/ViPR: <a href="mailto:feedback@virusbrc.org">feedback@virusbrc.org</a></p>
                          <br>
                        </div>
                    </div>
                </div>
                <% include ../bv-brc-footer %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<% include ../javascript %>
	</body>
</html>