<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Citation | BV-BRC</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content citation-content">
                          <h1 id="citation">Citing BV-BRC Resources</h1>

                          <h3 id="citing-bv-brc">Citing BV-BRC:</h3>
                          <p>If you use <strong>BV-BRC web resources</strong> to assist in research publications or proposals, please cite as:</p>
                          <br>
			  <p><a href="https://pubmed.ncbi.nlm.nih.gov/36350631/">Introducing the Bacterial and Viral Bioinformatics Resource Center (BV-BRC): a resource combining PATRIC, IRD and ViPR.</a><br>
                            Olson RD, Assaf R, Brettin T, Conrad N, Cucinell C, Davis JJ, Dempsey DM, Dickerman A, Dietrich EM, Kenyon RW, Kuscuoglu M, Lefkowitz EJ, Lu J, Machi D, Macken C, Mao C, Niewiadomska A, Nguyen M, Olsen GJ, Overbeek JC, Parrello B, Parrello V, Porter JS, Pusch GD, Shukla M, Singh I, Stewart L, Tan G, Thomas C, VanOeffelen M, Vonstein V, Wallace ZS, Warren AS, Wattam AR, Xia F, Yoo H, Zhang Y, Zmasek CM, Scheuermann RH, Stevens RL.<br />
                            Nucleic Acids Res. 2022 Nov 9:gkac1003. doi: 10.1093/nar/gkac1003. Epub ahead of print.<br />
                            PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/36350631">36350631</a>
                          </p>
			  <br>
                          <p>
                            The Bacterial and Viral Bioinformatics Resource Center (BV-BRC), <a href="https://www.bv-brc.org/">https://www.bv-brc.org/</a>
                          </p>
                          <br>

                          <h3 id="citing-patric">Citing PATRIC:</h3>
                          <p>If you use <strong>PATRIC web resources</strong> to assist in research publications or proposals, please cite as:</p>
                          <br>
                          <p><a href="https://pubmed.ncbi.nlm.nih.gov/27899627">Improvements to PATRIC, the all-bacterial Bioinformatics Database and Analysis Resource Center.</a><br>
                            Wattam AR, Davis JJ, Assaf R, Boisvert S, Brettin T, Bun C, Conrad N, Dietrich EM, Disz T, Gabbard JL, Gerdes S, Henry CS, Kenyon RW, Machi D, Mao C, Nordberg EK, Olsen GJ, Murphy-Olson DE, Olson R, Overbeek R, Parrello B, Pusch GD, Shukla M, Vonstein V, Warren A, Xia F, Yoo H, Stevens RL. <br>
                            Nucleic Acids Res. 2017 Jan 4;45(D1):D535-D542. doi: 10.1093/nar/gkw1017.<br />
                            PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/27899627">27899627</a>; PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4322359/">PMC5210524</a>.</p>
                          <br>

                          <h3 id="citing-ird">Citing IRD:</h3>
                          <p>If you use <strong>IRD web resources</strong> to assist in research publications or proposals, please cite as:</p>
                          <br>
                          <p><a href="https://pubmed.ncbi.nlm.nih.gov/27679478">Influenza Research Database: An integrated bioinformatics resource for influenza virus research.</a><br>
                            Zhang Y, Aevermann BD, Anderson TK, Burke DF, Dauphin G, Gu Z, He S, Kumar S, Larsen CN, Lee AJ, Li X, Macken C, Mahaffey C, Pickett BE, Reardon B, Smith T, Stewart L, Suloway C, Sun G, Tong L, Vincent AL, Walters B, Zaremba S, Zhao H, Zhou L, Zmasek C, Klem EB, Scheuermann RH.<br />
                            Nucleic Acids Res. 2017 Jan 4;45(D1):D466-D474. doi: 10.1093/nar/gkw857. Epub 2016 Sep 26.<br />
                            PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/27679478">27679478</a>; PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC5210613/">PMC5210613</a>.
                          </p>
                          <br>

                          <h3 id="citing-vipr">Citing ViPR:</h3>
                          <p>If you use <strong>ViPR web resources</strong> to assist in research publications or proposals, please cite as:</p>
                          <br>
                          <p><a href="https://www.ncbi.nlm.nih.gov/pubmed/23202522">Virus pathogen database and analysis resource (ViPR): a comprehensive bioinformatics database and analysis resource for the coronavirus research community.</a><br>
                            Pickett BE, Greer DS, Zhang Y, Stewart L, Zhou L, Sun G, Gu Z, Kumar S, Zaremba S, Larsen CN, Jen W, Klem EB, Scheuermann RH.<br />
                            Viruses. 2012 Nov 19;4(11):3209-26. doi: 10.3390/v4113209.<br />
                            PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/23202522">23202522</a>; PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3509690/">PMC3509690</a>.
                          </p>
                          <br>

                          <h3 id="citing-the-bv-brc-contract">Citing the BV-BRC contract:</h3>
                          <p>In some circumstances, you may also wish to cite BV-BRC in the Acknowledgement section as follows: "The Bacterial and Viral Bioinformatics Resource Center (BV-BRC) has been funded in whole or in part with federal funds from the National Institute of Allergy and Infectious Diseases, National Institutes of Health, Department of Health and Human Services, under Grant No. U24AI183849 to the University of Chicago.</p>
                          <br>

                          <h3 id="contacting-us">Contacting us:</h3>
                          <p>If your manuscript or abstract submission is accepted and cites BV-BRC, please notify us by sending an email to the following address, to help us track the resource usage.</p>
                          <br>
                          <p>BV-BRC: <a href="mailto:help@bv-brc.org">help@bv-brc.org</a><br>
                          </p>
                          <br>
                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>
