<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Publications | BV-BRC</title>
		<% include ../header %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<% include ../bv-brc-header %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content publications-content">
                          <h1 id="publications">Publications</h1>


                        <!-- <p><a href=""></a><br>
                            <br>

                        </p>
                        <br> -->

                          <div class="patric-publications">
                            <h2>PATRIC Publications</h2>
                            <a class="navigationLinkOut full-list" href="https://docs.patricbrc.org/publications.html">Full List Here</a>
                            <br>
                            <h3>2021:</h3>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33483546/">Detecting operons in bacterial genomes via visual representation learning.</a><br>
                                Assaf R, Xia F, Stevens R.<br>
                                Sci Rep. 2021 Jan 22;11(1):2124. doi: 10.1038/s41598-021-81169-9. PMID: 33483546. PMCID: PMC7822928
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/34128695/">Predicting Antimicrobial Resistance Using Partial Genome Alignments. </a><br>
                                Aytan-Aktug D, Nguyen M, Clausen PTLC, Stevens RL, Aarestrup FM, Lund O, Davis JJ.<br>
                                mSystems. 2021 Jun 29;6(3):e0018521. doi: 10.1128/mSystems.00185-21. Epub 2021 Jun 15. PMID: 34128695. PMCID: PMC8269213
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/34303698/">Delta variants of SARS-CoV-2 cause significantly increased vaccine breakthrough COVID-19 cases in Houston, Texas.</a><br>
                                Christensen PA, Olsen RJ, Long SW, Subedi S, Davis JJ, Hodjat P, Walley DR, Kinskey JC, Ojeda Saavedra M, Pruitt L, Reppond K, Shyer MN, Cambric J, Gadd R, Thakur RM, Batajoo A, Mangham R, Pena S, Trinh T, Yerramilli P, Nguyen M, Olson R, Snehal R, Gollihar J, Musser JM. Am J Pathol.<br>
                                2021 Nov 10:S0002-9440(21)00480-6. doi: 10.1016/j.ajpath.2021.10.019.  PMID: 34303698. PMCID: PMC8299152
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33741335/">Sequence Analysis of 20,453 Severe Acute Respiratory Syndrome Coronavirus 2 Genomes from the Houston Metropolitan Area Identifies the Emergence and Widespread Distribution of Multiple Isolates of All Major Variants of Concern. </a><br>
                                Long SW, Olsen RJ, Christensen PA, Subedi S, Olson R, Davis JJ, Saavedra MO, Yerramilli P, Pruitt L, Reppond K, Shyer MN, Cambric J, Finkelstein IJ, Gollihar J, Musser JM.  Am J Pathol.<br>
                                2021 Mar 16:S0002-9440(21)00108-5. doi: 10.1016/j.ajpath.2021.03.004. Epub ahead of print. PMID: 33741335. PMCID: PMC7962948
                            </p>
                            <br>
                            <p><a href="https://doi.org/10.1093/bib/bbab313">A genomic data resource for predicting antimicrobial resistance from laboratory-derived antimicrobial susceptibility phenotypes.</a><br>
                                Margo VanOeffelen, Marcus Nguyen, Derya Aytan-Aktug, Thomas Brettin, Emily M Dietrich, Ronald W Kenyon, Dustin Machi, Chunhong Mao, Robert Olson, Gordon D Pusch, Maulik Shukla, Rick Stevens, Veronika Vonstein, Andrew S Warren, Alice R Wattam, Hyunseung Yoo, James J Davis.<br>
                                Briefings in Bioinformatics, Volume 22, Issue 6, November 2021, bbab313, https://doi.org/10.1093/bib/bbab313.
                            </p>
                            <br>
                            <p><a href="https://doi.org/10.1101/2021.03.16.21253753">Rapid, widespread, and preferential increase of SARS-CoV-2 B. 1.1. 7 variant in Houston, TX, revealed by 8,857 genome sequences.</a><br>
                                Musser JM, Olsen RJ, Christensen PA, Long SW, Subedi S, Davis JJ, Gollihar J.<br>
                                medRxiv. 2021 Jan 1. doi: 2021.03.16.21253753
                            </p>
                            <br>
                            <p><a href="https://doi.org/10.1371/journal.pone.0250092">Supervised extraction of near-complete genomes from metagenomic samples: A new service in PATRIC. </a><br>
                                Parrello B, Butler R, Chlenski P, Pusch GD, Overbeek R.<br>
                                (2001). PLoS ONE 16(4): e0250092. https://doi.org/10.1371/journal.pone.0250092
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/34303698/">Trajectory of Growth of Severe Acute Respiratory Syndrome Coronavirus 2 (SARS-CoV-2) Variants in Houston, Texas, January through May 2021, Based on 12,476 Genome Sequences.  </a><br>
                                Olsen RJ, Christensen PA, Long SW, Subedi S, Hodjat P, Olson R, Nguyen M, Davis JJ, Yerramilli P, Saavedra MO, Pruitt L, Reppond K, Shyer MN, Cambric J, Gadd R, Thakur RM, Batajoo A, Finkelstein IJ, Gollihar J, Musser JM.  Am J Pathol.<br>
                                2021 Oct;191(10):1754-1773. doi: 10.1016/j.ajpath.2021.07.002. Epub 2021 Jul 23. PMID: 34303698. PMCID: PMC8299152
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/34235665/">Identification and Characterization of Mycobacterial Species Using Whole-Genome Sequences.</a><br>
                                Riojas MA, Frank AM, Greenfield SR, King SP, Meehan CJ, Strong M, Wattam AR, Hazbón MH.<br>
                                Methods Mol Biol. 2021;2314:399-457. doi: 10.1007/978-1-0716-1460-0_19. PMID: 34235665.
                            </p>
                            <br>
                            <h3>2020:</h3>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/31667520">The PATRIC Bioinformatics Resource Center: expanding data and analysis capabilities.</a><br>
                                Davis JJ, Wattam AR, Aziz RK, Brettin T, Butler R, Butler RM, Chlenski P, Conrad N, Dickerman A, Dietrich EM, Gabbard JL, Gerdes S, Guard A, Kenyon RW, Machi D, Mao C, Murphy-Olson D, Nguyen M, Nordberg EK, Olsen GJ, Olson RD, Overbeek JC, Overbeek R, Parrello B, Pusch GD, Shukla M, Thomas C, VanOeffelen M, Vonstein V, Warren AS, Xia F, Xie D, Yoo H, Stevens R.<br>
                                Nucleic Acids Res. 2020 Jan 8;48(D1):D606-D612. doi: 10.1093/nar/gkz943. PMID: 31667520.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/32031908/">Characterization of the First mecA-Positive Multidrug-Resistant Staphylococcus pseudintermedius Isolated from an Argentinian Patient.</a><br>
                                Gagetti P, Errecalde L, Wattam AR, De Belder D, Ojeda Saavedra M, Corso A, Rosato AE.<br>
                                2020. Microb Drug Resist. doi: 10.1089/mdr.2019.0308. PMID: 32031908. PMCID: PMC7368382.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33127862/">Molecular Architecture of Early Dissemination and Massive Second Wave of the SARS-CoV-2 Virus in a Major Metropolitan Area.</a><br>
                                Long SW, Olsen RJ, Christensen PA, Bernard DW, Davis JJ, Shukla M, Nguyen M, Saavedra MO, Yerramilli P, Pruitt L, Subedi S, Kuo HC, Hendrickson H, Eskandari G, Nguyen HAT, Long JH, Kumaraswami M, Goike J, Boutz D, Gollihar J, McLellan JS, Chou CW, Javanmardi K, Finkelstein IJ, Musser JM.<br>
                                mBio. 2020 Oct 30;11(6):e02707-20. doi: 10.1128/mBio.02707-20. PMID: 33127862. PMCID: PMC7642679.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/32503990/">A synthesis of bacterial and archaeal phenotypic trait data.</a><br>
                                Madin JS, Nielsen DA, Brbic M, Corkrey R, Danko D, Edwards K, Engqvist MKM, Fierer N, Geoghegan JL, Gillings M, Kyrpides NC, Litchman E, Mason CE, Moore L, Nielsen SL, Paulsen IT, Price ND, Reddy TBK, Richards MA, Rocha EPC, Schmidt TM, Shaaban H, Shukla M, Supek F, Tetu SG, Vieira-Silva S, Wattam AR, Westfall DA, Westoby M.Sci Data. 2020.<br>
                                Jun 5;7(1):170. doi: 10.1038/s41597-020-0497-4. PMID: 32503990. PMCID: PMC7275036.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33010049/">Predicting antimicrobial susceptibility from the bacterial genome: A new paradigm for one health resistance monitoring.</a><br>
                                McDermott PF, Davis JJ.<br>
                                Journal of Veterinary Pharmacology and Therapeutics. doi: 10.1111/jvp.12913. PMID: 33010049.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33075053/">Predicting antimicrobial resistance using conserved genes.</a><br>
                                Nguyen M, Olson R, Shukla M, VanOeffelen M, Davis JJ.<br>
                                PLoS Comput Biol. 2020 Oct 19;16(10):e1008319. doi: 10.1371/journal.pcbi.1008319. eCollection 2020 Oct. PMID: 33075053. PMCID: PMC7595632.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/32843552/">A Genome-Based Model to Predict the Virulence of Pseudomonas aeruginosa Isolates.</a><br>
                                Pincus NB, Ozer EA, Allen JP, Nguyen M, Davis JJ, Winter DR, Chuang CH, Chiu CH, Zamorano L, Oliver A, Hauser AR.<br>
                                mBio. 2020 Aug 25;11(4):e01527-20. doi: 10.1128/mBio.01527-20. PMID: 32843552. PMCID: PMC7448275.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/31801839">Helicobacter pylori Infections in the Bronx, New York: Surveying Antibiotic Susceptibility and Strain Lineage by Whole-Genome Sequencing.</a></br>
                                Saranathan R, Levi MH, Wattam AR, Malek A, Asare E, Behin DS, Pan DH, Jacobs WR Jr, Szymczak WA. J Clin Microbiol.<br>
                                2020 Feb 24;58(3). pii: e01591-19. doi: 10.1128/JCM.01591-19. Print 2020 Feb 24. PMID: 31801839 PMCID: PMC7041580
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33093601/">Carbapenems as a key driver of collateral ceftaroline resistance in cystic fibrosis patients with MRSA.</a><br>
                                Varela MC, Roch M, Taglialegna A, W Long SW, Saavedra MO, Rose WE, Wattam AR, Davis JJ, Hoffman LR, Hernandez RE, Rosato RR and Rosato AE.<br>
                                Nature Communications Biology 2020. doi: 10.1038/s42003-020-01313-5. PMID: 33093601. PMCID: PMC7582194.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33347470/">Taxonomic classification of strain PO100/5 shows a broader geographic distribution and genetic markers of the recently described Corynebacterium silvaticum.</a><br>
                                Viana MVC, Profeta R, da Silva AL, Hurtado R, Cerqueira JC, Ribeiro BFS, Almeida MO, Morais-Rodrigues F, Soares SC, Oliveira M, Tavares L, Figueiredo H, Wattam AR, Barh D, Ghosh P, Silva A, Azevedo V.<br>
                                PLoS One. 2020 Dec 21;15(12):e0244210. doi: 10.1371/journal.pone.0244210. eCollection 2020. PMID: 33347470. PMCID: PMC7751848.
                            </p>
                            <br>
                            <h3>2019:</h3>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/31351494">Identification and molecular epidemiology of methicillin resistant Staphylococcus pseudintermedius strains isolated from canine clinical samples in Argentina.</a><br>
                                Gagetti P, Wattam AR, Giacoboni G, De Paulis A, Bertona E, Corso A, Rosato AE.<br>
                                BMC Vet Res. 2019 Jul 27;15(1):264. doi: 10.1186/s12917-019-1990-x.PMID: 31351494. PMCID: PMC6660709.</p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/30333126">Using machine learning to predict antimicrobial minimum inhibitory concentrations and associated genomic features for nontyphoidal Salmonella.</a><br>
                                Nguyen M, Long SW, McDermott PF, Olsen RJ, Olson R, Stevens RL, Tyson GH, Zhao S, Davis JJ.<br>
                                Journal of clinical microbiology. 2019 Feb 1;57(2):e01260-18. PMID: 30333126. DOI: 10.1128/JCM.01260-18. </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/31581946">A machine learning-based service for estimating quality of genomes using PATRIC.</a><br>
                                Parrello B, Butler R, Chlenski P, Olson R, Overbeek J, Pusch GD, Vonstein V, Overbeek R.<br>
                                BMC Bioinformatics. 2019; 20, Article number: 486. Open Access. PMID: 31581946 PMCID: PMC6775668</p>
                            <br>
                            <h3>2018:</h3>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/30555248">Whole genome sequence analysis of NDM-1, CMY-4, and sHV-12 coproducing Salmonella enterica serovar typhimurium isolated from a case of fatal burn wound infection.</a><br>
                                Banerjee K, Sekar P, Krishnan P, Wattam AR, Roy S, Hays JP, Menezes GA.<br>
                                Infection and Drug Resistance. 2018;11:2491. PMID: 30555248. PMCID: PMC6278884. </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/29451601">Cell Division in genus Corynebacterium: protein-protein interaction and molecular docking of SepF and FtsZ in the understanding of cytokinesis in pathogenic species.</a><br>
                                Folador EL, Gomide AC, Goes-Neto AR, Azevedo VA, Wattam AR.<br>
                                Anais da Academia Brasileira de Ciências. 2018 Aug. 90(2 suppl 1):2179-2188. doi: 10.1590/0001-3765201820170385. Epub 2018 Feb 15. PMID: 29451601. DOI: 10.1590/0001-3765201820170385. </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/29323230">Developing an in silico minimum inhibitory concentration panel test for Klebsiella pneumoniae.</a><br>
                                Nguyen M, Brettin T, Long SW, Musser JM, Olsen RJ, Olson R, Shukla M, Stevens RL, Xia F, Yoo H, Davis JJ.<br>
                                Sci Rep. 2018 Jan 11;8(1):421. doi: 10.1038/s41598-017-18972-w. PMID: 29323230. PMCID:PMC5765115. </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/30419061">Rapidly evolving changes and gene loss associated with host switching in Corynebacterium pseudotuberculosis.</a><br>
                                Viana MV, Sahm A, Neto AG, Figueiredo HC, Wattam AR, Azevedo V.<br>
                                PloS one. 2018 Nov 12;13(11):e0207304. PMID: 30419061. PMCID: PMC6231662. </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/29277864">Assembly, Annotation, and Comparative Genomics in PATRIC, the All Bacterial Bioinformatics Resource Center.</a><br>
                                Wattam AR, Brettin T, Davis JJ, Gerdes S, Kenyon R, Machi D, Mao C, Olson R, Overbeek R, Pusch GD, Shukla MP, Stevens R, Vonstein V, Warren A, Xia F, Yoo H.<br>
                                Methods Mol Biol. 2018;1704:79-101. PMID:29277864. DOI: 10.1007/978-1-4939-7463-4_4</p>
                            <br>
                          </div>
                          <div class="ird-publications">
                            <h2>IRD Publications</h2>
                            <a class="navigationLinkOut full-list" href="https://www.fludb.org/brc/publicationsIRD.spg?method=pubsPres&amp;decorator=influenza">Full List Here</a>
                            <br>
                            <h3>2021</h3>
                            <p><a href="https://linkinghub.elsevier.com/retrieve/pii/B9780128096338209953">Database and Analytical Resources for Viral Research Community.</a><br>
                                Sujal Phadke, Saichetana Macherla, Richard H. Scheuermann.<br>
                                Database and Analytical Resources for Viral Research Community, Editor(s): Dennis H. Bamford, Mark Zuckerman, Encyclopedia of Virology (Fourth Edition), Academic Press, 2021, Pages 141-152, ISBN 9780128145166,
                            </p>
                            <br>
                            <h3>2017:</h3>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/27981236">OFFLU swine influenza experts develop global nomenclature system and automated annotation tool for H1 haemagglutinin genes of influenza A viruses.</a><br>
                                Amy L. Vincent, Tavis K. Anderson, Catherine A. Macken, Yun Zhang, Nicola S. Lewis, Richard H. Scheuermann.<br>
                                World Organization for Animal Health Bulletin, 2017, 2: 106-113 PMID: 27981236 PMCID: PMC5156671</p>
                            <br>
                            <p><a href="https://www.fludb.org/brcDocs/documents/rss_feed_doc/Zhang_2017AASV_swineInfluenzaAnalysis.pdf">In silico analysis of swine influenza virus sequence data in the Influenza Research Database.</a><br>
                                Yun Zhang, Tavis K. Anderson, Amy L. Vincent, Phillip C. Gauger, Catherine A. Macken, Richard H. Scheuermann.<br>
                                Proceedings of the 48th Annual Meeting of the American Association of Swine Veterinarians, Denver, Colorado, February 25-28, 2017</p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/28434256/">A bioinformatics roadmap for the human vaccines project.</a><br>
                                RH Scheuermann, RS Sinkovits , T Schenkelberg, and WC Koff.<br>
                                Expert Rev Vaccines. 2017. doi: 10.1080/14760584.2017.1322752</p>
                            <br>
                          </div>
                          <div class="vipr-publications">
                            <h2>ViPR Publications</h2>
                            <a class="navigationLinkOut full-list" href="https://www.viprbrc.org/brc/publicationsVipr.spg?method=pubsPres&amp;decorator=vipr">Full List Here</a>
                            <br>
                            <h3>2021</h3>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7941626/">Negligible impact of SARS-CoV-2 variants on CD4 + and CD8 + T cell reactivity in COVID-19 exposed donors and vaccinees.</a><br>
                                Tarke A, Sidney J, Methot N, Zhang Y, Dan JM, Goodwin B, Rubiro P, Sutherland A, da Silva Antunes R, Frazier A, Rawlings SA, Smith DM, Peters B, Scheuermann RH, Weiskopf D, Crotty S, Grifoni A, Sette A.<br>
                                bioRxiv [Preprint]. 2021 Mar 1:2021.02.27.433180. doi: 10.1101/2021.02.27.433180. Update in: Cell Rep Med. 2021 Jul 2;:100355. PMID: 33688655; PMCID: PMC7941626.
                            </p>
                            <br>
                            <p><a href="https://linkinghub.elsevier.com/retrieve/pii/B9780128096338209953">Database and Analytical Resources for Viral Research Community.</a><br>
                                Sujal Phadke, Saichetana Macherla, Richard H. Scheuermann.
                                Database and Analytical Resources for Viral Research Community, Editor(s): Dennis H. Bamford, Mark Zuckerman, Encyclopedia of Virology (Fourth Edition)<br>
                                Academic Press, 2021, Pages 141-152, ISBN 9780128145166,
                            </p>
                            <br>
                            <h3>2020:</h3>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/32183941/">A Sequence Homology and Bioinformatic Approach Can Predict Candidate Targets for Immune Responses to SARS-CoV-2.</a><br>
                                A, Sidney J, Zhang Y, Scheuermann RH, Peters B, Sette A.<br>
                                Cell Host Microbe. 2020 Mar 12. pii: S1931-3128(20)30166-9. doi: 10.1016/j.chom.2020.03.002. PMID: 32183941</p>
                            <br>
                            <p><a href="https://doi.org/10.3390/microorganisms8121856">Epidemiology and sequence-based evolutionary analysis of circulating non-polio enteroviruses.</a><br>
                                Brown, David M., Yun Zhang, and Richard H. Scheuermann. 2020.<br>
                                Microorganisms 8, no. 12: 1856. https://doi.org/10.3390/microorganisms8121856
                            </p>
                            <br>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7366807/">Candidate Targets for Immune Responses to 2019-Novel Coronavirus (nCoV): Sequence Homology- and Bioinformatic-Based Predictions.</a><br>
                                Grifoni A, Sidney J, Zhang Y, Scheuermann RH, Peters B, Sette A. <br>
                                SSRN [Preprint]. 2020 Feb 25:3541361. doi: 10.2139/ssrn.3541361. PMID: 32714104; PMCID: PMC7366807.
                            </p>
                            <br>
                            <p><a href="https://www.ijidonline.com/article/S1201-9712(20)32357-2/fulltext">Identifying disease severity associated genetic regions in Dengue virus using computational and machine learning approaches.</a><br>
                                Zhang, Y., Bhattacharya, R. & Scheuermann, R. <br>
                                Int. J. Infect. Dis. 101, 231 (2020).
                            </p>
                            <br>
                            <h3>2019:</h3>
                            <p><a href="https://www.sciencedirect.com/science/article/pii/S0042682219300054?via%3Dihub">Classification of human Herpesviridae proteins using Domain-architecture Aware Inference of Orthologs (DAIO).</a><br>
                                M. Zmasek, David M. Knipe, Phillip E. Pellett, Richard H. Scheuermann.<br>
                                Virology 529: 29-42; DOI: 10.1016/j.virol.2019.01.005</p>
                            <br>
                            <h3>2018:</h3>
                            <p><a href="https://rd.springer.com/protocol/10.1007%2F978-1-4939-8976-8_3">Hepatitis C Virus Database and Bioinformatics Analysis Tools in the Virus Pathogen Resource (ViPR).</a><br>
                                Zhang Y., Zmasek C., Sun G., Larsen C.N., Scheuermann R.H.<br>
                                Methods in Molecular Biology 1911: 47-69; DOI: 10.1007/978-1-4939-8976-8_3</p>
                            <br>
                            <p><a href="https://mbio.asm.org/content/9/5/e01954-18">Contemporary Circulating Enterovirus D68 Strains Have Acquired the Capacity for Viral Entry and Replication in Human Neuronal Cells.</a><br>
                                David M. Brown, Alison M. Hixon, Lauren M. Oldfield, Yun Zhang, Mark Novotny, Wei Wang, Suman R.Das, Reed S. Shabman, Kenneth L. Tyler, Richard H. Scheuermann.<br>
                                mBio Oct 2018, 9 (5) e01954-18; DOI: 10.1128/mBio.01954-18</p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/29757994">Bioinformatics Meets Virology: The European Virus Bioinformatics Center's Second Annual Meeting.</a><br>
                                Ibrahim B, Arkhipova K, Andeweg AC, Posada-Céspedes S, Enault F, Gruber A, Koonin EV, Kupczok A, Lemey P, McHardy AC, McMahon DP, Pickett BE, Robertson DL, Scheuermann RH, Zhernakova A, Zwart MP, Schönhuth A, Dutilh BE, Marz M.<br>
                                Viruses. 2018 May 14;10(5). pii: E256. doi: 10.3390/v10050256. PubMed PMID: 29757994; PubMed Central PMCID: PMC5977249.</p>
                            <br>
                          </div>
                        </div>
                    </div>
                </div>
                <% include ../bv-brc-footer %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<% include ../javascript %>
	</body>
</html>