<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Publications | BV-BRC</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content publications-content">
                          <h1 id="publications">Publications</h1>
                          <p style="margin-bottom: 5px;">Complete lists of publications by BV-BRC resource can be found at
                            <a class="navigationLinkOut full-list" href="https://scholar.google.com/citations?hl=en&user=wtbrhBgAAAAJ&view_op=list_works&sortby=pubdate">Google Scholar.</a></p><br>
                          <div class="publications">
                            <h3>2022:</h3>
                            <!--
                            <p><a href=""></a><br>
                                <br>

                            </p>
                            <br>
                            -->
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/36350631/">Introducing the Bacterial and Viral Bioinformatics Resource Center (BV-BRC): a resource combining PATRIC, IRD and ViPR.</a><br>
                                Olson RD, Assaf R, Brettin T, Conrad N, Cucinell C, Davis JJ, Dempsey DM, Dickerman A, Dietrich EM, Kenyon RW, Kuscuoglu M, Lefkowitz EJ, Lu J, Machi D, Macken C, Mao C, Niewiadomska A, Nguyen M, Olsen GJ, Overbeek JC, Parrello B, Parrello V, Porter JS, Pusch GD, Shukla M, Singh I, Stewart L, Tan G, Thomas C, VanOeffelen M, Vonstein V, Wallace ZS, Warren AS, Wattam AR, Xia F, Yoo H, Zhang Y, Zmasek CM, Scheuermann RH, Stevens RL.<br>
                                Nucleic Acids Res. 2022 Nov 9:gkac1003. doi: 10.1093/nar/gkac1003. Epub ahead of print. PMID: 36350631.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/36525447/">Classification of bacterial plasmid and chromosome derived sequences using machine learning.</a><br>
                                Zou X, Nguyen M, Overbeek J, Cao B, Davis JJ. <br>
                                PLoS One. 2022 Dec 16;17(12):e0279280. doi: 10.1371/journal.pone.0279280. PMID: 36525447; PMCID: PMC9757591.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/36032964/">Within-host genetic diversity of SARS-CoV-2 in the context of large-scale hospital-associated genomic surveillance.</a><br>
                                Mushegian A, Long SW, Olsen RJ, Christensen PJ, Subedi S, Chung M, Davis J, Musser J, Ghedin E.<br>
                                medRxiv [Preprint]. 2022 Aug 19:2022.08.17.22278898. doi: 10.1101/2022.08.17.22278898. PMID: 36032964; PMCID: PMC9413716.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/36353215/">Early detection of emerging SARS-CoV-2 variants of interest for experimental evaluation.</a><br>
                                Wallace ZS, Davis J, Niewiadomska AM, Olson RD, Shukla M, Stevens R, Zhang Y, Zmasek CM, Scheuermann RH.<br>
                                Front Bioinform. 2022 Oct 24;2:1020189. doi: 10.3389/fbinf.2022.1020189. PMID: 36353215; PMCID: PMC9638046.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/35840592/">Transmission history of SARS-CoV-2 in humans and white-tailed deer.</a><br>
                                Willgert K, Didelot X, Surendran-Nair M, Kuchipudi SV, Ruden RM, Yon M, Nissly RH, Vandegrift KJ, Nelli RK, Li L, Jayarao BM, Levine N, Olsen RJ, Davis JJ, Musser JM, Hudson PJ, Kapur V, Conlan AJK.<br>
                                Sci Rep. 2022 Jul 15;12(1):12094. doi: 10.1038/s41598-022-16071-z. PMID: 35840592; PMCID: PMC9284484.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/36202985/">A novel vaccine based on SARS-CoV-2 CD4+ and CD8+ T cell conserved epitopes from variants Alpha to Omicron.</a><br>
                                Palatnik-de-Sousa I, Wallace ZS, Cavalcante SC, Ribeiro MPF, Silva JABM, Cavalcante RC, Scheuermann RH, Palatnik-de-Sousa CB.<br>
                                Sci Rep. 2022 Oct 6;12(1):16731. doi: 10.1038/s41598-022-21207-2. PMID: 36202985; PMCID: PMC9537284.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/35852353/">Animal Models of Enterovirus D68 Infection and Disease.</a><br>
                                Vermillion MS, Dearing J, Zhang Y, Adney DR, Scheuermann RH, Pekosz A, Tarbet EB.<br>
                                J Virol. 2022 Aug 10;96(15):e0083322. doi: 10.1128/jvi.00833-22. Epub 2022 Jul 19. PMID: 35852353; PMCID: PMC9364802.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/36377945/">SourceFinder: a Machine-Learning-Based Tool for Identification of Chromosomal, Plasmid, and Bacteriophage Sequences from Assemblies.</a><br>
                                Aytan-Aktug D, Grigorjev V, Szarvas J, Clausen PTLC, Munk P, Nguyen M, Davis JJ, Aarestrup FM, Lund O.<br>
                                Microbiol Spectr. 2022 Nov 15:e0264122. doi: 10.1128/spectrum.02641-22. Epub ahead of print. PMID: 36377945.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/36463861/">Defining antigen targets to dissect vaccinia virus and mpox virus-specific T cell responses in humans.</a><br>
                                Grifoni A, Zhang Y, Tarke A, Sidney J, Rubiro P, Reina-Campos M, Filaci G, Dan JM, Scheuermann RH, Sette A.<br>
                                Cell Host Microbe. 2022 Dec 14;30(12):1662-1670.e4. doi: 10.1016/j.chom.2022.11.003. Epub 2022 Dec 3. PMID: 36463861; PMCID: PMC9718645.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/35382558/">PlasmidHostFinder: Prediction of Plasmid Hosts Using Random Forest.</a><br>
                                Aytan-Aktug D, Clausen PTLC, Szarvas J, Munk P, Otani S, Nguyen M, Davis JJ, Lund O, Aarestrup FM.<br>
                                mSystems. 2022 Apr 26;7(2):e0118021. doi: 10.1128/msystems.01180-21. Epub 2022 Apr 6. PMID: 35382558; PMCID: PMC9040769.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/35190783/">Evidence of episodic positive selection in Corynebacterium diphtheriae complex of species and its implementations in identification of drug and vaccine targets.</a><br>
                                Canário Viana MV, Profeta R, Cerqueira JC, Wattam AR, Barh D, Silva A, Azevedo V. PeerJ.<br>
                                2022 Feb 16;10:e12662. doi: 10.7717/peerj.12662. PMID: 35190783; PMCID: PMC8857904.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/35123975/">Signals of Significantly Increased Vaccine Breakthrough, Decreased Hospitalization Rates, and Less Severe Disease in Patients with Coronavirus Disease 2019 Caused by the Omicron Variant of Severe Acute Respiratory Syndrome Coronavirus 2 in Houston, Texas.</a><br>
                                Christensen PA, Olsen RJ, Long SW, Snehal R, Davis JJ, Ojeda Saavedra M, Reppond K, Shyer MN, Cambric J, Gadd R, Thakur RM, Batajoo A, Mangham R, Pena S, Trinh T, Kinskey JC, Williams G, Olson R, Gollihar J, Musser JM. Am J Pathol.<br>
                                2022 Apr;192(4):642-652. doi: 10.1016/j.ajpath.2022.01.007. Epub 2022 Feb 3. PMID: 35123975; PMCID: PMC8812084.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/35361968/">Defining the risk of SARS-CoV-2 variants on immune protection.</a><br>
                                DeGrace MM, Ghedin E, Frieman MB, et al.<br>
                                Nature. 2022 May;605(7911):640-652. doi: 10.1038/s41586-022-04690-5. Epub 2022 Mar 31. PMID: 35361968; PMCID: PMC9345323.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/35078920/">Multiple spillovers from humans and onward transmission of SARS-CoV-2 in white-tailed deer.</a><br>
                                Kuchipudi SV, Surendran-Nair M, Ruden RM, Yon M, Nissly RH, Vandegrift KJ, Nelli RK, Li L, Jayarao BM, Maranas CD, Levine N, Willgert K, Conlan AJK, Olsen RJ, Davis JJ, Musser JM, Hudson PJ, Kapur V.<br>
                                Proc Natl Acad Sci U S A. 2022 Feb 8;119(6):e2121644119. doi: 10.1073/pnas.2121644119. PMID: 35078920; PMCID: PMC8833191.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/35025672/">Antibodies elicited by SARS-CoV-2 infection or mRNA vaccines have reduced neutralizing activity against Beta and Omicron pseudoviruses.</a><br>
                                Sievers BL, Chakraborty S, Xue Y, Gelbart T, Gonzalez JC, Cassidy AG, Golan Y, Prahl M, Gaw SL, Arunachalam PS, Blish CA, Boyd SD, Davis MM, Jagannathan P, Nadeau KC, Pulendran B, Singh U, Scheuermann RH, Frieman MB, Vashee S, Wang TT, Tan GS.<br>
                                Sci Transl Med. 2022 Mar 2;14(634):eabn7842. doi: 10.1126/scitranslmed.abn7842. Epub 2022 Mar 2. PMID: 35025672; PMCID: PMC8891085.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/35169802/">Detection of SARS-CoV-2 Omicron variant (B.1.1.529) infection of white-tailed deer.</a><br>
                                Vandegrift KJ, Yon M, Surendran-Nair M, Gontu A, Amirthalingam S, Nissly RH, Levine N, Stuber T, DeNicola AJ, Boulanger JR, Kotschwar N, Aucoin SG, Simon R, Toal K, Olsen RJ, Davis JJ, Bold D, Gaudreault NN, Richt JA, Musser JM, Hudson PJ, Kapur V, Kuchipudi SV.<br>
                                bioRxiv [Preprint]. 2022 Feb 7:2022.02.04.479189. doi: 10.1101/2022.02.04.479189. Update in: Proc Natl Acad Sci U S A. 2022 Feb 8;119(6): PMID: 35169802; PMCID: PMC8845426.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/35398776/">Genomic evolution of the Coronaviridae family. </a><br>
                                Zmasek CM, Lefkowitz EJ, Niewiadomska A, Scheuermann RH.<br>
                                Virology. 2022 May;570:123-133. doi: 10.1016/j.virol.2022.03.005. Epub 2022 Mar 30. PMID: 35398776; PMCID: PMC8965632.
                            </p>
                            <br>
                            <h3>2021:</h3>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33483546/">Detecting operons in bacterial genomes via visual representation learning.</a><br>
                                Assaf R, Xia F, Stevens R.<br>
                                Sci Rep. 2021 Jan 22;11(1):2124. doi: 10.1038/s41598-021-81169-9. PMID: 33483546. PMCID: PMC7822928
                            </p>
                            <br>
                            <p><a href="https://orbit.dtu.dk/en/publications/machine-learning-of-antimicrobial-resistance">Machine learning of antimicrobial resistance.</a><br>
                                Aytan-Aktug D, Aarestrup FM, Lund O, Brinch C, Hasman H, Xia F.<br>
                                2021. PhD Thesis.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/34128695/">Predicting Antimicrobial Resistance Using Partial Genome Alignments. </a><br>
                                Aytan-Aktug D, Nguyen M, Clausen PTLC, Stevens RL, Aarestrup FM, Lund O, Davis JJ.<br>
                                mSystems. 2021 Jun 29;6(3):e0018521. doi: 10.1128/mSystems.00185-21. Epub 2021 Jun 15. PMID: 34128695. PMCID: PMC8269213
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/34208489/">An Antigenic Thrift-Based Approach to Influenza Vaccine Design.</a><br>
                                Bolton JS, Klim H, Wellens J, Edmans M, Obolski U, Thompson CP. Vaccines (Basel).<br>
                                2021 Jun 16;9(6):657. doi: 10.3390/vaccines9060657. PMID: 34208489; PMCID: PMC8235769.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33525360/">Influenza A Viruses in Whistling Ducks (Subfamily Dendrocygninae).</a><br>
                                Carter DL, Link P, Tan G, Stallknecht DE, Poulson RL.<br>
                                Viruses. 2021 Jan 28;13(2):192. doi: 10.3390/v13020192. PMID: 33525360; PMCID: PMC7911599.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/34303698/">Delta variants of SARS-CoV-2 cause significantly increased vaccine breakthrough COVID-19 cases in Houston, Texas.</a><br>
                                Christensen PA, Olsen RJ, Long SW, Subedi S, Davis JJ, Hodjat P, Walley DR, Kinskey JC, Ojeda Saavedra M, Pruitt L, Reppond K, Shyer MN, Cambric J, Gadd R, Thakur RM, Batajoo A, Mangham R, Pena S, Trinh T, Yerramilli P, Nguyen M, Olson R, Snehal R, Gollihar J, Musser JM. Am J Pathol.<br>
                                2021 Nov 10:S0002-9440(21)00480-6. doi: 10.1016/j.ajpath.2021.10.019.  PMID: 34303698. PMCID: PMC8299152
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/34878296/">Analysis of the ARTIC Version 3 and Version 4 SARS-CoV-2 Primers and Their Impact on the Detection of the G142D Amino Acid Substitution in the Spike Protein. </a><br>
                                Davis JJ, Long SW, Christensen PA, Olsen RJ, Olson R, Shukla M, Subedi S, Stevens R, Musser JM.<br>
                                Microbiol Spectr. 2021 Dec 22;9(3):e0180321. doi: 10.1128/Spectrum.01803-21. Epub 2021 Dec 8. PMID: 34878296; PMCID: PMC8653831.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33741335/">Sequence Analysis of 20,453 Severe Acute Respiratory Syndrome Coronavirus 2 Genomes from the Houston Metropolitan Area Identifies the Emergence and Widespread Distribution of Multiple Isolates of All Major Variants of Concern. </a><br>
                                Long SW, Olsen RJ, Christensen PA, Subedi S, Olson R, Davis JJ, Saavedra MO, Yerramilli P, Pruitt L, Reppond K, Shyer MN, Cambric J, Finkelstein IJ, Gollihar J, Musser JM.  Am J Pathol.<br>
                                2021 Mar 16:S0002-9440(21)00108-5. doi: 10.1016/j.ajpath.2021.03.004. Epub ahead of print. PMID: 33741335. PMCID: PMC7962948
                            </p>
                            <br>
                            <p><a href="https://doi.org/10.1093/bib/bbab313">A genomic data resource for predicting antimicrobial resistance from laboratory-derived antimicrobial susceptibility phenotypes.</a><br>
                                Margo VanOeffelen, Marcus Nguyen, Derya Aytan-Aktug, Thomas Brettin, Emily M Dietrich, Ronald W Kenyon, Dustin Machi, Chunhong Mao, Robert Olson, Gordon D Pusch, Maulik Shukla, Rick Stevens, Veronika Vonstein, Andrew S Warren, Alice R Wattam, Hyunseung Yoo, James J Davis.<br>
                                Briefings in Bioinformatics, Volume 22, Issue 6, November 2021, bbab313, https://doi.org/10.1093/bib/bbab313.
                            </p>
                            <br>
                            <p><a href="https://doi.org/10.1101/2021.03.16.21253753">Rapid, widespread, and preferential increase of SARS-CoV-2 B. 1.1. 7 variant in Houston, TX, revealed by 8,857 genome sequences.</a><br>
                                Musser JM, Olsen RJ, Christensen PA, Long SW, Subedi S, Davis JJ, Gollihar J.<br>
                                medRxiv. 2021 Jan 1. doi: 2021.03.16.21253753
                            </p>
                            <br>
                            <p><a href="https://doi.org/10.1371/journal.pone.0250092">Supervised extraction of near-complete genomes from metagenomic samples: A new service in PATRIC. </a><br>
                                Parrello B, Butler R, Chlenski P, Pusch GD, Overbeek R.<br>
                                (2001). PLoS ONE 16(4): e0250092. https://doi.org/10.1371/journal.pone.0250092
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/34303698/">Trajectory of Growth of Severe Acute Respiratory Syndrome Coronavirus 2 (SARS-CoV-2) Variants in Houston, Texas, January through May 2021, Based on 12,476 Genome Sequences.  </a><br>
                                Olsen RJ, Christensen PA, Long SW, Subedi S, Hodjat P, Olson R, Nguyen M, Davis JJ, Yerramilli P, Saavedra MO, Pruitt L, Reppond K, Shyer MN, Cambric J, Gadd R, Thakur RM, Batajoo A, Finkelstein IJ, Gollihar J, Musser JM.  Am J Pathol.<br>
                                2021 Oct;191(10):1754-1773. doi: 10.1016/j.ajpath.2021.07.002. Epub 2021 Jul 23. PMID: 34303698. PMCID: PMC8299152
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/34235665/">Identification and Characterization of Mycobacterial Species Using Whole-Genome Sequences.</a><br>
                                Riojas MA, Frank AM, Greenfield SR, King SP, Meehan CJ, Strong M, Wattam AR, Hazbón MH.<br>
                                Methods Mol Biol. 2021;2314:399-457. doi: 10.1007/978-1-0716-1460-0_19. PMID: 34235665.
                            </p>
                            <br>
                            <p><a href="https://linkinghub.elsevier.com/retrieve/pii/B9780128096338209953">Database and Analytical Resources for Viral Research Community.</a><br>
                                Sujal Phadke, Saichetana Macherla, Richard H. Scheuermann.<br>
                                Database and Analytical Resources for Viral Research Community, Editor(s): Dennis H. Bamford, Mark Zuckerman, Encyclopedia of Virology (Fourth Edition), Academic Press, 2021, Pages 141-152, ISBN 9780128145166,
                            </p>
                            <br>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7941626/">Negligible impact of SARS-CoV-2 variants on CD4 + and CD8 + T cell reactivity in COVID-19 exposed donors and vaccinees.</a><br>
                                Tarke A, Sidney J, Methot N, Zhang Y, Dan JM, Goodwin B, Rubiro P, Sutherland A, da Silva Antunes R, Frazier A, Rawlings SA, Smith DM, Peters B, Scheuermann RH, Weiskopf D, Crotty S, Grifoni A, Sette A.<br>
                                bioRxiv [Preprint]. 2021 Mar 1:2021.02.27.433180. doi: 10.1101/2021.02.27.433180. Update in: Cell Rep Med. 2021 Jul 2;:100355. PMID: 33688655; PMCID: PMC7941626.
                            </p>
                            <br>
                            <h3>2020:</h3>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/32183941/">A Sequence Homology and Bioinformatic Approach Can Predict Candidate Targets for Immune Responses to SARS-CoV-2.</a><br>
                                A, Sidney J, Zhang Y, Scheuermann RH, Peters B, Sette A.<br>
                                Cell Host Microbe. 2020 Mar 12. pii: S1931-3128(20)30166-9. doi: 10.1016/j.chom.2020.03.002. PMID: 32183941</p>
                            <br>
                            <p><a href="https://doi.org/10.3390/microorganisms8121856">Epidemiology and sequence-based evolutionary analysis of circulating non-polio enteroviruses.</a><br>
                                Brown, David M., Yun Zhang, and Richard H. Scheuermann. 2020.<br>
                                Microorganisms 8, no. 12: 1856. https://doi.org/10.3390/microorganisms8121856
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/31667520">The PATRIC Bioinformatics Resource Center: expanding data and analysis capabilities.</a><br>
                                Davis JJ, Wattam AR, Aziz RK, Brettin T, Butler R, Butler RM, Chlenski P, Conrad N, Dickerman A, Dietrich EM, Gabbard JL, Gerdes S, Guard A, Kenyon RW, Machi D, Mao C, Murphy-Olson D, Nguyen M, Nordberg EK, Olsen GJ, Olson RD, Overbeek JC, Overbeek R, Parrello B, Pusch GD, Shukla M, Thomas C, VanOeffelen M, Vonstein V, Warren AS, Xia F, Xie D, Yoo H, Stevens R.<br>
                                Nucleic Acids Res. 2020 Jan 8;48(D1):D606-D612. doi: 10.1093/nar/gkz943. PMID: 31667520.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/32031908/">Characterization of the First mecA-Positive Multidrug-Resistant Staphylococcus pseudintermedius Isolated from an Argentinian Patient.</a><br>
                                Gagetti P, Errecalde L, Wattam AR, De Belder D, Ojeda Saavedra M, Corso A, Rosato AE.<br>
                                2020. Microb Drug Resist. doi: 10.1089/mdr.2019.0308. PMID: 32031908. PMCID: PMC7368382.
                            </p>
                            <br>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7366807/">Candidate Targets for Immune Responses to 2019-Novel Coronavirus (nCoV): Sequence Homology- and Bioinformatic-Based Predictions.</a><br>
                                Grifoni A, Sidney J, Zhang Y, Scheuermann RH, Peters B, Sette A. <br>
                                SSRN [Preprint]. 2020 Feb 25:3541361. doi: 10.2139/ssrn.3541361. PMID: 32714104; PMCID: PMC7366807.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33127862/">Molecular Architecture of Early Dissemination and Massive Second Wave of the SARS-CoV-2 Virus in a Major Metropolitan Area.</a><br>
                                Long SW, Olsen RJ, Christensen PA, Bernard DW, Davis JJ, Shukla M, Nguyen M, Saavedra MO, Yerramilli P, Pruitt L, Subedi S, Kuo HC, Hendrickson H, Eskandari G, Nguyen HAT, Long JH, Kumaraswami M, Goike J, Boutz D, Gollihar J, McLellan JS, Chou CW, Javanmardi K, Finkelstein IJ, Musser JM.<br>
                                mBio. 2020 Oct 30;11(6):e02707-20. doi: 10.1128/mBio.02707-20. PMID: 33127862. PMCID: PMC7642679.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/32503990/">A synthesis of bacterial and archaeal phenotypic trait data.</a><br>
                                Madin JS, Nielsen DA, Brbic M, Corkrey R, Danko D, Edwards K, Engqvist MKM, Fierer N, Geoghegan JL, Gillings M, Kyrpides NC, Litchman E, Mason CE, Moore L, Nielsen SL, Paulsen IT, Price ND, Reddy TBK, Richards MA, Rocha EPC, Schmidt TM, Shaaban H, Shukla M, Supek F, Tetu SG, Vieira-Silva S, Wattam AR, Westfall DA, Westoby M.Sci Data. 2020.<br>
                                Jun 5;7(1):170. doi: 10.1038/s41597-020-0497-4. PMID: 32503990. PMCID: PMC7275036.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33010049/">Predicting antimicrobial susceptibility from the bacterial genome: A new paradigm for one health resistance monitoring.</a><br>
                                McDermott PF, Davis JJ.<br>
                                Journal of Veterinary Pharmacology and Therapeutics. doi: 10.1111/jvp.12913. PMID: 33010049.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33075053/">Predicting antimicrobial resistance using conserved genes.</a><br>
                                Nguyen M, Olson R, Shukla M, VanOeffelen M, Davis JJ.<br>
                                PLoS Comput Biol. 2020 Oct 19;16(10):e1008319. doi: 10.1371/journal.pcbi.1008319. eCollection 2020 Oct. PMID: 33075053. PMCID: PMC7595632.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/32843552/">A Genome-Based Model to Predict the Virulence of Pseudomonas aeruginosa Isolates.</a><br>
                                Pincus NB, Ozer EA, Allen JP, Nguyen M, Davis JJ, Winter DR, Chuang CH, Chiu CH, Zamorano L, Oliver A, Hauser AR.<br>
                                mBio. 2020 Aug 25;11(4):e01527-20. doi: 10.1128/mBio.01527-20. PMID: 32843552. PMCID: PMC7448275.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/31801839">Helicobacter pylori Infections in the Bronx, New York: Surveying Antibiotic Susceptibility and Strain Lineage by Whole-Genome Sequencing.</a></br>
                                Saranathan R, Levi MH, Wattam AR, Malek A, Asare E, Behin DS, Pan DH, Jacobs WR Jr, Szymczak WA. J Clin Microbiol.<br>
                                2020 Feb 24;58(3). pii: e01591-19. doi: 10.1128/JCM.01591-19. Print 2020 Feb 24. PMID: 31801839 PMCID: PMC7041580
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33093601/">Carbapenems as a key driver of collateral ceftaroline resistance in cystic fibrosis patients with MRSA.</a><br>
                                Varela MC, Roch M, Taglialegna A, W Long SW, Saavedra MO, Rose WE, Wattam AR, Davis JJ, Hoffman LR, Hernandez RE, Rosato RR and Rosato AE.<br>
                                Nature Communications Biology 2020. doi: 10.1038/s42003-020-01313-5. PMID: 33093601. PMCID: PMC7582194.
                            </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33347470/">Taxonomic classification of strain PO100/5 shows a broader geographic distribution and genetic markers of the recently described Corynebacterium silvaticum.</a><br>
                                Viana MVC, Profeta R, da Silva AL, Hurtado R, Cerqueira JC, Ribeiro BFS, Almeida MO, Morais-Rodrigues F, Soares SC, Oliveira M, Tavares L, Figueiredo H, Wattam AR, Barh D, Ghosh P, Silva A, Azevedo V.<br>
                                PLoS One. 2020 Dec 21;15(12):e0244210. doi: 10.1371/journal.pone.0244210. eCollection 2020. PMID: 33347470. PMCID: PMC7751848.
                            </p>
                            <br>
                            <p><a href="https://www.ijidonline.com/article/S1201-9712(20)32357-2/fulltext">Identifying disease severity associated genetic regions in Dengue virus using computational and machine learning approaches.</a><br>
                                Zhang, Y., Bhattacharya, R. & Scheuermann, R. <br>
                                Int. J. Infect. Dis. 101, 231 (2020).
                            </p>
                            <br>
                            <h3>2019:</h3>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/31351494">Identification and molecular epidemiology of methicillin resistant Staphylococcus pseudintermedius strains isolated from canine clinical samples in Argentina.</a><br>
                                Gagetti P, Wattam AR, Giacoboni G, De Paulis A, Bertona E, Corso A, Rosato AE.<br>
                                BMC Vet Res. 2019 Jul 27;15(1):264. doi: 10.1186/s12917-019-1990-x.PMID: 31351494. PMCID: PMC6660709.</p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/30333126">Using machine learning to predict antimicrobial minimum inhibitory concentrations and associated genomic features for nontyphoidal Salmonella.</a><br>
                                Nguyen M, Long SW, McDermott PF, Olsen RJ, Olson R, Stevens RL, Tyson GH, Zhao S, Davis JJ.<br>
                                Journal of clinical microbiology. 2019 Feb 1;57(2):e01260-18. PMID: 30333126. DOI: 10.1128/JCM.01260-18. </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/31581946">A machine learning-based service for estimating quality of genomes using PATRIC.</a><br>
                                Parrello B, Butler R, Chlenski P, Olson R, Overbeek J, Pusch GD, Vonstein V, Overbeek R.<br>
                                BMC Bioinformatics. 2019; 20, Article number: 486. Open Access. PMID: 31581946 PMCID: PMC6775668</p>
                            <br>
                            <p><a href="https://www.sciencedirect.com/science/article/pii/S0042682219300054?via%3Dihub">Classification of human Herpesviridae proteins using Domain-architecture Aware Inference of Orthologs (DAIO).</a><br>
                                M. Zmasek, David M. Knipe, Phillip E. Pellett, Richard H. Scheuermann.<br>
                                Virology 529: 29-42; DOI: 10.1016/j.virol.2019.01.005</p>
                            <br>
                            <p><a href="https://rd.springer.com/protocol/10.1007%2F978-1-4939-8976-8_3">Hepatitis C Virus Database and Bioinformatics Analysis Tools in the Virus Pathogen Resource (ViPR).</a><br>
                                Zhang Y., Zmasek C., Sun G., Larsen C.N., Scheuermann R.H.<br>
                                Methods in Molecular Biology 1911: 47-69; DOI: 10.1007/978-1-4939-8976-8_3</p>
                            <br>
                            <h3>2018:</h3>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/30555248">Whole genome sequence analysis of NDM-1, CMY-4, and sHV-12 coproducing Salmonella enterica serovar typhimurium isolated from a case of fatal burn wound infection.</a><br>
                                Banerjee K, Sekar P, Krishnan P, Wattam AR, Roy S, Hays JP, Menezes GA.<br>
                                Infection and Drug Resistance. 2018;11:2491. PMID: 30555248. PMCID: PMC6278884. </p>
                            <br>
                            <p><a href="https://mbio.asm.org/content/9/5/e01954-18">Contemporary Circulating Enterovirus D68 Strains Have Acquired the Capacity for Viral Entry and Replication in Human Neuronal Cells.</a><br>
                                David M. Brown, Alison M. Hixon, Lauren M. Oldfield, Yun Zhang, Mark Novotny, Wei Wang, Suman R.Das, Reed S. Shabman, Kenneth L. Tyler, Richard H. Scheuermann.<br>
                                mBio Oct 2018, 9 (5) e01954-18; DOI: 10.1128/mBio.01954-18</p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/29451601">Cell Division in genus Corynebacterium: protein-protein interaction and molecular docking of SepF and FtsZ in the understanding of cytokinesis in pathogenic species.</a><br>
                                Folador EL, Gomide AC, Goes-Neto AR, Azevedo VA, Wattam AR.<br>
                                Anais da Academia Brasileira de Ciências. 2018 Aug. 90(2 suppl 1):2179-2188. doi: 10.1590/0001-3765201820170385. Epub 2018 Feb 15. PMID: 29451601. DOI: 10.1590/0001-3765201820170385. </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/29757994">Bioinformatics Meets Virology: The European Virus Bioinformatics Center's Second Annual Meeting.</a><br>
                                Ibrahim B, Arkhipova K, Andeweg AC, Posada-Céspedes S, Enault F, Gruber A, Koonin EV, Kupczok A, Lemey P, McHardy AC, McMahon DP, Pickett BE, Robertson DL, Scheuermann RH, Zhernakova A, Zwart MP, Schönhuth A, Dutilh BE, Marz M.<br>
                                Viruses. 2018 May 14;10(5). pii: E256. doi: 10.3390/v10050256. PubMed PMID: 29757994; PubMed Central PMCID: PMC5977249.</p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/29323230">Developing an in silico minimum inhibitory concentration panel test for Klebsiella pneumoniae.</a><br>
                                Nguyen M, Brettin T, Long SW, Musser JM, Olsen RJ, Olson R, Shukla M, Stevens RL, Xia F, Yoo H, Davis JJ.<br>
                                Sci Rep. 2018 Jan 11;8(1):421. doi: 10.1038/s41598-017-18972-w. PMID: 29323230. PMCID:PMC5765115. </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/30419061">Rapidly evolving changes and gene loss associated with host switching in Corynebacterium pseudotuberculosis.</a><br>
                                Viana MV, Sahm A, Neto AG, Figueiredo HC, Wattam AR, Azevedo V.<br>
                                PloS one. 2018 Nov 12;13(11):e0207304. PMID: 30419061. PMCID: PMC6231662. </p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/29277864">Assembly, Annotation, and Comparative Genomics in PATRIC, the All Bacterial Bioinformatics Resource Center.</a><br>
                                Wattam AR, Brettin T, Davis JJ, Gerdes S, Kenyon R, Machi D, Mao C, Olson R, Overbeek R, Pusch GD, Shukla MP, Stevens R, Vonstein V, Warren A, Xia F, Yoo H.<br>
                                Methods Mol Biol. 2018;1704:79-101. PMID:29277864. DOI: 10.1007/978-1-4939-7463-4_4</p>
                            <br>
                            <h3>2017:</h3>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/27981236">OFFLU swine influenza experts develop global nomenclature system and automated annotation tool for H1 haemagglutinin genes of influenza A viruses.</a><br>
                                Amy L. Vincent, Tavis K. Anderson, Catherine A. Macken, Yun Zhang, Nicola S. Lewis, Richard H. Scheuermann.<br>
                                World Organization for Animal Health Bulletin, 2017, 2: 106-113 PMID: 27981236 PMCID: PMC5156671</p>
                            <br>
                            <p><a href="https://www.fludb.org/brcDocs/documents/rss_feed_doc/Zhang_2017AASV_swineInfluenzaAnalysis.pdf">In silico analysis of swine influenza virus sequence data in the Influenza Research Database.</a><br>
                                Yun Zhang, Tavis K. Anderson, Amy L. Vincent, Phillip C. Gauger, Catherine A. Macken, Richard H. Scheuermann.<br>
                                Proceedings of the 48th Annual Meeting of the American Association of Swine Veterinarians, Denver, Colorado, February 25-28, 2017</p>
                            <br>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/28434256/">A bioinformatics roadmap for the human vaccines project.</a><br>
                                RH Scheuermann, RS Sinkovits , T Schenkelberg, and WC Koff.<br>
                                Expert Rev Vaccines. 2017. doi: 10.1080/14760584.2017.1322752</p>
                            <br>
                          </div>
                          <!--<br>
                          <h2 style="margin-bottom: 5px;">All Publications</h2>
                          <p style="margin-bottom: 5px;">Complete lists of publications by BV-BRC resource can be found at
                            <a class="navigationLinkOut full-list" href="https://scholar.google.com/citations?hl=en&user=wtbrhBgAAAAJ&view_op=list_works&sortby=pubdate">Google Scholar.</a></p>
                          <a class="navigationLinkOut full-list" href="https://docs.patricbrc.org/publications.html">PATRIC Publications</a><br>
                          <a class="navigationLinkOut full-list" href="https://www.fludb.org/brc/publicationsIRD.spg?method=pubsPres&amp;decorator=influenza">IRD Publications</a><br>
                          <a class="navigationLinkOut full-list" href="https://www.viprbrc.org/brc/publicationsVipr.spg?method=pubsPres&amp;decorator=vipr">ViPR Publications</a><br>
                          -->

                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
                <style>
                    body.patric {
                        min-width: 830px;
                    }
                </style>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>