<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Publications | BV-BRC</title>
		<%- include('../header') %>
	</head>
	<body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
		<div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
			<%- include('../bv-brc-header') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container">
                        <div class="page-content publications-content">
                          <h1 id="publications">Publications</h1>
                          <p style="margin-bottom: 5px;"> A complete list of publications by BV-BRC and its predecessor resources (PATRIC, NMPDR, IRD, ViPR) can be found at
                            <a class="navigationLinkOut full-list" href="https://scholar.google.com/citations?hl=en&user=wtbrhBgAAAAJ&view_op=list_works&sortby=pubdate">Google Scholar.</a></p><br>
                        </div>
                    </div>
                </div>
                <%- include('../bv-brc-footer') %>
            </div>
        </div>

		<%- include('../javascript') %>
	</body>
</html>
