<form dojoAttachPoint="containerNode" class="PanelForm App ${baseClass}"
    dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
    <div style="width: 700px;margin:auto;">
    <div class="apptitle" name="apptitle">
                <h3>Genome Assembly</h3>
                <p>Assemble contigs from sequencing reads.</p>
    </div>
	<div style="width:700px; margin:auto" class="formFieldsContainer">
		<div style="display: none;">
			<input data-dojo-type="dijit/form/NumberTextBox" value="0" required="true" data-dojo-attach-point="numlibs" data-dojo-props="constraints:{min:1,max:1000},"/>
		</div>
		<table class="assemblyblocks" style="width:100%">
		<tr>
		<td>
		<div id="pairedBox" class="appbox appshadow">
			<div class="headerrow">
				<div style="width:85%;display:inline-block;">
					<label class="appboxlabel"> Paired read library</label>
					<div class="infobutton">
						<i name="pairinfo"  class="fa fa-info-circle fa"></i>
						<div style="display:none;">
						<div class="infobuttoninfo">
							<h4>Paired read library</h4>
							<!--<p>Paired-end sequencing has advantages over the use of single reads. Paired-end reads give added structure to the genome assembly problem which can be useful when dealing with ambiguous or low complexity regions.</p>-->
							<h6>Read File 1 and Read File 2</h6>
							<p> Many paired read libraries are given as file pairs, with each file representing one half of all pairs. Paired read files are expected to be sorted such that each read in a pair occurs in the same Nth position as its mate in their respective files. These files are specified as READ FILE 1 and READ FILE 2. For a given file pair the selection of which file is READ 1 and which is READ 2 does not matter.</p>
							<h5>Advanced Parameters</h5>
							<h6>Single Interleaved</h6>
							<p>Some paired-end sequences are available in a single file where each read in a pair occurs in succession. Such files are said to be 'interleaved'.</p>
							<h6>Mean Insert Size</h6>
							<p>This refers to the mean insert size between paired reads. If you have this information you may provide it. If not the assembly algorithm will make an attempt to determine this value.</p>
							<h6>Std. Insert Size</h6>
							<p>This refers to the standard deviation of the insert size between paired reads. If you have this information you may provide it. If not the assembly algorithm will make an attempt to determine this value.</p>
						</div>
						</div>
					</div>
				</div>
				<div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddPair" class="fa fa-arrow-circle-o-right fa-lg"></i></div>
			</div>
			<div class="approw">
				<label class="paramlabel" for="libdat_file1pair">Read File 1</label><br>
				<div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="libdat_file1pair" data-dojo-attach-point="read1" style="width:300px" required="false" data-dojo-props="type:['unspecified'],multi:false"></div>
			</div>
			<div class="approw">
				<label class="paramlabel" for="libdat_file2pair">Read File 2</label><br>
				<div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="libdat_file2pair" data-dojo-attach-point="read2" style="width:300px" required="false" data-dojo-props="type:['unspecified'],multi:false"></div>
			</div>
			<div class="approw">
				<div class="approwsegment" style="margin:0 0 0 0">
					<label class="paramlabel" for="libdat_interleaved">Interleaved</label><br>
					<select data-dojo-type="dijit/form/Select" name="libdat_interleaved" data-dojo-attach-point="interleaved" required="false" data-dojo-props="intermediateChanges:true,missingMessage:'Name Must be provided for Folder',trim:true,placeHolder:'MySubFolder'">
					<option value="true">True</option>
					<option value="false">False</option>
					</select>
				</div>
				<div class="approwsegment">
					<label class="paramlabel" for="libdat__avginsert">Mean Insert Size</label><br>
					<div class="insertspinner" name="libdat_avginsert" data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="insert_size_mean" data-dojo-props="smallDelta:10, constraints:{min:10,max:2000,places:0}" ></div>
				</div>
				<div class="approwsegment">
					<label class="paramlabel" for="libdat_stdinsert">Std. Insert</label><br>		
					<div class="insertspinner" name="libdat_stdinsert" data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="insert_size_stdev" data-dojo-props="smallDelta:10, constraints:{min:10,max:2000,places:0}" ></div>		
				</div>
			</div>
                </div>

		<div class="appbox appshadow">
			<div class="headerrow">
				<div style="width:85%;display:inline-block;">
					<label class="appboxlabel">Single read library</label>
				</div>
				<div style="width:10%;display:inline-block;"><i data-dojo-attach-event="click:onAddSingle" class="fa fa-arrow-circle-o-right fa-lg"></i></div>
			</div>
			<div class="approw">
				<label class="paramlabel" for="singleread">Read File</label><br>
				<div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="libdat_readfile" data-dojo-attach-point="single_end_libs" style="width:300px" required="false" data-dojo-props="type:['unspecified'],multi:false"></div>
			</div>
                </div>

		<div class="appbox appshadow">
			<div class="headerrow">
				<label class="appboxlabel">Parameters</label>
			</div>
			<div class="approw">
				<label for="recipe" class="paramlabel">Assembly Strategy</label><br>
				<select data-dojo-type="dijit/form/Select" name="recipe" data-dojo-attach-point="recipe" style="width:300px" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name Must be provided for Folder',trim:true,placeHolder:'MySubFolder'">
				<option value="auto">auto</option>
				<option value="full_spades">full spades</option>
				<option value="fast">fast</option>
				<option value="miseq">miseq</option>
				<option value="smart">smart</option>
				<option value="kiki">kiki</option>
				</select>
			</div>
			<div class="approw">
				<label for="output_path" class="paramlabel">Output Folder</label><br>
				<div data-dojo-type="p3/widget/WorkspaceObjectSelector"  name="output_path" data-dojo-attach-point="output_path" style="width:300px" required="true" data-dojo-props="type:['folder'],multi:false"></div>
			</div>
			<div class="approw">
				<label class="paramlabel">Output Name</label><br>
				<div data-dojo-type="dijit/form/ValidationTextBox" name="output_file" data-dojo-attach-point="output_file" style="width:300px" required="true" data-dojo-props="intermediateChanges:true,missingMessage:'Name Must be provided for Folder',trim:true,placeHolder:'Output Name'"></div>
			</div>
			<div class="approw">
                                <label class="paramlabel" for="reference_assembly">Benchmark Contigs</label><br>
                                <div data-dojo-type="p3/widget/WorkspaceObjectSelector" name="reference_assembly" data-dojo-attach-point="reference_assembly" style="width:300px" required="false" data-dojo-props="type:['contigs'],multi:false,placeHolder:'Optional'"></div>
			</div>
        	</div>
		</td>
		<td>
		<div class="appbox appshadow" style="min-height: 380px; height:auto; width:330px">
			<div class="headerrow">
				<label class="appboxlabel">Participating libraries</label>
			</div>
			<div class="approw" style="width:100%; margin-top:10px; text-align: center;">
			<table class="librarytable" frame="box" data-dojo-attach-point="libsTable" style='margin:0 0 0 10px; width:90%;'>
				<tbody data-dojo-attach-point="libsTableBody">
						
				</tbody>
			</table>
			</div>
		</div>
		</td>
		</tr>
		</table>
		
		
	</div>

		<div style="width:400px; margin:auto" class="workingMessage messageContainer">
			Submitting Assembly Job
		</div>

		<div style="width:400px; margin:auto" class="submittedMessage messageContainer">
			Assembly Job has been queued.
		</div>

		<div style="width:400px; margin:auto" class="errorMessage messageContainer">
			<div style="font-weight:900;font-size:1.1em;">Error Submitting Assembly Job</div>
			<p data-dojo-attach-point="errorMessage">Error</p>
		</div>
		
		<div style="margin-top: 10px; text-align:center;">
			<div data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:onCancel" data-dojo-type="dijit/form/Button">Cancel</div>
			<div data-dojo-attach-point="resetButton" type="reset" data-dojo-type="dijit/form/Button">Reset</div>
			<div data-dojo-attach-point="submitButton" type="submit" data-dojo-type="dijit/form/Button">Assemble</div>
		</div>	
	
</form>

