<form dojoAttachPoint="containerNode" class="PanelForm"
      dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
    <div style="width: 700px; margin:auto;">
        <div class="apptitle">
            <h3>BLAST</h3>
            <p>[place holder for description of this service]</p>
        </div>

        <div style="width: 700px; margin:auto;">
            <div class="appbox appshadow">
                <div class="headerrow" style="margin-bottom: 7px">
                    <label class="appboxlabel">Sequence</label>
                </div>
                <textarea name="sequence"
                          style="width:96%; height:175px; margin-left:10px; font-family: monospace; font-size:12px"
                          data-dojo-attach-point="sequence"
                          data-dojo-type="dijit/form/Textarea"
                          data-dojo-props="rows:13, placeholder:'Enter a query nucleotide or protein sequence to search. Multiple query sequences are currently not supported.', intermediateChanges:true"
                          data-dojo-attach-event="onChange:onChangeSequence"></textarea>
                <div class="form_msg_warning" data-dojo-attach-point="sequence_message"></div>

                <div class="headerrow" style="margin-bottom: 7px">
                    <label class="appboxlabel">Program</label>
                </div>
                <select name="program" style="margin-left:10px; width:96%"
                        data-dojo-type="dijit/form/Select"
                        data-dojo-attach-event="onChange:onChangeProgram"
                        data-dojo-props="disabled:true"
                        data-dojo-attach-point="program">
                </select>
                <div class="form_msg_warning" data-dojo-attach-point="program_message"></div>

                <div class="headerrow" style="margin: 16px 0 7px 0">
                    <label class="appboxlabel">Database</label>
                </div>
                <select name="database" style="width:96%; margin-left:10px"
                        data-dojo-type="dijit/form/Select"
                        data-dojo-attach-event="onChange:onChangeDatabase"
                        data-dojo-props="disabled:true"
                        data-dojo-attach-point="database">
                </select>
                <div class="form_msg_warning" data-dojo-attach-point="database_message"></div>
            </div>

            <div class="approw" style="text-align:center">
                <div class="approwsegment" data-dojo-attach-point="advanced">
                    <label class="largelabel">Advanced options</label>
                    <div class="iconbox" style="margin-left:0">
                        <i data-dojo-attach-point="advancedOptionIcon" class="fa icon-caret-down fa-1"></i>
                    </div>
                </div>
            </div>

            <div data-dojo-attach-point="advancedOptions" style="display: none">
                <div class="appbox appshadow">
                    <div class="left half" style="vertical-align: top">
                        <label class="paramlabel">Add Genomes to Search: </label>
                        <div data-dojo-attach-event="onChange:onSuggestNameChange"
                             data-dojo-type="p3/widget/GenomeNameSelector"
                             data-dojo-attach-point="genome_id"
                             data-dojo-props="placeHolder:'e.g. M. tuberculosis CDC1551', disabled:true"
                             style="width:310px;">
                        </div>
                        <div style="width:17px; display:inline-block;">
                            <i data-dojo-attach-event="click:onAddGenome"
                               class="fa icon-arrow-circle-o-right fa-lg"></i>
                        </div>
                    </div>
                    <div class="left half">
                        <table class="librarytable" frame="box" data-dojo-attach-point="genomeTable"
                               style='width:330px;'>
                            <tbody data-dojo-attach-point="genomeTableBody"></tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                    <div class="form_msg_warning" data-dojo-attach-point="genome_id_message"></div>
                </div>

                <div class="appbox appshadow">
                    <label class="paramlabel">Select genome group: </label><br/>
                    <div name="genome_group" style="width: 650px"
                         data-dojo-type="p3/widget/WorkspaceObjectSelector"
                         data-dojo-attach-point="genome_group"
                         data-dojo-props="type:['genome_group'],multi:true,disabled:true"></div>
                </div>

                <div class="appbox appshadow">
                    <label class="paramlabel">Select Taxon: </label><br/>
                    <select name="taxon" style="width: 650px"
                            data-dojo-type="dijit/form/Select"
                            data-dojo-props="disabled:true"
                            data-dojo-attach-point="taxonomy">
                    </select>
                </div>

                <div class="appbox appshadow">
                    <label class="paramlabel">Search for: </label><br/>
                    <select name="search_for" style="width:250px"
                            data-dojo-type="dijit/form/Select"
                            data-dojo-props="disabled:true"
                            data-dojo-attach-point="search_for">
                        <option value="contigs">Genomic sequences (contigs)</option>
                        <option value="features" selected="selected">Genomic features (genes or proteins)</option>
                    </select>
                    <div class="form_msg_warning" data-dojo-attach-point="search_for_message"></div>
                </div>

                <div class="appbox appshadow">
                    <div class="headerrow">
                        <label class="appboxlabel">BLAST Parameters</label>
                    </div>
                    <div class="left third">
                        <label class="paramlabel">Max hits: </label><br/>
                        <select name="max_target" style="width: 100px"
                                data-dojo-type="dijit/form/Select"
                                data-dojo-attach-point="max_hits">
                            <option value="1">1</option>
                            <option value="10">10</option>
                            <option value="50" selected="selected">50</option>
                            <option value="100">100</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>

                    <div class="left third">
                        <label class="paramlabel">E value threshold: </label><br/>
                        <input name="threshold" type="text" value="10" style="width:50px"
                               data-dojo-type="dijit/form/TextBox"
                               data-dojo-attach-point="evalue">
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div data-dojo-type="dijit/form/Button"
                 data-dojo-attach-point="mapButton"
                 data-dojo-attach-event="onClick:submit"
                 data-dojo-props="disabled:true">
                Search
            </div>
        </div>
    </div>

    <br/>
    <div class="blast_result_wrapper"></div>
</form>

