<form dojoAttachPoint="containerNode" class="PanelForm"
    dojoAttachEvent="onreset:_onReset,onsubmit:_onSubmit,onchange:validate">
    <div class="appTemplate">
        <div class="appTitle">
            <span class="breadcrumb">Services</span>
            <h3>ID Mapper</h3>
            <p>Map from one ID type to another and obtain PATRIC gene lists from a list of IDs.</p>
        </div>

	<table style="width:100%;">
		<tr>
			<td style="vertical-align:top;">
                <div class="appRow" style="width:219px; white-space:nowrap"> FROM:
				<select data-dojo-type="dijit/form/Select" data-dojo-attach-event="change:onChange" data-dojo-attach-point="leftTypeSelect"  >
					<option selected="true" value="patric_id">PATRIC ID</option>
					<option value="feature_id">Feature ID</option>
					<option value="alt_locus_tag">Alt Locus Tag</option>
					<option value="P2_feature_id">P2 Feature ID</option>
					<option value="refseq">RefSeq</option>
					<option value="refseq_locus_tag">RefSeq Locus tag</option>
					<option value="gene_id">Gene ID</option>
					<option value="gi">GI</option>
					<option value="allergome">Allergome</option>
					<option value="BioCyc">BioCyc</option>
					<option value="ChEMBL">ChEMBL</option>
					<option value="DIP">DIP</option>
					<option value="DNASU">DNASU</option>
					<option value="DisProt">DisProt</option>
					<option value="DrugBank">DrugBank</option>
					<option value="EMBL">EMBL</option>
					<option value="EMBL-CDS">EMBL-CDS</option>
					<option value="EchoBASE">EchoBASE</option>
					<option value="EcoGene">EcoGene</option>
					<option value="EnsembleGenome">EnsembleGenome</option>
					<option value="GenoList">GenoList</option>
					<option value="HOGENOM">HOGENOM</option>
					<option value="KEGG">KEGG</option>
					<option value="KO">KO</option>
					<option value="LegioList">LegioList</option>
					<option value="Leproma">Leproma</option>
					<option value="MEROPS">MEROPS</option>
					<option value="MINT">MINT</option>
					<option value="NCBI_TaxID">NCBI_TaxID</option>
					<option value="OMA">OMA</option>
					<option value="OrthoDB">OrthoDB</option>
					<option value="PATRIC">PATRIC</option>
					<option value="PDB">PDB</option>
					<option value="PeroxiBase">PeroxiBase</option>
					<option value="PhosSite">PhosSite</option>
					<option value="PptaseDB">PptaseDB</option>
					<option value="ProtClustDB">ProtClustDB</option>
					<option value="PseudoCAP">PseudoCAP</option>
					<option value="REBASE">REBASE</option>
					<option value="Reactome">Reactome</option>
					<option value="RefSeq_NT">RefSeq_NT</option>
					<option value="STRING">STRING</option>
					<option value="TCDB">TCDB</option>
					<option value="TubercuList">TubercuList</option>
					<option value="UniGene">UniGene</option>
					<option value="UniParc">UniParc</option>
					<option value="UniPathway">UniPathway</option>
					<option value="UniProtKB-Accession">UniProtKB-Accession</option>
					<option value="UniProtKB-ID">UniProtKB-ID</option>
					<option value="UniRef100">UniRef100</option>
					<option value="UniRef50">UniRef50</option>
					<option value="UniRef90">UniRef90</option>
					<option value="World-2DPAGE">World-2DPAGE</option>
					<option value="eggNOG">eggNOG</option>
				</select>
            </div>
			</td>
			<td>
			</td>
			<td>
                <div class="appRow" style="width:219px; white-space:nowrap">TO:
                                <select data-dojo-type="dijit/form/Select" data-dojo-attach-event="change:onChange" data-dojo-attach-point="rightTypeSelect" >
                                        <option selected="true" value="patric_id">PATRIC ID</option>
                                        <option value="feature_id">Feature ID</option>
                                        <option value="alt_locus_tag">Alt Locus Tag</option>
                                        <option value="P2_feature_id">P2 Feature ID</option>
                                        <option value="refseq">RefSeq</option>
                                        <option value="refseq_locus_tag">RefSeq Locus tag</option>
                                        <option value="gene_id">Gene ID</option>
                                        <option value="gi">GI</option>
                                        <option value="allergome">Allergome</option>
                                        <option value="BioCyc">BioCyc</option>
                                        <option value="ChEMBL">ChEMBL</option>
                                        <option value="DIP">DIP</option>
                                        <option value="DNASU">DNASU</option>
                                        <option value="DisProt">DisProt</option>
                                        <option value="DrugBank">DrugBank</option>
                                        <option value="EMBL">EMBL</option>
                                        <option value="EMBL-CDS">EMBL-CDS</option>
                                        <option value="EchoBASE">EchoBASE</option>
                                        <option value="EcoGene">EcoGene</option>
                                        <option value="EnsembleGenome">EnsembleGenome</option>
                                        <option value="GenoList">GenoList</option>
                                        <option value="HOGENOM">HOGENOM</option>
                                        <option value="KEGG">KEGG</option>
                                        <option value="KO">KO</option>
                                        <option value="LegioList">LegioList</option>
                                        <option value="Leproma">Leproma</option>
                                        <option value="MEROPS">MEROPS</option>
                                        <option value="MINT">MINT</option>
                                        <option value="NCBI_TaxID">NCBI_TaxID</option>
                                        <option value="OMA">OMA</option>
                                        <option value="OrthoDB">OrthoDB</option>
                                        <option value="PDB">PDB</option>
                                        <option value="PeroxiBase">PeroxiBase</option>
                                        <option value="PhosSite">PhosSite</option>
                                        <option value="PptaseDB">PptaseDB</option>
                                        <option value="ProtClustDB">ProtClustDB</option>
                                        <option value="PseudoCAP">PseudoCAP</option>
                                        <option value="REBASE">REBASE</option>
                                        <option value="Reactome">Reactome</option>
                                        <option value="RefSeq_NT">RefSeq_NT</option>
                                        <option value="STRING">STRING</option>
                                        <option value="TCDB">TCDB</option>
                                        <option value="TubercuList">TubercuList</option>
                                        <option value="UniGene">UniGene</option>
                                        <option value="UniParc">UniParc</option>
                                        <option value="UniPathway">UniPathway</option>
                                        <option value="UniProtKB-Accession">UniProtKB-Accession</option>
                                        <option value="UniProtKB-ID">UniProtKB-ID</option>
                                        <option value="UniRef100">UniRef100</option>
                                        <option value="UniRef50">UniRef50</option>
                                        <option value="UniRef90">UniRef90</option>
                                        <option value="World-2DPAGE">World-2DPAGE</option>
                                        <option value="eggNOG">eggNOG</option>
                                </select>
                            </div>
			</td>
		</tr>
		<tr>
			<td data-dojo-attach-point="leftColumnCount" >0 IDs</td>
            <td></td>
			<td data-dojo-attach-point="rightColumnCount" colspan="2"></td>
		</tr>
		<tr>
            <td style="vertical-align:top;" colspan="2">
				<div data-dojo-attach-point="leftList" style="width: 100%;height:300px;vertical-align:top;max-height:350px" data-dojo-type="dijit/form/Textarea" data-dojo-props="rows:10" data-dojo-attach-event="change:onChangeLeft"></div>
			</td>
            <td></td>
            <td></td>
            <td></td>
		</tr>
        <tr>
            <td></td>
			<td style="text-align:left;">
            <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="mapButton" data-dojo-attach-event="onClick:map" data-dojo-props="disabled:true">MAP</div>
            </td>
            <td colspan="2"></td>

	</table>
	</div>
    <div class="idmap_result_div" data-dojo-attach-point="idmap_result_div"></div>
</form>

