<%
    // Define routes with their corresponding descriptions
    var routes = [
        {
            href: '/home',
            header: "Welcome to BV-BRC: Bacterial and Viral Bioinformatics Resource Center"
        },
        {
            href: '/job',
            header: "Manage Your Analysis Jobs and Workflows"
        },
        {
            href: '/view/Host/?eq(taxon_lineage_ids,2759)',
            header: "Explore Host Organisms and Pathogen Interactions"
        },
        {
            href: '/',
            header: "BV-BRC: Bacterial and Viral Bioinformatics Resource Center"
        }
    ];

    var searches = [
        {
            href: '/searches/TaxaSearch',
            header: "Search the Comprehensive Taxonomy Database"
        },
        {
            href: '/searches/GenomeSearch',
            header: "Explore the Comprehensive Genome Database"
        },
        {
            href: '/searches/StrainSearch',
            header: "Discover Bacterial and Viral Strains"
        },
        {
            href: '/searches/GenomicFeatureSearch',
            header: "Analyze Genomic Features"
        },
        {
            href: '/searches/ProteinSearch',
            header: "Explore Protein Data and Analysis"
        },
        {
            href: '/searches/SpecialtyGeneSearch',
            header: "Find Specialty Genes"
        },
        {
            href: '/searches/DomainAndMotifSearch',
            header: "Analyze Domains and Motifs"
        },
        {
            href: '/searches/EpitopeSearch',
            header: "Search the Comprehensive Epitope Database"
        },
        {
            href: '/searches/ProteinStructureSearch',
            header: "Explore Protein Structures"
        },
        {
            href: '/searches/PathwaySearch',
            header: "Analyze Metabolic Pathways"
        },
        {
            href: '/searches/SubsystemSearch',
            header: "Explore Metabolic Subsystems"
        },
        {
            href: '/searches/SurveillanceSearch',
            header: "Access Disease Tracking Data"
        },
        {
            href: '/searches/SerologySearch',
            header: "Explore Immunology and Serology Data"
        },
        {
            href: '/searches/SFVTSearch',
            header: "Search Sequence Feature Variant Types"
        }
    ];

    // Define descriptions for bacteria and viruses
    var bacteria = [
        {
            href: "/view/Bacteria/2",
            header: "Explore Bacterial Genomes and Infectious Diseases"
        },
        {
            href: "/view/Taxonomy/2157",
            header: "Explore Extremophiles and Unique Microorganisms"
        },
        {
            href: "/view/Taxonomy/469",
            header: "Bacteria Linked to Hospital Infections"
        },
        {
            href: "/view/Taxonomy/1386",
            header: "Soil Ecosystems and Antibiotic Producers"
        },
        {
            href: "/view/Taxonomy/773",
            header: "Bacteria Causing Cat-Scratch Disease"
        },
        {
            href: "/view/Taxonomy/64895",
            header: "Spirochetes Linked to Lyme Disease"
        },
        {
            href: "/view/Taxonomy/234",
            header: "Zoonotic Disease-Causing Bacteria"
        },
        {
            href: "/view/Taxonomy/32008",
            header: "Pathogens with Diverse Metabolic Capabilities"
        },
        {
            href: "/view/Taxonomy/194",
            header: "Foodborne Illness-Causing Bacteria"
        },
        {
            href: "/view/Taxonomy/810",
            header: "Intracellular Bacteria and Infections"
        },
        {
            href: "/view/Taxonomy/1485",
            header: "Bacteria Causing Tetanus and Botulism"
        },
        {
            href: "/view/Taxonomy/776",
            header: "Bacteria Behind Q Fever"
        },
        {
            href: "/view/Taxonomy/943",
            header: "Tick-Borne Bacteria Causing Ehrlichiosis"
        },
        {
            href: "/view/Taxonomy/561",
            header: "E. coli and Biotechnology Applications"
        },
        {
            href: "/view/Taxonomy/262",
            header: "Bacteria Causing Tularemia"
        },
        {
            href: "/view/Taxonomy/209",
            header: "Bacteria Linked to Peptic Ulcers"
        },
        {
            href: "/view/Taxonomy/1637",
            header: "Bacteria Causing Listeriosis"
        },
        {
            href: "/view/Taxonomy/1763",
            header: "Tuberculosis and Other Infections"
        },
        {
            href: "/view/Taxonomy/286",
            header: "Environmental Versatility and Pathogenicity"
        },
        {
            href: "/view/Taxonomy/780",
            header: "Bacteria Behind Rocky Mountain Spotted Fever"
        },
        {
            href: "/view/Taxonomy/590",
            header: "Foodborne Illnesses and Typhoid Fever"
        },
        {
            href: "/view/Taxonomy/620",
            header: "Bacteria Causing Shigellosis"
        },
        {
            href: "/view/Taxonomy/1279",
            header: "Hospital-Acquired Infections"
        },
        {
            href: "/view/Taxonomy/1301",
            header: "Strep Throat and Other Infections"
        },
        {
            href: "/view/Taxonomy/662",
            header: "Bacteria Behind Cholera Outbreaks"
        },
        {
            href: "/view/Taxonomy/629",
            header: "Bacteria Linked to the Plague"
        }
    ];

    var virus = [
        {
            href: "/view/Taxonomy/10239",
            header: "Explore Pathogens and Beneficial Microorganisms"
        },
        {
            href: "/view/Taxonomy/10508",
            header: "Viruses Causing Respiratory and Gastrointestinal Infections"
        },
        {
            href: "/view/Taxonomy/137992",
            header: "African Swine Fever Virus Family"
        },
        {
            href: "/view/Taxonomy/1980410",
            header: "Hantaviruses and Other Viral Pathogens"
        },
        {
            href: "/view/Taxonomy/11974",
            header: "Noroviruses Causing Gastroenteritis"
        },
        {
            href: "/view/Taxonomy/11118",
            header: "SARS-CoV and SARS-CoV-2 Virus Family"
        },
        {
            href: "/view/Taxonomy/11266",
            header: "Ebola and Marburg Virus Family"
        },
        {
            href: "/view/Taxonomy/11050",
            header: "Zika, Dengue, and West Nile Virus Family"
        },
        {
            href: "/view/Taxonomy/10404",
            header: "Hepatitis B Virus Family"
        },
        {
            href: "/view/Taxonomy/291484",
            header: "Hepatitis E Virus Family"
        },
        {
            href: "/view/Taxonomy/548681",
            header: "Viruses Causing Herpes and Chickenpox"
        },
        {
            href: "/view/Taxonomy/11308",
            header: "Influenza Virus Family"
        },
        {
            href: "/view/Taxonomy/11158",
            header: "Measles and Mumps Virus Family"
        },
        {
            href: "/view/Taxonomy/10780",
            header: "Small DNA Viruses Family"
        },
        {
            href: "/view/Taxonomy/12058",
            header: "Poliovirus and Rhinovirus Family"
        },
        {
            href: "/view/Taxonomy/11244",
            header: "Respiratory Syncytial Virus (RSV) Family"
        },
        {
            href: "/view/Taxonomy/151341",
            header: "Viruses Infecting Mammals and Birds"
        },
        {
            href: "/view/Taxonomy/10240",
            header: "Smallpox and Variola Virus Family"
        },
        {
            href: "/view/Taxonomy/2732541",
            header: "Rotavirus and Other Viral Pathogens"
        },
        {
            href: "/view/Taxonomy/11270",
            header: "Rabies Virus Family"
        },
        {
            href: "/view/Taxonomy/11018",
            header: "Chikungunya Virus Family"
        }
    ];

    var featuredVirus = [
        {
            href: "/view/GenomeList/?eq(genome_name,phage)",
            header: "Viruses Infecting Bacteria (Bacteriophages)"
        },
        {
            href: "/view/Taxonomy/12637",
            header: "Mosquito-Borne Virus Causing Dengue Fever"
        },
        {
            href: "/view/Taxonomy/186536",
            header: "Virus Causing Severe Hemorrhagic Fever"
        },
        {
            href: "/view/Taxonomy/12059",
            header: "Includes Poliovirus and Coxsackievirus"
        },
        {
            href: "/view/Taxonomy/11102",
            header: "Includes Hepatitis C Virus"
        },
        {
            href: "/view/Taxonomy/11320",
            header: "Major Cause of Seasonal Flu (Influenza A Virus)"
        },
        {
            href: "/view/Taxonomy/3052310",
            header: "Virus Causing Lassa Fever"
        },
        {
            href: "/view/Taxonomy/10244",
            header: "Monkeypox Virus - Similar to Smallpox"
        },
        {
            href: "/view/Taxonomy/2697049",
            header: "Virus Responsible for COVID-19"
        },
        {
            href: "/view/Taxonomy/64320",
            header: "Mosquito-Borne Virus Linked to Birth Defects"
        }
    ];


    var toolsAndServices = [
        {
            href: "/app/Assembly2",
            header: "Assemble Genomes from Sequencing Data"
        },
        {
            href: "/app/Annotation",
            header: "Add Functional Information to Genomes"
        },
        {
            href: "/app/ComprehensiveGenomeAnalysis",
            header: "Analyze Genomes in Detail"
        },
        {
            href: "/app/Homology",
            header: "Search for Sequence Similarity Using BLAST"
        },
        {
            href: "/app/PrimerDesign",
            header: "Create Primers for PCR Experiments"
        },
        {
            href: "/app/GenomeDistance",
            header: "Find Similar Genomes"
        },
        {
            href: "/app/GenomeAlignment",
            header: "Compare Multiple Genomes"
        },
        {
            href: "/app/Variation",
            header: "Analyze Genetic Variations"
        },
        {
            href: "/app/Tnseq",
            header: "Study Transposon Sequencing Data"
        },
        {
            href: "/app/PhylogeneticTree",
            header: "Build Phylogenetic Trees for Bacterial Genomes"
        },
        {
            href: "/app/ViralGenomeTree",
            header: "Build Phylogenetic Trees for Viral Genomes"
        },
        {
            href: "/app/GeneTree",
            header: "Build Phylogenetic Trees for Genes or Proteins"
        },
        {
            href: "/app/MSA",
            header: "Perform Multiple Sequence Alignment and SNP Analysis"
        },
        {
            href: "/app/MetaCATS",
            header: "Conduct Meta-Analysis of Categorical Data"
        },
        {
            href: "/app/SeqComparison",
            header: "Compare Proteomes Across Organisms"
        },
        {
            href: "/app/ComparativeSystems",
            header: "Classify Proteins for Comparative Analysis"
        },
        {
            href: "/app/Docking",
            header: "Perform Molecular Docking Simulations"
        },
        {
            href: "/app/TaxonomicClassification",
            header: "Classify Sequences into Taxonomic Categories"
        },
        {
            href: "/app/MetagenomicBinning",
            header: "Organize Metagenomic Sequences into OTUs"
        },
        {
            href: "/app/MetagenomicReadMapping",
            header: "Map Reads to Reference Genomes"
        },
        {
            href: "/app/Rnaseq",
            header: "Analyze Gene Expression Data Using RNA-Seq"
        },
        {
            href: "/app/Expression",
            header: "Analyze Imported Gene Expression Data"
        },
        {
            href: "/app/FastqUtil",
            header: "Perform Operations on FASTQ Files"
        },
        {
            href: "/app/IDMapper",
            header: "Map Identifiers Across Databases"
        },
        {
            href: "/app/ComprehensiveSARS2Analysis",
            header: "Study COVID-19 Genomes"
        },
        {
            href: "/app/SARS2Wastewater",
            header: "Monitor COVID-19 in Wastewater"
        },
        {
            href: "/app/SequenceSubmission",
            header: "Submit Influenza Sequences for Analysis"
        },
        {
            href: "/app/HASubtypeNumberingConversion",
            header: "Convert HA Subtype Numbering"
        },
        {
            href: "/app/SubspeciesClassification",
            header: "Classify Subspecies Based on Genetic Data"
        }
    ];

    var aboutLinks = [
        {
            href: "/about",
            header: "Learn About the Bioinformatics Resource"
        },
        {
            href: "/team",
            header: "Meet the Researchers and Developers at BV-BRC"
        },
        {
            href: "/brc-calendar",
            header: "View Events and Important Dates"
        },
        {
            href: "/publications",
            header: "Research Papers from BV-BRC"
        },
        {
            href: "/citation",
            header: "Properly Cite BV-BRC in Your Research"
        },
        {
            href: "/related-resources",
            header: "Explore Additional Bioinformatics Tools"
        },
        {
            href: "/privacy-policy",
            header: "Learn How BV-BRC Handles Your Data"
        }
    ];

    function getHeaderText(url, collections) {
        for (var i = 0; i < collections.length; i++) {
            for (var j = 0; j < collections[i].length; j++) {
                if (collections[i][j].href === url) {
                    return collections[i][j].header;
                }
            }
        }
        return "Default Header"; // Fallback header text
    }

    // Assuming `currentUrl` is a variable that holds the current URL
    var currentUrl = request.url; // or however you get the current URL
    var collections = [routes, searches, bacteria, virus, featuredVirus, toolsAndServices, aboutLinks];
    var headerText = getHeaderText(currentUrl, collections);

%>

<header>
    <h1><%= headerText %></h1>
</header>