.appshadow{
	border: 1px solid #aaa;
}
.appsetup{
margin-top:0px;
padding:15px 50px 10px 10px;
text-align: right;
background-color: #F0F1F3;
}
.nonModal_underlay {
    display:none
}
.apptitle{
margin-top:20px;
margin-left:20px;
}
.paramlabel {
	font-size: .65em;
	text-transform: uppercase;
}
label.largelabel {
	font-size: .80em;
	text-transform: uppercase;
	vertical-align: middle;
}
td.textcol{
	padding-left:5px;
	min-height:23px;
}
.librarytable{
	width: 300px;
	border-collapse:collapse;
	border: 1px solid rgb(171,171,171);
        font-size: 13px;
}
table.assemblyblocks td{vertical-align:top;}
table.librarytable tr:nth-child(odd)	{background-color:#ffffff;}
table.librarytable tr:nth-child(even)	{background-color:#f5f5f5;}
.emptyrow {min-height:23px;
	   max-height:23px;}
.libraryrow {max-height:23px;
            min-height:23px;}
.headerrow{
width: 100%;
display:inline-block;
margin-top:5px;
}
.approw{
width: 100%;
margin-top:5px;
}
.infobuttoninfo{
overflow: auto;
}
.dijitDialogPopup{
min-width: 400px;
max-height: 500px;
}
.claro .dijitDialogTitleBar{
background-color: #F0F1F3;
}
.appbox{
background-color: #F0F1F3;
margin: 0 0 10px 10px;
width: auto;
padding: 5px 0px 10px 10px;
text-align: left;
}
.approwsegment{
display:inline-block;
text-align: center;
margin: 0 0 0 15px;
}
.insertspinner{
width:80px;
}
.readbutton {
font: 1.5em "Georgia", "Apple Symbols", serif;
line-height: .8;
width: 40px;
text-align: center;
padding: auto;
margin:5px 0px 5px 5px;
}
.readbuttons{
text-align: left;
margin:10px 0 0 10px;
}
.iconbox{
display:inline-block;
margin-left:5px;
vertical-align:middle;
}
div.infobox i{color: rgb(52, 105, 142);}
label.appboxlabel {
text-align:left;
margin: 10px 0 10px 10px;
font-size: 14px;
line-height: 16px;
text-transform: none;
font-weight: bold;
}
.round-button {
    display:block;
    width:30px;
    height:30px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    padding: 0 0 15px 0;
}
.round-button:hover {
    
}
