.Drawer {
	position: absolute;
	z-index: 800;
	width: 200px;
	height: 80%;	
	border: 1px solid #333;
	background: #333;
}
.Drawer > .handle {
	width: 16px;
	height: 75px;
	border 2px solid #333;
	background: #333;
	z-index: 810;
	cursor: pointer;
	border-radius: 6px;
	overflow: hidden;
	font-size: .75em;
	color: white;
	font-weight: 900;
}
.LeftDrawer {
	float: left;
	margin-left: -2px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	left: 0;
	top: 10%;
	box-shadow: 0px 0px 10px;
}
.RightDrawer {
	float: right;
	margin-right: -2px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	right: 0;
	top: 10%;
	box-shadow: 0px 0px 10px;
}
.TopDrawer {
	position: absolute;
	z-index: 800;
	width: 80%;
	height: 250px;
	left: 10%;
	top: 0;
	margin-top:-2px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 0px 4px 10px;
}
.BottomDrawer {
	position: absolute;
	z-index: 800;
	width: 80%;
	height: 250px;
	left: 10%;
	bottom: 0;
	margin-bottom:-2px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	box-shadow: 0px 0px 10px;
}
.LeftDrawer > .handle {
	position: absolute;
	right: 0;
	margin-right: -16px;
	top: 100px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: 4px 0px 10px;
	border-left: 0px;
}
.RightDrawer > .handle {
	position: absolute;
	float: left;
	margin-left: -16px;
	top: 100px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: -4px 0px 10px;
	border-right: 0px;
}
.BottomDrawer > .handle {
	position: absolute;
	margin-left: 50%;
	margin-top: -16px;
	width: 75px;
	height: 15px;
	top:0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: 0px -4px 10px;
}
.TopDrawer > .handle {
	position: absolute;
	margin-left: 45%;	
	margin-bottom: -16px;
	width: 75px;
	height: 15px;
	bottom:0;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	box-shadow: 0px 4px 10px;
}
.LeftDrawer.Closed,
.RightDrawer.Closed {
	width: 0px;
	box-shadow: 0px 0px 0px;
}
.BottomDrawer.Closed,
.TopDrawer.Closed {
	height: 0px;
	box-shadow: 0px 0px 0px;
}
.Drawer.Closed .PanelContainer {
	display: none;
}
.LeftDrawer .handle > div {
	text-align: center;
	height: 75px;
	width: 75px;
	vertical-align: bottom;
	margin-left: -60px;
	overflow: visible;
	text-align: center;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 
	-webkit-transform:rotate(90deg); 
}
.RightDrawer .handle > div {
	text-align: center;
	height: 75px;
	width: 75px;
	vertical-align: bottom;
	margin-right: -60px;
	overflow: visible;
	text-align: center;
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); 
	-webkit-transform:rotate(-90deg); 
}
.PanelContainer {
	position: absolute;
}
.PanelContent,
.patric .dijitBorderContainer.PanelContent,
.PanelContainer {
	width: 350px;
	height: 100%;
}
.claro .PanelContent .dijitBorderContainer-dijitContentPane,
.PanelContent {
	background: inherit;
	color: white;
}
