.FacetFilterPanel {
	background: #333;
	padding:4px;
	cursor: default;
}
.FacetFilter {
	border-radius: 4px;
	color: #ccc;
	margin-top: 4px;
	margin-left: 4px;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	white-space: nowrap;
	vertical-align: top;
	max-width: 350px;
}
.FacetFilter .dataList {
	min-height: 32px;
	padding: 4px;
	overflow-y: auto;
	overflow-x: hidden;
}
.dataList .FacetValue {
	white-space: nowrap;
	text-align: left;
	margin-right: 8px;
}
.FacetFilter .facetCategory {
	color: #fff;;
	font-weight: 900;
	text-align: left;
	border-bottom: 1px solid #fff;
	padding: 4px;
	text-transform: capitalize;
}
.facetCategory {
	text-transform: capitalize;
}
.facetCategory.selected {
	color: orange;
	border-bottom: 1px solid orange;
}
.FacetValue.selected {
	color: orange;
	font-weight: 600;
}
.FacetValue.selected:hover{
	cursor: pointer;
	color: orange;
	font-weight: 900;
}
.FacetValue:hover {
	cursor: pointer;
	color: #fff;
}
.FilteredValueButton {
	overflow: hidden;
	display: inline-block;
	padding: 0;
	font-size: 1em;
	margin-bottom: 1px;
	margin-left: 4px;
	margin-top: 4px;
	max-width: 200px;
	vertical-align: top;
}
.ValueWrapper {
	display: inline-block;
	white-space: nowrap;
	font-size: .85em;
	font-weight: 100;
	padding: 2px;
	border-radius: 3px;
}
.BrowserHeader .minFilterView .ActionButtonContainer {
	vertical-align: top;
	display: inline-block;
	float: none;
	width: 100%;
}
.ValueWrapper > SPAN {
	font-weight: 600;
}
.ValueWrapper > SPAN:hover {
	color: red;
	cursor: pointer;
}
.selectedList {
	padding: 0;
	white-space: nowrap;
	background: #ffcb00;
	color: #333;
	text-align: center;
	min-height: 21px;
	margin: 0 0 2px;
}
.fieldHeader {
	font-size: 0.75em;
	color: rgb(52,105,142);
}
.fieldTitle {
	padding: 2px;
	text-align: left;
	text-transform: uppercase;
	cursor: default;
}
.rightButtonContainer {
	text-align: right;
	padding-right:2px;
	padding-left: 8px;
}
.rightButtonContainer > *:hover {
	cursor: pointer;
	color: #333;
}
.minFilterView {
	min-height: 43px;
}
