
.patric .HeaderBar {
	width: 100%;
	border: 0px;
	margin:0px;
	padding: 0px;
	top: 0px;
	z-index: 100;
	overflow: visible;
	box-shadow: 4px 0px 4px;
	border-bottom: 1px solid #333;
}
.TopMenuBar {
	width: 100%;
	height: 13px;
	font-size: .75em;
	background: black;
	color: #efefef;
	text-align: right;
	margin:0px;
	padding-right: 4px;
	padding:2px;
}
.RegistrationButton,
.LoginButton {
	font-size:.95em;
}
.patric.claro .authLinks .dijitButtonNode,
.patric.claro .authLinks .dijitButtonNode {
    background-image: none;
	background:#f7ffba;
}
.patric.claro .P3Header  .dijitButtonHover .dijitButtonNode {
	background-color: #E8FFBA;
}
.Authenticated .P3Header .HideWithAuth,
.Authenticated .LoginButton.HideWithAuth,
.Authenticated .RegistrationButton.HideWithAuth,
.Authenticated .TopMenuLink.HideWithAuth {
	display: none;
}
.Authenticated .P3Header .ShowWithAuth {
	display: inherit;
}
.Authenticated .P3Header TD.ShowWithAuth {
	display: table-cell;
}
.Authenticated .TopMenuLink.ShowWithAuth {
	display: inline;
}
.menuHeader {
	text-align: center;
	font-weight: 600;
	background: #34698E;
	color: #eee;
}
.TopMenuBar .TopMenuLink,.TopMenuBar .TopMenuLink A {
	display: inline;
	margin-right: 8px;
	cursor: pointer;
	color: #fff;
}
.TopMenuBar A.TopMenuLink:hover {
	color: orange;
	text-decoration: none;
}
.TopMenuBar A.TopMenuLink:visited{
	text-decoration: none;
}
.TopMenuLink .fa{
	color: #76a72d;	
	font-size: 12px;
	vertical-align: middle;	
}
.TopMenuLink .fa:hover {
	color: orange;	
}
.P3Header {
	width: 100%;
    height: 35px;
	background: #34698e; 
	padding:0px;
	margin-top:0px;
	border-top: 1px solid #999;
	overflow:hidden;
}
.P3Header .logo {
	font-size:1.85em;
	color: #fff;
	font-weight: 400;
}
.P3Header .p3LogoImage {
	height:16px;
	padding:0px;
	margin-left:4px;
	margin-right:-95px;
}
.P3Header .appLabel{
	font-size: .75em;
	color: orange;
	font-weight: 600;
	margin-left: 3px;
	
}
.claro .topMenuButtonIcon.dijitDropDownButton .dijitButtonNode,
.claro .topMenuButton.dijitDropDownButton .dijitButtonNode,
.topMenuButtonIcon,
.topMenuButton {
	background: inherit;
	color: #efefef;
	font-weight: 500;
	cursor: pointer;
	border: 0px;
	box-shadow: 0 0 0;
	margin: 0px;
}
.claro .topMenuButtonIcon.dijitDropDownButton{
	margin:0px;
	margin-top:4px;
}
.claro .topMenuButton.dijitDropDownButton {
	margin:0px;
	margin-top:10px;
}
.claro .topMenuButtonIcon .dijitArrowButtonInner {
	display: none;
}
.claro .topMenuButton .dijitArrowButtonInner {
	margin:0px;
}
.P3Header .logo:hover,
.topMenuButton:hover{
	color: orange;
}
.claro .topMenuButton .dijitButtonText {
	padding: 0px;
}
.patric .P3Header .TopMenuLink,
.patric .P3Header .TopMenuLink:visited,
.patric .P3Header A,
.patric .P3Header A:visited {
	text-decoration:none;
}
.patric .TopMenuBar *:focus{
    outline: 0;
}
.patric .dijitTooltipDialogPopup {
	margin-top: -8px;
}
.patric .dijitTooltipBelow {
	padding-top: 13px;
}
.FlowBoxItem {
	border:1px solid #ddd;
	border-radius:4px;
	vertical-align:middle;
	background-color:#fff;
	padding:4px;
}
.FlowBoxArrow {
	margin: 4px; 
	width:100%; 
	border: 0px;
	font-size: .5em;
}
