.home {
    font-size: 12px;
}
.home .section-title-b {
    background: #c3c3c3;
    border-radius: 0;
    text-align: left;
    box-shadow: none;
    padding-left: 0;
    margin-top: 12px;
}
.home .section-title span.wrap {
    text-transform: uppercase;
    font-size: 20px;
}
.section-title span.wrap {
    background: #fff;
    text-transform: capitalize;
    color: #666666;
    font-weight: normal;
    font-family: "Didact Gothic", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 5px 5px 0;
}
.homeBottomSection {
    background: #fff;
    margin-top: 0;
    padding: 4px;
}
.home h2 {
    font-size: 20px;
}
.home h4 {
    font-size: 14px;
    line-height: 16px;
}
.home figure {
    display: block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.home ul {
    margin: 0;
}
.tools h4 {
    margin-top: 20px;
}
.tools h4:first-child {
    margin-top: 4px;
}
.tools ul li {
    width: 310px;
    vertical-align: top;
    text-align: left;
}
.dlp-hp ul li {
    display: inline-block;
    width: 103px;
    line-height: 1.2;
    margin: 5px 0;
}
.dlp-hp ul li.last figcaption {
    font-size: 11px;
}
.home .no-decoration {
    padding-left: 0;
}
.home .no-decoration li {
    background-image: none;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
.home figure img {
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.home .two-thirds-col > .column .two-col {
    overflow: hidden;
}
.home .column .two-col .column {
    display: inline;
    float: left;
    margin-right: 17px;
    width: 311px;
}
.column.last {
    display: inline;
    float: left;
    margin-right: 0;
    width: 311px;
}
